﻿@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,300,600,700,800);

/* Defaults */
html {
    height: 100%;
}

body {
    background-color: #dddddd;
    height: 100%;
    font-family: 'Open Sans', sans-serif; /*overflow-y:scroll;*/
}

table {
    width: 100%;
}

h2 {
    color: #286090;
    padding-bottom: 25px;
}

h3 {
    color: #286090;
    font-size: 18px;
    margin-top: 0px;
}

h4 {
    color: #7d7d7d;
    font-size: 20px;
    margin-bottom: 15px;
}

h5 {
    color: #7d7d7d;
    font-size: 18px;
    margin-bottom: 0px;
}

h6 {
    color: #a1a1a1;
    line-height: 1.3;
}

ul li {
    list-style: none;
}

a {
    color: #1a9aed;
}

/* Misc. Styles */
.container-main {
    background: #ffffff;
    box-shadow: 0px 4px 6px -5px #000000;
    padding: 10px 20px 20px 20px;
    margin-bottom: 40px;
}

.container-login {
    background: #ffffff;
    box-shadow: 0px 4px 6px -5px #000000;
    min-height: 450px;
    padding: 0px;
}

    .container-login.col-centered {
        margin-top: -50px;
    }

.container-table {
    display: table;
    height: 100%;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.col-login-left {
    background-color: #f0f0f0; /*background-color:#e9e9e9;*/
    padding: 65px 30px 30px 30px;
}

.col-login-right {
    padding: 35px 30px 30px 30px;
}

.col-login-left, .col-login-right {
    min-height: 450px;
    color: #7d7d7d;
}

    .col-login-left .col-lg-4 {
        padding-left: 5px;
        padding-right: 5px;
    }

    .col-login-right .col-lg-4 {
        padding-left: 5px;
        padding-right: 5px;
    }

.col-no-pad-r {
    padding-right: 0px;
}

.col-login-error {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 60px;
}

.col-login-exceed {
    background: #ffffff;
    padding: 15px 20px 20px 20px;
}

.content-login {
    display: table-cell;
    vertical-align: middle;
}

.brand-login {
    color: #7d7d7d;
    font-size: 16px;
    font-weight: bold;
    padding-left: 0px;
    padding-top: 40px;
    padding-bottom: 15px;
}

    .brand-login img {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        height: 40px;
    }

    .brand-login span {
        padding-left: 5px;
    }

.brand-login-sm {
    color: #7d7d7d;
    font-size: 12px;
    font-weight: bold;
    padding-left: 5px;
    padding-top: 50px;
    padding-bottom: 15px;
}

    .brand-login-sm img {
        height: 40px;
        padding-left: 15px;
    }

.brand-login-header {
    color: #7d7d7d;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 15px;
    padding-left: 2px;
}

.security-warning {
    color: #494949;
    font-size: 10px;
    line-height: 1.2;
    padding-top: 50px;
}

.register-phone {
    padding-top: 5px;
    font-size: 12px;
}

.error-field {
    font-size: 10px;
    color: red;
}

.note-field {
    font-size: 10px;
    color: #555;
}

.form-marg {
    margin-bottom: 40px;
}

.glyphicon {
    top: 2px;
}

.cust_tag_cont {
    margin-top: 30px;
}

    .cust_tag_cont span.cust_tag {
        border: 3px solid #337ab7;
        padding: 5px 8px 5px 8px;
        border-radius: 5px;
        background: #ecf5fc;
    }

    .cust_tag_cont .col-lg-5 {
        padding-right: 0px;
    }

#record-count {
    font-size: 14px;
}

.no-records {
    padding-left: 10px;
    padding-bottom: 15px;
}

.inv-detail-cont1 {
    margin-top: 25px;
}

.inv-detail-cont2 {
    margin-top: 15px;
}

.inv-detail-cont1 .col-lg-2.inv-detail-col {
    padding-left: 0px;
    padding-right: 0px;
}

    .inv-detail-cont1 .col-lg-2.inv-detail-col p {
        color: #7d7d7d;
    }

.inv-detail-cont1 p.inv-address, .inv-detail-cont2 p.inv-address {
    text-transform: uppercase;
}

.no-pad-search {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 35px;
}

.no-pad {
    padding-left: 0px;
    padding-right: 0px;
}

.no-pad-left {
    padding-left: 0px;
}

.no-pad-right {
    padding-right: 0px;
}

.mini-pad {
    padding-left: 0px;
    padding-right: 5px;
}

#User_IsActive_Label {
    outline: 0;
}

table#INV_Results input[type=checkbox], table#SO_Results input[type=checkbox] {
    margin: 0 auto;
    display: block;
    margin-top: 4px;
    transform: scale(1.3, 1.3);
}

input#pay-invoice {
    padding-right: 25px;
    padding-left: 25px;
    margin-bottom: 15px;
}

.sep-line {
    border-top: 2px solid #ededed;
    padding-top: 27px;
    margin-top: 17px;
}

.form-horizontal .Card_Cont .control-label {
    text-align: left;
    padding-left: 10px;
    padding-right: 0px;
}

.Card_Cont .form-group {
    margin-bottom: 10px;
}

.card-amount-confirm-cont {
    border: 2px solid #c9e3f2;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 10px;
}

.alert-info, .alert-danger {
    margin-bottom: 5px;
}

.paypal-img {
    margin-top: -13px;
}

.card-img {
    height: 34px;
    position: absolute;
    right: 21px;
    top: 6px;
}

    .card-img img {
        box-shadow: 0px 2px 2px -2px #000000;
        width: 35px;
    }

.line-break {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 15px;
    padding-top: 30px;
}

    .line-break.pad-btm {
        margin-bottom: 40px;
    }

.red-text {
    color: red;
}

.caret-select {
    position: absolute;
    right: 22px;
    top: 16px;
}

.selected_company, .selected_apps {
    padding-left: 5px;
    display: block;
    overflow: hidden;
    height: 20px;
}

.dropdown-menu.company_dropdown {
    left: 15px;
}

.cart_row input[type=text] {
    padding-left: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.cart_row .cred_row {
    color: red;
}

    .cart_row .cred_row input[type=text] {
        background: #fff;
        border: none;
        box-shadow: none;
    }

.total-row select {
    width: 116px;
    padding-left: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    display: block;
    height: 25px;
}

.cvv2-img {
    margin-bottom: 10px;
    padding: 20px;
    border: 2px solid #c9e3f2;
}

.glyphicon.glyphicon-triangle-bottom {
    padding-left: 10px;
    font-size: 10px;
    top: 0px;
}

.dropdown-menu > li > a {
    padding: 5px 20px;
}

.redStatus {
    color: red;
    padding-left: 20px;
}

.greenStatus {
    color: green;
    padding-left: 20px;
}

.fa-truck {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    font-size: 135px;
    padding-bottom: 25px;
    color: #286090;
}

.no-marg-row {
    margin: 0px !important;
}

#User_IsActive_Label {
    transition: all 1s;
}

.selectINV_Cred {
    height: 18px;
    width: 18px;
    position: absolute;
    margin-top: 1px;
    margin-left: 6px;
    z-index: 5;
}

.respass-note {
    font-style: italic;
    color: gray;
    font-size: 12px;
    margin-top: 20px;
}

#AdCarousel {
    padding-left: 23px;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    box-shadow: 0 0 0px 1000px #ffffff inset;
    background-color: #ffffff;
}

    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    textarea:-webkit-autofill:active,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus,
    select:-webkit-autofill:active {
        box-shadow: 0 0 0px 1000px #ecf8fc inset;
        background-color: #ecf8fc;
    }

/* Grow Effect */
.grow {
    transition: all .2s ease-in-out;
}

    .grow:hover {
        transform: scale(1.05);
    }

/* Placeholder Styles */
::-webkit-input-placeholder {
    font-style: italic;
}

::-moz-placeholder {
    font-style: italic;
}
/* firefox 19+ */
:-ms-input-placeholder {
    font-style: italic;
}
/* ie */
input:-moz-placeholder {
    font-style: italic;
}

/* Checkbox Styles */
.apply-check-cont {
    width: 57px;
}

    .apply-check-cont .apply-check {
        height: 27px;
    }

/* Modal Styles */
.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.vertical-align-center {
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
}

.modal-content {
    width: inherit;
    height: inherit;
    margin: 0 auto;
    pointer-events: all;
}

.modal-header {
    background-color: #337ab7;
    padding-left: 25px;
}

    .modal-header h4 {
        color: #ffffff;
    }

.modal-footer { /*background-color:#ededed;*/
    background-color: #dddddd;
    height: 65px;
}

.modal-body {
    padding: 25px 25px 20px 25px;
}

    .modal-body .panel-body .table {
        margin-bottom: 0px;
    }

    .modal-body .panel {
        margin-bottom: 30px;
    }

    .modal-body .panel-body {
        padding-bottom: 5px;
    }

    .modal-body p {
        padding-left: 15px;
        margin-bottom: 5px;
    }

.modal-dialog.modal-confirm {
    width: 400px;
}

    .modal-dialog.modal-confirm .modal-header {
        background-color: #000000;
    }

.modal-dialog.modal-message {
    width: 450px;
}

    .modal-dialog.modal-message .modal-header {
        background-color: #000000;
    }

.modal-dialog.modal-recipient {
    width: 575px;
}

#creditMsg .modal-dialog.modal-recipient {
    width: 400px;
}

/* DatePicker Styles */
.cal-cont {
    float: right;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
}

.cal-field.form-control[readonly] {
    background-color: #ffffff;
    cursor: pointer;
}

div.ui-datepicker {
    font-size: 10px;
}

/* Button Styles */
.btn {
    box-shadow: 1px 1px 0px #888888;
}

.btn-primary {
    border-bottom: 2px solid #067ecb;
    background: #1a9aed;
}

    .btn-primary:hover, .btn-primary:focus {
        background: #067ecb;
        border-bottom: 2px solid #0568a8;
    }

.btn-success {
    border-bottom: 2px solid #4d944d;
}

.btn-submit {
    margin-top: 15px;
    margin-bottom: 5px;
}

.btn-primary {
    background: #1ba0f6;
    background-image: -webkit-linear-gradient(top, #1ba0f6, #1a95e5);
    background-image: -moz-linear-gradient(top, #1ba0f6, #1a95e5);
    background-image: -ms-linear-gradient(top, #1ba0f6, #1a95e5);
    background-image: -o-linear-gradient(top, #1ba0f6, #1a95e5);
    background-image: linear-gradient(to bottom, #1ba0f6, #1a95e5);
    font-weight: 600;
}

    .btn-primary:hover {
        background: #26afff;
        background-image: -webkit-linear-gradient(top, #26afff, #0c99f0);
        background-image: -moz-linear-gradient(top, #26afff, #0c99f0);
        background-image: -ms-linear-gradient(top, #26afff, #0c99f0);
        background-image: -o-linear-gradient(top, #26afff, #0c99f0);
        background-image: linear-gradient(to bottom, #26afff, #0c99f0);
        text-decoration: none;
    }

/* Navigation Styles */
.navbar {
    background: #ffffff;
    box-shadow: 0px 4px 5px -5px #000000;
    position: relative;
    z-index: 1039;
}

    .navbar a, .navbar .navbar-brand {
        color: #7d7d7d;
        font-size: 14px;
        font-weight: bold;
    }

        .navbar .navbar-brand.navbar-logo {
            padding-left: 0px;
            padding-top: 6px;
            padding-right: 0px;
        }

    .navbar .container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .navbar .navbar-collapse {
        padding-left: 0px;
        padding-right: 0px;
    }

.navbar-nav > li > .dropdown-menu {
    margin-top: 1px;
    margin-right: -1px;
}

.navbar .navbar-brand.navbar-logo.hme-logo {
    width: 100%;
}

.navbar .navbar-brand.navbar-logo .hme-logo-cont {
    background: url('/images/hsc.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 38px;
}

.navbar .navbar-brand.navbar-logo.jtech-logo {
    width: 100%;
}

.navbar .navbar-brand.navbar-logo .jtech-logo-cont {
    background: url('/images/jtech.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 38px;
}

.navbar .navbar-brand.navbar-logo.ce-logo {
    width: 100%;
}

.navbar .navbar-brand.navbar-logo .ce-logo-cont {
    background: url('/images/ce.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 38px;
}

.navbar .navbar-brand.navbar-logo.cc-logo {
    width: 100%;
}

.navbar .navbar-brand.navbar-logo .cc-logo-cont {
    background: url('/images/clear-com.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 38px;
}

.navbar-toggle {
    border: 1px solid #7d7d7d;
}

    .navbar-toggle .icon-bar {
        background: #7d7d7d;
    }

.navbar .hme-menu {
    float: right;
}

.navbar .glyphicon.glyphicon-triangle-bottom {
    padding-left: 0px;
    font-size: 14px;
    top: 0px;
}

/* Sub Navigation Styles (Store Nav) */
.navbar-store {
    height: 50px;
    background: #0b2956;
    width: 100%;
    margin-top: -20px;
    color: #ffffff;
    position: relative;
    z-index: 1038;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 0px #000000;
}

    .navbar-store ul li a {
        color: #ffffff;
    }

    .navbar-store ul.dropdown-menu li a {
        color: #333;
    }

        .navbar-store ul.dropdown-menu li a:hover {
            background: #f5f5f5;
        }

    .navbar-store ul li a:hover, .navbar-store ul li a:focus {
        background: #1a9aed;
    }

    .navbar-store .fa.fa-shopping-cart {
        font-size: 20px;
        padding-right: 5px;
    }

    .navbar-store .product-search {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .navbar-store .product-cart {
        padding-top: 13px;
        padding-bottom: 15px;
        padding-right: 15px;
        padding-left: 15px;
        text-decoration: none;
    }

        .navbar-store .product-cart.product-cart-full {
            padding-right: 35px;
            padding-left: 25px;
        }

    .navbar-store .nav .open > a, .navbar-store .nav .open > a:focus, .navbar-store .nav .open > a:hover {
        background-color: #1a9aed;
        border-color: #337ab7;
    }

    .navbar-store ul li .sub-menu {
        padding: 10px 10px 10px 10px;
    }

        .navbar-store ul li .sub-menu h3 {
            margin-top: 5px;
        }

            .navbar-store ul li .sub-menu h3 a {
                font-size: 18px;
                color: #1b5ca6;
                text-decoration: none;
            }

                .navbar-store ul li .sub-menu h3 a:hover {
                    background: #ffffff;
                    color: #4887d0;
                }

        .navbar-store ul li .sub-menu ul {
            padding-left: 0px;
        }

            .navbar-store ul li .sub-menu ul li a, .navbar-store ul li .sub-menu a {
                text-decoration: none;
                font-size: 13px;
                color: #12b2f4;
            }

                .navbar-store ul li .sub-menu ul li a:hover, .navbar-store ul li .sub-menu a:hover {
                    background: #ffffff;
                    color: #1b5ca6;
                }

    .navbar-store .nav > li.dropdown.open {
        position: static;
        color: black;
    }

        .navbar-store .nav > li.dropdown.open .dropdown-menu {
            display: table;
            width: 400%;
            left: 0;
            right: 0;
        }

    .navbar-store .dropdown-menu div {
        display: inline-block;
    }

    .navbar-store .open > .dropdown-menu {
        animation-name: slidenavAnimation;
        animation-duration: .6s;
        animation-iteration-count: 1;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
        -webkit-animation-name: slidenavAnimation;
        -webkit-animation-duration: .6s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: ease;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-name: slidenavAnimation;
        -moz-animation-duration: .6s;
        -moz-animation-iteration-count: 1;
        -moz-animation-timing-function: ease;
        -moz-animation-fill-mode: forwards;
    }

@keyframes slidenavAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes slidenavAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Password Req. Styles */
.pass-req-cont {
    height: auto;
    min-height: 185px;
    border-radius: 15px;
    background: #e5e5e5;
    margin-top: 15px;
    padding: 20px;
    font-size: 10px;
}

    .pass-req-cont ul {
        list-style: none;
        margin-left: 0;
        padding-left: 5px;
    }

        .pass-req-cont ul li {
            padding-left: 1em;
            text-indent: -1em;
        }

            .pass-req-cont ul li:before {
                content: "-";
                padding-right: 5px;
            }

    .pass-req-cont .fa.fa-lock {
        font-size: 14px;
        padding-left: 2px;
        padding-right: 5px;
    }

/* Product Styles */
.product-head {
    margin-left: 5px;
}

    .product-head .form-group {
        margin-top: 25px;
    }

.product-head-details .product-part {
    font-size: 12px;
    margin-bottom: 40px;
    margin-left: 2px;
}

.product-head-details {
    margin-left: 5px;
}

    .product-head-details h2 {
        padding-bottom: 0px;
        margin-bottom: 10px;
    }

.product-cont {
    overflow: hidden;
}

    .product-cont .product-detail-type select {
        width: 60px;
        height: 30px;
        padding: 0px;
        padding-left: 5px;
        display: inline;
        margin-left: 10px;
        margin-top: 10px;
    }

    .product-cont .product-detail-type .product-type-span {
        color: #a1a1a1;
    }

    .product-cont h6 {
        font-size: 14px;
        line-height: 1.3;
        margin-top: 20px;
        color: #2e6da4;
        font-weight: bold;
        margin-bottom: 2px;
    }

        .product-cont h6 a {
            text-decoration: none;
        }

    .product-cont .product-new {
        font-size: 11px;
        color: #959595;
    }

    .product-cont .product-price {
        font-size: 18px;
        font-weight: bold;
        color: #777;
    }

    .product-cont .product-part {
        font-size: 10px;
        margin-bottom: 10px;
    }

    .product-cont .col-lg-3 {
        padding-left: 22px;
        padding-right: 22px;
        padding-bottom: 30px;
    }

    .product-cont .product-image {
        padding: 0px;
        cursor: -moz-zoom-in;
        cursor: -webkit-zoom-in;
        cursor: zoom-in;
    }

        .product-cont .product-image img {
            background-size: contain;
            background-repeat: no-repeat;
            height: 240px;
            width: 100%;
        }

        .product-cont .product-image.product-image-detail {
            cursor: -moz-zoom-in;
            cursor: -webkit-zoom-in;
            cursor: zoom-in;
        }

            .product-cont .product-image.product-image-detail a {
                cursor: -moz-zoom-in;
                cursor: -webkit-zoom-in;
                cursor: zoom-in;
                outline: none;
            }

#Product_Cust {
    margin-left: 10px;
    width: 200px;
    height: 27px;
    padding: 0px 5px;
    font-size: 12px;
    margin-right: -5px;
}

/* Product Detail Styles */
.product-detail-cont {
    margin-bottom: 15px;
}

    .product-detail-cont table.product-detail-type tr th {
        padding: 0px;
        border: 0px;
    }

    .product-detail-cont table.product-detail-type tr td {
        vertical-align: middle;
    }

        .product-detail-cont table.product-detail-type tr td.product-type-radio {
            text-align: center;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 25px;
            padding-bottom: 25px;
        }

        .product-detail-cont table.product-detail-type tr td.product-add-cart {
            border-top: 0px;
            padding: 0px;
            padding-top: 15px;
        }

            .product-detail-cont table.product-detail-type tr td.product-add-cart #Product_Detail_Add {
                width: 100%;
            }

/* Product Detail Modal */
#Product_Image_Modal .modal-body {
    padding: 0px;
}

    #Product_Image_Modal .modal-body .modal-close {
        position: relative;
        width: 100%;
        height: 0px;
        z-index: 10;
    }

        #Product_Image_Modal .modal-body .modal-close span {
            background: #0b2956;
            padding: 3px 20px;
            color: white;
            font-size: 12px;
            position: absolute;
            right: 5px;
            cursor: pointer;
        }

            #Product_Image_Modal .modal-body .modal-close span:hover {
                background: #1f4072;
            }

    #Product_Image_Modal .modal-body .modal-img img {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

/* EOS Demo Modal */
#EOS_Demo_Modal .modal-body {
    padding: 0px;
}

    #EOS_Demo_Modal .modal-body .modal-close {
        position: relative;
        width: 100%;
        height: 0px;
        z-index: 10;
    }

        #EOS_Demo_Modal .modal-body .modal-close span {
            background: #0b2956;
            padding: 3px 20px;
            color: white;
            font-size: 12px;
            position: absolute;
            right: 5px;
            cursor: pointer;
        }

            #EOS_Demo_Modal .modal-body .modal-close span:hover {
                background: #1f4072;
            }

    #EOS_Demo_Modal .modal-body .modal-img img {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

/* Product Advertisement Styles */
.product-rel-cont {
    border-top: 1px solid #999;
}

    .product-rel-cont a h6:hover {
        color: #666;
    }

    .product-rel-cont .product-rel-item-first {
        margin-left: 15px;
    }

    .product-rel-cont .product-rel-item {
        margin-left: 20px;
    }

    .product-rel-cont .product-rel-img-cont {
        height: 115px;
        margin-bottom: 5px;
    }

        .product-rel-cont .product-rel-img-cont .product-rel-img {
            padding-top: 20px;
            width: 100%;
            height: 100%;
        }

.product-ad-cont {
    margin-bottom: 20px;
}

.product-ad-right-cont {
    padding-left: 25px;
    padding-right: 25px;
}

    .product-ad-right-cont .product-ad-right { /*border:1px solid #ddd;*/
        height: 392px;
        background-image: url('../images/EOS_Ad.jpg');
        background-repeat: no-repeat;
        background-size: contain;
    }
        /*
.product-ad-right-cont-hsc-1 .product-ad-right-hsc-1 {height:424px;background-image:url('../images/EOS.jpg');background-repeat:no-repeat;background-size:contain;}
.product-ad-right-cont-hsc-2 .product-ad-right-hsc-2 {height:424px;background-image:url('../images/ZOOM.jpg');background-repeat:no-repeat;background-size:contain;}
.product-ad-right-cont-hsc-3 .product-ad-right-hsc-3 {height:424px;background-image:url('../images/Vuze.jpg');background-repeat:no-repeat;background-size:contain;}
.product-ad-right-cont-hsc-4 .product-ad-right-hsc-4 {height:424px;background-image:url('../images/Repairs.jpg');background-repeat:no-repeat;background-size:contain;}
.product-ad-right-cont-hsc-5 .product-ad-right-hsc-5 {height:424px;background-image:url('../images/Paging.jpg');background-repeat:no-repeat;background-size:contain;}
.product-ad-right-cont-hsc-6 .product-ad-right-hsc-6 {height:424px;background-image:url('../images/Leaderboard.jpg');background-repeat:no-repeat;background-size:contain;}
.product-ad-right-cont-hsc-7 .product-ad-right-hsc-7 {height:424px;background-image:url('../images/EMA.jpg');background-repeat:no-repeat;background-size:contain;}
.product-ad-right-cont-hsc-8 .product-ad-right-hsc-8 {height:424px;background-image:url('../images/CLOUD.jpg');background-repeat:no-repeat;background-size:contain;}
.product-ad-right-cont-hsc-9 .product-ad-right-hsc-9 {height:424px;background-image:url('../images/EOS_Ad.jpg');background-repeat:no-repeat;background-size:contain;}
.product-ad-right-cont-hsc-10 .product-ad-right-hsc-10 {height:424px;background-image:url('../images/EOS_Ad.jpg');background-repeat:no-repeat;background-size:contain;}
*/
        .product-ad-right-cont .product-ad-right:hover {
            box-shadow: 0 0 2px 0 #e5e5e5;
        }

.product-ad-hsc-1 {
    content: 'http://www.hme.com/eossounddemo_nonav/';
    height: 424px;
    background-image: url('../images/EOS.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.product-ad-hsc-2 {
    content: 'http://www.hme.com/qsr/zoom-drive-thru-timers/';
    height: 424px;
    background-image: url('../images/ZOOM.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.product-ad-hsc-3 {
    content: 'http://www.hme.com/qsr/vuze-table-location-system/';
    height: 424px;
    background-image: url('../images/Vuze.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.product-ad-hsc-4 {
    content: 'http://www.hme.com/qsr/drive-thru-repairs/';
    height: 424px;
    background-image: url('../images/Repairs.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.product-ad-hsc-5 {
    content: 'http://www.hme.com/qsr/restaurant-pagers/';
    height: 424px;
    background-image: url('../images/Paging.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.product-ad-hsc-6 {
    content: 'http://www.hme.com/qsr/drive-thru-leaderboard/';
    height: 424px;
    background-image: url('../images/Leaderboard.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.product-ad-hsc-7 {
    content: 'http://www.hme.com/qsr/drive-thru-equipment-maintenance/';
    height: 424px;
    background-image: url('../images/EMA.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.product-ad-hsc-8 {
    content: 'http://www.hme.com/cloud/';
    height: 424px;
    background-image: url('../images/CLOUD.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.product-ad-hsc-9 {
    content: '';
    height: 424px;
    background-image: url('../images/EOS_Ad.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.product-ad-hsc-10 {
    content: '';
    height: 424px;
    background-image: url('../images/EOS_Ad.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}


/* Product Category Styles */
.product-cat-cont h2 {
    margin-bottom: 30px;
}

.product-cat-cont h3 {
    margin-bottom: 15px;
    margin-top: 15px;
}

    .product-cat-cont h3 a {
        font-size: 18px;
        color: #1b5ca6;
        text-decoration: none;
    }

        .product-cat-cont h3 a:hover {
            color: #4887d0;
        }

.product-cat-cont ul {
    padding: 0px;
    margin: 0px;
}

    .product-cat-cont ul li {
        padding: 2px 0px;
        margin: 0px;
    }

        .product-cat-cont ul li a {
            text-decoration: none;
            font-size: 13px;
            color: #12b2f4;
        }

            .product-cat-cont ul li a:hover {
                color: #1b5ca6;
            }

.product-cat-cont .col-lg-3 {
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 30px;
}

.product-cat-cont #columns {
    padding-left: 10px;
    padding-right: 10px;
}

    .product-cat-cont #columns .col-md-3 {
        padding-left: 5px;
        padding-right: 5px;
    }

    .product-cat-cont #columns .panel {
        border: none;
        box-shadow: none;
        border-radies: none;
        margin-bottom: 35px;
    }

    .product-cat-cont #columns .panel-primary {
        border: none;
    }

    .product-cat-cont #columns .panel-body {
        padding: 0px 5px;
    }

.product-cat-cont .product-image img {
    border: 2px solid #e5e5e5;
    border-radius: 15px;
}

/* Product Cart Styles */
.product-cart {
    color: #757575;
}

    .product-cart a {
        text-decoration: none;
    }

    .product-cart .price-text {
        color: #f42c6d;
    }

    .product-cart .product-cart-head {
        padding: 0px 0px 15px 0px;
    }

    .product-cart .product-cart-footer {
        border-top: 1px solid #e5e5e5;
        padding: 25px 0px 25px 0px;
    }

        .product-cart .product-cart-footer .product-shopping {
            margin-top: 57px;
        }

        .product-cart .product-cart-footer .product-cart-subtotal {
            font-size: 16px;
            padding-left: 10px;
        }

        .product-cart .product-cart-footer .btn-checkout {
            width: 100%;
            margin-top: 25px;
        }

    .product-cart .min-pad {
        padding-left: 5px;
    }

    .product-cart .product-cart-cont {
        border-top: 1px solid #e5e5e5;
        padding: 20px 0px 20px 0px;
    }

        .product-cart .product-cart-cont img {
            width: 125px;
            height: 125px;
            margin-right: 20px;
            cursor: pointer;
        }

        .product-cart .product-cart-cont h5 {
            margin-top: 0px;
            font-size: 17px;
        }

        .product-cart .product-cart-cont .product-part-number {
            font-size: 11px;
            margin-top: 5px;
        }

        .product-cart .product-cart-cont input {
            width: 60px;
            height: 30px;
            margin-top: -5px;
        }

    .product-cart .product-cart-count-symbol {
        width: 18px;
        height: 18px;
        background: #1a9aed;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        font-size: 9px;
        border-radius: 50%;
        position: absolute;
        text-align: center;
        top: 10px;
        right: 12px;
        box-shadow: 0px 0px 1px #1a9aed;
    }

    .product-cart .product-cart-count-symbol-hover {
        background: #ffffff;
        color: #1a9aed;
        box-shadow: 0px 0px 1px #ffffff;
    }
/*.product-cart-empty-cont .product-cart-empty {border: 1px solid #e5e5e5;border-radius: 15px;margin-top: 20px;margin-bottom: 10px;padding-bottom:30px;padding-top:5px;}*/
.product-cart-empty-cont .product-cart-empty {
    margin-top: 55px;
    margin-bottom: 55px;
    padding-bottom: 30px;
    padding-top: 5px;
}

    .product-cart-empty-cont .product-cart-empty h2 {
        padding-bottom: 15px;
    }

    .product-cart-empty-cont .product-cart-empty p span {
        font-size: 135px;
        padding-bottom: 25px;
        color: #286090;
    }

.product-cart-empty-hidden {
    display: none;
}

.product-cart-item-count {
    color: #ccc;
}

/* Checkout Styles */
.checkout-cont {
    color: #7d7d7d;
    min-height: 1000px;
}

    .checkout-cont h3 {
        font-size: 22px;
        margin-top: 0px;
    }

    .checkout-cont a {
        font-size: 12px;
        text-decoration: none;
        padding: 7px 0px;
    }

    .checkout-cont .checkout-cont-pad {
        margin-top: 35px;
    }

    .checkout-cont .checkout-cont-pad2 {
        margin-top: 70px;
        margin-bottom: 15px;
    }

    .checkout-cont .checkout-right-pad {
        padding-right: 15px;
    }

    .checkout-cont .checkout-left-pad {
        padding-left: 50px;
        padding-right: 25px;
    }

    .checkout-cont .checkout-border {
        border-bottom: 1px solid #e5e5e5;
    }

    .checkout-cont [type="radio"]:not(:checked) + label, .checkout-cont [type="radio"]:checked + label {
        font-size: 14px;
        padding-top: 3px;
        padding-left: 40px;
    }

    .checkout-cont .checkout-box {
        padding: 17px 0px;
    }

    .checkout-cont .checkout-address-selected {
        background: #f7f7f7;
        transition: background .4s linear;
    }

    .checkout-cont .checkout-form {
        padding: 20px 38px;
    }

    .checkout-cont .form-group {
        margin-bottom: 10px;
    }

    .checkout-cont .checkout-cali {
        font-size: 11px;
        font-style: italic;
    }

    .checkout-cont .row {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .checkout-cont .price-text {
        color: #f42c6d;
        font-size: 18px;
        margin-top: -1px;
    }

    .checkout-cont .checkout-strong-head {
        font-size: 14px;
    }

    .checkout-cont .checkout-strong-total {
        font-size: 16px;
    }

    .checkout-cont .btn-row {
        margin-bottom: 0px;
    }

    .checkout-cont .cp-row {
        margin-top: 15px;
    }

    .checkout-cont select {
        color: #7d7d7d;
        font-style: italic;
    }

    .checkout-cont .checkout-note {
        font-size: 11px;
        color: #0b2956;
        font-style: italic;
    }

    .checkout-cont .checkout-ship-method {
        padding-left: 25px;
        padding-bottom: 10px;
    }

/* Payment Styles */
.payment-cont {
    color: #7d7d7d;
    min-height: 1000px;
}

    .payment-cont h3 {
        font-size: 22px;
        margin-top: 0px;
    }

    .payment-cont a {
        font-size: 12px;
        text-decoration: none;
        padding: 7px 0px;
    }

    .payment-cont .payment-cont-pad {
        margin-top: 35px;
    }

    .payment-cont .payment-cont-pad2 {
        margin-top: 70px;
        margin-bottom: 70px;
    }

    .payment-cont .payment-right-pad {
        padding-right: 15px;
    }

    .payment-cont .payment-left-pad {
        padding-left: 50px;
        padding-right: 25px;
    }

    .payment-cont .payment-border {
        border-bottom: 1px solid #e5e5e5;
    }

    .payment-cont [type="radio"]:not(:checked) + label, .payment-cont [type="radio"]:checked + label {
        font-size: 14px;
        padding-top: 3px;
        padding-left: 40px;
    }

    .payment-cont select {
        color: #7d7d7d;
        font-style: italic;
    }

    .payment-cont .payment-box {
        padding: 17px 0px;
    }

    .payment-cont .payment-method-selected {
        background: #f7f7f7;
        transition: background .4s linear;
    }

    .payment-cont .payment-info-selected {
        background: #f7f7f7;
        transition: background .4s linear;
    }

    .payment-cont .payment-form {
        padding: 20px 38px;
    }

    .payment-cont .form-group {
        margin-bottom: 10px;
    }

    .payment-cont .payment-cali {
        font-size: 11px;
        font-style: italic;
    }

    .payment-cont .row {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .payment-cont .price-text {
        color: #f42c6d;
        font-size: 18px;
        margin-top: -1px;
    }

    .payment-cont .payment-strong-head {
        font-size: 14px;
    }

    .payment-cont .payment-strong-total {
        font-size: 16px;
    }

    .payment-cont .btn-row {
        margin-bottom: 0px;
    }

    .payment-cont .cp-row {
        margin-top: 15px;
    }

    .payment-cont .alert-danger {
        padding: 10px 15px;
    }

        .payment-cont .alert-danger .fa-exclamation-triangle {
            padding-right: 5px;
        }

    .payment-cont .close-btn {
        font-size: 24px;
        padding: 0px 0px;
        margin-top: -2px;
        margin-right: -2px;
    }

    .payment-cont .payment-note {
        font-size: 11px;
        color: #0b2956;
        font-style: italic;
    }

    .payment-cont .payment-add-info {
        padding-left: 25px;
        padding-bottom: 10px;
    }

    .payment-cont .payment-box .row {
        margin: 10px;
    }

    .payment-cont .payment-box label {
        padding-top: 5px;
    }

    .payment-cont .payment-box textarea {
        resize: vertical;
    }

.order-thank-you {
    padding: 30px 0px;
    margin: 30px 0px;
    border-radius: 10px;
}

.order-sm-font {
    font-size: 10px;
}

/* Payment Styles PCI */
.pp_payment_cont .pp_payment_total {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 8px;
    border: 1px solid #ccc;
    margin-left: 27px;
    margin-right: 58px;
    padding-bottom: 10px;
    height: 42px;
}

    .pp_payment_cont .pp_payment_total .pp_payment_total_label {
        font-size: 13px;
        padding-top: 3px;
    }

    .pp_payment_cont .pp_payment_total .pp_payment_total_amount {
        font-size: 17px;
        padding-right: 15px;
    }

.pp_payment_cont iframe {
    border: none;
    padding: 0px 12px;
    width: 504px;
    height: 500px;
    background: #ffffff;
    background-color: #ffffff;
}

/* Store Pagination Styles */
.paginate-cont {
    padding-bottom: 15px;
    padding-top: 20px;
    border-top: 1px solid #e5e5e5;
}

    .paginate-cont .product-results {
        padding-right: 0px;
        font-size: 10px;
        padding-top: 11px;
    }

    .paginate-cont .product-perpage {
        padding-left: 0px;
        font-size: 10px;
        padding-top: 9px;
    }

        .paginate-cont .product-perpage select {
            width: 45px;
            height: 20px;
            padding: 0px;
            display: inline;
        }

    .paginate-cont .btn-left {
        margin-left: 7px;
    }

    .paginate-cont .btn-right {
        margin-right: 7px;
    }

/* Default Pagination Styles */
.csp-paginate-cont {
    padding-bottom: 15px;
    padding-top: 20px;
    border-top: 1px solid #e5e5e5;
}

    .csp-paginate-cont .csp-results {
        padding-right: 0px;
        font-size: 10px;
        padding-top: 11px;
    }

    .csp-paginate-cont .csp-perpage {
        padding-left: 0px;
        font-size: 10px;
        padding-top: 9px;
    }

        .csp-paginate-cont .csp-perpage select {
            width: 45px;
            height: 20px;
            padding: 0px;
            display: inline;
        }

    .csp-paginate-cont .btn-left {
        margin-left: 0px;
    }

    .csp-paginate-cont .btn-right {
        margin-right: 0px;
    }

/* Sub Table Styles */
/*.table {-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}*/
.table > thead > tr {
    background-color: #ecf8fc;
    color: #4a889f;
}

    .table > thead > tr > th {
        border-bottom: 2px solid #c9e3f2;
        padding-bottom: 4px;
        padding-top: 8px;
    }

        .table > thead > tr > th > input[type=checkbox] {
            position: relative;
            top: -3px;
        }

.table > tbody > tr.ord-row td, .table > tbody > tr.inv-row td {
    padding: 0px;
    border-top: 1px solid #fff;
}

    .table > tbody > tr.ord-row td table tr td, .table > tbody > tr.ord-row td table tr th, .table > tbody > tr.inv-row td table tr td, .table > tbody > tr.inv-row td table tr th {
        padding: 4px 0px 4px 0px;
        border-top: 1px solid #ddd;
    }

    .table > tbody > tr.ord-row td table, .table > tbody > tr.inv-row td table {
        margin-bottom: 12px;
    }

        .table > tbody > tr.ord-row td table tr th:first-child, .table > tbody > tr.ord-row td table tr td:first-child, .table > tbody > tr.inv-row td table tr th:first-child, .table > tbody > tr.inv-row td table tr td:first-child {
            padding-left: 10px;
        }

.table > tbody > tr.SO_Result_Rows:hover, .table > tbody > tr.INV_Result_Rows:hover {
    cursor: pointer; /*background-color:#ecf5fc;*/
}

.table > tbody > tr.blank_row td {
    font-weight: bold;
    border-top: 0px solid #ffffff;
    padding-top: 3px;
    padding-bottom: 0px;
    color: #7d7d7d;
}

.table > tbody > tr.blank_row.blank_row_first td {
    padding-top: 10px;
}

.table > tbody > tr.inv_lines_row td {
    border-bottom: 1px solid #ddd;
}

.table > tbody > tr.total-row > td {
    border-top: 1px solid #c9e3f2;
    padding-top: 12px;
}

/* Form Validation */
/*.errorBox {border:1px solid #D41B3E;}
.errorBox:focus {box-shadow: 0px 0px 5px #d6a4ad;}*/
div.form-message {
    margin-top: -15px;
    margin-bottom: 25px;
}

    div.form-message ul {
        list-style: circle inside none;
        padding: 10px;
        margin-bottom: 0px;
    }

    div.form-message.form-error {
        color: #D41B3E;
        background: #f1e1e4;
        border: 1px solid #D41B3E;
    }

    div.form-message.form-success {
        color: #468847;
        background: #DFF0D8;
        border: 1px solid #468847;
    }

    div.form-message.form-notice {
        margin-top: 15px;
        border: 1px solid red;
        color: red;
        font-size: 12px;
        padding: 10px 40px;
    }

/* Spinner Styles 
.loader,.loader:before,.loader:after {background: #000000;-webkit-animation: load1 1s infinite ease-in-out;animation: load1 1s infinite ease-in-out;width: 1em;height: 4em;}
.loader:before,.loader:after {position: absolute;top: 0;content: '';}
.loader:before {left: -1.5em;-webkit-animation-delay: -0.32s;animation-delay: -0.32s;}
.loader {color: #ffffff;text-indent: -9999em;margin: 88px auto;position: relative;font-size: 11px;-webkit-transform: translateZ(0);-ms-transform: translateZ(0);transform: translateZ(0);-webkit-animation-delay: -0.16s;animation-delay: -0.16s;}
.loader:after {left: 1.5em;}
@-webkit-keyframes load1 {
  0%,80%,100% {box-shadow: 0 0;height: 4em;}
  40% {box-shadow: 0 -2em;height: 5em;}
}
@keyframes load1 {
  0%,80%,100% {box-shadow: 0 0;height: 4em;}
  40% {box-shadow: 0 -2em;height: 5em;}
}*/
/* Spinner Styles */
.load-cont {
    height: 135px;
    padding-top: 1px;
    /*background: #ededed;*/
    background: #dddddd;
    margin-right: 110px;
    margin-left: 110px;
    border-radius: 15px;
    margin-top: 15px;
}

.loader,
.loader:before,
.loader:after {
    background: #000000;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}

    .loader:before,
    .loader:after {
        position: absolute;
        top: 0;
        content: '';
    }

    .loader:before {
        left: -1.5em;
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

.loader {
    color: #000000;
    text-indent: -9999em;
    margin-top: 48px;
    margin-bottom: 88px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

    .loader:after {
        left: 1.5em;
    }

@-webkit-keyframes load1 {
    0%, 80%, 100% {
        box-shadow: 0 0;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

@keyframes load1 {
    0%, 80%, 100% {
        box-shadow: 0 0;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

/* select page*/
.asc:after {
    font-family: FontAwesome;
    content: "\f0dd";
    padding-left: 5px;
    color: #09EF79;
}

.desc:after {
    font-family: FontAwesome;
    content: "\f0de";
    padding-left: 5px;
    color: #09EF79;
}

.sort:after {
    font-family: FontAwesome;
    content: "\f0dc";
    padding-left: 5px;
}

.sortable {
    text-decoration: none !important;
    color: #4a889f;
}

.header_title {
    text-decoration: underline;
}

.sorted {
    color: #1a9aed;
}

.red-border {
    border-color: red !important;
}

.user-management-header {
    display: inline-block;
}
.user-management-back-btn {
    position:relative; 
    float:right; 
    display:inline-block;
    cursor:pointer;
}

i {
  border: solid;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.green-border{
   border-color: green;
}
/* spinnger stlyes */

@media all and (max-width: 1182px) {
    .col-login-right .col-lg-4 {
        padding-left: 15px;
        padding-right: 15px;
    }

    .paypal-img {
        margin-top: 30px;
    }

    .cvv2 {
        padding-right: 15px;
        margin-top: 30px;
        text-align: right;
    }
}

/* Grid System */

@media screen and (min-width: 1px) and (max-width: 767px) {
    #columns[data-columns]::before {
        content: '2 .col-xs-12';
    }
}

@media screen and (min-width:768px) and (max-width: 991px) {
    #columns[data-columns]::before {
        content: '3 .col-sm-4';
    }
}

@media screen and (min-width:992px) and (max-width: 9999px) {
    #columns[data-columns]::before {
        content: '4 .col-md-3';
    }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    h2 {
        font-size: 22px;
    }

    .hme-logo {
        height: 30px;
    }

    .jtech-logo {
        height: 30px;
    }

    .ce-logo {
        height: 30px;
    }

    .cc-logo {
        height: 30px;
    }

    .no-pad-search {
        padding-left: 15px;
        padding-right: 15px;
    }

    .table-responsive {
        padding: 15px;
    }

    .navbar .navbar-brand.navbar-logo .hme-logo-cont {
        background-size: contain;
        margin-top: 0px;
        width: 300px;
    }

    .navbar .navbar-brand.navbar-logo .jtech-logo-cont {
        background-size: contain;
        margin-top: 0px;
        width: 300px;
    }

    .navbar .navbar-brand.navbar-logo .ce-logo-cont {
        background-size: contain;
        margin-top: 0px;
        width: 300px;
    }

    .navbar .navbar-brand.navbar-logo .cc-logo-cont {
        background-size: contain;
        margin-top: 0px;
        width: 300px;
    }

    .navbar .navbar-brand.navbar-logo {
        padding-left: 10px;
    }

    .mob-no-pad {
        padding-left: 0px;
        padding-right: 0px;
    }

        .mob-no-pad .btn-success {
            margin-bottom: 5px;
            margin-top: -25px;
        }

    .inv-mob-btn-left {
        width: 175px;
        float: left;
    }

    .inv-mob-btn-right {
        width: 175px;
        margin-top: -38px;
        float: right;
    }

    #verify_lookup {
        margin-bottom: 15px;
    }

    .col-login-left .col-lg-4 {
        padding-left: 15px;
        padding-right: 15px;
    }

    .mob-mini-pad-left {
        padding-left: 8px;
    }

    .product-cat-cont h2 {
        margin-bottom: 10px;
    }

    .product-cont {
        overflow: visible;
    }

        .product-cont .product-image img {
            width: 100%;
            height: 200px;
        }

    .product-rel-cont .product-rel-img-cont {
        padding-left: 0px;
        padding-right: 0px;
        width: 95px;
        height: auto;
    }

    .product-ad-cont h3 {
        font-size: 16px;
    }

    .product-ad-right-cont {
        padding-left: 0px;
        padding-right: 0px;
    }

        .product-ad-right-cont .product-ad-right {
            margin-bottom: 50px;
            margin-top: -15px;
            background-position: 50% 100%;
        }

            .product-ad-right-cont .product-ad-right:hover {
                box-shadow: none;
            }

    .paginate-cont {
        border: 0px solid #ffffff;
    }

        .paginate-cont .mob-page-btn {
            border-top: 1px solid #e5e5e5;
            padding-top: 15px;
        }

    .product-cart .product-cart-cont {
        min-height: 140px;
    }

    .mob-cart-pad {
        padding-left: 55px;
    }

    .mob-pad-right {
        padding-right: 15px;
    }

    .mob-pad-left {
        padding-left: 15px;
    }

    .mob-head-text {
        height: 35px;
    }

    .mob-add-pad {
        padding-left: 55px;
    }

    .checkout-cont .checkout-box.mob-ship-pad {
        padding-bottom: 50px;
    }

    .product-cart .product-cart-cont img {
        width: 100px;
        height: 100px;
    }

    .product-cart .product-cart-cont h5 {
        font-size: 14px;
    }

    .product-cart .product-cart-head {
        padding: 0px 0px 30px 0px;
    }

    .product-cart .product-cart-footer .btn-checkout {
        margin-bottom: 15px;
    }

    .checkout-cont .checkout-left-pad, .payment-cont .payment-left-pad {
        padding-left: 15px;
        padding-right: 15px;
    }

    .checkout-cont .checkout-cont-pad, .payment-cont .payment-cont-pad {
        margin-top: 10px;
    }

    .checkout-cont .checkout-strong-total, .payment-cont .payment-strong-total {
        font-size: 14px;
    }

    .checkout-cont .checkout-note, .payment-cont .payment-note {
        padding-left: 15px;
        padding-right: 15px;
    }

    div.form-message.form-notice {
        padding: 10px 15px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .navbar .hme-menu {
        float: left;
        border-top: 1px solid #e5e5e5;
        margin-left: 0px;
        margin-right: 0px;
    }

    .navbar .navbar-brand.navbar-logo .hme-logo-cont {
        width: inherit;
    }

    .navbar .navbar-brand.navbar-logo .jtech-logo-cont {
        width: inherit;
    }

    .navbar .navbar-brand.navbar-logo .ce-logo-cont {
        width: inherit;
    }

    .navbar .navbar-brand.navbar-logo .cc-logo-cont {
        width: inherit;
    }

    .navbar .navbar-header {
        margin-left: 0px;
        margin-right: 0px;
    }

    .navbar-nav {
        margin: 0px 0px;
    }

    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }

    .navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu > li > a {
        padding: 5px 15px 5px 15px;
    }

    .navbar-nav > li > .dropdown-menu {
        margin-top: 1px;
        margin-right: 0px;
    }

    .modal-dialog.modal-confirm, .modal-dialog.modal-message, .modal-dialog.modal-recipient {
        width: 345px;
    }

    .load-cont {
        margin-left: 85px;
        margin-right: 85px;
    }

    .inv-detail-cont2 {
        margin-top: 0px;
    }

    .inv-mob-btn-left {
        width: inherit;
    }

    .inv-mob-btn-right {
        width: inherit;
        margin-top: 0px;
    }

    .container-mob {
        width: 100%;
    }

    .mob-mini-pad-right {
        padding-right: 8px;
    }

    #columns .col-xs-12 {
        padding-left: 0px;
        padding-right: 0px;
    }

    .navbar {
        margin-bottom: 0px;
    }

    .navbar-store {
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .container-main {
        margin-bottom: 0px;
    }

    .product-cont .col-lg-3 {
        padding-left: 5px;
        padding-right: 5px;
    }

    .product-head, .product-head-details {
        padding-left: 0px;
        padding-right: 0px;
    }

    .product-cont .product-image img {
        height: auto;
    }

    .product-rel-cont .product-rel-item h6, .product-rel-cont .product-rel-item-first h6 {
        margin-top: 35px;
    }

    .product-rel-cont .product-rel-item, .product-rel-cont .product-rel-item-first {
        margin-left: 0px;
    }

    .product-desc {
        padding-bottom: 30px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .modal-backdrop {
        display: none;
    }

    .modal-open {
        overflow: scroll;
    }

    .product-cart .product-cart-cont {
        min-height: 160px;
    }

    .product-cart .product-cart-footer .product-shopping {
        margin-top: 15px;
    }

    .product-cart .product-cart-cont img {
        width: 80px;
        height: 80px;
    }

    .product-cart .product-cart-cont h5 {
        font-size: 14px;
    }

    .product-cart .product-cart-footer .btn-checkout {
        margin-bottom: 0px;
    }

    .mob-cart-pad {
        padding-left: 0px;
    }

    .mob-cart-left {
        float: left !important;
    }

    .mob-cart-item {
        margin-top: 15px;
    }

    .mob-pad-left {
        padding-left: 15px;
    }

    .checkout-cont .checkout-box.mob-ship-pad {
        padding-bottom: 20px;
    }

    .mob-unit-price {
        padding-top: 5px;
        color: #f42c6d;
    }

    .product-cart .product-cart-cont input {
        width: 80px;
    }

    .checkout-cont .checkout-cont-pad2 {
        margin-bottom: 65px;
    }

    .checkout-cont .checkout-note {
        padding-left: 0px;
        padding-right: 0px;
    }

    .container-main {
        width: 100% !important;
    }

    .col-xs-min-pad {
        padding-left: 5px;
        padding-right: 5px;
    }

    #creditMsg .modal-dialog.modal-recipient {
        width: 100%;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
}
