.tracking-activities {
    position: relative;
}

.tracking-activity {
    position: relative;
    margin: 0;
    padding: 15px 0;
}

.tracking-activities-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul .tracking-activities-list{
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
	margin-top: 0;
    margin-bottom: 1rem;

}

li .tracking-activity{
    display: list-item;
    text-align: -webkit-match-parent;
}

.tracking-status-img.intransit:before {
    content: "";
    display: block;
    background-color:#09F5D4;
    width: 12px;
    height: 12px;
    position: absolute;
    border-radius: 12px;
    left: 11px;
    top: 11px;
    z-index: 9;
}
.tracking-status-img.delivered {
    background-color: #4cbb87;
	padding-top:4px;
}

.tracking-status-img.outfordelivery {
    background-color: #337ab7;
	padding-top:4px;
}

.tracking-status-img.inforeceived {
    background-color:#B4C0F5;
	padding-top:4px;
}

.tracking-status-img.exception {
    background-color:#CBBE08;
	padding-top:4px;
}

.tracking-status-icon {
    background-repeat: no-repeat;
    border: none;
}

/*
.tracking-status-img.outfordelivery, .tracking-status-img.delivered, .tracking-status-img.attemptfail, .tracking-status-img.exception, .tracking-status-img.expired, .tracking-status-img.pending, .tracking-status-img.inforeceived {
    background-repeat: no-repeat;
    border: none;
}
*/

/*
@media (min-width: 768px)
.tracking-status-img {
    left: 133px;
}
*/

.tracking-activity-time {
    float: left;
    width: 101px;
    text-align: right;
}

.tracking-activity-content {
    margin-left: 163px;
    padding-right: 10px;
    min-height: 55px;
	text-align:left;
}

.lite-font {
    color:#8B8585;
}

.tracking-status-img {
    position: absolute;
    left: 116px;
    top: 15px;
    width: 36px;
    height: 36px;
    line-height: 28px;
    font-size: 14px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    z-index: 10;
}

/*
.tracking-activities-list:after {
    position: absolute;
    display: block;
    width: 1px;
    top: 0;
    left: 133px;
    bottom: 0;
    content: "";
    background-color: #ddd;
    z-index: 1;
}
*/

.tracking-status:after {
    position: absolute;
    display: block;
    width: 2px;
    top: 0;
    left: 50%;
    bottom: 0;
    content: "";
    background-color: #fff;
    z-index: 1;
}

.tracking-number-dropdown{
	width:300px; 
	display:inline-block;
}

.tracking-link{
	color: #1a9aed;
	text-decoration:underline;
}
