﻿@using ups
@model ups.EmailLabel_dto
@{ Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window, document, 'script', 'dataLayer', 'GTM-NS49BSP');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <meta name="Title" content="">
    <meta name="Description" content="">
    <meta name="Keywords" content="">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
    <noscript>
        <iframe src=https://www.googletagmanager.com/ns.html?id =GTM-NS49BSP
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>

    <div id="print">
        <style>
            .small_text {
                font-size: 80%;
            }

            .large_text {
                font-size: 115%;
            }

            .line_break_dash {
                border-top: 2px dashed #000000;
                padding-bottom: 15px;
            }

            .cust_addr {
                height: 180px;
                font-size: 30px;
                line-height: 35px;
            }

            .links {
                color: #9f0a0d;
                cursor: pointer;
            }
        </style>
        <table border="0" cellpadding="0" cellspacing="0" width="600">
            <tbody>
                <tr>
                    <td height="210" align="left" valign="top">
                        <b class="large_text">UPS Electronic Return Label: View/Print Label</b>&nbsp;<br>
                        <ol class="small_text">
                            <li><b>Ensure that there are no other tracking labels attached to your package.</b><br><br></li>
                            <li><b>Tear this sheet of paper at the dotted line.</b> Place the top half of this sheet of paper inside of the shipping box. Place the bottom half of this sheet of paper containing the UPS label in a UPS Shipping Pouch. If you do not have a pouch, affix the label using clear plastic shipping tape over the entire label.  Take care not to cover any seams or closures.<br><br></li>
                            <li>
                                <b>Collection and Drop-off<br></b>
                                <ul>
                                    <li>Take this package to any location of The UPS Store ®, UPS Drop Box, UPS Customer Center, UPS Alliances (Office Depot® or Staples®) or Authorized Shipping Outlet near you. Items sent via UPS ReturnsSM Services(including via UPS Ground) are accepted at Drop Boxes, to find your closest UPS location visit  <a href="http://www.ups.com/content/us/en/index.jsx" target="_blank">www.ups.com/content/us/en/index.jsx</a> and select Drop Off. Click to locate Dropoff location: <a href="http://www.ups.com/dropoff?autosubmit=1&amp;loc=en_US&amp;appid=XOLT&amp;country=US&amp;Postal=92069&amp;trans_mode=002" target="_blank">Drop Off Locator</a></li>
                                    <li>Daily Collection customers: Have your shipment(s) ready for the driver as usual.</li>
                                </ul>
                            </li>
                        </ol>
                    </td>
                </tr>
            </tbody>
        </table>
        @*<div class="cust_addr">
                @Model.firstname @Model.lastname<br>
                @Model.storename : @Model.storenumber<br>
                @Model.address1<br>
                @Model.city, @Model.state @Model.zip<br>
            </div>*@
        <div class="line_break_dash"></div>
        <table border="0" cellpadding="0" cellspacing="0" width="600">
            <tbody>
                <tr>
                    <td class="small_text" align="left" valign="top">&nbsp;&nbsp;&nbsp;<a name="foldHere">TEAR HERE</a></td>
                </tr>
            </tbody>
        </table>
        <table border="0" cellpadding="0" cellspacing="0" height="392" width="651">
            <tbody>
                <tr>
                    <td align="left" valign="top" height="392" width="651"><img src="cid:~label~"></td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>
