﻿
@model dynamic
@{ Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window, document, 'script', 'dataLayer', 'GTM-NS49BSP');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <meta name="Title" content="">
    <meta name="Description" content="">
    <meta name="Keywords" content="">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
    <noscript>
        <iframe src=https://www.googletagmanager.com/ns.html?id =GTM-NS49BSP
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>

    <div align="center">
        <table class="OuterBGColor" style="background-color:#eeeeee;" bgcolor="#eeeeee" border="0" width="100%" cellspacing="0" cellpadding="0">
            <tr>
                <td rowspan="1" colspan="1" align="center">
                    <div class="TemplateMaxWidth" style="margin-left:auto;max-width:640px;margin-right:auto;" align="center">
                        <table style="margin-left:auto;margin-right:auto;" border="0" width="100%" cellspacing="0" cellpadding="0">
                            <tr>
                                <td valign="bottom" rowspan="1" colspan="1"><img height="5" vspace="0" border="0" hspace="0" width="1" alt="" src="cid:~S~" /></td>
                                <td class="TemplateMainWidth" style="width:640px;" valign="top" rowspan="1" colspan="1" align="center">
                                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td class="TopMargin" style="padding:18px 0px 0px 0px;" valign="top" width="100%" rowspan="1" colspan="1" align="center"></td>
                                        </tr>
                                    </table>
                                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td style="background-color:#EDEDED;" valign="top" rowspan="1" colspan="1"><img height="16" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="cid:~PT_MFAN_OuterShadowTL1~" /></td>
                                            <td style="background-color:#EBEBEB;" valign="top" rowspan="1" colspan="1"><img height="16" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="cid:~PT_MFAN_OuterShadowTL2~" /></td>
                                            <td style="background-color:#E8E8E8;" valign="top" rowspan="1" colspan="1"><img height="16" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="cid:~PT_MFAN_OuterShadowTL3~" /></td>
                                            <td style="background-color:#E5E5E5;" valign="top" rowspan="1" colspan="1"><img height="16" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="cid:~PT_MFAN_OuterShadowTL4~" /></td>
                                            <td style="background-color:#E0E0E0;" valign="top" rowspan="1" colspan="1"><img height="16" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="cid:~PT_MFAN_OuterShadowTL5~" /></td>
                                            <td style="background-color:#DADADA;" valign="top" rowspan="1" colspan="1"><img height="16" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="cid:~PT_MFAN_OuterShadowTL6~" /></td>
                                            <td style="background-color:#D4D4D4;" valign="top" rowspan="1" colspan="1"><img height="16" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="cid:~PT_MFAN_OuterShadowTL7~" /></td>
                                            <td style="background-color:#CCCCCC;" valign="top" rowspan="1" colspan="1"><img height="16" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="cid:~PT_MFAN_OuterShadowTL8~" /></td>
                                            <td style="background-color:#C3C3C3;" valign="top" rowspan="1" colspan="1"><img height="16" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="cid:~PT_MFAN_OuterShadowTL9~" /></td>
                                            <td valign="top" width="100%" rowspan="1" colspan="1" align="center">
                                                <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td class="InnerBGColor Top" style="background-color:#ffffff;padding:0px 0px 0px 0px;" bgcolor="#ffffff" valign="top" width="100%" rowspan="1" colspan="1" align="center">
                                                            <table border="0" width="100%" cellpadding="0" cellspacing="0" id="content_LETTER.BLOCK1">
                                                                <tr>
                                                                    <!--- Main Logo --->
                                                                    <td class="MainText FullImage" style="padding:10px 0px 10px 10px;color:#383838;font-size:11pt;font-family:Calibri,Helvetica,Arial,sans-serif;" valign="top" rowspan="1" colspan="1" align="left">
                                                                        <div style="max-height: 28px;"><img title="CE Repairs" style="max-height: 28px;" src='cid:~attachment1~'></div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <table style="background-color:#0093d8;display:table;" bgcolor="#0093D8" border="0" width="100%" cellpadding="0" cellspacing="0" id="content_LETTER.BLOCK2">
                                                                <tr>
                                                                    <td class="Content" style="padding:8px 41px 9px 41px;color:#ffffff;font-family:Arial,Helvetica,sans-serif;" valign="top" rowspan="1" colspan="1" align="left">
                                                                        <div style="text-align:center;" align="center">
                                                                            <div>
                                                                                <div style="font-size:18pt;text-align:center;" align="center">
                                                                                    <!--- Main Header --->
                                                                                    <span><b><span>@Model.header1</span>&nbsp; &nbsp;</b></span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td class="Spacer" style="padding-bottom:14px;line-height:1px;height:1px;" height="1" valign="top" rowspan="1" colspan="1" align="center">
                                                                        <img height="1" vspace="0" border="0" hspace="0" width="5" style="display: block;" alt="" src="cid:~S~" />
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <table border="0" width="100%" cellpadding="0" cellspacing="0" id="content_LETTER.BLOCK5">
                                                                <tr>
                                                                    <!--- Main Conent --->
                                                                    <td class="MainText Content" style="padding:8px 41px 9px 41px;color:#383838;font-size:11pt;font-family:Calibri,Helvetica,Arial,sans-serif;" valign="top" rowspan="1" colspan="1" align="left">
                                                                        @if (Model.message == "registration")
                                                                        {
                                                                            <p>Registration Complete!</p>
                                                                            <p>Your request is now being prodessed.</p>
                                                                            <p>You will be notified within 1-2 business days regarding your account access.</p>
                                                                            <p>Thanks you</p>

                                                                        }
                                                                        @if (Model.message == "resetpassword")
                                                                        {
                                                                            <p>We have received a password change request for your account: @Model.email</p>
                                                                            <p>If you made this request, then please click on the link below or by pasting it into your browser's address bar.</p>
                                                                            @*<p><a href="https://customerservice.cerepairs.com/?pg=ManageAccount&st=rl&ruid=@Model.guid">https://customerservice.cerepairs.com/?pg=ManageAccount&st=rl&ruid=@Model.guid</a></p>*@
                                                                            <p><a href="@Model.siteurl/Security/ResetPassword/?uid=@Model.guid">@Model.siteurl/Security/ResetPassword/?uid=@Model.guid</a></p>
                                                                            <p>This link will work for 2 hours or until you reset your password.</p>
                                                                            <p>If you did not ask to change your password, then please ignore this email. Another user may have entered your username by mistake. No changes will be made to your account.</p>
                                                                            <p>Thanks you</p>
                                                                        }
                                                                        @if (Model.message == "resetpasswordconformation")
                                                                        {
                                                                            <p>This email confirms your recent password change.</p>
                                                                            <p>If your password was changed without your knowledge, then please click the link below to change it again:</p>
                                                                            <p><a href="@Model.siteurl/Security/login">@Model.siteurl/Security/login</a></p>
                                                                            <p>Thanks you</p>
                                                                        }

                                                                        @if (Model.message == "newuserloginrequest")
                                                                        {
                                                                            <p>This user has requested access to the Customer Service Portal: @Model.email</p>
                                                                            @*<p>Please login to the Customer Service Portal and browse to the "Pending Users" page to Accept or Decline this users request.</p>*@
                                                                            <p>Please login to the CE Repairs Customer Service and browse to the "Pending Users" page to Accept or Decline this users request.</p>
                                                                            <p><a href="@Model.siteurl">@Model.siteurl</a></p>
                                                                            <p>Thanks you</p>
                                                                        }
                                                                        @if (Model.message == "newuserloginconformation")
                                                                        {
                                                                            <p>Please click the link below to login to your account:</p>
                                                                            <p><a href="@Model.siteurl">@Model.siteurllogin</a></p>
                                                                            <p>Your username is: @Model.email</p>
                                                                            <p>Your password will be the same password you entered while registering. If you have forgotten your password, please click the link below to request a new one:</p>
                                                                            <p><a href="@Model.siteurl">@Model.siteurl</a></p>
                                                                            <p>Thanks you</p>
                                                                        }

                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td class="Spacer" style="padding-bottom:14px;line-height:1px;height:1px;" height="1" valign="top" rowspan="1" colspan="1" align="center">
                                                                        <img height="1" vspace="0" border="0" hspace="0" width="5" style="display: block;" alt="" src="cid:~S~" />
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="background-color:#C3C3C3;" valign="top" rowspan="1" colspan="1"><img height="16" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="cid:~PT_MFAN_OuterShadowTR1~" /></td>
                                            <td style="background-color:#CCCCCC;" valign="top" rowspan="1" colspan="1"><img height="16" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="cid:~PT_MFAN_OuterShadowTR2~" /></td>
                                            <td style="background-color:#D4D4D4;" valign="top" rowspan="1" colspan="1"><img height="16" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="cid:~PT_MFAN_OuterShadowTR3~" /></td>
                                            <td style="background-color:#DADADA;" valign="top" rowspan="1" colspan="1"><img height="16" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="cid:~PT_MFAN_OuterShadowTR4~" /></td>
                                            <td style="background-color:#E0E0E0;" valign="top" rowspan="1" colspan="1"><img height="16" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="cid:~PT_MFAN_OuterShadowTR5~" /></td>
                                            <td style="background-color:#E5E5E5;" valign="top" rowspan="1" colspan="1"><img height="16" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="cid:~PT_MFAN_OuterShadowTR6~" /></td>
                                            <td style="background-color:#E8E8E8;" valign="top" rowspan="1" colspan="1"><img height="16" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="cid:~PT_MFAN_OuterShadowTR7~" /></td>
                                            <td style="background-color:#EBEBEB;" valign="top" rowspan="1" colspan="1"><img height="16" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="cid:~PT_MFAN_OuterShadowTR8~" /></td>
                                            <td style="background-color:#EDEDED;" valign="top" rowspan="1" colspan="1"><img height="16" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="cid:~PT_MFAN_OuterShadowTR9~" /></td>
                                        </tr>
                                        <tr>
                                            <td style="background-color:#EDEDED;" valign="bottom" rowspan="1" colspan="1"><img height="18" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="cid:~PT_MFAN_OuterShadowBL1~" /></td>
                                            <td style="background-color:#EBEBEB;" valign="bottom" rowspan="1" colspan="1"><img height="18" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="cid:~PT_MFAN_OuterShadowBL2~" /></td>
                                            <td style="background-color:#E8E8E8;" valign="bottom" rowspan="1" colspan="1"><img height="18" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="cid:~PT_MFAN_OuterShadowBL3~" /></td>
                                            <td style="background-color:#E5E5E5;" valign="bottom" rowspan="1" colspan="1"><img height="18" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="cid:~PT_MFAN_OuterShadowBL4~" /></td>
                                            <td style="background-color:#E0E0E0;" valign="bottom" rowspan="1" colspan="1"><img height="18" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="cid:~PT_MFAN_OuterShadowBL5~" /></td>
                                            <td style="background-color:#DADADA;" valign="bottom" rowspan="1" colspan="1"><img height="18" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="cid:~PT_MFAN_OuterShadowBL6~" /></td>
                                            <td style="background-color:#D4D4D4;" valign="bottom" rowspan="1" colspan="1"><img height="18" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="cid:~PT_MFAN_OuterShadowBL7~" /></td>
                                            <td style="background-color:#CCCCCC;" valign="bottom" rowspan="1" colspan="1"><img height="18" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="cid:~PT_MFAN_OuterShadowBL8~" /></td>
                                            <td style="background-color:#C3C3C3;" valign="bottom" rowspan="1" colspan="1"><img height="18" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="cid:~PT_MFAN_OuterShadowBL9~" /></td>
                                            <td valign="top" width="100%" rowspan="1" colspan="1" align="center">
                                                <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td class="InnerBGColor Middle" style="background-color:#ffffff;padding:0px 0px 0px 0px;" bgcolor="#ffffff" valign="top" width="100%" rowspan="1" colspan="1" align="center"></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="InnerBGColor Bottom" style="background-color:#ffffff;padding:0px 0px 0px 0px;" bgcolor="#ffffff" valign="top" width="100%" rowspan="1" colspan="1" align="center">
                                                            <table style="background-color:#0093d8;display:table;" bgcolor="#0093D8" border="0" width="100%" cellpadding="0" cellspacing="0" id="content_LETTER.BLOCK7">
                                                                <tr>
                                                                    <td class="Content" style="padding:8px 41px 9px 41px;color:#ffffff;font-size:11pt;font-family:Calibri, Helvetica, Arial, sans-serif;" valign="top" rowspan="1" colspan="1" align="left">
                                                                        <div style="text-align:center;" align="center">
                                                                            <span style="font-family:Arial, Helvetica, sans-serif;">
                                                                                <!--- Main Phone and Main Website --->
                                                                                <strong>
                                                                                    <div>
                                                                                        @Model.footer1 &nbsp; &nbsp;|&nbsp;&nbsp;&nbsp; <a style="color:rgb(255, 255, 255);text-decoration:none;" track="on" shape="rect" href="@Model.footer2" linktype="1" alt="@Model.footer2" target="_blank">@Model.footer2</a>&nbsp;
                                                                                    </div>
                                                                                </strong>
                                                                            </span>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td style="line-height:1px;" valign="top" rowspan="1" colspan="1">
                                                            <img height="13" vspace="0" border="0" hspace="0" width="9" style="display:block;" src="cid:~PT_MFAN_OuterShadowBottomBL~" align="top" />
                                                        </td>
                                                        <td style="line-height:1px;" valign="top" width="100%" rowspan="1" colspan="1" align="center">
                                                            <table style="background-color:#EDEDED;" border="0" width="100%" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td style="background-color:#A3A3A3;line-height:1px;" height="1" rowspan="1" colspan="1">
                                                                        <img height="1" width="275" style="display:none;" src="cid:~H~" align="left" />
                                                                        <img height="1" vspace="0" border="0" hspace="0" width="275" style="display:block;" src="cid:~H~" />
                                                                    </td>
                                                                </tr>
                                                                <tr><td style="background-color:#A9A9A9;line-height:1px;" height="1" rowspan="1" colspan="1"><img height="1" hspace="5" src="cid:~R~" align="left" /></td></tr>
                                                                <tr><td style="background-color:#B1B1B1;line-height:1px;" height="1" rowspan="1" colspan="1"><img height="1" hspace="5" src="cid:~R~" align="left" /></td></tr>
                                                                <tr><td style="background-color:#BABABA;line-height:1px;" height="1" rowspan="1" colspan="1"><img height="1" hspace="5" src="cid:~R~" align="left" /></td></tr>
                                                                <tr><td style="background-color:#C3C3C3;line-height:1px;" height="1" rowspan="1" colspan="1"><img height="1" hspace="5" src="cid:~R~" align="left" /></td></tr>
                                                                <tr><td style="background-color:#CBCBCB;line-height:1px;" height="1" rowspan="1" colspan="1"><img height="1" hspace="5" src="cid:~R~" align="left" /></td></tr>
                                                                <tr><td style="background-color:#D4D4D4;line-height:1px;" height="1" rowspan="1" colspan="1"><img height="1" hspace="5" src="cid:~R~" align="left" /></td></tr>
                                                                <tr><td style="background-color:#D9D9D9;line-height:1px;" height="1" rowspan="1" colspan="1"><img height="1" hspace="5" src="cid:~R~" align="left" /></td></tr>
                                                                <tr><td style="background-color:#E0E0E0;line-height:1px;" height="1" rowspan="1" colspan="1"><img height="1" hspace="5" src="cid:~R~" align="left" /></td></tr>
                                                                <tr><td style="background-color:#E5E5E5;line-height:1px;" height="1" rowspan="1" colspan="1"><img height="1" hspace="5" src="cid:~R~" align="left" /></td></tr>
                                                                <tr><td style="background-color:#E8E8E8;line-height:1px;" height="1" rowspan="1" colspan="1"><img height="1" hspace="5" src="cid:~R~" align="left" /></td></tr>
                                                                <tr><td style="background-color:#EBEBEB;line-height:1px;" height="1" rowspan="1" colspan="1"><img height="1" hspace="5" src="cid:~R~" align="left" /></td></tr>
                                                                <tr><td style="background-color:#EDEDED;line-height:1px;" height="1" rowspan="1" colspan="1"><img height="1" hspace="5" src="cid:~R~" align="left" /></td></tr>
                                                            </table>
                                                        </td>
                                                        <td style="line-height:1px;" valign="top" rowspan="1" colspan="1">
                                                            <img height="13" vspace="0" border="0" hspace="0" width="9" style="display:block;" src="cid:~PT_MFAN_OuterShadowBottomBR~" align="top" />
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="background-color:#C3C3C3;" valign="bottom" rowspan="1" colspan="1"><img height="18" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="cid:~PT_MFAN_OuterShadowBR1~" /></td>
                                            <td style="background-color:#CCCCCC;" valign="bottom" rowspan="1" colspan="1"><img height="18" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="cid:~PT_MFAN_OuterShadowBR2~" /></td>
                                            <td style="background-color:#D4D4D4;" valign="bottom" rowspan="1" colspan="1"><img height="18" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="cid:~PT_MFAN_OuterShadowBR3~" /></td>
                                            <td style="background-color:#DADADA;" valign="bottom" rowspan="1" colspan="1"><img height="18" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="cid:~PT_MFAN_OuterShadowBR4~" /></td>
                                            <td style="background-color:#E0E0E0;" valign="bottom" rowspan="1" colspan="1"><img height="18" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="cid:~PT_MFAN_OuterShadowBR5~" /></td>
                                            <td style="background-color:#E5E5E5;" valign="bottom" rowspan="1" colspan="1"><img height="18" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="cid:~PT_MFAN_OuterShadowBR6~" /></td>
                                            <td style="background-color:#E8E8E8;" valign="bottom" rowspan="1" colspan="1"><img height="18" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="cid:~PT_MFAN_OuterShadowBR7~" /></td>
                                            <td style="background-color:#EBEBEB;" valign="bottom" rowspan="1" colspan="1"><img height="18" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="cid:~PT_MFAN_OuterShadowBR8~" /></td>
                                            <td style="background-color:#EDEDED;" valign="bottom" rowspan="1" colspan="1"><img height="18" vspace="0" border="0" hspace="0" width="1" style="display:block;" src="cid:~PT_MFAN_OuterShadowBR9~" /></td>
                                        </tr>
                                    </table>
                                </td>
                                <td valign="bottom" rowspan="1" colspan="1">
                                    <img height="5" vspace="0" border="0" hspace="0" width="1" alt="" src="cid:~S~" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td rowspan="1" colspan="1" align="center">
                    <div class="TemplateMaxWidth" style="margin-left:auto;max-width:640px;margin-right:auto;" align="center">
                        <table style="margin-left:auto;margin-right:auto;" border="0" width="100%" cellspacing="0" cellpadding="0">
                            <tr>
                                <td valign="bottom" rowspan="1" colspan="1"><img height="5" vspace="0" border="0" hspace="0" width="1" alt="" src="cid:~S~" /></td>
                                <td class="TemplateMainWidth" style="width:640px;" valign="top" rowspan="1" colspan="1" align="center">
                                    <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td class="BottomMargin" style="padding:0px 0px 0px 0px;" valign="top" width="100%" rowspan="1" colspan="1" align="center">
                                                <table border="0" width="100%" cellpadding="0" cellspacing="0" id="content_LETTER.BLOCK8">
                                                    <tr>
                                                        <td class="MainText Content" style="padding:8px 41px 9px 41px;color:#383838;font-size:11pt;font-family:Calibri,Helvetica,Arial,sans-serif;" valign="top" rowspan="1" colspan="1" align="center">
                                                            <div style="text-align:center;" align="center"><span style="font-size:9pt;"> &copy; @DateTime.Now.Year Commercial Electronics, Inc. The CE logo and product names are trademarks.</span></div>
                                                            <div style="text-align:center;" align="center"><span style="font-size:9pt;"> or registered trademarks of Commercial Electronics, Inc. All rights reserved.</span></div>
                                                            <div style="text-align:center;" align="center"><span style="font-size:9pt;"></span><br /><br /></div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td valign="bottom" rowspan="1" colspan="1"><img height="5" vspace="0" border="0" hspace="0" width="1" alt="" src="cid:~S~" /></td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
