﻿@*@using ce.InvoiceModels*@
@using System.Linq;
@model ce.InvoiceModels.Invoices
@{
    Layout = null;
    int count = 1;
    string shade = "#ebebeb";
    string noshade = "#fff";
    string ca = "(California Residents Only)";
    string mo = "(Missouri Residents Only)";
    string ia = "(Iowa Residents Only)";
    decimal total_discount = 0;
    string qty = "";
    decimal total1 = 0;
    decimal total = 0;
    decimal surcharge = 0;
}

<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CEinvoice</title>
    <link rel="stylesheet" href="https://www.cerepairs.com/css/style.cer.css" />

    @*<style type="text/css" media="screen">
            @@import url("https://www.cerepairs.com/css/style.cer.css");
        </style>*@
    <style>
        @@charset "utf-8";
        /* CSS Document */
        * {
            border: none;
            margin: 0;
            padding: 0;
            font-size: 15px;
            text-decoration: none;
            font-weight: normal;
            font-family: Arial, Helvetica, sans-serif;
        }

        html {
        }

        body {
            background: none;
        }

        strong {
            font-size: inherit;
            font-weight: bolder;
        }

        em {
            font-size: inherit;
            font-style: italic;
        }

        a:link, a:visited, a:hover, a:active {
            color: ##679cd5;
            font-weight: bold;
        }

        a:hover {
            text-decoration: underline;
        }

        .products h5 {
            border-bottom: 1px solid ##CCCCCC;
            color: ##AF292E;
            font-size: 15px;
            font-weight: bold;
            margin: 0 0 10px;
            padding: 0 0 5px;
            display: block;
        }

        .products table {
            width: 100%;
            padding: 5px;
        }

        .products th {
            color: ##999;
            background-color: ##ebebeb;
            font-weight: bold;
            vertical-align: top;
            padding: 5px;
        }

        .products table.full_cart th {
            color: ##999;
            background-color: ##ebebeb;
            font-weight: bold;
            vertical-align: top;
            padding: 5px;
        }

        .products table.full_cart td.p_tot div {
            text-align: right;
        }

        .products td {
            padding: 3px;
            text-align: left;
            vertical-align: text-top;
        }

            .products td.c_qty {
                text-align: right;
            }

        .products table.full_cart td p {
            font-weight: bold;
            text-align: left;
        }

        .products td h3 {
            font-weight: bold;
            font-size: 14px;
            text-align: center;
            padding: 10px;
        }

        .products th.thm {
            width: 100px;
        }

        .products tr.shade {
            background-color: ##ebebeb;
        }

        .products tr.noshade {
            background-color: ##fff;
        }

        .strike_disc {
            text-decoration: line-through;
        }

        .discount_amount {
            color: ##af292e;
        }

        .clear:after {
            clear: both;
            content: ".";
            display: block;
            height: 0;
            visibility: hidden;
            font-size: 0;
        }
    </style>
</head>
<body style="margin:10px 5px 5px 5px;">
    @*<body style="margin:50px 20px 20px 50px;">*@
    <div id="Payments" class="products clear" style="width:100%; text-align:center">
        @*1090px*@
        <div class="invImage" style="display:block">
            <div style="text-align:left;margin-left:10px;">
                @*<img src="https://www.cerepairs.com/images/celogo.png" />*@
                <img src="/images/CE logo-2.png" style="width:300px" />
                <div style="margin-left:10px;font-size:19px;">
                    Invoice
                </div>
            </div>
        </div>
        <div>
            <table class="products full_cart" style="width:100%;">
                <tr>
                    <td colspan="2">
                        <table>
                            <tr>
                                <td><strong>Invoice Date</strong></td>
                                <td>@DateTime.Parse(@Model.invoices.Take(1).FirstOrDefault().Invoice_Created_DTS).ToString("MM/dd/yyyy")</td>
                            </tr>
                            <tr>
                                <td><strong>Transaction ID:</strong></td>
                                <td>@Model.Invoice_Conformation_ID.ToString().ToString()</td>@*Model.Invoice_Transaction_IDToString()*@
                            </tr>
                            <tr>
                                <td><strong>Status:</strong></td>
                                <td>Paid</td>
                            </tr>
                            <tr>
                                <td><strong>Customer Name:</strong></td>
                                <td>@Model.user.Contact_FirstName @Model.user.Contact_LastName</td>
                            </tr>
                            <tr>
                                <td><strong>Company:</strong></td>
                                <td>@Model.user.Ship_Company</td>
                            </tr>
                            <tr>
                                <td><strong>Email:</strong></td>
                                <td>@Model.user.Contact_Email</td>
                            </tr>
                            <tr>
                                <td><strong>Phone:</strong></td>
                                <td>@Model.user.Contact_Phone</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <th colspan="2" style="text-align: center !important;">Bill To:</th>
                            </tr>
                            <tr>
                                <td valign="top">Address:</td>
                                <td>
                                    @Model.user.Bill_Address1
                                    @if (!string.IsNullOrEmpty(Model.user.Bill_Address2))
                                    {<br />@Model.user.Bill_Address2;
                                    }
                                    <br />@Model.user.Bill_City @Model.user.Bill_State, @Model.user.Bill_Zip, @Model.user.Bill_Country
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <th colspan="2" style="text-align: center !important;">Ship To:</th>
                            </tr>
                            <tr>
                                <td valign="top">Address:</td>
                                <td>
                                    @Model.user.Ship_Address1
                                    @if (!string.IsNullOrEmpty(Model.user.Ship_Address2))
                                    {<br />@Model.user.Ship_Address2;
                                    }
                                    <br />@Model.user.Ship_City @Model.user.Ship_State, @Model.user.Ship_Zip,@Model.user.Ship_Country
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                @*<cfset FORM.Ship_state=@Model.user.Ship_State>*@
                <!---Added to Handle Sales Tax for Missouri Residents--->
                <tr>
                    <td colspan="2">
                        <table style="width:100%;">
                            <tr style="text-align: center !important;">
                                <th colspan="5">Items Ordered</th>
                            </tr>
                            <tr>
                                <th style="width:10%"></th>
                                <th style="width:50%" align="left">Product</th>
                                <th style="width:10%" align="right">Unit Price</th>
                                <th style="width:15%" align="right">Qty</th>
                                <th style="width:15%" align="right">Extended Price</th>
                            </tr>
                            @foreach (var inv in Model.invoices)
                            {
                                if (!string.IsNullOrEmpty(@inv.Invoice_Product_UID))
                                {
                                    <tr style="background-color: @if ((count % 2) == 0)
                                    {@shade}
                                    else
                                    {@noshade};">
                                        <td>@inv.Invoice_Product_Price_Type</td>
                                        <td valign="top">
                                            <p>@inv.Invoice_Product_Description</p>
                                            <p>Part ##: @inv.Invoice_Manufacturer_Part_Number</p>
                                        </td>
                                        <td valign="top" class="p_tot">
                                            <div>$@Decimal.Round(Convert.ToDecimal(inv.Invoice_Product_Unit_Price), 2)</div>
                                        </td>
                                        @*@{
                                                qty = (Convert.ToInt32(inv.Invoice_Product_Qty) + @Convert.ToInt32(inv.Invoice_Cart_Promo_Discount)).ToString();
                                            }*@
                                        <td class="c_qty">
                                            @((Convert.ToInt32(inv.Invoice_Product_Qty) + @Convert.ToInt32(inv.Invoice_Cart_Promo_Discount)).ToString())
                                        </td>
                                        <td valign="top" class="p_tot">
                                            @if (Convert.ToDecimal(inv.Invoice_Product_Discount) != 0)
                                            {
                                                total_discount += Convert.ToDecimal(inv.Invoice_Product_Discount);
                                                <div class="strike_disc">$@Decimal.Round(Convert.ToDecimal(inv.Invoice_Product_Price), 2)</div>
                                                <div class="discount_amount">-$@Decimal.Round(Convert.ToDecimal(inv.Invoice_Product_Discount), 2)</div>
                                                <div>$@(Decimal.Round(Convert.ToDecimal(inv.Invoice_Product_Price), 2) - @Decimal.Round(Convert.ToDecimal(inv.Invoice_Product_Discount), 2))</div>
                                            }
                                            else
                                            {
                                                <div>$@Decimal.Round(Convert.ToDecimal(inv.Invoice_Product_Price), 2)</div>
                                            }
                                        </td>
                                    </tr>
                                }
                                count++;
                            }
                            @foreach (var inv in Model.invoices)
                            {
                                if (inv.Invoice_Product_Description == "Sub-Total")
                                {
                                    <tr>
                                        <td colspan="5"><div class="subtotal" style="padding:0;">Subtotal:&nbsp;<span id="subprice">$@Decimal.Round((Convert.ToDecimal(inv.Invoice_Product_Price) - total_discount), 2)</span></div></td>
                                    </tr>
                                }
                            }
                            @if (Model.user.Ship_State.ToLower() == "ca" || Model.user.Ship_State.ToLower() == "mo" || Model.user.Ship_State.ToLower() == "ia")
                            {
                                foreach (var inv in Model.invoices)
                                {
                                    if (inv.Invoice_Product_Description == "Tax")
                                    {
                                        <tr>
                                            <td colspan="5">
                                                <div class="subtotal" style="padding:0;">
                                                    Tax:&nbsp;<span id="subprice">$@Decimal.Round(Convert.ToDecimal(inv.Invoice_Product_Price), 2)</span>
                                                    <br />
                                                    @if (Model.user.Ship_State.ToLower() == "ca")
                                                    {<em style="font-size: 10px;">@ca</em>}
                                                    @if (Model.user.Ship_State.ToLower() == "mo")
                                                    {<em style="font-size: 10px;">@mo</em>}
                                                    @if (Model.user.Ship_State.ToLower() == "ia")
                                                    {<em style="font-size: 10px;">@ia</em>}
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                            @foreach (var inv in Model.invoices)
                            {
                                if (inv.Invoice_Product_Description == "Freight")
                                {
                                    <tr>
                                        <td colspan="5"><div class="subtotal" style="padding:0;">Freight:&nbsp;<span id="subprice">$@Decimal.Round(Convert.ToDecimal(inv.Invoice_Product_Price), 2)</span></div></td>
                                    </tr>
                                }
                            }
                            @foreach (var inv in Model.invoices)
                                {
                                    if (inv.Invoice_Product_Description == "surcharge")
                                    {
                                        surcharge = Decimal.Round(Convert.ToDecimal(inv.Invoice_Product_Price), 2);
                                        foreach (var inv1 in Model.invoices)
                                        {
                                            if (inv1.Invoice_Product_Description == "Grand Total")
                                            {
                                                total1 = Decimal.Round(Convert.ToDecimal(inv1.Invoice_Product_Price), 2);
                                            }
                                        }
                                        total = total1 - surcharge;
                                    <tr>
                                        <td colspan="5"><div class="subtotal" style="padding:0;">Total (product,tax,freight):&nbsp;<span id="subprice">$@total</span></div></td>
                                    </tr>
                                    <tr>
                                        <td colspan="5"><div class="subtotal" style="padding:0;">Surcharge:&nbsp;<span id="subprice">$@Decimal.Round(Convert.ToDecimal(inv.Invoice_Product_Price), 2)</span></div></td>
                                    </tr>
                                }
                            }
                            @foreach (var inv in Model.invoices)
                            {
                                if (inv.Invoice_Product_Description == "Grand Total")
                                {
                                    <tr>
                                        <td colspan="5"><div class="subtotal" style="padding:0;">Grand Total:&nbsp;<span id="subprice">$@Decimal.Round(Convert.ToDecimal(inv.Invoice_Product_Price), 2)</span></div></td>
                                    </tr>
                                }
                            }
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>
