﻿
@{
    ViewBag.Title = "Index";
}
<div style="height:50px"></div>

<h2>Product Index</h2>

<div class="products">
    <a href="/product/greatproduct" title="great product" product="GreatProduct" category="Refurbished">BUY Refurbished</a>
</div>