﻿@using cerepairs.ProductsModels
@model ProductModels.Product_dto
@{
    ViewBag.Title = "Product";
}
<div style="height:50px"></div>

<h2>Product</h2>
@if (Model.products.Count == 0)
{
    <p>Your search returned no results</p>
}
else
{
    foreach (var property in Model.products)
    {
        <br /> @property.Product_Short_Description
        if (System.IO.File.Exists(HttpContext.Current.Server.MapPath("/images/products/" + @property.Product_Image_Thum)))
        {
            <img src="/images/products/@property.Product_Image_Thum" class="p_thumb">
        }
        else
        {

        }
    }
}

<br /><br /> @Model.ProductType_Description




