﻿@using cerepairs.ProductsModels
@model ProductModels.Product_dto
@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>

@foreach (var property in Model.products)
{
    <br /> @property.Product_Short_Description
}

<br /><br /> @Model.ProductType_Description

