<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CE Repairs Offer</title>
</head>
<style type="text/css" media="all">
@import "/css/master.css";
</style>
<style>
* {
	margin:0;
	padding:0;
}
body {
	margin:0;
	padding:0;
}
div.image {
	margin:0 auto;
	display:block;
	border:0;
	width:800px;
}
</style>

<body>
<div  class="image">
<a href="http://www.cerepairs.com/half-off-aio-repairs">
<img src="./CE_Prospect_Postcard.jpg" border="0" />
</a>
</div>
</body>
</html>