﻿@using cerepairs.ProductsModels
@model ProductModels.ManufacturerProduct_dto

@{
    int count = 0;
    int itemsperpage = 6;
    int select_count = Model.manufacturerProducts.Count;
    int pages = select_count / itemsperpage + (select_count % itemsperpage > 0 ? 1 : 0);
    int page = 1;
    string hide = "hide";
    decimal price = 0;
    string showing = select_count > itemsperpage ? itemsperpage.ToString() : select_count.ToString();
    string cebatteries = "false";
    if (ViewBag.CatReq == "Batteries")
    {
        cebatteries = "true";
    }

}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript">

    var manufacturerProducts = JSON.parse('@Html.Raw(ViewBag.manufacturerProducts)');
    var filtered = JSON.parse('@Html.Raw(ViewBag.manufacturerProducts)');
    console.log(filtered)
    var page = @page;
    var itemsperpage = @itemsperpage;
    var select_count = @select_count;
    var pages = @pages;
    var cebatteries = '@cebatteries';
    $(document).ready(function () {
        if (cebatteries == 'true') {
            $('.accordion.menu .cebattery').click();
            $('.accordion.menu .cebattery2').click();
            $('.accordion.menu .cebattery3').click();
            productFilter($('.accordion.menu .cebattery'))
        }
        setTimeout(function(){
             dofilters() ;
        }, 500);
    });
    function dofilters(){
        var count = 1;
        page = 1;
        var brandfilters = '';
        var modelfilters = '';
        var conditionfilters = '';
        var accessoryfilters = '';
        var checkedLength = $('.menu.filters').find('input:checked').length;
        if (checkedLength > 0) {
            $('.menu.filters').find('input:checked').each(function () {
                if ($(this).attr('filter') == 'brand') {
                    var brand = $(this).parent().find("label a").attr('brand');//.html();
                    brandfilters += (brandfilters == '' ? '' : ',') + brand;
                }

                if ($(this).attr('filter') == 'model') {
                    var modeltype = $(this).parent().find("label a").html();
                    switch (modeltype) {
                        case 'All-in-One':
                            modelfilters += (modelfilters == '' ? '' : ',') + "'" + 'All-in-One' + "'";
                            break;
                        case 'Wired':
                            modelfilters += (modelfilters == '' ? '' : ',') + "'" + 'Corded' + "'";
                            break;
                    }
                }

                if ($(this).attr('filter') == 'accessories') {
                    var accessorytype = $(this).parent().find("label a").html().replace("Other ", "");
                    accessoryfilters += (accessoryfilters == '' ? '' : ',') + "'" + accessorytype + "'";
                }

                if ($(this).attr('filter') == 'condition') {
                    var conditonType = $(this).parent().find("label a").html();
                    switch (conditonType) {
                        case 'New':
                            conditionfilters += (conditionfilters == '' ? '' : ' and ') + 'Retail_Price > 0';
                            break;
                        case 'Refurbished':
                            conditionfilters += (conditionfilters == '' ? '' : ' and ') + 'Refurbished_Price > 0';
                            break;
                        case 'Repair':
                            conditionfilters += (conditionfilters == '' ? '' : ' and ') + 'Repair_Price > 0';
                            break;
                        case 'Advance Exchange':
                            conditionfilters += (conditionfilters == '' ? '' : ' and ') + 'Exchange_Price > 0';
                            break;
                    }
                }
            });
            var sqlQuery = 'select * from ?';
            if (brandfilters.length > 0) {
                var brandGrp = brandfilters.split(',');
                var brandsql = '';
                $.each(brandGrp, function (index, value) {
                    brandsql += (brandsql == '' ? '' : " OR ") + "Manufacturer_Name like '%" + value + "%'";
                });
                sqlQuery += (sqlQuery == 'select * from ?' ? ' where ' : '') + brandsql;//"Manufacturer_Name in (" + brandfilters + ")";
            }
            if (accessoryfilters.length > 0) {
                sqlQuery += (sqlQuery == 'select * from ?' ? ' where ' : ' and ') + "ProductType in (" + accessoryfilters + ")";
            }
            if (conditionfilters.length > 0) {
                sqlQuery += (sqlQuery == 'select * from ?' ? ' where ' : ' and ') + conditionfilters;
            }
            if (modelfilters.length > 0) {
                sqlQuery += (sqlQuery == 'select * from ?' ? ' where ' : ' and ') + "ProductType in (" + modelfilters + ")";
            }

            filtered = alasql(sqlQuery, [manufacturerProducts]);
            select_count = filtered.length;
            pages = Math.ceil(select_count / itemsperpage);// + (select_count % itemsperpage > 0 ? 1 : 0);
            $('.twelve.wide.column .grid .cell-product').addClass("hide").addClass('no-left-border').removeClass('left-border').addClass('no-bottom-border').removeClass('bottom-border');
            count = 1;
            $.each(filtered, function (i, item) {
                if (i < itemsperpage) {
                    $('.twelve.wide.column .grid .cell-product[uid=' + item.Product_UID + '][brand="' + item.Manufacturer_Name + '"]').removeClass("hide");
                    switch (count) {
                        case 1:
                        case 2:
                            $('.twelve.wide.column .grid .cell-product[uid=' + item.Product_UID + '][brand="' + item.Manufacturer_Name + '"]').removeClass('no-left-border').addClass('left-border').removeClass('no-bottom-border').addClass('bottom-border');
                            break;
                        case 3:
                            $('.twelve.wide.column .grid .cell-product[uid=' + item.Product_UID + '][brand="' + item.Manufacturer_Name + '"]').removeClass('no-bottom-border').addClass('bottom-border');
                            break;
                        case 4:
                        case 5:
                            $('.twelve.wide.column .grid .cell-product[uid=' + item.Product_UID + '][brand="' + item.Manufacturer_Name + '"]').removeClass('no-left-border').addClass('left-border');
                            break;
                    }
                    count++;
                }
            });
            pageButtons();
            $('.vstart').html(page == 1 ? '1' : ((itemsperpage * page)) - itemsperpage + 1);
            $('.vend').html(filtered.length > (itemsperpage * page) ? (itemsperpage * page) : filtered.length);
            $('.vof').html(filtered.length);
            $(window).scrollTop(0);
        }
    }
</script>
<style>
    .hide {
        display: none !important;
    }

    .accordion.menu .checkbox a {
        color: rgba(0,0,0,.87);
    }

    .no-left-border {
        border-right: none !important;
    }

    .left-border {
        border-right: 1px solid rgba(34,36,38,.15) !important;
    }

    .no-bottom-border {
        border-bottom: none !important;
    }

    .bottom-border {
        border-bottom: 1px solid rgba(34,36,38,.15) !important;
    }
</style>
<div class="proucts">
    <div class="container"><h1 itemprop="name">@ViewBag.Title</h1></div>
    <div class="layout tools container">
        <div class="info">Showing <span class="vstart">1</span>  - <span class="vend">@showing</span>  of <span class="vof">@Model.manufacturerProducts.Count.ToString()</span> Products</div>
        <div class="tools" style="display:none;">
            @if (ViewBag.Root == "Catalog")
            {
                <a href="/Catalog/@ViewBag.CatReq@if (ViewBag.Brand != "")
            {@Html.Raw("/Brand/" + ViewBag.Brand) }/">
                    <i class="th @if (ViewBag.DisplayType == "detail")
                {@Html.Raw("active") }
                else
                {@Html.Raw("list") } icon"></i>
                </a> <a href="/Catalog/@ViewBag.CatReq@if (ViewBag.Brand != "")
                {@Html.Raw("/Brand/" + ViewBag.Brand) }/List">
                    <i class="th @if (ViewBag.DisplayType == "list")
                {@Html.Raw("active") }
                else
                {@Html.Raw("list") } icon"></i>
                </a>
            }
            @if (ViewBag.Root == "Manufacturers")
            {
                <a href="/Product/@ViewBag.Manufacturer/Products/">
                    <i class="th @if (ViewBag.DisplayType == "detail")
                {@Html.Raw("active") }
                else
                {@Html.Raw("list") } icon"></i>
                </a> <a href="/Product/@ViewBag.Manufacturer/Products/List">
                    <i class="th @if (ViewBag.DisplayType == "list")
                {@Html.Raw("active") }
                else
                {@Html.Raw("list") } icon"></i>
                </a>
            }
            @if (ViewBag.Root == "ManufacturerProducts")
            {
                <a href="/Product/@ViewBag.Manufacturer/">
                    <i class="th @if (ViewBag.DisplayType == "detail")
                {@Html.Raw("active") }
                else
                {@Html.Raw("list") } icon"></i>
                </a> <a href="/Product/@ViewBag.Manufacturer/List">
                    <i class="th @if (ViewBag.DisplayType == "list")
                {@Html.Raw("active") }
                else
                {@Html.Raw("list") } icon"></i>
                </a>
            }
        </div>
    </div>
    <div class="ui vertical aligned category segment">
        <div class="ui stackable grid container">
            <div class="four wide column gray">
                @*@if (!ViewBag.Isbooglebolt)
                    {@Html.Raw("brand-link");
                    }*@
                <div class="ui fluid vertical accordion menu filters">
                    @if (ViewBag.BrandFilter)
                    {
                        <div class="item">
                            <a class="active title"><i class="dropdown icon"></i> Brand</a>
                            <div class="active content">
                                <div class="ui form">
                                    <div class="grouped fields">
                                        @if (ViewBag.CatReq == "Headsets" || ViewBag.CatReq == "Belt-Pacs" || ViewBag.CatReq == "Base-Stations" || ViewBag.CatReq == "Timers" || ViewBag.CatReq == "Headset-Systems" || ViewBag.CatReq == "Accessories" || ViewBag.CatReq == "Batteries")
                                        {
                                            <div class="field">
                                                <div class="ui checkbox">
                                                    <input type="checkbox" filter="brand" name="small"><label>
                                                        <a class="" brand="HME" href="/Catalog/@ViewBag.CatReq/Brand/HME/@if (ViewBag.DisplayType == "list")
                                                    {@Html.Raw("List") }">HME</a>
                                                    </label>
                                                </div>
                                            </div>
                                        }
                                        @if (ViewBag.CatReq == "Headsets" || ViewBag.CatReq == "Belt-Pacs" || ViewBag.CatReq == "Base-Stations" || ViewBag.CatReq == "Accessories")
                                        {
                                            <div class="field">
                                                <div class="ui checkbox">
                                                    <input type="checkbox" filter="brand" name="medium"> <label><a class="" brand="Panasonic" href="/Catalog/@ViewBag.CatReq/Brand/Panasonic/">Panasonic</a></label>
                                                </div>
                                            </div>
                                        }
                                        @if (ViewBag.CatReq == "Headsets" || ViewBag.CatReq == "Base-Stations" || ViewBag.CatReq == "Cabled-Intercoms" || ViewBag.CatReq == "Accessories" || ViewBag.CatReq == "Batteries")
                                        {
                                            <div class="field">
                                                <div class="ui checkbox">
                                                    <input type="checkbox" filter="brand" name="large"> <label><a class="" brand="3M" href="/Catalog/@ViewBag.CatReq/Brand/3M/">3M/PAR</a></label>
                                                </div>
                                            </div>
                                        }
                                        @if (ViewBag.CatReq == "Batteries")
                                        {
                                            <div class="field">
                                                <div class="ui checkbox">
                                                    <input type="checkbox" filter="brand" name="large"> <label class="cebattery"><a class="" brand="CE|3M" href="/Catalog/@ViewBag.CatReq/Brand/CE|3M/">CE|3M</a></label>
                                                </div>
                                            </div>
                                        }
                                        @if (ViewBag.CatReq == "Batteries")
                                        {
                                            <div class="field">
                                                <div class="ui checkbox">
                                                    <input type="checkbox" filter="brand" name="large"> <label class="cebattery2"><a class="" brand="CE|HME" href="/Catalog/@ViewBag.CatReq/Brand/CE|HME/">CE|HME</a></label>
                                                </div>
                                            </div>
                                        }
                                        @if (ViewBag.CatReq == "Batteries")
                                        {
                                            <div class="field">
                                                <div class="ui checkbox">
                                                    <input type="checkbox" filter="brand" name="large"> <label class="cebattery3"><a class="" brand="CE|Panasonic" href="/Catalog/@ViewBag.CatReq/Brand/CE|Panasonic/">CE|Panasonic</a></label>
                                                </div>
                                            </div>
                                        }
                                        @if (ViewBag.CatReq == "Headsets" || ViewBag.CatReq == "Cabled-Intercoms" || ViewBag.CatReq == "Accessories")
                                        {
                                            <div class="field">
                                                <div class="ui checkbox">
                                                    <input type="checkbox" filter="brand" name="x-large"> <label><a class="" brand="CE" href="/Catalog/@ViewBag.CatReq/Brand/CE/">CE</a></label>
                                                </div>
                                            </div>
                                        }
                                        @if (ViewBag.CatReq == "Timers" || ViewBag.CatReq == "Accessories")
                                        {
                                            <div class="field">
                                                <div class="ui checkbox">
                                                    <input type="checkbox" filter="brand" name="x-large"> <label><a class="" brand="Fast Track" href="/Catalog/@ViewBag.CatReq/Brand/Fast Track/">Fast Track</a></label>
                                                </div>
                                            </div>
                                        }
                                        @if (ViewBag.Printer)
                                        {
                                            <div class="field">
                                                <div class="ui checkbox">
                                                    <input type="checkbox" filter="brand" name="x-large">
                                                    <label>
                                                        <a class="" href="/Catalog/@ViewBag.CatReq/Brand/EPSON/">EPSON</a>
                                                    </label>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    @if (ViewBag.AccessoryType)
                    {
                        <div class="item">
                            <a class="active title"><i class="dropdown icon"></i> Accessory Type</a>
                            <div class="active content">
                                <div class="ui form">
                                    <div class="grouped fields">
                                        <div class="field">
                                            <div class="ui checkbox">
                                                <input type="checkbox" filter="accessories" name="x-large"> <label><a class="" href="/Catalog/@ViewBag.CatReq/Accessories/">Batteries</a></label>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <div class="ui checkbox">
                                                <input type="checkbox" filter="accessories" name="x-large"> <label><a class="" href="/Catalog/@ViewBag.CatReq/Accessories/">Battery Charger</a></label>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <div class="ui checkbox">
                                                <input type="checkbox" filter="accessories" name="x-large"> <label><a class="" href="/Catalog/@ViewBag.CatReq/Accessories/">Power Supplies</a></label>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <div class="ui checkbox">
                                                <input type="checkbox" filter="accessories" name="x-large"> <label><a class="" href="/Catalog/@ViewBag.CatReq/Accessories/">Speakers/Mics</a></label>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <div class="ui checkbox">
                                                <input type="checkbox" filter="accessories" name="x-large"> <label><a class="" href="/Catalog/@ViewBag.CatReq/Accessories/">Other Accessories</a></label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    @if (Model.productclasses != null && ViewBag.Manufacturer != "CE-Products")
                    {
                        <div class="item">
                            <a class="active title"><i class="dropdown icon"></i> Accessory Type</a>
                            <div class="active content">
                                <div class="ui form">
                                    <div class="grouped fields">
                                        @foreach (var pclass in Model.productclasses)
                                        {


                                            <div class="field">
                                                <div class="ui checkbox">
                                                    @*<input type="checkbox" filtertype="Accessory-Type" filter="@pclass.ProductClass" name="small">*@
                                                    <input type="checkbox" filtertype="@pclass.ProductClass" filter="accessories" name="small">
                                                    <label>
                                                        <a class="" href="/@ViewBag.Link_Base/@ViewBag.Manufacturer/@pclass.ProductClass/@if (ViewBag.DisplayType == "list")
                                                           {@Html.Raw("List") }">@pclass.ProductClass</a>
                                                    </label>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    @if (ViewBag.Model1)
                    {
                        <div class="item">
                            <a class="active title"><i class="dropdown icon"></i> Model</a><div class="active content">
                                <div class="ui form">
                                    <div class="grouped fields">
                                        <div class="field">
                                            <div class="ui checkbox">
                                                <input type="checkbox" name="small"> <label>X1</label>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <div class="ui checkbox">
                                                <input type="checkbox" name="medium"> <label>BAC-G</label>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <div class="ui checkbox">
                                                <input type="checkbox" name="large"> <label>SKB-A1</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    @if (ViewBag.Model2)
                    {
                        <div class="item">
                            <a class="active title"><i class="dropdown icon"></i> Model</a><div class="active content">
                                <div class="ui form">
                                    <div class="grouped fields">
                                        <div class="field @if (!ViewBag.Isbooglebolt)
                                        {@Html.Raw("brand-link");
                                        }">
                                            <div class="ui checkbox">
                                                <input type="checkbox" filter="model" name="small"><label>
                                                    <a class="" href="/Catalog/@ViewBag.CatReq/Model/All-in-One/@if (ViewBag.DisplayType == "list")
                                            {@Html.Raw("List") }">All-in-One</a>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="field @if (!ViewBag.Isbooglebolt)
                                        {@Html.Raw("brand-link");
                                        }">
                                            <div class="ui checkbox">
                                                <input type="checkbox" filter="model" name="small">
                                                <label>
                                                    <a class="" href="/Catalog/@ViewBag.CatReq/Model/Wired/@if (ViewBag.DisplayType == "list")
                                            {@Html.Raw("List") }">Wired</a>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    @if (ViewBag.Condition)
                    {
                        <div class="item">
                            <a class="active title"><i class="dropdown icon"></i> Condition</a><div class="active content">
                                <div class="ui form">
                                    <div class="grouped fields">
                                        <div class="field @if (!ViewBag.Isbooglebolt)
                                        {@Html.Raw("brand-link");
                                        }">
                                            <div class="ui checkbox">
                                                <input type="checkbox" filter="condition" name="small">
                                                <label>
                                                    <a class="" href="/Catalog/@ViewBag.CatReq/Condition/New/@if (ViewBag.DisplayType == "list")
                                            {@Html.Raw("List") }">New</a>
                                                </label>
                                            </div>
                                        </div>


                                        <div class="field @if (!ViewBag.Isbooglebolt)
                                        {@Html.Raw("brand-link");
                                        }">
                                            <div class="ui checkbox">
                                                <input type="checkbox" filter="condition" name="small">
                                                <label>
                                                    <a class="" href="/Catalog/@ViewBag.CatReq/Condition/Refurbished/@if (ViewBag.DisplayType == "list")
                                            {@Html.Raw("List") }">Refurbished</a>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="field @if (!ViewBag.Isbooglebolt)
                                        {@Html.Raw("brand-link");
                                        }">
                                            <div class="ui checkbox">
                                                <input type="checkbox" filter="condition" name="small">
                                                <label>
                                                    <a class="" href="/Catalog/@ViewBag.CatReq/Condition/Repair/@if (ViewBag.DisplayType == "list")
                                            {@Html.Raw("List") }">Repair</a>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="field @if (!ViewBag.Isbooglebolt)
                                        {@Html.Raw("brand-link");
                                        }">
                                            <div class="ui checkbox">
                                                <input type="checkbox" filter="condition" name="small">
                                                <label>
                                                    <a class="" href="/Catalog/@ViewBag.CatReq/Condition/Advance_Exchange/@if (ViewBag.DisplayType == "list")
                                            {@Html.Raw("List") }">Advance Exchange</a>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="twelve wide column">
                <div class="grid">
                    @foreach (var product in Model.manufacturerProducts)
                    {
                        price = product.Retail_Price;
                        if (product.Retail_Price > 0)
                        {
                            price = product.Retail_Price;
                        }
                        else
                        {
                            if (product.Repair_Price > 0)
                            {
                                price = product.Repair_Price;
                            }
                            else
                            {
                                if (product.Refurbished_Price > 0)
                                {
                                    price = product.Refurbished_Price;
                                }
                                else
                                {
                                    if (product.Recondition_Price > 0)
                                    {
                                        price = product.Recondition_Price;
                                    }
                                    else
                                    {

                                    }
                                }
                            }
                        }
                        <div class="cell cell-product @if (count >= itemsperpage) { @hide }" brand="@product.Manufacturer_Name" uid="@product.Product_UID" itemscope itemtype="http://schema.org/IndividualProduct">


                            <div class="ce product">
                                @*<script type="application/ld+json">
                                        {
                                        "@@context": "http://schema.org",
                                        "@@type": "Product",

                                        "image": "dell-30in-lcd.jpg",
                                        "name": "Dell UltraSharp 30\" LCD Monitor",
                                        "offers":

                                       {
                                        "@@type": "Offer",
                                        "url": "/Product/@product.Product_ID",
                                        "image": "/images/@product.ProductType_Image",
                                        "serialNumber": "22345",
                                        "price": "55.88",
                                        "category": "Headsets"
                                        }


                                        }
                                    </script>

                                    <script type="application/ld+json">
                                        {
                                        "@@context": "http://schema.org",
                                        "@@type": "Offer",
                                        "url": "/Product/@product.Product_ID",
                                        "image": "/images/@product.ProductType_Image",
                                        "serialNumber": "22345",
                                        "category": "Headsets"
                                        }
                                    </script>*@

                                <a class="ui image clink" itemprop="url" href="/Detail/Product/@product.Product_Name" uid="@product.Product_UID" brand="@product.Manufacturer_Name"><img itemprop="image" src="/images/Products/@product.Product_Image_Med" title="@product.Product_Short_Description" alt="@product.Product_Short_Description"></a>
                                <div style="display:none;" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                    <div itemprop="price">@price</div>
                                    <div itemprop="priceCurrency">@product.Currency_Code</div>
                                    <div itemprop="url" content="/Details/Product/@product.Product_Name"></div>
                                    <div itemprop="image" content="/images/@product.Product_Image_Thum"></div>
                                </div>
                                <div class="options">
                                    <a href="/Detail/Product/@product.Product_Name" class="small outline details button">View Details</a>
                                    <i style="display:none;" uid="@product.Product_UID" class="faveriate right floated circular black heart link outline icon"></i>
                                </div>
                                <div style="display:none;">
                                    <div itemprop="sku">@product.Supplier_Part_Number</div>
                                    <div itemprop="brand">@product.Manufacturer_Name</div>
                                    <div itemprop="manufacturer">@product.Manufacturer_Name</div>
                                    <div itemprop="name">@product.Product_Short_Description</div>
                                    <div itemprop="mpn">@product.Manufacturer_Part_Number</div>
                                    <div itemprop="serialNumber">@product.Manufacturer_Part_Number</div>
                                </div>
                                <div class="title" itemprop="description">@product.Product_Short_Description</div>
                                <div class="part number" itemprop="productID" content="@product.Manufacturer_Part_Number">
                                    Part#: @product.Manufacturer_Part_Number
                                </div>
                            </div>
                        </div>
                        count++;
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="pagination">
        <div class="ui basic buttons">
            @for (int i = 1; i < pages + 1; i++)
            {
                <div class="ui pbtn @if (i == page) {@Html.Raw("active");} button">@i</div>
            }
            @*<div class="ui active button">1</div>
                <div class="ui button">2</div>
                <div class="ui button">3</div>*@
        </div>
    </div>
</div>

@if (Model.ProductType_Description != null)
{
    @Html.Raw("<div style='padding-left:100px;padding-right:100px;padding-bottom:30px;'>");
    @Html.Raw(Model.ProductType_Description);
    @Html.Raw("</div>");
}

<div class="ui strip segment related-components">
    <div class="ui container">
        <div class="ui header">Related Components &amp; Accessories</div>
        <div class="ui six doubling cards">
            @foreach (var product in Model.relatedproducts)
            {
                <div class="card">
                    <div class="image">
                        <img src="/images/products/@product.Product_Image_Thum">
                    </div>
                    <div class="content"><a href="/Detail/Product/@product.Product_Name">@product.Product_Short_Description</a></div>
                </div>
            }
        </div>
    </div>
</div>

<div class="ui strip segment recently-viewed">
    <div class="ui container">
        <div class="ui header">Recently Viewed</div>
        <div class="ui six doubling cards">
            @foreach (var product in Model.recentlyviewed)
            {
                <div class="card">
                    <div class="image">
                        <img src="/images/products/@product.Product_Image_Thum">
                    </div>
                    <div class="content"><a href="/Detail/Product/@product.Product_Name">@product.Product_Short_Description</a></div>
                </div>
            }
        </div>
    </div>
</div>

