﻿<style>
    .hide {
        /*display: none;*/
    }
</style>

<div class="proucts hide">
    <div class="layout tools container"><div class="info">Showing 12 of 12 Products</div><div class="tools"><i class="th active icon"></i> <i class="th list icon"></i></div></div>

    <div class="ui vertical aligned category segment">
        <div class="ui stackable grid container">
            <div class="four wide column gray">
                <div class="ui fluid vertical accordion menu">
                    <div class="item">
                        <a class="active title"><i class="dropdown icon"></i> Brand</a>
                        <div class="active content">
                            <div class="ui form">
                                <div class="grouped fields">
                                    <div class="field">
                                        <div class="ui checkbox">
                                            <input type="checkbox" name="small"> <label>HME</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui checkbox">
                                            <input type="checkbox" name="medium"> <label>Panasonic</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui checkbox">
                                            <input type="checkbox" name="large"> <label>3M</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui checkbox">
                                            <input type="checkbox" name="x-large"> <label>CE</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui checkbox">
                                            <input type="checkbox" name="x-large"> <label>EPSON</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <a class="active title"><i class="dropdown icon"></i> Accessory Type</a>
                        <div class="active content">
                            <div class="ui form">
                                <div class="grouped fields">
                                    <div class="field">
                                        <div class="ui checkbox">
                                            <input type="checkbox" name="small"> <label>Batteries</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui checkbox">
                                            <input type="checkbox" name="medium"> <label>Battery Charger</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui checkbox">
                                            <input type="checkbox" name="large"> <label>Belt-Pac Pouches</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui checkbox">
                                            <input type="checkbox" name="x-large"> <label>Cell Phone Headset Adapter</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <a class="active title"><i class="dropdown icon"></i> Model</a><div class="active content">
                            <div class="ui form">
                                <div class="grouped fields">
                                    <div class="field">
                                        <div class="ui checkbox">
                                            <input type="checkbox" name="small"> <label>X1</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui checkbox">
                                            <input type="checkbox" name="medium"> <label>BAC-G</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui checkbox">
                                            <input type="checkbox" name="large"> <label>SKB-A1</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="twelve wide column">
                <div class="ui internally celled grid">
                    <div class="doubling three column row">
                        <div class="column">
                            <div class="ce product">
                                <a class="ui medium image" href="#"><img src="/images/cat/EOS-Battery-Charger.jpg"></a>
                                <div class="options">
                                    <a href="#" class="small outline details button">View Details</a> <a href="#" class="right floated"><i class="circular black heart link outline icon"></i></a>
                                </div>
                                <div class="title">HME EOS Battery Charge</div>
                                <div class="part number">
                                    Part#: C30002-C
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ce product">
                                <a class="ui medium image" href="#"><img src="/images/cat/EOS-Battery-Charger.jpg"></a>
                                <div class="options"><a href="#" class="small outline details button">View Details</a> <a href="#" class="right floated"><i class="circular black heart link outline icon"></i></a></div><div class="title">
                                    HME EOS Battery Charge
                                </div>
                                <div class="part number">
                                    Part#: C30002-C
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ce product">
                                <a class="ui medium image" href="#"><img src="/images/cat/EOS-Battery-Charger.jpg"></a>
                                <div class="options">
                                    <a href="#" class="small outline details button">View Details</a> <a href="#" class="right floated"><i class="circular black heart link outline icon"></i></a>
                                </div>
                                <div class="title">HME EOS Battery Charge</div><div class="part number">
                                    Part#: C30002-C
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="doubling three column row">
                        <div class="column">
                            <div class="ce product">
                                <a class="ui medium image" href="#"><img src="/images/cat/EOS-Battery-Charger.jpg"></a>
                                <div class="options">
                                    <a href="#" class="small outline details button">View Details</a> <a href="#" class="right floated"><i class="circular black heart link outline icon"></i></a>
                                </div>
                                <div class="title">
                                    HME EOS Battery Charge
                                </div>
                                <div class="part number">
                                    Part#: C30002-C
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ce product">
                                <a class="ui medium image" href="#"><img src="/images/cat/EOS-Battery-Charger.jpg"></a>
                                <div class="options">
                                    <a href="#" class="small outline details button">View Details</a> <a href="#" class="right floated"><i class="circular black heart link outline icon"></i></a>
                                </div>
                                <div class="title">HME EOS Battery Charge</div><div class="part number">
                                    Part#: C30002-C
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="ce product">
                                <a class="ui medium image" href="#"><img src="/images/cat/EOS-Battery-Charger.jpg"></a>
                                <div class="options">
                                    <a href="#" class="small outline details button">View Details</a> <a href="#" class="right floated"><i class="circular black heart link outline icon"></i></a>
                                </div>
                                <div class="title">HME EOS Battery Charge</div><div class="part number">
                                    Part#: C30002-C
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pagination">
        <div class="ui basic buttons">
            <div class="ui active button">1</div>
            <div class="ui button">2</div>
            <div class="ui button">3</div>
        </div>
    </div>
</div>

<div class="ui strip segment related-components hide">
    <div class="ui container">
        <div class="ui header">Related Components &amp; Accessories</div>
        <div class="ui six doubling cards"></div>
    </div>
</div>

<div class="ui strip segment recently-viewed hide">
    <div class="ui container">
        <div class="ui header">Recently Viewed</div>
        <div class="ui six doubling cards"></div>
    </div>
</div>
