﻿<div class="ui vertical center aligned sign segment special-offers">
    <div class="ui container">
        <div class="ui header">Sign Up for Special Email Offers</div><div class="ui stackable grid">
            <div class="thirteen wide column">
                <div class="ui form">
                    <div class="three fields input">
                        <div class="required field right-inner-addon2" style="position:relative;">
                            <i>*</i>
                            <div class="field"><input type="text" id="firstname" class="obligatory input" placeholder="First Name" /></div>
                        </div>
                        <div class="required field right-inner-addon2" style="position:relative;">
                            <i>*</i>
                            <div class="field"><input type="text" id="lastname" class="obligatory input" placeholder="Last Name" /></div>
                        </div>
                        <div class="required field right-inner-addon2" style="position:relative;">
                            <i>*</i>
                            <div class="field"><input type="text" id="email" class="obligatory input" placeholder="Email" /></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="three wide right floated column">
                <div class="captchaSpecialOffer-div" style="position:absolute; top:6px; display:none;">
                    <div class="grecaptchaSpecialOffer captcha_size" id="grecaptchaSpecialOffer"></div>
                </div>
                <div>
                    <button class="fluid ui ce button special-offers-button">Sign Up</button>
                    <div style="display:inline;">
                        <div class="SpecialOffer-spinner" style="position:relative;display:none;">
                            <div style="display:inline;position:absolute;top:-33px;left:165px;"><i class="fa fa-spinner fa-spin" style="font-size:24px"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui vertical footer segment">
    <div class="ui container">
        <div class="banner" style="display:none;"><img class="ui image" src="~/images/bnr-footer.jpg" alt="" /></div>
        <div class="logo"><img class="image" src="~/images/ce-logo-ft.png" alt="" /></div>
        <div class="ui five columns doubling grid">
            <div class="column">
                <h4 class="ui header">Why Choose CE?</h4>
                <div class="ui link list"><a class="item" href="/about-ce">About CE</a> <a class="item" href="~/about-our-repairs">About Our Repairs</a> <a class="item" href="/tech-support">Drive-Thru Repair Technical Support</a> <a class="item" href="/drive-thru-warranty-and-emas">Repair Warranty &amp; Maintenance Programs</a> <a class="item" href="/4-month-warranty">4-Month Repair Warranty</a><a class="item" href="https://www.hme.com/qsr/link/Reaffirmation_letter.pdf" target="Reaffirmation">Reaffirmation</a></div> 
            </div>
            <div class="column"><h4 class="ui header">Services</h4><div class="ui link list"><a class="item" href="/same-day-service">Same-Day Service</a> <a class="item" href="/nationwide-installation">Nationwide Installation</a> <a class="item" href="/send-in-a-repair-free-shipping">Free Inbound Shipping</a> <a class="item" href="/tech-support">Drive-Thru Repair Technical Support</a> <a class="item" href="/Protection-Plan">Drive-Thru Protection Plan</a> <a class="item" href="/advance-exchange">Advance Exchange</a></div></div><div class="column"><h4 class="ui header">Help Center</h4><div class="ui link list"><a class="item" href="https://www.hme.com/qsr/drive-thru-user-manuals/" target="_blank">User Manuals</a> <a class="item" href="/files/warranty.pdf" target="_blank">Warranty</a> <a class="item" href="/Technical-Support/">Technical Support</a> <a class="item" href="/help-center/">Help Center</a> <a class="item" href="/Drive-Thru-Repairs-Frequency-Asked-Questions/">FAQ</a></div></div>
            <div class="column">
                <h4 class="ui header">Blog</h4>
                <div class="ui link list">
                    <a class="item" href="/blog/">CE Blog</a>
                </div>
                <h4 class="ui header">Privacy</h4>
                <div class="ui link list">
                    <a class="item" href="/CA_Applicant-Notice_at_Collection.pdf" target="_blank" rel="noopener">CA Applicant Notice at Collection</a>
                </div>
                <div class="ui link list">
                    <a class="item" href="/CA_Employee-Notice_at_Collection.pdf" target="_blank" rel="noopener">CA Employee Notice at Collection</a>
                </div>
                <div class="ui link list">
                    <a class="item" href="https://www.hme.com/personal-info-request/" target="_blank">Do not sell my personal information and limit processing of sensitive information</a>
                </div>
                <div class="ui link list">
                    <a class="item" href="HME_Privacy_Statement_JANUARY_2023.pdf" target="_blank" rel="noopener">Privacy Policy</a>
                </div>
                <div class="ui link list">
                    <a class="item" href="https://www.hme.com/cookies-policy/" target="_blank" rel="noopener">Cookies Policy</a>
                </div>
            </div>
            <div class="column">
                <h4 class="ui header">Contact CE</h4><div class="ui link list">
                    <div class="item"><span class="icon"><img src="~/images/ic-bk-phone.png" /></span><div class="content">877-731-0334</div></div><div class="item"><span class="icon"><img src="~/images/ic-bk-location.png" /></span><div class="content"><a href="mailto:info@cerepairs.com">info@cerepairs.com</a></div></div><div class="item"><span class="icon"><img src="~/images/ic-bk-mail.png" /></span><div class="content">3787 Rider Trail S.<br />Earth City, MO 63045</div></div>
                    @*<div class="item"><span class="icon"><img src="~/images/ic-bk-printer.png" /></span><div class="content"><a href="">314-739-8382</a></div>*@
                </div>
            </div>
        </div>
    </div><div class="order"><div class="ui right aligned container">You can also order by phone by calling <span class="bolder nowrap">1-877-731-0334</span></div></div><div class="copyright">
        <div class="ui center aligned container">
            <div class="links"><a href="Send-In-a-Repair">Repairs</a> | <a href="help-center">Drive-Thru Help Center</a> | <a href="California_Transparency_Supply_Chains_Act_Disclosures.pdf" target="_blank">California Supply Chains Act</a> | <a href="about-ce">About CE</a></div><p>©@DateTime.Now.Year.ToString() Commercial Electronics, Inc. (CE). All Rights Reserved. <a href="/CE_Terms_and_Conditions_of_Use_Final_11_1_21.pdf" target="_blank">Terms of Use</a> | @*<a href="/CE_Online_Privacy_Policy.pdf" target="_blank">Privacy Policy</a> | <a href="/CE_Cookies_Policy.pdf" target="_blank">Cookies Policy</a>*@ | <a href="/Return_and_Refund_Policy.pdf" target="_blank">Sales and Refunds</a><br />o	All brand and product names are trademarks or registered trademarks of their respective companies. *CE is an independent manufacturer and service provider of parts and is not affiliated with or endorsed by 3M or PAR, nor are CE parts or services approved by 3M or PAR for use with 3M drive-thru systems. CE services are not covered by the 3M or PAR Manufacturer's Warranty.</p>
        </div>
    </div>
</div>
</div>
<div id="login_modal" style="display:none;position:relative;right: 200px;width: 250px;height: 330px;position: absolute;top: 200px;border: 1px solid gray;background-color: #fff;">
    <div onclick="$('#login_modal').hide();" style="position: relative;float: right;margin: 5px 5px 0px 0px;cursor: pointer;">X</div>
    <div class="col-centered container-login-small animated fadeInDown" style="margin-top: 30px;">
        <div class="col-lg-12 col-centered">
            <div class="form-group" style="text-align: center;">
                <div class="col-lg-12" style="padding-left: 25px;">
                    <div class="login-logo">
                        <img src="/images/celogo.png" alt="HME" style="width:220px">
                    </div>
                </div>
                <div class="col-lg-12 col-min-pad login_error" style="color:red;height:30px;">

                </div>
                <div class="form-group">
                    <div class="col-lg-12 col-min-pad">
                        <input class="form-control json-username" data-val="true" data-val-required="The Email field is required." id="Username" name="Username" placeholder="Username" type="text" value="">
                        <span class="field-validation-valid text-danger" data-valmsg-for="Username" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12 col-min-pad">
                        <input class="form-control json-password" data-val="true" data-val-required="The Password field is required." id="Password" name="Password" placeholder="Password" type="password">
                        <span class="field-validation-valid text-danger" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12 col-min-pad">
                        <button id="json_login" class="btn btn-primary form-control">Login</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12 login-copy" style="font-size: 10px;">
                        ©2016 HM Electronics, Inc., all rights reserved.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src='https://www.google.com/recaptcha/api.js?onload=SpecialOfferCallback&render=explicit' async defer></script>
<script>
    var recaptcha2
    var SpecialOfferCallback = function () {
        //Render the g-recaptcha on the element with ID "recaptcha1"
        recaptcha2 = grecaptcha.render('grecaptchaSpecialOffer', {
            'sitekey': '6LcliTgUAAAAADO_R8ODCtFuMPvEoGNLFDB-fYc7', //Replace this with your Site key
            'callback': grecaptchaSpecialOfferCallback,
            'theme': 'light'
        });
        //    $('.captcha_size').find('iframe').attr('height', '68px');
        //    //$('.captcha_size').find('iframe').attr('width', '180px');

    };
    var grecaptchaSpecialOfferCallback = function (response) {
        if (response != '') {
            $('.special-offers .special-offers-button').show();
            $('.captchaSpecialOffer-div').hide();
            $('.special-offers .special-offers-button').click();
        }
    };

</script>

@*<script async src="https://www.googletagmanager.com/gtag/js?id=UA-20995670-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-20995670-1');
    </script>*@

