﻿@{ 
    var nopadding = "padding:0px;";
}

           <!-- <div class="container nav-container container-xl"> -->

<!-- Google tag (gtag.js) -->


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-20995670-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-20995670-1');
</script>


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SX98DNNP11"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SX98DNNP11');
</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=AW-1000449060"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-1000449060');
</script>





<div id="mobile-hd">
    <div class="container nav-container">
        <a class="nav-toggle left-nav-toggle" href="#">
            <div class="hbr-icon">
                <div class="hbr-line"></div>
                <div class="hbr-line"></div>
                <div class="hbr-line"></div>
            </div>
        </a>

        <a class="nav-logo left-nav-logo" href="/"><img src="/images/ce-logo-inv-mobile.png" alt="CE Repairs Logo" class="img-responsive" /></a>

        <div class="mobile-icons push-right">
            @*<a class="acc-toggle hd-icon" href="#">
                <div class="xx"><i class="user icon"></i></div>
            </a>*@
            <a class="hd-icon left-border" href="/cart/">
                <div class="xx">
                    <i class="cart icon"></i>
                    <div class="@if (Session["CartActive"] != null){@Session["CartActive"].ToString()} badge cart-badge">
                        @if (Session["CartCount"] != null)
                        {@Session["CartCount"].ToString()}
                    </div>
                </div>
            </a>
        </div>


        <!-- Main Menu -->
        <div class="mn-main-menu">
            <div class="mn-cont">
                <nav>
                    <div class="mn-main-nav">
                        <a class="mn-link" href="/Catalog/HeadSets/">Headsets</a>
                        <a class="mn-link" href="/Catalog/Belt-Pacs/">Belt-Pacs</a>
                        <a class="mn-link" href="/Catalog/Base-Stations/">Base Stations</a>
                        <a class="mn-link" href="/Catalog/Accessories/">Accessories</a>
                        <a class="mn-link" href="/Catalog/Headset-Systems/">Headset Systems</a>
                        <a class="mn-link" href="/Catalog/Timers/">Timers</a>
                        <a class="mn-link" href="/Catalog/Cabled-Intercoms/">Cabled Intercoms</a>
                        <div class="mn-btn"><a href="/Special-Offers/"><i class="tag icon"></i> Special Offers</a></div>
                        <div class="mn-btn"><a href="/Send-In-a-Repair/"><i class="truck icon"></i> Send In a Repair</a></div>
                    </div>
                    <!-- <div class="mn-link mn-next border-top" data-target-id="submenu2"> Products </div> -->
                    <div class="mn-link mn-next" data-target-id="sm-acc"> My Account</div>
                    <div class="mn-link mn-next" data-target-id="sm-help"> Help Center </div>
                    <a class="mn-link" href="/Contact/">Contact</a>
                    <a class="mn-link" href="/about-ce/">About</a>
                </nav>
            </div>
        </div>
        <div class="mn-submenus">
            <!-- Contact SubMenu -->
            <div id="sm-acc" class="mn-submenu">
                <nav>
                    <div class="mn-link mn-prev">Main Menu</div>
                    <div class="mn-link mn-close">Close Menu</div>
                    @*<div class="mn-title">My account</div>
                        <a href="/contact/" class="mn-link">Orders</a>
                        <a href="/qsr/contact/" class="mn-link" target="_blank" rel="noopener">Profile</a>
                        <a href="http://www.clearcom.com/contact/" class="mn-link" target="_blank" rel="noopener">Whishlist</a>
                        <a href="http://www.jtech.com/contact-jtech/" class="mn-link" target="_blank" rel="noopener">Log out</a>*@
                </nav>
            </div>
            <!-- Products SubMenu -->
            <div id="submenu2" class="mn-submenu">
                <nav>
                    <div class="mn-link mn-prev">Main Menu</div>
                    <div class="mn-title">Products</div>
                    <a class="mn-link" href="/Catalog/HeadSets/">Headsets</a>
                    <a class="mn-link" href="/Catalog/Belt-Pacs/">Belt-Pacs</a>
                    <a class="mn-link" href="/Catalog/Base-Stations/">Base Stations</a>
                    <a class="mn-link" href="/Catalog/Accessories/">Accessories</a>
                    <a class="mn-link" href="/Catalog/Headset-Systems/">Headset Systems</a>
                    <a class="mn-link" href="/Catalog/Timers/">Timers</a>
                    <a class="mn-link" href="/Catalog/Cabled-Intercoms/">Cabled Intercoms</a>
                </nav>
            </div>
            <!-- Products SubMenu -->
            <div id="sm-help" class="mn-submenu">
                <nav>
                    <div class="mn-link mn-prev">Main Menu</div>
                    <div class="mn-title">Help Center</div>
                    <a class="mn-link" href="https://www.hme.com/qsr/drive-thru-user-manuals/" target="_blank">User Manuals</a>
                    <a class="mn-link" href="/files/warranty.pdf" target="_blank">Warranty</a>
                    <a class="mn-link" href="/Technical-Support/">Technical Support</a>
                    <a class="mn-link" href="/help-center/">Help Center</a>
                    <a class="mn-link" href="/Drive-Thru-Repairs-Frequency-Asked-Questions/">FAQ</a>
                </nav>
            </div>
        </div>
    </div>
    <div class="container hd-search">
        <div class="ui fluid action input">
            <input type="text" placeholder="Search..." />
            <button class="ui icon button">
                <i class="search icon"></i>
            </button>
        </div>
    </div>
</div>

<nav id="desktop-hd">
    <div class="sec-nav">
        <div style="color: red; font-size: 16px; padding-left: 40px; text-align: right; width: 100%;">Effective 6/15/2022 a 3.0% credit card charge will be added to all credit card payments only.</div>
        <div class="container">
            <div class="dn-dropdown push-right">
                <div class="dn-label">Why Choose CE? <i class="chevron down icon"></i></div>
                <div class="dn-options dn-options-wider">
                    <a class="dn-option" href="/about-ce">About CE</a>
                    <a class="dn-option" href="/about-our-repairs">About Our Repairs</a>
                    @*<a class="dn-option" href="/Factory-Authorized-Repairs">Factory-Authorized Repairs</a>
                    <a class="dn-option" href="/same-day-service">Same-Day Service</a>
                    <a class="dn-option" href="/nationwide-installation">Nationwide Installation</a>*@
                    <a class="dn-option" href="/send-in-a-repair-free-shipping">Free Inbound Shipping</a>
                    <a class="dn-option" href="/tech-support">Drive-Thru Repair Technical Support</a>
                    @*<a class="dn-option" href="/drive-thru-warranty-and-emas">Repair Warranty &amp; Maintenance Programs</a>*@
                    <a class="dn-option" href="/4-month-warranty">4-Month Repair Warranty</a>
                    <a class="dn-option" href="/Protection-Plan">Drive-Thru Protection Plan</a>
                    @*<a class="dn-option" href="/advance_exchange">Advance Exchange</a>*@
                </div>
            </div>
            <div class="dn-dropdown">
                <div class="dn-label">Services <i class="chevron down icon"></i></div><div class="dn-options dn-options-wider">
                    @*<a class="dn-option" href="/about-ce">About CE</a>
                    <a class="dn-option" href="/about-our-repairs">About Our Repairs</a>*@
                    <a class="dn-option" href="/Factory-Authorized-Repairs">Factory-Authorized Repairs</a>
                    <a class="dn-option" href="/same-day-service">Same-Day Service</a>
                    <a class="dn-option" href="/nationwide-installation">Nationwide Installation</a>
                    @*//<a class="dn-option" href="/send-in-a-repair-free-shipping">Free Inbound Shipping</a>
                    //<a class="dn-option" href="/tech-support">Drive-Thru Repair Technical Support</a>*@
                    <a class="dn-option" href="/drive-thru-warranty-and-emas">Repair Warranty &amp; Maintenance Programs</a>
                    @*//<a class="dn-option" href="/4-month-warranty">4-Month Repair Warranty</a>
                    //<a class="dn-option" href="/Protection_Plan">Drive-Thru Protection Plan</a>*@
                    <a class="dn-option" href="/advance-exchange">Advance Exchange</a>
                </div>
            </div>

            @*<a class="item" href="/about/">Services</a>*@
            <div class="dn-dropdown">
                <div class="dn-label">
                    Help Center <i class="chevron down icon"></i>
                </div>
                <div class="dn-options">
                    <a class="dn-option" href="https://www.hme.com/qsr/drive-thru-user-manuals/" target="_blank">User Manuals</a>
                    <a class="dn-option" href="/files/warranty.pdf" target="_blank">Warranty</a> <a class="dn-option" href="/Technical-Support/">Technical Support</a> <a class="dn-option" href="/help-center/">Help Center</a> <a class="dn-option" href="/Drive-Thru-Repairs-Frequency-Asked-Questions/">FAQ</a>
                </div>
            </div>
            <a class="item" href="/blog/">Blog</a> <a class="item" href="/Contact/">Contact</a>
        </div>
    </div>
    <div class="mid-content">
        <div class="container">

            <div class="cell cell-logo">
                <div class="cell-cont">
                    <a class="nav-logo-inv" href="/"><img src="/images/ce-repairs-logo-m.png" alt="CE Repairs Logo" /></a>
                    <a class="nav-logo" href="/"><img src="/images/ce-repairs-logo.png" alt="CE Repairs Logo" /></a>
                </div>
            </div>

            <div class="cell cell-search">
                <div class="cell-cont ">
                    <div class="ui fluid action input">
                        <input class="search-text" type="text" placeholder="Search... Minimum 2 Characters" />
                        <button class="ui icon button search-btn">
                            <i class="search icon"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="cell cell-nav-tools">
                <div class="cell-cont cell-icons right-aligned">
                    <a class="hd-phone" href="/contact/">
                        <div>877-731-0334</div>
                    </a>
                    <div class="dn-dropdown dn-dropdown-icon" style="display:none;">
                        <div class="dn-label hd-icon">
                            <div>
                                <i class="user icon"></i>
                            </div>
                        </div>
                        <div class="dn-options">
                            @if (User.Identity.IsAuthenticated)
                            {
                                if (ViewBag.isAdmin != null && ViewBag.isAdmin)
                                {
                                    <a class="dn-option" href="/UserManagement/">User Management</a>
                                }
                                @*if (ViewBag.isUser)
                                    {
                                        <a class="dn-option" href="/UserManagement/MyAccount/">My Account</a>
                                    }*@
                                <a class="dn-option" href="/Security/LogOff">Log Out</a>
                            }
                            else
                            {
                                @*<a class="dn-option" href="/security/login/">Log In</a>*@
                                <a class="dn-option" href="#" onclick="$('#login_modal').show();">Log In</a>
                            }
                        </div>
                    </div>
                    <a class="hd-icon" href="/cart">
                        <div>
                            <i class="cart icon hidden"></i>
                            <div class="@if(Session["CartActive"] != null){@Session["CartActive"].ToString()} badge cart-badge">
                                @if (Session["CartCount"] != null)
                                {@Session["CartCount"].ToString()}
                            </div>
                        </div>
                    </a>
                    @*<div class="hd-button red-btn"><i class="truck icon"></i> Send In a Repair</div>*@
                    <a class="hd-button red-btn" href="/Send-In-a-Repair/">
                        <div class="dn-label">
                            <i class="truck icon"></i> Send In a Repair
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
    <div class="main-nav">
        <div class="container">
            <a class="dn-link" href="/Catalog/HeadSets/@if (ViewBag.DisplayType != null && ViewBag.DisplayType == "list") {@Html.Raw("List") }">
                <div class="dn-label">Headsets</div>
            </a>
            <a class="dn-link" href="/Catalog/Belt-Pacs/@if (ViewBag.DisplayType != null && ViewBag.DisplayType == "list") {@Html.Raw("List") }">
                <div class="dn-label">Belt-Pacs</div>
            </a>
            <a class="dn-link" href="/Catalog/Base-Stations/@if (ViewBag.DisplayType != null && ViewBag.DisplayType == "list") {@Html.Raw("List") }">
                <div class="dn-label">Base Stations</div>
            </a>
            <a class="dn-link" href="/Catalog/Accessories/@if (ViewBag.DisplayType != null && ViewBag.DisplayType == "list") {@Html.Raw("List") }">
                <div class="dn-label">Accessories</div>
            </a>
            <a class="dn-link" href="/Catalog/Headset-Systems/@if (ViewBag.DisplayType != null && ViewBag.DisplayType == "list") {@Html.Raw("List") }">
                <div class="dn-label">Headset Systems</div>
            </a>
            <a class="dn-link" href="/Catalog/Timers/@if (ViewBag.DisplayType != null && ViewBag.DisplayType == "list") {@Html.Raw("List") }">
                <div class="dn-label">Timers</div>
            </a>
            <a class="dn-link" href="/Catalog/Cabled-Intercoms/@if (ViewBag.DisplayType != null && ViewBag.DisplayType == "list") {@Html.Raw("List") }">
                <div class="dn-label">Cabled Intercoms</div>
            </a>
            <a class="dn-link push-right left-border" href="/Special-Offers/">
                <div class="dn-label"><i class="tag icon"></i> Special Offers</div>
            </a>
            <a class="dn-link left-border red-btn" href="/Send-In-a-Repair/">
                <div class="dn-label">
                    <i class="truck icon"></i> Send In a Repair
                </div>
            </a>
        </div>
    </div>
</nav>
