﻿
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- Google Tag Manager -->
    <script>
    (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PQ6C89L');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    @*<title>Drive-Thru Repair, Drive-Thru Headset Repair, Drive-Thru Repairs | CE</title>*@
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta name="keywords" content="@if (ViewBag.Meta_Keywords == null) {@Html.Raw("HME, Panasonic, Drive-thru, communications, electronics"); } else {@Html.Raw(ViewBag.Meta_Keywords); }" />
    <meta name="description" content="@if (ViewBag.Meta_Description == null) {@Html.Raw("The leader in drive-thru repair for over 40 years. Trained technicians specialize in drive-thru headset repair and timer repair for HME and Panasonic."); } else { @Html.Raw(ViewBag.Meta_Description); }" />
    <meta name="google-site-verification" content="qNustrU4FhOPARRyL8qWpr9qX61aX0PHpUA43vkvagM" />
    <meta name="robots" content="index,follow" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <title>
        @if (ViewBag.Title != null)
        {@ViewBag.Title;
    }
</title>
<link rel="apple-touch-icon" href="~/apple-touch-icon.png" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="~/css/main.css" />
@*<link rel="stylesheet" href="~/css/login.css" />*@
<link rel="stylesheet" href="/css/jquery.cookieBar.css" />
@*@Styles.Render("~/bundles/static")*@
@Scripts.Render("~/bundles/jquery")

<style>
    .asterisk_input:after {
        /*left: 25px;*/
        content: "*";
        color: #e32;
        /*position: absolute;*/
        float: left;
        margin: 10px 0px 0px -12px;
        font-size: 17px;
        padding: 0 5px 0 0;
    }

    .asterisk_input_select:after {
        /*left: 25px;*/
        content: "*";
        color: #e32;
        /*position: absolute;*/
        float: left;
        margin: 0px 0px 0px -30px;
        font-size: 17px;
        padding: 0 5px 0 0;
    }

    .red-border {
        border-bottom-color: red !important;
    }

    .pop-msg2 {
        position: absolute;
        color: #337ab7;
        font-size: 15px;
        text-align: left;
        z-index: 999;
        background-color: #fff;
        border: solid 1px #337ab7;
        padding: 5px 5px 5px 5px;
    }

    .pop-msg4 {
        position: absolute;
        color: #337ab7;
        font-size: 15px;
        text-align: left;
        z-index: 999;
        background-color: #fff;
        border: solid 1px #337ab7;
        padding: 5px 5px 5px 5px;
    }
</style>
<style>
    .right-inner-addon i {
        position: absolute;
        /*right: 0px;*/
        padding: 10px 0px;
        pointer-events: none;
        color: red;
    }

    .right-inner-addon2 i {
        position: absolute;
        left: 0;
        padding: 10px 10px;
        pointer-events: none;
        color: red;
    }

    .right-inner-addon-select {
        position: absolute !important;
        left: 0;
        pointer-events: none;
        color: red;
    }

    .right-inner-addon-single {
        position: absolute !important;
        left: 0;
        pointer-events: none;
        color: red;
        padding: 10px;
    }

    .required-astric {
        color: red;
    }
</style>
<script type="application/ld+json">
    {
    "@@context": "https://schema.org",
    "@@type": "Corporation",
    "url": "https://cerepairs.com",
    "logo": "https://cerepairs.com/images/ce-repairs-logo.png",
    "name": "CE Repairs.",
    "contactPoint":
    {
    "@@type": "ContactPoint",
    "telephone": "+1877-731-0334",
    "contactType": "Customer Service Sales Repair"
    }
    }
</script>
<script type="text/javascript">
    setInterval(function () {
        $.ajax({
            type: "POST",
            url: '/home/keepalive',
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        });
    }, 60000 * 5);

</script>
<style>
    .a {
        cursor: pointer;
    }

    .right-inner-addon i {
        position: absolute;
        /*right: 0px;*/
        padding: 10px 0px;
        pointer-events: none;
        color: red;
    }

    .right-inner-addon-select {
        position: absolute !important;
        left: 0;
        pointer-events: none;
        color: red;
    }

    .right-inner-addon-single {
        position: absolute !important;
        left: 0;
        pointer-events: none;
        color: red;
        padding: 10px;
    }

    .required-astric {
        color: red;
    }
</style>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src=https://www.googletagmanager.com/ns.html?id=GTM-PQ6C89L
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->


    <div itemscope="itemscope" url="https://www.cerepairs.com" itemtype="http://schema.org/Corporation">
        <header class="nav-down" style="z-index:99999;">
            @{Html.RenderPartial("_header");}
        </header>
        @if (ViewBag.breadcrum_current != null)
        {
            <div class="breadcrums segment">
                <div class="container"><a href="/">Home</a>&nbsp;/&nbsp;<span class="current"> @ViewBag.breadcrum_current</span></div>
            </div>
        }
        <div class="body-content">
            @RenderBody()
        </div>
        @{Html.RenderPartial("_footer");}

        <script src="https://www.google-analytics.com/analytics.js"></script>
        @*<script>
                (function (b, o, i, l, e, r) {
                    b.GoogleAnalyticsObject = l; b[l] || (b[l] =
                    function () { (b[l].q = b[l].q || []).push(arguments) }); b[l].l = +new Date;
                    e = o.createElement(i); r = o.getElementsByTagName(i)[0];
                    e.src = 'https://www.google-analytics.com/analytics.js';
                    r.parentNode.insertBefore(e, r)
                }(window, document, 'script', 'ga'));
                ga('create', 'UA-XXXXX-X'); ga('send', 'pageview');
            </script>*@
        <script src="/Scripts/vendor.js"></script>
        <script src="/Scripts/mainStaticPages.js"></script>
        @if (ViewBag.survey == null)
        {
            <script src="/Scripts/cerepairs.js"></script>
        }
        else
        {
            <script src="/Scripts/survey.js"></script>
        }
        <script src="/Scripts/jqueryPrint.js"></script>
        <script src="~/Scripts/jquery.cookieBar.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $.cookieBar();
            });
        </script>
        @RenderSection("scripts", required: false)
    </div>
    <div style="display:none;">
        <form class="hide search-form" method="post" action="/Search">
            <input type="text" id="searchText" name="searchText" />
            <input type="text" id="list" name="list" value="@if (ViewBag.DisplayType != null && ViewBag.DisplayType == "list"){@Html.Raw("List") }" />
        </form>
    </div>
</body>
</html>
