﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Description" content="">
    <meta name="Keywords" content="">
    <meta name="format-detection" content="telephone=no">
    <title>@ViewBag.Title</title>

    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/customerservice/main.css">
    <link rel="stylesheet" href="~/Content/customerservice/animate.css">
    <link rel="stylesheet" href="~/Content/customerservice/dropdown.css">
    <link rel="stylesheet" href="~/Content/customerservice/tracking.css">
    <link rel="stylesheet" href="~/Content/customerservice/jquery.cookieBar.css">

    @*@Styles.Render("~/Content/Login")*@
    <style>
        .cookie-bar__inner {
            font-size: 1.4rem;
        }

        .navbar .navbar-brand.navbar-logo .ce-logo-cont {
            background: url(/images/ce.png);
            background-size: contain;
            background-repeat: no-repeat;
            height: 38px;
        }

        .content-login {
            display: table-cell;
            vertical-align: top;
        }
    </style>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-20995670-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src=https://www.googletagmanager.com/ns.html?id=GTM-PQ6C89L
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->


    <nav class="navbar navbar">
        <div class="container">
            <div class="container-fluid">
                <div class="navbar-header col-lg-6 col-md-6 col-sm-4 no-pad">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-10 no-pad">

                        <a class="navbar-brand navbar-logo ce-logo" href="/" style="max-width:95px;"><div class="ce-logo-cont">&nbsp;</div></a>

                        <a class="navbar-brand hidden-xs hidden-sm" href="#" style="padding-left:0px;">Customer Service Portal</a>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-0 col-xs-2 no-pad">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                </div>
                <div class="collapse navbar-collapse col-lg-6 col-md-6 col-sm-6 col-xs-12 hme-menu" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">

                        @*<li><a href="./?pg=Customers">Customers</a></li>

                            <li><a href="./?pg=Orders">Orders</a></li>

                            <li><a href="./?pg=Invoices">Invoices</a></li>

                            <li><a href="http://customerserviceehme.hme.com/ehme/Inquiry/RmaExchangesView.aspx?custid=238860,238703,238725,238706,238706,178892,238792,236651,238929,238778,238696" target="_blank">RMA</a></li>*@
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><span class="glyphicon glyphicon-cog hidden-xs"></span><span class="glyphicon glyphicon-triangle-bottom visible-xs"></span></a>
                            <ul class="dropdown-menu">
                                @if (ViewBag.isAdmin)
                                {
                                    <li><a href="/UserManagement/">User Management</a></li>
                                }
                                @if (ViewBag.isUser)
                                {
                                    <li>
                                        <a class="dn-option" href="/UserManagement/MyAccount/">My Account</a>
                                    </li>
                                }

                                <li><a href="/Security/LogOff">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container container-main">
        <div id="Content">
            @RenderBody()
            @*@Scripts.Render("~/bundles/Login")*@
            @RenderSection("scripts", required: false)
            @*<script>
                    $(document).ready(function () {
                        $(function () {
                            $.cookieBar({ infoLink: "https://www.cerepairs.com/CE_Cookies_Policy.pdf", infoTarget: "_blank", style: "bottom", expireDays: 365 })
                        });
                    });
                </script>
                <script>
                    $(document).ready(function () {
                        $('.companies').material_select();

                        $("[data-toggle=tooltip").tooltip();
                    });
                </script>*@

            <div class="text-center" style="font-size:1rem;margin-top:-30px;">
                <p>
                    <a href="https://www.hme.com/terms-and-conditions/" target="_blank">Terms of Use</a>
                    <span class="spacer">|</span>
                    <a href="https://www.cerepairs.com/CE_Online_Privacy_Policy.pdf" target="_blank">Privacy Policy</a>
                    <span class="spacer">|</span>
                    <a href="https://www.cerepairs.com/CE_Cookies_Policy.pdf" target="_blank">Cookies Policy</a>
                    <div onclick="tracking_history('999999');event.stopPropagation();">Tracking</div>

                </p>
            </div>
        </div>
    </div>
    <div id="trackingModal" class="modal fade" role="dialog">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <!-- Carrier Tracking Modal content-->
                <div class="modal-content">
                    <div id="tracking_header" class="modal-header">
                        <h4 class="modal-title"><span class="glyphicon glyphicon-info-sign"></span> <span id="trackingHeader"></span></h4>
                    </div>
                    <div class="modal-body text-center" style="padding:15px 25px 0px 25px;">
                        <div id="tracking_number_dropdown_container" class="row" style="padding-bottom:10px;">
                            <select onChange="tracking_dropdown_selected(this);"
                                    class="form-control tracking-number-dropdown">
                                <option selected disabled>Select Tracking Number</option>
                            </select>
                        </div>
                        <div id="tracking_history_container" class="row">
                            <div class="alert alert-info text-center col-xs-12 tracking-status" style="margin-bottom:0;text-transform: uppercase;">
                                <div class="col-xs-6" style="height:100%;">
                                    <div id="tracking_status_left"></div>
                                </div>
                                <div id="tracking_status_right" class="col-xs-6"></div>
                            </div>
                            <div class="col-xs-12" style=" min-height:20px;">
                                <div class="tracking-activities" style="display:none;overflow:auto">
                                    <ul id="trackingHistory" class="tracking-activities_list"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="trackingModalHistoryBtn" type="button" class="btn btn-info" onclick="toggleTrackingHistory($(this));">Show History</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

