﻿<!DOCTYPE html>
<html>
<head>
    <!-- Google Tag Manager -->
    <script>
    (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PQ6C89L');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HME Login</title>
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    @*<link rel="stylesheet" href="/css/main.css" />*@

    @Styles.Render("~/Content/Login")
    <style>
        .cookie-bar__inner {
            font-size: 1.4rem;
        }

        .navbar .navbar-brand.navbar-logo .ce-logo-cont {
            background: url(/images/ce.png);
            background-size: contain;
            background-repeat: no-repeat;
            height: 38px;
        }

        .content-login {
            display: table-cell;
            vertical-align: top;
        }
    </style>
    @*<script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-20995670-1', 'auto');
            ga('send', 'pageview');
        </script>*@
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src=https://www.googletagmanager.com/ns.html?id=GTM-PQ6C89L
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->


    <nav class="navbar navbar">
        <div class="container">
            <div class="container-fluid">
                <div class="navbar-header col-lg-6 col-md-6 col-sm-4 no-pad">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-10 no-pad">

                        <a class="navbar-brand navbar-logo ce-logo" href="/home" style="max-width:95px;"><div class="ce-logo-cont">&nbsp;</div></a>

                        <a class="navbar-brand hidden-xs hidden-sm" href="./Login" style="padding-left:0px;">Customer Service Portal</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container container-table container-mob">
        <div id="Content" class="content-login">
            @RenderBody()
            @Scripts.Render("~/bundles/Login")
            @RenderSection("scripts", required: false)
            @*<script>
                    $(document).ready(function () {
                        $(function () {
                            $.cookieBar({ infoLink: "https://www.cerepairs.com/CE_Cookies_Policy.pdf", infoTarget: "_blank", style: "bottom", expireDays: 365 })
                        });
                    });
                </script>
                <script>
                    $(document).ready(function () {
                        $('.companies').material_select();

                        $("[data-toggle=tooltip").tooltip();
                    });
                </script>*@

            <div class="text-center" style="font-size:1rem;margin-top:-30px;">
                <p>
                    <a href="https://www.hme.com/terms-and-conditions/" target="_blank">Terms of Use</a>
                    <span class="spacer">|</span>
                    <a href="https://www.cerepairs.com/CE_Online_Privacy_Policy.pdf" target="_blank">Privacy Policy</a>
                    <span class="spacer">|</span>
                    <a href="https://www.cerepairs.com/CE_Cookies_Policy.pdf" target="_blank">Cookies Policy</a>
                </p>
            </div>
        </div>
    </div>

</body>
</html>
