﻿@using cerepairs.HomeModel
@model ContactInfoDTO
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ContactEmail</title>
    <style>
        img-size{
            height:20px;
            width:auto;
            display:none;
        }
    </style>
</head>
<body>

    <div>
        First Name : @Model.firstname
    </div>
    <div>
        Last Name : @Model.lastname
    </div>
    <div>
        Phone Number : @Model.phonenumber
    </div>
    <div>
        Email : @Model.email
    </div>    
    <div>
        Address : @Model.address @Model.city, @Model.state @Model.zip
    </div>
    <div>
        Comments :
    </div>
    <div>
        <textarea style="border:5px solid red">@Model.comments</textarea>
       @*@Model.comments.Replace("\n", "")*@
    </div>
</body>
</html>
