﻿@using cerepairs.HomeModel
@model SignUpDTO
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Email Special Offer</title>
</head>
<body>

    <div>
        First Name : @Model.firstname
    </div>
    <div>
        Last Name : @Model.lastname
    </div>
    <div>
        Email : @Model.email
    </div>
</body>
</html>
