﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InternetExplorer</title>
</head>
<body>
    <div> 
        You Browser is incompatible with this site.  Click <a href="https://www.microsoft.com/en-us/edge">here</a> to upgrade to Microsoft Edge.
    </div>
</body>
</html>
