﻿
    <div class="offers"><a href="/epson"><img src="/images/epson-receipt-printer-repair-sidebar.jpg"></a></div>
    <div class="offers"><a href="/js/requestinfo.cfm?rl=www.cerepairs.com&amp;rs=CE Sign Up For Special Offers&amp;rt=cer" target="emailblastform" id="blast" class="cboxElement"><img src="~/images/signup_optin.png"></a></div>
    <div class="offers"><a href="/Protection-Plan"><img src="/images/protection-plan-ad.jpg"></a></div>
    <div class="offers"><a href="/freebattery"><img src="./images/promos//PCBATW.jpg"></a></div>
    <div class="offers">
        <div class="textoffer_top"></div>
        <div class="textoffer">
            <div class="offer_text">
                <p>Free Shipping On All Inbound Repairs</p>
                <p><a href="Send-In-a-Repair">Learn More</a></p>
            </div>
            <div class="offer_text">
                <p>Can't Wait for the Repair? Advance Exchange Available</p>
                <p><a href="/advance-exchange">Learn More</a></p>
            </div>
            <div class="offer_text">
                <p>Same Day Repair Service or it's Free</p>
                <p><a href="/same-day-service">Learn More</a></p>
            </div>
            <div class="offer_text" style="border:none;">
                <p>Free, Live Tech Support on All Brands &amp; Models</p>
                <p><a href="/tech-support">Learn More</a></p>
            </div>
        </div>
        <div class="textoffer_bot"></div>
    </div>

