﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SafariWindows</title>
</head>
<body>
    <div> 
        This site does not support Apple Safari running on Windows
    </div>
</body>
</html>
