﻿@using cerepairs.DetailsModels
@model DetailModels.ProductDetail_dto
@{
    Layout = "~/Views/Shared/_LayoutStaticPages.cshtml";
}

<div class="ui breadcrums segment">
    <div class="container">
        <div class="container"><a href="/">Home</a>&nbsp;/&nbsp;<span class="current"> About CE</span></div>
    </div>
</div>
<div>
    <div class="ui masthead segment">
        <div class="banner">
            <picture>
                <source media="(max-width: 767px)"
                        type="image/webp"
                        srcset="/images/banners/about-ce-m.jpg" /> 
                <source media="(min-width: 768px)"
                        type="image/jpg"
                        srcset="/images/banners/about-ce.jpg" />
                <img src="/images/banners/about-ce.jpg"
                     alt=""
                     class="img-cover" />
            </picture>
            <div class="vertical centered container">
                <div class="header">
                    <div class="medium bolder black text">About CE</div>
                </div>
            </div>
        </div>




    </div>


    <!-- ICON SECTION -->
    <div class="ui vertical icon segment">
        <div class="ui centered grid container">
            <div class="sixteen wide tablet ten wide computer center aligned column">

                <div class="icon message">
                    <div class="centered image">
                        <img src="/images/icons/about-ce-50-icon.png" alt="">
                    </div>
                    <div class="content">
                        <div class="header">Drive-Thru Repairs You Can Count On</div>
                        <p>For over 50 years, dealers and drive-thru restaurants nationwide have turned to CE for quality and affordable drive-thru repairs. CE is staffed by expert technicians who are trained and knowledgeable on all major brands of drive-thru equipment, including HME, Panasonic, and 3M/PAR systems. With CE, you can rest assured that your equipment is in the best of hands. Unlike other service centers, our repairs are done right the first time&mdash;and quickly&mdash;so you can get back on track, fast.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ICON SECTION -->
    <div class="ui vertical icon segment">
        <div class="ui centered grid container">
            <div class="sixteen wide tablet ten wide computer center aligned column">

                <div class="icon message">
                    <div class="centered image">
                        <img src="/images/icons/factory-authorized-repairs.png" alt="">
                    </div>
                    <div class="content">
                        <div class="header">Your One-Stop Drive-Thru Shop</div>
                        <p>Whether you need equipment repaired or need to buy new equipment, batteries, or accessories, CE has you covered. We guarantee 100% customer satisfaction to all our customers&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
</div>
