﻿

@{
    //ViewBag.Title = "About cerepairs";
    Layout = "~/Views/Shared/_LayoutStaticPages.cshtml";
}

<div class="ui breadcrums segment">
    <div class="container">
        <div class="container"><a href="/">Home</a>&nbsp;/&nbsp;<span class="current"> Advance Exchange</span></div>
    </div>
</div>
<div>
    <div class="ui masthead segment">
        <div class="banner">
            <picture>
                <source media="(max-width: 767px)" type="image/webp" srcset="/images/banners/advance-exchange-m.jpg">
                <source media="(min-width: 768px)" type="image/jpg" srcset="/images/banners/advance-exchange.jpg">
                <img src="/images/banners/advance-exchange.jpg" alt="" class="img-cover">
            </picture>
            <div class="vertical centered container">
                <h1 class="uppercase header">
                    <div class="medium bolder black text">DRIVE-THRU REPAIR</div>
                    <div class="medium bolder black text">ADVANCE EXCHANGE</div>
                    <div class="medium bolder black text">PROGRAM</div>
                </h1>
            </div>
        </div>

    </div>
    <!-- ICON SECTION -->
    <div class="ui vertical icon segment">
        <div class="ui centered grid container">
            <div class="sixteen wide tablet ten wide computer center aligned column">

                <div class="icon message">
                    <div class="centered image">
                        <img src="/images/icons/advance-exchange-icon.png" alt="">
                    </div>
                    <div class="content">
                        <div class="header">Overnight Equipment Replacement</div>
                        <p>If your drive-thru equipment quits working and you need to get up and running almost immediately, we’ll ship replacement equipment to you overnight! To make it even easier, you don’t even have to ship the broken equipment to us in advance. When you receive the replacement equipment, use the same box to send your broken equipment to us for as little as $75 plus the regular repair cost. Call for details.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





