﻿@{
    //ViewBag.Title = "About cerepairs";
    Layout = "~/Views/Shared/_LayoutStaticPages.cshtml";
}

<div class="ui breadcrums segment">
    <div class="container">
        <div class="container"><a href="/">Home</a>&nbsp;/&nbsp;<span class="current"> Bonus Bucks</span></div>
    </div>
</div>
<div>
    <div class="ui masthead segment">

        <div class="banner">
            <picture>
                <source media="(max-width: 767px)" type="image/webp" srcset="/images/banners/bonus-bucks-m.jpg">
                <source media="(min-width: 768px)" type="image/jpg" srcset="/images/banners/bonus-bucks.jpg">
                <img src="/images/banners/bonus-bucks.jpg" alt="" class="img-cover">
            </picture>
            <div class="vertical centered container">
                <div class="uppercase header">
                    <div class="medium bolder black text">Bonus</div>
                    <div class="medium bolder black text">Bucks</div>
                    <!-- <div class="medium bolder black text">Program</div> -->
                </div>
            </div>
        </div>

    </div>
    <div class="ui vertical icon segment">
        <div class="ui centered grid container">
            <div class="sixteen wide tablet ten wide computer center aligned column">

                <div class="icon message">
                    <div class="centered image">
                        <img src="/images/icons/bills.png" alt="">
                    </div>
                    <div class="content">
                        <div class="header">Save with CE Drive-Thru Repair Bonus Bucks—It's just like cash, only better!</div>
                        <p>As a big "thank you" for doing business with us, receive $5 in Bonus Bucks for every $100 you spend with CE on a drive-thru repair. With our exclusive CE Bonus Bucks Loyalty Program, you'll enjoy extra savings on future drive-thru repairs.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui center aligned icon-strip segment">

        <div class="ui stackable three column grid container">
            <div class="sixteen wide column">
                <div class="center aligned header">How It Works:</div>

            </div>
            <div class="column">
                <div class="icon message">
                    <div class="image">
                        <img src="/images/icons/number-one.png" alt="">
                    </div>
                    <div class="content">
                        <p>Receive $5 Bonus Bucks with any $100 repair order.</p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="icon message">
                    <div class="image">
                        <img src="/images/icons/number-two.png" alt="">
                    </div>
                    <div class="content">
                        <p>Include Bonus Bucks in the box with your broken equipment.</p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="icon message">
                    <div class="image">
                        <img src="/images/icons/number-three.png" alt="">
                    </div>
                    <div class="content">
                        <p>We'll deduct the amount of Bonus Bucks you send in from your total repair bill.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="ui vertical icon segment">
        <div class="ui centered grid container">
            <div class="sixteen wide tablet ten wide computer center aligned column">

                <div class="icon message">
                    <div class="centered image">
                        <img src="/images/icons/dollar-sign.png" alt="">
                    </div>
                    <div class="content">
                        <div class="header">Save On Drive-Thru Repairs and More</div>
                        <p>Keeping your drive-thru equipment in tip-top shape can get expensive. That’s why CE offers a variety of special savings to our valued customers. In addition to our drive-thru repairs bonus bucks, we also offer a great multi-store discount special. And if you find a lower price somewhere else, we’ll match any competitor’s coupon, so you never pay more at CE. Some restrictions and conditions apply with all coupons and discounts. Call for details.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
