﻿<style>
    .hide {
        display: none !important;
    }
</style>
<div itemscope="itemscope" url="https://www.cerepairs.com" itemtype="http://schema.org/Corporation">
    <header class="nav-down" style="z-index:99999;">
        <div id="mobile-hd">
            <div class="container nav-container">
                <a class="nav-toggle left-nav-toggle" href="#">
                    <div class="hbr-icon">
                        <div class="hbr-line">

                        </div>
                        <div class="hbr-line">

                        </div>
                        <div class="hbr-line">

                        </div>
                    </div>
                </a>
                <a class="nav-logo left-nav-logo" href="/">
                    <img src="~/images/ce-logo-inv-mobile.png" alt="CE Repairs Logo" class="img-responsive" />
                </a>
                <div class="mobile-icons push-right">
                    <div>
                        <i class="cart icon hidden"></i><div class="@if(@ViewBag.CartActive != null){@ViewBag.CartActive} badge cart-badge">
                            @if (@ViewBag.CartCount != null)
                            {@ViewBag.CartCount}
                        </div>
                    </div>
                </div><div class="mn-main-menu"><div class="mn-cont"><nav><div class="mn-main-nav"><a class="mn-link" href="/careers/">Headsets</a> <a class="mn-link" href="/careers/">Belt-Pacs</a> <a class="mn-link" href="/careers/culture/">Accessories</a> <a class="mn-link" href="/careers/benefits/">Base Stations</a> <a class="mn-link" href="/careers/new-facility/">Headset Systems</a> <a class="mn-link" href="/careers/new-facility/">Timers</a> <a class="mn-link" href="/careers/new-facility/">Cabled Intercoms</a><div class="mn-btn"><a href="Special-Offers"><i class="tag icon"></i> Special Offers</a></div><div class="mn-btn"><a href="#"><i class="truck icon"></i> Send In a Repair</a></div></div><div class="mn-link mn-next" data-target-id="sm-acc">My Account</div><div class="mn-link mn-next" data-target-id="sm-help">Help Center</div><a class="mn-link" href="/Contact/">Contact</a> <a class="mn-link" href="/about/">About</a></nav></div></div><div class="mn-submenus"><div id="sm-acc" class="mn-submenu"><nav><div class="mn-link mn-prev">Main Menu</div><div class="mn-link mn-close">Close Menu</div><div class="mn-title">My account</div><a href="/contact/" class="mn-link">Orders</a> <a href="/qsr/contact/" class="mn-link" target="_blank" rel="noopener">Profile</a> <a href="http://www.clearcom.com/contact/" class="mn-link" target="_blank" rel="noopener">Whishlist</a> <a href="http://www.jtech.com/contact-jtech/" class="mn-link" target="_blank" rel="noopener">Log out</a></nav></div><div id="submenu2" class="mn-submenu"><nav><div class="mn-link mn-prev">Main Menu</div><div class="mn-title">Products</div><a class="mn-link" href="/careers/">Headsets</a> <a class="mn-link" href="/careers/">Belt-Pacs</a> <a class="mn-link" href="/careers/culture/">Accessories</a> <a class="mn-link" href="/careers/benefits/">Base Stations</a> <a class="mn-link" href="/careers/new-facility/">Headset Systems</a> <a class="mn-link" href="/careers/new-facility/">Timers</a> <a class="mn-link" href="/careers/new-facility/">Receipt Printers</a></nav></div><div id="sm-help" class="mn-submenu"><nav><div class="mn-link mn-prev">Main Menu</div><div class="mn-title">Help Center</div><a class="mn-link" href="/careers/">User Manuals</a> <a class="mn-link" href="/careers/">Warranty</a> <a class="mn-link" href="/Technical-Support/">Technical Support</a> <a class="mn-link" href="/careers/benefits/">Help Center</a> <a class="mn-link" href="/careers/new-facility/">FAQ</a></nav></div></div>
            </div>
            <div class="container hd-search">
                <div class="ui fluid action input">
                    <input class="search-text" type="text" placeholder="Search... Minimum 2 Characters" />
                    <button class="ui icon button search-btn"><i class="search icon"></i></button>
                </div>
            </div>
        </div>
        <nav id="desktop-hd">
            <div class="sec-nav">
                <div class="container">
                    <div class="dn-dropdown push-right">
                        <div class="dn-label">Why Choose CE? <i class="chevron down icon"></i></div><div class="dn-options dn-options-wider"><a class="dn-option" href="/about-ce">About CE</a> <a class="dn-option" href="/about-our-repairs">About Our Repairs</a> <a class="dn-option" href="/Factory-Authorized-Repairs">Factory-Authorized Repairs</a> <a class="dn-option" href="/same-day-service">Same-Day Service</a> <a class="dn-option" href="/nationwide-installation">Nationwide Installation</a> <a class="dn-option" href="/send-in-a-repair-free-shipping">Free Inbound Shipping</a> <a class="dn-option" href="/tech-support">Drive-Thru Repair Technical Support</a> <a class="dn-option" href="/drive-thru-warranty-and-emas">Repair Warranty &amp; Maintenance Programs</a> <a class="dn-option" href="/4-month-warranty">4-Month Repair Warranty</a> <a class="dn-option" href="/Protection-Plan">Drive-Thru Protection Plan</a> <a class="dn-option" href="/advance-exchange">Advance Exchange</a></div>
                    </div><a class="item" href="/about/">Services</a><div class="dn-dropdown"><div class="dn-label">Help Center <i class="chevron down icon"></i></div><div class="dn-options"><a class="dn-option" href="/careers/">User Manuals</a> <a class="dn-option" href="/careers/">Warranty</a> <a class="dn-option" href="/Technical-Support/">Technical Support</a> <a class="dn-option" href="/help-center/">Help Center</a> <a class="dn-option" href="/Drive-Thru-Repairs-Frequency-Asked-Questions/">FAQ</a></div></div><a class="item" href="/blog/">Blog</a> <a class="item" href="/Contact/">Contact</a>
                </div>
            </div>
            <div class="mid-content">
                <div class="container">
                    <div class="cell cell-logo">
                        <div class="cell-cont">
                            <a class="nav-logo-inv" href="/">
                                <img src="~/images/ce-logo-inv-mobile.png" alt="CE Repairs Logo" />
                            </a>
                            <a class="nav-logo" itemprop="url" href="/">
                                <img itemprop="logo" src="~/images/ce-repairs-logo.png" alt="CE Repairs Logo" />
                            </a>
                        </div>
                    </div>
                    <div class="cell cell-search">
                        <div class="cell-cont cell-search">
                            <div class="ui fluid action input">
                                <input style="font-size: 100%;" class="search-text" type="text" placeholder="Search... Minimum 2 Characters" />
                                @*<a href="/Search/drive-thru" class="ui icon button @if (ViewBag.Isbooglebolt != null && !ViewBag.Isbooglebolt){@Html.Raw("search-btn");}"><i class="search icon"></i></a>*@
                                <button class="ui icon button search-btn"><i class="search icon"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="cell cell-nav-tools">
                        <div class="cell-cont cell-icons right-aligned">
                            <a class="hd-phone" href="/about/">
                                <div style="font-weight: 700!important;" itemprop="telephone" content="+18777310334">
                                    877-731-0334
                                </div>
                            </a>
                            <div class="dn-dropdown dn-dropdown-icon" style="display:none;">
                                <div class="dn-label hd-icon">
                                    <div>
                                        <i class="user icon"></i>
                                    </div>
                                </div>
                                <div class="dn-options">
                                    <a style="display:none;" class="dn-option usermanagement" href="/UserManagement/">User Management</a>
                                    @*<a class="dn-option" href="/Orders/">Orders</a>*@
                                    @*<a class="dn-option" href="/Profile/">Profile</a>*@
                                    @*<a class="dn-option" href="/careers/culture/">Whishlist</a>*@
                                    <a style="display:none;" class="dn-option myaccount" href="/UserManagement/MyAccount/">My Account</a>
                                    <a style="display:none;" class="dn-option logout" href="/Security/LogOff">Log Out</a>
                                    <a style="display:none;" class="dn-option login" href="/security/login/">Log In</a>
                                </div>
                            </div>
                            <a class="hd-icon" href="/cart/">
                                <div><i class="cart icon hidden"></i><div class="@if(@ViewBag.CartActive != null){@ViewBag.CartActive} badge cart-badge">@if (@ViewBag.CartCount != null)
                                {@ViewBag.CartCount}</div></div>
                            </a>
                            @*<div class="hd-button red-btn" style="margin-right: 10px;"><i class="truck icon"></i> Send In a Repair</div>*@
                            <a class="hd-button red-btn" href="/Send-In-a-Repair/">
                                <div class="dn-label">
                                    <i class="truck icon"></i> Send In a Repair
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-nav">
                <div class="container">
                    <a class="dn-link" href="/Catalog/HeadSets/@if (ViewBag.DisplayType == "list") {@Html.Raw("List") }">
                        <div class="dn-label">Headsets</div>
                    </a>
                    <a class="dn-link" href="/Catalog/Belt-Pacs/@if (ViewBag.DisplayType == "list") {@Html.Raw("List") }">
                        <div class="dn-label">Belt-Pacs</div>
                    </a>
                    <a class="dn-link" href="/Catalog/Accessories/@if (ViewBag.DisplayType == "list") {@Html.Raw("List") }">
                        <div class="dn-label">Accessories</div>
                    </a>
                    <a class="dn-link" href="/Catalog/Base-Stations/@if (ViewBag.DisplayType == "list") {@Html.Raw("List") }">
                        <div class="dn-label">Base Stations</div>
                    </a>
                    <a class="dn-link" href="/Catalog/Headset-Systems/@if (ViewBag.DisplayType == "list") {@Html.Raw("List") }">
                        <div class="dn-label">Headset Systems</div>
                    </a>
                    <a class="dn-link" href="/Catalog/Timers/@if (ViewBag.DisplayType == "list") {@Html.Raw("List") }">
                        <div class="dn-label">Timers</div>
                    </a>
                    <a class="dn-link" href="/Catalog/Cabled-Intercoms/@if (ViewBag.DisplayType == "list") {@Html.Raw("List") }">
                        <div class="dn-label">Cabled Intercoms</div>
                    </a>
                    <a class="dn-link push-right left-border" href="/Special-Offers/">
                        <div class="dn-label"><i class="tag icon"></i> Special Offers</div>
                    </a>
                    <a class="dn-link left-border red-btn" href="/Send-In-a-Repair/">
                        <div class="dn-label"><i class="truck icon"></i> Send In a Repair</div>
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <form class="hide search-form" method="post" action="/Search">
        <input type="text" id="searchText" name="searchText" />
        <input type="text" id="list" name="list" value="@if (ViewBag.DisplayType != null && ViewBag.DisplayType == "list"){@Html.Raw("List") }" />
    </form>
</div>