﻿


@{
    //ViewBag.Title = "About cerepairs";
    Layout = "~/Views/Shared/_LayoutStaticPages.cshtml";
}
<style>
    .captcha_size {
        transform: scale(0.77);
        -webkit-transform: scale(0.77);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
    /*.rc-anchor-light {
        transform:scale(0.6);
        -webkit-transform:scale(0.6);
    }*/
    .rc-anchor-normal-footer {
        display: none !important;
    }
</style>
<div class="ui breadcrums segment">
    <div class="container">
        <div class="container"><a href="/">Home</a>&nbsp;/&nbsp;<span class="current"> Contact</span></div>
    </div>
</div>

<div>
    <div class="ui masthead segment">

        <div class="banner">
            <picture>
                <source media="(max-width: 767px)" type="image/webp" srcset="/images/banners/contact-m.jpg">
                <source media="(min-width: 768px)" type="image/jpg" srcset="/images/banners/contact.jpg">
                <img src="/images/banners/contact.jpg" alt="" class="img-cover">
            </picture>
            <div class="vertical centered container">
                <div class="uppercase header">
                    <div class="medium bolder black text">Contact CE</div>
                    <div class="medium bolder black text">Drive-Thru Repairs</div>
                </div>
            </div>
        </div>
    </div>
    <!-- ICON SECTION -->
    <div class="ui segment">

        <div class="ui stackable grid container">
            <div class="sixteen wide column">
                <h2>How to contact us</h2>
            </div>
            <div class="six wide column">


                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3110.970636812858!2d-90.47621058465357!3d38.764377479591424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87df2e469f306af1%3A0xb1a729e2d6d04a12!2s3787%20Rider%20Trail%20S%2C%20Earth%20City%2C%20MO%2063045%2C%20USA!5e0!3m2!1sen!2smx!4v1617730737169!5m2!1sen!2smx" width="100%" height="300px" style="border:0;margin-bottom:30px;" allowfullscreen="" loading="lazy"></iframe>


                <p>
                    <strong>Address:</strong><br>
                    3787 Rider Trail S.<br>
                    Earth City, MO 63045
                </p>
                <p>
                    <strong>Phone:</strong> 877-731-0334<br>
                    @*<strong>Fax:</strong> 314-739-8382<br>*@
                    <strong>Email:</strong> info@ceinstl.com
                </p>

                <p>No matter where you are, our referral network of qualified onsite service providers is at your service. Call 877-731-0334 for details on our convenient nationwide drive-thru repair service and installation.</p>
            </div> <!-- /left column -->
            <div class="one wide column"></div>
            <div class="nine wide column product-return">
                <form class="ui ce custom form contactform">
                    <div class="two fields">
                        <div class="field right-inner-addon">
                           <i>*</i>
                           <input type="text" class="input obligatory" id="firstname" name="contact[first-name]" placeholder="First Name">
                        </div>
                        <div class="field right-inner-addon">
                            <i>*</i>
                           <input type="text" class="input obligatory" id="lastname" name="contact[last-name]" placeholder="Last Name">
                        </div>
                    </div>

                    <div class="field right-inner-addon">
                        <i>*</i>
                        <input type="email" class="input obligatory" id="email" name="contact[email]" placeholder="Email">
                    </div>
                    <div class="field">
                        <input type="tel" class="input" id="phonenumber" name="contact[phone-number]" placeholder="Phone">
                    </div>
                    <div class="field">
                        <input type="text" class="input" id="address" name="contact[address]" placeholder="Address">
                    </div>

                    <div class="fields">
                        <div class="field">
                            <input type="text" class="input" id="city" name="contact[city]" placeholder="City">
                        </div>
                        <div class="field">
                            <input type="text" class="input" id="state" name="contact[state]" placeholder="State">
                        </div>
                        <div class="field">
                            <input type="text" class="input" id="zip" name="contact[zip]" placeholder="Zip Code">
                        </div>
                    </div>

                    <div class="field">
                        <textarea class="input" id="comments" placeholder="Comments..."></textarea>
                    </div>
                    <div class="column" style="position:relative">
                        <div class="captchaContact-div" style="position:absolute; top:6px; display:none;">
                            <div class="grecaptchaContact captcha_size" id="grecaptchaContact"></div>
                        </div>
                        <div>
                            <button class="ui ce button contactinfo contact-button">Submit</button>
                            <div style="display:inline;">
                                <div class="contactinfo-spinner" style="position:relative;display:none;">
                                    <div style="display:inline;position:absolute;top:-33px;left:5px;"><i class="fa fa-spinner fa-spin" style="font-size:24px"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div> <!-- /right column -->
        </div>
    </div>
    <div class="ui vertical center aligned icon segment">
        <div class="ui stackable grid container">
            <div class="eight wide tablet seven wide computer column">

                <div class="icon message">
                    <div class="image">
                        <img src="/images/icons/checkmark.png" alt="">
                    </div>
                    <div class="content">
                        <div class="header">Quality Drive-Thru Headset Repairs And Timer Repairs</div>
                        <p>CE services all brands of drive-thru headsets and drive-thru timers including HME, Panasonic and 3M. Call today and rest assured that your drive-thru equipment repair will be done right the first time by experts – and quickly – so you can get back on track fast.</p>
                    </div>
                </div>


            </div>
            <div class="eight wide tablet seven wide computer right floated column">
                <div class="icon message">
                    <div class="image">
                        <img src="/images/icons/protection-plan-icon2.png" alt="">
                    </div>
                    <div class="content">
                        <div class="header">Drive-Thru Equipment Repairs And Beyond</div>
                        <p>In addition to fast, reliable repairs, CE offers new wireless and timer system sales, convenient drive-thru repair equipment maintenance agreements, and emergency exchange of drive-thru equipment. Call 877-731-0334 for details about any of our products and services today.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script src='https://www.google.com/recaptcha/api.js?onload=ContactCallBack&render=explicit' async defer></script>
<script>
    var recaptcha3;
    var ContactCallBack = function () {
        //Render the g-recaptcha on the element with ID "recaptcha1"
        recaptcha3 = grecaptcha.render('grecaptchaContact', {
            'sitekey': '6LcliTgUAAAAADO_R8ODCtFuMPvEoGNLFDB-fYc7', //Replace this with your Site key
            'callback': verifyContactCallback,
            'theme': 'light'
        });
    };
    var verifyContactCallback = function (response) {
        if (response != '') {
            $('.contactinfo.contact-button').show();
            $('.captchaContact-div').hide();
            $('.contactinfo.contact-button').click();
        }
    };
</script>







