﻿


@{
    //ViewBag.Title = "About cerepairs";
    Layout = "~/Views/Shared/_LayoutStaticPages.cshtml";
}

<div class="ui breadcrums segment">
    <div class="container">
        <div class="container"><a href="/">Home</a>&nbsp;/&nbsp;<span class="current"> Factory-Authorized Repairs</span></div>
    </div>
</div>
<div>
    <div class="ui masthead segment">

        <div class="banner">
            <picture>
                <source media="(max-width: 767px)" type="image/webp" srcset="/images/banners/factory-authorized-repairs-m.jpg">
                <source media="(min-width: 768px)" type="image/jpg" srcset="/images/banners/factory-authorized-repairs.jpg">
                <img src="/images/banners/factory-authorized-repairs.jpg" alt="" class="img-cover">
            </picture>
            <div class="vertical centered container">
                <h1>
                    <div class="uppercase header">
                        <div class="medium bolder black text">HME FACTORY</div>
                        <div class="medium bolder black text">AUTHORIZED</div>
                        <div class="medium bolder black text">Repairs from CE</div>
                        @*<div class="medium bolder black text">Only at CE</div>*@
                    </div>
                </h1>
            </div>
        </div>
    </div>
    <div class="ui vertical center aligned icon segment">
        <div class="ui stackable grid container">
            <div class="eight wide tablet seven wide computer column">

                <div class="icon message">
                    <div class="image">
                        <img src="/images/icons/factory-authorized-repairs.png" alt="">
                    </div>
                    <div class="content">
                        <div class="header">100% Satisfaction Guaranteed</div>
                        <p>Every CE repair starts with a rigorous 35-point inspection, and quality manufacturer and aftermarket parts. Rest assured that your equipment is in the best of hands at CE.</p>
                    </div>
                </div>


            </div>
            <div class="eight wide tablet seven wide computer right floated column">
                <div class="icon message">
                    <div class="image">
                        <img src="/images/icons/checkmark.png" alt="">
                    </div>
                    <div class="content">
                        <div class="header">HME-Approved Repairs</div>
                        <p>CE is the only independent HME factory-approved and trained repair facility in the nation. With CE, there's no doubt that your HME equipment repair will be done right—and fast.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>









