﻿

@{
    //ViewBag.Title = "About cerepairs";
    Layout = "~/Views/Shared/_LayoutStaticPages.cshtml";
}

<div class="ui breadcrums segment">
    <div class="container">
        <div class="container"><a href="/">Home</a>&nbsp;/&nbsp;<span class="current"> FAQ</span></div>
    </div>
</div>
<div class="ui masthead segment">

    <div class="banner">
        <picture>
            <source media="(max-width: 767px)" type="/image/webp" srcset="/images/banners/faqs-m.jpg">
            <source media="(min-width: 768px)" type="/image/jpg" srcset="/images/banners/faqs.jpg">
            <img src="/images/banners/faqs.jpg" alt="" class="img-cover">
        </picture>
        <div class="vertical centered container">
            <h1 class="uppercase header">
                <div class="medium bolder black text">Drive-Thru</div>
                <div class="medium bolder black text">Repairs FAQs</div>
                @*<div class="medium bolder black text">Asked Questions</div>*@
            </h1>
        </div>
    </div>
</div>
<div class="ui vertical center aligned icon padded segment">
    <div class="ui grid centered container">
        <div class="fourteen wide computer column">
            <h2>Frequently Asked Questions</h2>

            <div class="ui styled fluid accordion">
                <div class="title">
                    <i class="support-icon"><img src="/images/icons/hsc-tech-support-faqs1.png" alt=""></i>
                    How can I get my drive-thru equipment to you for repair?
                    <i class="dropdown right aligned icon"></i>
                </div>
                <div class="content">
                    <p class="transition hidden">Easy! Place your broken drive-thru equipment in a box, <a href="/SendRepair">print a free UPS label</a> and drop it at any authorized UPS service location (or give it to your UPS driver). We’ll pay for the inbound shipping, repair your equipment, send it back to you, and follow up with an invoice. If you don’t have access to a printer, just call us at 877-731-0334 and we’ll mail you a label.</p>
                </div>
                <div class="title">
                    <i class="support-icon"><img src="/images/icons/hsc-tech-support-faqs2.png" alt=""></i>
                    How do CE’s drive-thru Protection Plans work?
                    <i class="dropdown right aligned icon"></i>
                </div>
                <div class="content">
                    <p>Our <a href="/CE-EMA">drive-thru equipment maintenance agreements</a> (PP) give you the comfort of fixed, low, monthly payments…no surprise repair costs regardless of your repair demands. CE offers Protection Plans for one to one thousand stores, with any mix of headset and timer brands. We will develop the details – contract duration, shipping options, <a href="/advanceexchange">advance exchange</a> options – to suit your exact needs. Call us and we’ll do the rest!</p>
                </div>
                <div class="title">
                    <i class="support-icon"><img src="/images/icons/hsc-tech-support-faqs3.png" alt=""></i>
                    What kind of warranty does CE include with its drive-thru repairs, accessories, and systems?
                    <i class="dropdown right aligned icon"></i>
                </div>
                <div class="content">
                    <p>CE’s new products carry up to a 1- year warranty. New HME products are covered under their manufacturers’ product warranties which range up to 2 years. 3M equipment sold by CE does not come with a 3M manufacturer’s warranty, however, CE does provide a CE warranty on all 3M equipment sold by CE.</p>
                </div>
                <div class="title">
                    <i class="support-icon"><img src="/images/icons/hsc-tech-support-faqs4.png" alt=""></i>
                    How quickly can I expect my order?
                    <i class="dropdown right aligned icon"></i>
                </div>
                <div class="content">
                    <p>CE stocks essentially 100% of our products and accessories, and any orders for those items received by 1pm (CST) will ship <em>on the same day</em>. We are also lightning fast with repairs: 24-hour <a href="/same-day-service">Drive-Thru Repair</a> turnaround (from the time we receive your equipment), and we will ship it overnight upon your request. If you have a pending order, just call us at 877-731-0334 to get the exact status of (and tracking information for) your order. </p>
                </div>
                <div class="title">
                    <i class="support-icon"><img src="/images/icons/hsc-tech-support-faqs5.png" alt=""></i>
                    How do CE’s battery special work?
                    <i class="dropdown right aligned icon"></i>
                </div>
                <div class="content">
                    <p>CE offers our own brand of <a href="/Product/CE-Products">drive-thru accessories</a> including <a href="/freebattery">drive-thru batteries</a> for any wireless drive-thru systems. These batteries offer a high quality alternative while providing great savings, especially if you take advantage of our <strong>drive-thru battery</strong> special. Just order 3 of our batteries and we’ll give you a 4th battery for free! Online or by phone, your choice.</p>
                </div>
                <div class="title">
                    <i class="support-icon"><img src="/images/icons/hsc-tech-support-faqs6.png" alt=""></i>
                    I can’t find pricing for a certain product on CE’s website. Where can I find help?
                    <i class="dropdown right aligned icon"></i>
                </div>
                <div class="content">
                    <p>In our quest to make our website user friendly, we have opted not to show every option for every <a href="/">drive-thru system</a>, part or accessory. We have many items that are not shown on the website. If you don’t see what you need please call us at 877-731-0334 or email us at <a href="mailto:info@cerepairs.com">info@cerepairs.com</a>!</p>
                </div>
                <div class="title">
                    <i class="support-icon"><img src="/images/icons/hsc-tech-support-faqs7.png" alt=""></i>
                    What is CE’s returns policy?
                    <i class="dropdown right aligned icon"></i>
                </div>
                <div class="content">
                    <p>CE will accept any undamaged <a href="/about-ce">drive-thru equipment</a> if returned within 30 days of its purchase, and will apply the purchase price as a credit to your account. However, a 15% restocking fee may apply, so please give us a call if you are unsure of your needs at the time of your order, and we will be happy to help ensure you are getting the right items. Please write a note and put in the box so that we know you are requesting a credit.</p>
                </div>

                <div class="title">
                    <i class="support-icon"><img src="/images/icons/hsc-tech-support-faqs8.png" alt=""></i>
                    Does CE provide installation and other field services?
                    <i class="dropdown right aligned icon"></i>
                </div>
                <div class="content">
                    <p>CE provides installation services for system sales nationwide. In the greater St. Louis, Missouri area, CE provides both installation and field services. We are also happy to help address many of your <a href="/tech-support">drive-thru repair</a> needs remotely by phone, through our technical support department. If on-site service is needed outside of St. Louis, then CE will gladly refer you to one of our large network of <a href="/nationwide-installation">drive-thru repair</a> service &amp; installation providers nationwide.</p>
                </div>
                <div class="title">
                    <i class="support-icon"><img src="/images/icons/hsc-tech-support-faqs9.png" alt=""></i>
                    Why would I buy a new versus refurbished drive-thru headset system?
                    <i class="dropdown right aligned icon"></i>
                </div>
                <div class="content">
                    <p>That depends! CE is uniquely qualified and authorized to sell new <a href="/Product/HME/Products">HME</a> systems, as well as, countless refurbished systems of any brand. Call us at 877-731-0334 to discuss your priorities – initial costs, operating costs, technology needs, brand preference, warranty, etc. – and we will help fit you with the perfect drive-thru system to suit your needs.</p>
                </div>
                <div class="title">
                    <i class="support-icon"><img src="/images/icons/hsc-tech-support-faqs10.png" alt=""></i>
                    Does CE stock all models of refurbished drive-thru equipment?
                    <i class="dropdown right aligned icon"></i>
                </div>
                <div class="content">
                    <p>CE maintains stock of most every brand and model of <strong>drive-thru equipment</strong> that we repair. In those rare cases that we are out of a refurbished item that you need, we will put your name on our waiting list and call you as soon as we stock up on the requested item.</p>
                </div>
                <div class="title">
                    <i class="support-icon"><img src="/images/icons/hsc-tech-support-faqs11.png" alt=""></i>
                    What is the value of my existing drive-thru system as a trade-in?
                    <i class="dropdown right aligned icon"></i>
                </div>
                <div class="content">
                    <p>CE refurbishes most models of legacy <strong>drive-thru equipment</strong>, so most any equipment that you have – regardless of age or condition – has <em>some </em>value. That value obviously depends upon many factors, so we would ask that you call us for a fast quote on your trade-in value.</p>
                </div>
                <div class="title">
                    <i class="support-icon"><img src="/images/icons/hsc-tech-support-faqs12.png" alt=""></i>
                    What is “Narrowbanding” and how does it affect my drive-thru equipment?
                    <i class="dropdown right aligned icon"></i>
                </div>
                <div class="content">
                    <p>The FCC put new rules into effect on January 1, 2013, designed to free up air waves in the 150-512 MHz frequency range. RF drive-thru equipment operating in this frequency range and at an efficiency of more than 12.5 KHz (the “narrow band”) is hereby illegal to operate. Several Panasonic drive-thru headset systems fall into this group of non-compliant products. CE has many options to minimize your cost of compliance with this guideline. See <a href="http://www.fcc.gov/narrowbanding">www.fcc.gov/narrowbanding</a> for details, and call us at 877-731-0334 to discuss your <strong>drive-thru equipment</strong> options.</p>
                </div>

            </div>


        </div>

    </div>
</div>






