﻿

@{
    //ViewBag.Title = "About cerepairs";
    Layout = "~/Views/Shared/_LayoutStaticPages.cshtml";
}

<div class="ui breadcrums segment">
    <div class="container">
        <div class="container"><a href="/">Home</a>&nbsp;/&nbsp;<span class="current"> 4-Month Repair Warranty</span></div>
    </div>
</div>
<div>
    <div class="ui masthead segment">
        <!--
        <img class="ui fluid image banner-mob" src="images/homepage/bnr-01-mbl.jpg" alt=""> -->

        <div class="banner">
            <picture>
                <source media="(max-width: 767px)" type="image/webp" srcset="/images/banners/4-month-repair-warranty-m.jpg">
                <source media="(min-width: 768px)" type="image/jpg" srcset="/images/banners/4-month-repair-warranty.jpg">
                <img src="/images/banners/4-month-repair-warranty.jpg" alt="" class="img-cover">
            </picture>
            <div class="vertical centered container">
                <h1 class="uppercase header">
                    <div class="medium bolder black text">4-Month Repair</div>
                    <div class="medium bolder black text">Warranty</div>
                </h1>

            </div>
        </div>




    </div>
    <!-- ICON SECTION -->
    <div class="ui vertical icon segment">
        <div class="ui centered grid container">
            <div class="twelfe wide tablet ten wide computer center aligned column">

                <div class="icon message">
                    <div class="centered image">
                        <img src="/images/homepage/ic-wrench.png" alt="">
                    </div>
                    <div class="content">
                        <div class="header">4-Month Drive-Thru Repair Warranty.</div>
                        <p>Every CE drive-thru repair is covered with a 4-month warranty. In the unlikely event that your drive-thru repair doesn’t hold up during that time, we’ll fix it again—on us. Some restrictions and conditions apply.</p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>







