﻿

@{
    //ViewBag.Title = "About cerepairs";
    Layout = "~/Views/Shared/_LayoutStaticPages.cshtml";
}

<div class="ui breadcrums segment">
    <div class="container">
        <div class="container"><a href="/">Home</a>&nbsp;/&nbsp;<span class="current"> Free Headset Repair</span></div>
    </div>
</div>
<div>
    <div class="ui masthead segment">

        <div class="banner">
            <picture>
                <source media="(max-width: 767px)"
                        type="image/webp"
                        srcset="/images/banners/free-headset-repair-m.jpg" />
                <source media="(min-width: 768px)"
                        type="image/jpg"
                        srcset="/images/banners/free-headset-repair.jpg" />
                <img src="/images/banners/free-headset-repair.jpg"
                     alt=""
                     class="img-cover" />
            </picture>
            <div class="vertical centered container">
                <div class="uppercase header">
                    <div class="small bolder inverted text">Free Drive-Thru</div>
                    <div class="small bolder inverted text">Headset Repair</div>
                    <!-- <div class="small bolder inverted text">Repair for</div> -->
                    <!-- <div class="small bolder inverted text">Customers</div> -->
                </div>
            </div>
        </div>

    </div>

    <!-- ICON SECTION -->
    <div class="ui vertical icon segment">
        <div class="ui centered grid container">
            <div class="sixteen wide mobile ten wide computer center aligned column">

                <div class="intro message">

                    <div class="content">
                        <!-- <div class="header">4-Month Drive-Thru Repair Warranty Every CE drive-thru repair is covered with a 4-month warranty.</div> -->
                        <p>
                            We&rsquo;re so confident you&rsquo;ll like the quality and speed of our drive-thru repairs that we&rsquo;re giving you
                            a FREE headset repair and FREE inbound shipping. And that covers all brands, including HME, Panasonic, and 3M/PAR. You&rsquo;ll also enjoy our convenient same day service and 4-month warranty. Simply click and print the coupon below, put it in a box, and send it in!
                        </p>
                    </div>
                </div>


            </div>
        </div>
    </div>



    <!-- 3 ICON STRIP -->
    <div class="ui center aligned icon-strip white segment">

        <div class="ui stackable three column grid container">

            <div class="sixteen wide column">

                <div class="center aligned header">Get Your Headset Repair In Three Easy Steps:</div>

            </div>
            <div class="column">
                <div class="icon message">
                    <div class="image">
                        <img src="/images/icons/number-one.png" alt="">
                    </div>
                    <div class="content">
                        <div class="header">Print the Coupon</div>
                        <p>below and place it in a box with your broken equipment.</p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="icon message">
                    <div class="image">
                        <img src="images/icons/number-two.png" alt="">
                    </div>
                    <div class="content">
                        <div class="header"><a href="https://www.cerepairs.com/?pg=SendRepair">Print a UPS Return Service Label</a></div>
                        <p>for FREE SHIPPING and place it on the box.</p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="icon message">
                    <div class="image">
                        <img src="/images/icons/number-three.png" alt="">
                    </div>
                    <div class="content">
                        <div class="header">Drop the box off</div>
                        <p>at any authorized UPS service location or give it to your UPS driver.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- ICON SECTION -->
    <div class="ui vertical icon segment">
        <div class="ui centered grid container">
            <div class="sixteen wide tablet ten wide computer center aligned column">
                <p><strong>Click to Print a Repair Coupon:</strong></p>
                <a href="javascript: print_Free_Headset_Coupon()">
                    <img src="/images/free-headset-repair-offer.jpg" alt="" class="ui image">
                </a>
            </div>
        </div>
    </div>
</div>
<div style="display:none">
    <div id="earpad-coupon" class="earpad-coupon">
        <img src="/images/free-headset-repair-offer.jpg" style="width: 1100px;" />
    </div>
</div>
<script>
    function print_Free_Headset_Coupon() {
        var divcouponPrint = document.getElementById('earpad-coupon');
        var ifrm = document.createElement("iframe");
        ifrm.style.display = "none";
        document.body.appendChild(ifrm);
        setTimeout(function () {
            $(ifrm).contents().find("body").html(divcouponPrint.innerHTML);
            ifrm.contentWindow.print();
            $(ifrm).remove();
        }, 1);
    }
</script>







