﻿@{
    //ViewBag.Title = "About cerepairs";
    Layout = "~/Views/Shared/_LayoutStaticPages.cshtml";
}

<div class="ui breadcrums segment">
    <div class="container">
        <div class="container"><a href="/">Home</a>&nbsp;/&nbsp;<span class="current"> Free-Battery Special</span></div>
    </div>
</div>
<div>
    <div class="ui masthead segment">
        <div class="banner">
            <picture>
                <source media="(max-width: 767px)" type="image/webp" srcset="/images/banners/free-battery-special-m.jpg">
                <source media="(min-width: 768px)" type="image/jpg" srcset="/images/banners/free-battery-special.jpg">
                <img src="/images/banners/free-battery-special.jpg" alt="" class="img-cover">
            </picture>
            <div class="vertical centered container">
                <div class="uppercase header">
                    <div class="small bolder black text">CE Free</div>
                    <div class="small bolder black text">Drive-Thru</div>
                    <div class="small bolder black text">Battery Special</div>
                </div>
            </div>
        </div>

    </div>
    <div class="ui vertical text segment">
        <div class="ui centered grid container">
            <div class="sixteen wide tablet ten wide computer center aligned column">

                <div class="message">
                    <div class="content">
                        <div class="header">Purchase any 3 CE brand batteries for any HME, Panasonic, or 3M system and get a 4th drive-thru battery free!</div>
                        <p>Add 3 CE brand drive-thru batteries for the same system to your cart and a FREE 4th drive-thru battery will be added to your order. Just enter the promo code at checkout.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui color segment">
        <div class="ui mobile reversed stackable two column grid">

            <div class="blue column">
                <div class="vertical center right aligned box">

                    <div class="uppercase message">
                        <div class="small bolder text">CE Batteries</div>
                        <div class="small bolder text">Compatible with</div>
                        <div class="small bolder text">HME Systems</div>
                    </div>

                </div>
            </div>

            <div class="right blue arrow column">
                <div class="left aligned box">
                    <div class="image box">
                        <img class="ui image" src="/images/free-battery-special-hme.png" alt="">
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="ui color segment">
        <div class="ui mobile stackable two column grid">

            <div class="white arrow column">
                <div class="right aligned box">
                    <div class="image box">
                        <img class="ui image" src="/images/free-battery-special-panasonic.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="white column">
                <div class="vertical center left aligned box">

                    <div class="uppercase message">
                        <div class="small bolder text">CE Batteries</div>
                        <div class="small bolder text">Compatible with</div>
                        <div class="small bolder text">Panasonic Systems</div>
                    </div>

                </div>
            </div>


        </div>
    </div>
    <div class="ui color segment">
        <div class="ui mobile reversed stackable two column grid">

            <div class="orange column">
                <div class="vertical center right aligned box">

                    <div class="uppercase message">
                        <div class="small bolder text">CE Batteries</div>
                        <div class="small bolder text">Compatible with</div>
                        <div class="small bolder text">3M/PAR<sup>®</sup>* Systems</div>
                        <div class="mini text regular case">*CE-960 Battery does not qualify for the promotion</div>
                    </div>

                </div>
            </div>

            <div class="right orange arrow column">
                <div class="left aligned box">
                    <div class="image box">
                        <img class="ui image" src="/images/free-battery-special-3m.png" alt="">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>