﻿


@{
    //ViewBag.Title = "About cerepairs";
    Layout = "~/Views/Shared/_LayoutStaticPages.cshtml";
}

<div class="ui breadcrums segment">
    <div class="container">
        <div class="container"><a href="/">Home</a>&nbsp;/&nbsp;<span class="current"> Help Center</span></div>
    </div>
</div>
<div>
    <div class="ui masthead segment">

        <div class="banner">
            <picture>
                <source media="(max-width: 767px)" type="image/webp" srcset="/images/banners/help-center-m.jpg">
                <source media="(min-width: 768px)" type="image/jpg" srcset="/images/banners/help-center.jpg">
                <img src="/images/banners/help-center.jpg" alt="" class="img-cover">
            </picture>
            <div class="vertical centered container">
                <h1 class="uppercase header">
                    <div class="medium bolder black text">CE Drive-Thru</div>
                    <div class="medium bolder black text">Repair Help Center</div>
                </h1>
            </div>
        </div>
    </div>
    <div class="ui vertical directory center aligned segment">
        <div class="ui stackable three column grid">
            <div class="column">
                <div class="item" style="background-image: url(/images/bg-manuals.jpg);">
                    <div class="centered uppercase message">
                        <div class="medium bolder text">User</div>
                        <div class="small text">Manuals</div>
                        <a class="inverted outline button" href="https://www.hme.com/qsr/drive-thru-user-manuals/" target="_blank">View Manuals</a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="item" style="background-image: url(/images/bg-tech.jpg)">
                    <div class="centered uppercase message">
                        <div class="medium bolder text">Technical</div>
                        <div class="small text">Support</div>
                        <a class="inverted outline button" href="/Technical-Support/">Get Help</a>
                    </div>
                 </div>
            </div>
            <div class="column">
                <div class="item" style="background-image: url(/images/bg-faqs.jpg)">
                    <div class="centered uppercase message">
                        <div class="medium bolder text">FAQs</div>
                        <a href="/Drive-Thru-Repairs-Frequency-Asked-Questions" class="inverted outline button">Get Answers</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui vertical center aligned icon segment">
        <div class="ui stackable grid container">
            <div class="eight wide tablet seven wide computer column">

                <div class="icon message">
                    <div class="image">
                        <img src="/images/icons/technical-support.png" alt="">
                    </div>
                    <div class="content">
                        <div class="header">User Manuals</div>
                        <p>Need help figuring out your drive-thru equipment? CE offers a list of available drive-thru repair user manuals for HME equipment, or you can give us a call anytime at 877-731-0334.</p>
                    </div>
                </div>


            </div>
            <div class="eight wide tablet seven wide computer right floated column">
                <div class="icon message">
                    <div class="image">
                        <img src="/images/icons/send.png" alt="">
                    </div>
                    <div class="content">
                        <div class="header">Warranty</div>
                        <p>We cover every repair with a 4-month warranty. Some restrictions and conditions apply. Read the details for all repair services provided and all new and refurbished products offered for sale by CE.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="ui vertical center aligned icon segment">
        <div class="ui stackable grid container">
            <div class="eight wide tablet seven wide computer column">

                <div class="icon message">
                    <div class="image">
                        <img src="/images/icons/technical-support.png" alt="">
                    </div>
                    <div class="content">
                        <div class="header">Free Technical Support</div>
                        <p>Our technicians are available to answer your technical questions free of charge. Give us a call toll free at 877-731-0334 and we will be glad to assist you.</p>
                    </div>
                </div>


            </div>
            <div class="eight wide tablet seven wide computer right floated column">
                <div class="icon message">
                    <div class="image">
                        <img src="/images/icons/send.png" alt="">
                    </div>
                    <div class="content">
                        <div class="header">FAQs</div>
                        <p>Have a question? Check the answers to the most Frequently Asked Questions regarding our repairs, maintenance agreements, special offers, and more.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>










