﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="ui breadcrums segment">
    <div class="container">
        <a href="#">Home</a>

    </div>
</div>

<div class="ui masthead segment">
    <!--
    <img class="ui fluid image banner-mob" src="/images/homepage/bnr-01-mbl.jpg" alt=""> -->
    <div class="container">
        <!--       <h1 class="ui header">
                Imagine-a-Company
              </h1>
              <h2>Do whatever you want when you want to.</h2>
              <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div> -->
    </div>

    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <div class="banner" id="slide1">
                    <div class="container">
                        <div class="h1">
                            <div class="uppercase header">
                                <h1>
                                    <div class="small bolder black text hidden">Drive-thru <br class="tablet">Equipment</div>
                                    <div class="small bolder black text">Repairs, sales</div>
                                    <div class="small bolder black text">and accessories</div>
                                </h1>
                            </div>
                        </div>

                    </div>

                    <a href="#">
                        <picture>
                            <source media="(max-width: 767px)"
                                    type="image/jpg"
                                    srcset="images/banners/homepage-1-m.jpg" />
                            <source media="(min-width: 768px)"
                                    type="image/jpg"
                                    srcset="images/banners/homepage-1.jpg" />
                            <img src="images/banners/homepage-1.jpg"
                                 alt=""
                                 class="img-cover" />
                        </picture>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="banner" id="slide2">
                    <a href="/free-headset-repair/">
                        <picture>
                            <source media="(max-width: 767px)"
                                    type="image/jpg"
                                    srcset="/images/banners/homepage-2-m.jpg" />
                            <source media="(min-width: 768px)"
                                    type="image/jpg"
                                    srcset="/images/banners/homepage-2.jpg" />
                            <img src="/images/banners/homepage-2.jpg"
                                 alt=""
                                 class="img-cover" />
                        </picture>
                    </a>
                </div>
            </div>
            @*<div class="swiper-slide">
                <div class="banner" id="slide3">
                    <a href="/advance_exchange">
                        <picture>
                            <source media="(max-width: 767px)"
                                    type="image/jpg"
                                    srcset="/images/banners/homepage-3-m.jpg" />
                            <source media="(min-width: 768px)"
                                    type="image/jpg"
                                    srcset="/images/banners/homepage-3.jpg" />
                            <img src="/images/banners/homepage-3.jpg"
                                 alt=""
                                 class="img-cover" />
                        </picture>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="banner" id="slide4">
                    <a href="/Send-In-a-Repair">
                        <picture>
                            <source media="(max-width: 767px)"
                                    type="image/jpg"
                                    srcset="/images/banners/homepage-4-m.jpg" />
                            <source media="(min-width: 768px)"
                                    type="image/jpg"
                                    srcset="/images/banners/homepage-4.jpg" />
                            <img src="/images/banners/homepage-4.jpg"
                                 alt=""
                                 class="img-cover" />
                        </picture>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="banner" id="slide5">
                    <a href="/free-battery">
                        <picture>
                            <source media="(max-width: 767px)"
                                    type="image/jpg"
                                    srcset="/images/banners/homepage-5-m.jpg" />
                            <source media="(min-width: 768px)"
                                    type="image/jpg"
                                    srcset="/images/banners/homepage-5.jpg" />
                            <img src="/images/banners/homepage-5.jpg"
                                 alt=""
                                 class="img-cover" />
                        </picture>
                    </a>
                </div>
            </div>*@
            <div class="swiper-slide">
                <div class="banner" id="slide6">
                    <a href="/Contact/">
                        <picture>
                            <source media="(max-width: 767px)"
                                    type="image/jpg"
                                    srcset="/images/banners/homepage-6-m.jpg" />
                            <source media="(min-width: 768px)"
                                    type="image/jpg"
                                    srcset="/images/banners/homepage-6.jpg" />
                            <img src="/images/banners/homepage-6.jpg"
                                 alt=""
                                 class="img-cover" />
                        </picture>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="banner" id="slide7">
                    <a href="/Protection-Plan">
                        <picture>
                            <source media="(max-width: 767px)"
                                    type="image/jpg"
                                    srcset="/images/banners/homepage-7-m.jpg" />
                            <source media="(min-width: 768px)"
                                    type="image/jpg"
                                    srcset="/images/banners/homepage-7.jpg" />
                            <img src="/images/banners/homepage-7.jpg"
                                 alt=""
                                 class="img-cover" />
                        </picture>
                    </a>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="banner" id="slide8">
                    <a href="/survey">
                        <picture>
                            <source media="(max-width: 767px)"
                                    type="image/jpg"
                                    srcset="/images/banners/homepage-8-m.jpg" />
                            <source media="(min-width: 768px)"
                                    type="image/jpg"
                                    srcset="/images/banners/homepage-8.jpg" />
                            <img src="/images/banners/homepage-8.jpg"
                                 alt=""
                                 class="img-cover" />
                        </picture>
                    </a>
                </div>
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <!-- If we need scrollbar -->
        <!-- <div class="swiper-scrollbar"></div> -->
    </div>

</div>
<!-- DIRECTORY -->
<div class="ui vertical directory center aligned segment">
    <div class="ui stackable three column grid">
        <div class="column">
            <div href="#" class="item" style="background-image: url(images/homepage/directory-1.jpg);">
                <div class="centered uppercase message">
                    <div class="medium bolder text">Special</div>
                    <div class="small text">Offers</div>
                    <a href="/Special-Offers" class="inverted outline button">Learn More</a>
                </div>

            </div>
        </div>
        <div class="column">
            <div href="#" class="item" style="background-image: url(images/homepage/directory-2.jpg)">
                <div class="centered uppercase message">
                    <div class="medium bolder text">Repair Your</div>
                    <div class="small text">Equipment</div>
                    <a href="/Send-In-a-Repair" class="inverted outline button">Free Shipping</a>
                </div>

            </div>
        </div>
        <div class="column">
            <div href="#" class="item" style="background-image: url(images/homepage/directory-3.jpg)">
                <div class="centered uppercase message">
                    <div class="medium bolder text">Shop</div>
                    <div class="small text">Headsets</div>
                    <a href="/Catalog/HeadSets/" class="inverted outline button">See Headsets</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ICON SECTION -->
<div class="ui vertical center aligned icon segment">
    <div class="ui stackable grid container">
        <div class="eight wide tablet seven wide computer column">
            <div class="icon message">
                <div class="image">
                    <img src="/images/homepage/ic-wrench.png" alt="">
                </div>
                <div class="content">
                    <div class="header">Fast Reliable Drive-Thru Headset Repair &amp; Timer Repair</div>
                    <p>There&rsquo;s never a good time for drive-thru equipment failure. That&rsquo;s why you can count on CE for quality drive-thru timer and drive-thru headset repairs.</p>
                </div>
            </div>

        </div>
        <div class="eight wide tablet seven wide computer right floated column">

            <div class="icon message">
                <div class="image">
                    <img src="/images/homepage/ic-thumb.png" alt="">
                </div>
                <div class="content">
                    <div class="header">We Service All Brands</div>
                    <p>Our highly trained technicians know the ins and outs of all major brands including HME, Panasonic, and 3M/PAR. Rest assured that your drive-thru equipment repair will be done right the first time.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- COLOR SEGMENT -->
<div class="ui color segment">
    <div class="ui mobile reversed stackable two column grid">

        <div class="turquoise column">
            <div class="vertical center right aligned box">
                <div class="uppercase message">
                    <div class="medium text">Shop</div>
                    <div class="medium bolder text">Accessories</div>
                    <a href="/Catalog/Accessories" class="inverted outline button">See all accesories</a>
                </div>
            </div>
        </div>
        <div class="right turquoise arrow column">
            <div class="left aligned box">
                <div class="image box">
                    <img class="ui image" src="/images/homepage/Shop-Accessories.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SECOND ICON SECTION -->
<div class="ui vertical center aligned icon segment">
    <div class="ui stackable grid container">
        <div class="eight wide tablet seven wide computer column">
            <div class="icon message">
                <div class="image">
                    <img src="/images/homepage/ic-dollar.png" alt="">
                </div>
                <div class="content">
                    <div class="header">More than Drive-Thru Repairs</div>
                    <p>In addition to repairs, CE offers headset and timer system sales, convenient equipment maintenance agreements, and emergency exchange of drive-thru equipment. It's our job to keep your store running smoothly.</p>
                </div>
            </div>
        </div>
        <div class="eight wide tablet seven wide computer right floated column">

            <div class="icon message">
                <div class="image">
                    <img src="/images/homepage/ic-check.png" alt="">
                </div>
                <div class="content">
                    <div class="header">Drive-Thru Batteries &amp; Accessories</div>
                    <p>Keep your drive-thru in tip-top shape and running efficiently with CE&rsquo;s complete selection of drive-thru batteries and accessories for all brands, including HME, Panasonic, and 3M.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- PRODUCT SEGMENT -->
<div class="ui color segment">
    <div class="ui stackable two column grid">
        <div class="fuchsia right arrow column">
            <div class="right aligned box">
                <div class="image box">
                    <img class="ui image" src="/images/homepage/odyssey-aio-headset.png" alt="">
                </div>
            </div>
        </div>

        <div class="fuchsia column">
            <div class="vertical center left aligned box">

                <div class="uppercase message">
                    <div class="small text">We'll ship you</div>
                    <div class="small text">replacement</div>
                    <div class="small bolder text">equipment</div>
                    <div class="small bolder text">overnight</div>
                    <a href="#" class="inverted outline button">Learn more</a>
                </div>

            </div>
        </div>

    </div>
</div>
<script>
    var interval = null;
    $(document).ready(function () {
        startinterval();
        $('.swiper-pagination-bullets').on('mouseover', function () {
            clearInterval(interval);
            console.log('swiper-pagination-bullets clear');
        });
        $('.swiper-pagination-bullets').on('mouseout', function () {
            startinterval('.swiper-pagination-bullets');
            console.log('swiper-pagination-bullets start');
        });
        $('.swiper-button-prev').on('mouseover', function () {
            clearInterval(interval);        
            console.log('swiper-button-prev clear');
        });
        $('.swiper-button-prev').on('mouseout', function () {
            startinterval();
            console.log('swiper-button-prev start');
        });
        $('.swiper-button-next').on('mouseover', function () {
            clearInterval(interval);
        });
        $('.swiper-button-next').on('mouseout', function () {
            startinterval();
        });
    });
    function startinterval() {
        interval = setInterval(function () { $('.swiper-button-next').click(); }, 6000);
    }
</script>