﻿@{
    //ViewBag.Title = "About cerepairs";
    Layout = "~/Views/Shared/_LayoutStaticPages.cshtml";
}

<div class="ui breadcrums segment">
    <div class="container">
        <a href="/">Home</a>&nbsp;/ Multi Store Discount

    </div>
</div>
<div>
    <div class="ui masthead segment">

        <div class="banner">
            <picture>
                <source media="(max-width: 767px)" type="image/webp" srcset="/images/banners/multi-store-m.jpg">
                <source media="(min-width: 768px)" type="image/jpg" srcset="/images/banners/multi-store.jpg">
                <img src="/images/banners/multi-store.jpg" alt="" class="img-cover">
            </picture>
            <div class="vertical centered container">
                <div class="uppercase header">
                    <div class="medium bolder black text">Multi-Store</div>
                    <div class="medium bolder black text">Discount</div>
                </div>
            </div>
        </div>

    </div>
    <div class="ui vertical icon segment">
        <div class="ui centered grid container">
            <div class="sixteen wide tablet ten wide computer center aligned column">

                <div class="icon message">
                    <div class="centered image">
                        <img src="/images/icons/multi-store.png" alt="">
                    </div>
                    <div class="content">
                        <div class="header">Multiple Store Discount</div>
                        <p>Keeping the drive-thru equipment for all your restaurants in tip-top shape can get expensive. If you have multiple stores, you may be eligible for significant savings. And if you find a lower price somewhere else, we’ll match any competitor’s coupon, so you never pay more at CE. Call 877-731-0334 for more details.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
