﻿

@{
    //ViewBag.Title = "About cerepairs";
    Layout = "~/Views/Shared/_LayoutStaticPages.cshtml";
}

<div class="ui breadcrums segment">
    <div class="container">
        <div class="container"><a href="/">Home</a>&nbsp;/&nbsp;<span class="current"> Nationwide Installation</span></div>
    </div>
</div>
<div>
    <div class="ui masthead segment">

        <div class="banner">
            <picture>
                <source media="(max-width: 767px)" type="image/webp" srcset="/images/banners/nationwide-installation-m.jpg">
                <source media="(min-width: 768px)" type="image/jpg" srcset="/images/banners/nationwide-installation.jpg">
                <img src="/images/banners/nationwide-installation.jpg" alt="" class="img-cover">
            </picture>
            <div class="vertical centered container">
                <h1 class="uppercase header">
                    <!-- <div class="medium bolder black text">Factory Authorized</div> -->
                    <div class="medium bolder black text">NATIONWIDE</div>
                    <div class="medium bolder black text">DRIVE-THRU</div>
                    <div class="medium bolder black text">Installation</div>
                </h1>
            </div>
        </div>
    </div>
    <!-- ICON SECTION -->
    <div class="ui vertical center aligned icon segment">
        <div class="ui stackable grid container">
            <div class="eight wide tablet seven wide computer column">

                <div class="icon message">
                    <div class="image">
                        <img src="/images/icons/nationwide-installation-icon1.png" alt="">
                    </div>
                    <div class="content">
                        <div class="header">Nationwide Installation</div>
                        <p>CE offers a nationwide network of drive-thru repair and drive-thru installation service providers for your convenience. To find the one nearest you, just call 877-731-0334. We have everything you need to get your drive-thru up and running—and keep it running.</p>
                    </div>
                </div>


            </div>
            <div class="eight wide tablet seven wide computer right floated column">
                <div class="icon message">
                    <div class="image">
                        <img src="/images/icons/checkmark.png" alt="">
                    </div>
                    <div class="content">
                        <div class="header">All Major Brands</div>
                        <p>CE services all major brands including HME, Panasonic, and 3M/PAR. Our skilled drive-thru repair technicians have the training and expertise to get your drive-thru repair done right, and fast.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>






