﻿
@{
    //ViewBag.Title = "About cerepairs";
    Layout = "~/Views/Shared/_LayoutStaticPages.cshtml";
}

<div class="ui breadcrums segment">
    <div class="container">
        <div class="container"><a href="/">Home</a>&nbsp;/&nbsp;<span class="current"> About Our Repairs</span></div>
    </div>
</div>
<div>
    <div class="ui masthead segment">

        <div class="banner">
            <picture>
                <source media="(max-width: 767px)" type="image/webp" srcset="/images/banners/about-our-repairs-m.jpg">
                <source media="(min-width: 768px)" type="image/jpg" srcset="/images/banners/about-our-repairs.jpg">
                <img src="/images/banners/about-our-repairs.jpg" alt="" class="img-cover">
            </picture>
            <div class="vertical centered container">
                <h1>
                    <div class="uppercase header">
                        <div class="medium bolder black text">About CE</div>
                        <div class="medium bolder black text">Drive-Thru</div>
                        <div class="medium bolder black text">Repairs</div>
                    </div>
                </h1>
            </div>
        </div>
    </div>


    <!-- ICON SECTION -->
    <div class="ui vertical center aligned icon segment">
        <div class="ui stackable grid container">
            <div class="eight wide tablet seven wide computer column">

                <div class="icon message">
                    <div class="image">
                        <img src="/images/icons/factory-authorized-repairs.png" alt="">
                    </div>
                    <div class="content">
                        <div class="header">100% Satisfaction Guaranteed</div>
                        <p>At CE, we pride ourselves on the integrity of our drive-thru repairs. We never compromise on quality for our customers. Some repair companies will claim they can’t fix something, just to sell you new equipment. Not here. If we can’t fix it, you’ll receive a $100 credit toward the purchase of a new unit, or $65 toward the purchase of a refurbished unit. We fix what others can’t, or won’t.</p>
                    </div>
                </div>


            </div>
            <div class="eight wide tablet seven wide computer right floated column">
                <div class="icon message">
                    <div class="image">
                        <img src="/images/icons/checkmark.png" alt="">
                    </div>
                    <div class="content">
                        <div class="header">Factory Authorized Drive-Thru Repairs</div>
                        <p>Every CE factory-authorized repair starts with a rigorous 35-point inspection, and quality manufacturer and aftermarket parts. Our focus is on making your equipment work for you and ensuring that your equipment will function as it should long after it leaves our facility.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- 3 ICON STRIP -->
    <div class="image-separator">
        <img class="img-cover" src="images/banners/about-our-repairs-img-break.jpg" alt="">
    </div>
    <!-- ICON SECTION -->
    <div class="ui vertical center aligned icon segment">
        <div class="ui stackable grid container">
            <div class="eight wide tablet seven wide computer column">

                <div class="icon message">
                    <div class="image">
                        <img src="/images/icons/thumb.png" alt="">
                    </div>
                    <div class="content">
                        <div class="header">HME Factory-Approved</div>
                        <p>CE is the only independent HME factory-approved and trained facility in the nation. With CE, there’s no doubt that your HME equipment repair will be done right—and fast.</p>
                    </div>
                </div>
            </div>
            <div class="eight wide tablet seven wide computer right floated column">

                <div class="icon message">
                    <div class="image">
                        <img src="/images/icons/about-ce-50-icon.png" alt="">
                    </div>
                    <div class="content">
                        <div class="header">Everything Drive-Thru</div>
                        <p>Whether you need new systems, protection plans, technical support, or a fast turnaround on broken equipment, CE has you covered. We are your one-stop shop for everything drive-thru with over 50 years of experience.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

