﻿@using cerepairs.HomeModel
@model cerepairs.HomeModel.Page
<style>
.info div.double {
    padding-right: 0px;
}
</style>
<h1 class="pagetitle">@Html.Raw(@Model.Page_Title)</h1>
<div class="@ViewBag.page_style clear">
    @Html.Raw(@Model.Page_Content)
</div>
@if (@ViewBag.page_style == "double")
{
    <div class="x2 clear">
        <img src="/images/pages/@Model.Page_BackgroundImage" />
    </div>
}




