﻿
@{
    //ViewBag.Title = "About cerepairs";
    Layout = "~/Views/Shared/_LayoutStaticPages.cshtml";
}

<div class="ui breadcrums segment">
    <div class="container">
         <div class="container"><a href="/">Home</a>&nbsp;/&nbsp;<span class="current"> Price Matching</span></div>
    </div>
</div>
<div>
    <div class="ui masthead segment">

        <div class="banner">
            <picture>
                <source media="(max-width: 767px)" type="image/webp" srcset="/images/banners/price-matching-m.jpg">
                <source media="(min-width: 768px)" type="image/jpg" srcset="/images/banners/price-matching.jpg">
                <img src="/images/banners/price-matching.jpg" alt="" class="img-cover">
            </picture>
            <div class="vertical centered container">
                <div class="uppercase header">
                    <div class="medium bolder inverted text">WE’LL BEAT OUR</div>
                    <div class="medium bolder inverted text">COMPETITORS’</div>
                    <div class="medium bolder inverted text">PRICING</div>
                </div>
            </div>
        </div>

    </div>
    <div class="ui vertical icon segment">
        <div class="ui centered grid container">
            <div class="sixteen wide tablet ten wide computer center aligned column">

                <div class="icon message">
                    <div class="centered larger image">
                        <img src="/images/price-matching-snipe.png" alt="">
                    </div>
                    <div class="content">
                        <div class="header">The Best Price for your Drive-Thru Repairs</div>
                        <p>We know you don’t want to chase down the best price for your drive-thru repairs. That’s why we guarantee that you’ll always get the lowest price at CE with 100% satisfaction. &nbsp;We will beat any competitors’ drive-thru repair coupon to ensure you’re getting the best deal. Just provide the coupon, and we’ll work out the rest! With factory-authorized technicians and same-day service, you won't need to go anywhere else.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
