﻿

@{
    //ViewBag.Title = "About cerepairs";
    Layout = "~/Views/Shared/_LayoutStaticPages.cshtml";
}

<div class="ui breadcrums segment">
    <div class="container">
        <div class="container"><a href="/">Home</a>&nbsp;/&nbsp;<span class="current"> Drive-Thru Protection Plan</span></div>
    </div>
</div>
<div>
    <div class="ui masthead segment">
        <div class="banner">
            <picture>
                <source media="(max-width: 767px)" type="image/webp" srcset="/images/banners/protection-plan-m.jpg">
                <source media="(min-width: 768px)" type="image/jpg" srcset="/images/banners/protection-plan.jpg">
                <img src="/images/banners/protection-plan.jpg" alt="" class="img-cover">
            </picture>
            <div class="vertical centered container">
                <h1 class="uppercase header">
                    <div class="medium bolder text">Drive-Thru</div>
                    <div class="medium bolder text">Protection</div>
                    <div class="medium bolder text">Plan</div>
                </h1>
            </div>
        </div>

    </div>
    <!-- ICON SECTION -->
    <div class="ui vertical icon segment">
        <div class="ui centered grid container">
            <div class="sixteen wide tablet ten wide computer center aligned column">

                <div class="icon message">
                    <div class="centered larger image">
                        <img src="/images/protection-plan-shield.png" alt="">
                    </div>
                    <div class="content">
                        <div class="header">Manage the Store, Not Your Drive-Thru Repairs</div>
                        <p>A Protection Plan from CE allows you to focus on managing the store, without the hassles of equipment maintenance. No worries, no hassles, and no long-term commitments. And our experienced drive-thru repair technicians will repair all HME, Panasonic and 3M/PAR drive-thru products. Protection Plans offer essentially unlimited repairs at one low monthly payment, and if you sign up now, your first month is on us!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui center aligned icon-strip segment">

        <div class="ui stackable three column grid container">
            <div class="sixteen wide column">
                <div class="center aligned header">Start Benefiting Today:</div>

            </div>
            <div class="column">
                <div class="icon message">
                    <div class="image">
                        <img src="/images/icons/protection-plan-icon1.png" alt="">
                    </div>
                    <div class="content">
                        <p>Essentially Unlimited Repairs, One Fixed Monthly Payment</p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="icon message">
                    <div class="image">
                        <img src="/images/icons/protection-plan-icon2.png" alt="">
                    </div>
                    <div class="content">
                        <p>Reduced Downtime</p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="icon message">
                    <div class="image">
                        <img src="/images/icons/protection-plan-icon3.png" alt="">
                    </div>
                    <div class="content">
                        <p>No Long-Term Contracts</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui stackable centered two column grid container">

            <div class="five wide center aligned column">
                <div class="icon message">
                    <div class="image">
                        <img src="/images/icons/checkmark.png" alt="">
                    </div>
                    <div class="content">
                        <p>Quality Parts &amp; Services</p>
                    </div>
                </div>
            </div>

            <div class="five wide center aligned column">
                <div class="icon message">
                    <div class="image">
                        <img src="/images/icons/technical-support.png" alt="">
                    </div>
                    <div class="content">
                        <p>Any Model, Any Brand</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>




