﻿

@{
    //ViewBag.Title = "About cerepairs";
    Layout = "~/Views/Shared/_LayoutStaticPages.cshtml";
}

<div class="ui breadcrums segment">
    <div class="container">
        <div class="container"><a href="/">Home</a>&nbsp;/&nbsp;<span class="current"> Repair Warranty & Maintenance Programs</span></div>
    </div>
</div>
<div>
    <div class="ui masthead segment">

        <div class="banner">
            <picture>
                <source media="(max-width: 767px)" type="image/webp" srcset="/images/banners/repair-warranty-m.jpg">
                <source media="(min-width: 768px)" type="image/jpg" srcset="/images/banners/repair-warranty.jpg">
                <img src="/images/banners/repair-warranty.jpg" alt="" class="img-cover">
            </picture>
            <div class="vertical centered container">
                <h1 class="uppercase header">
                    <div class="medium bolder black text">REPAIR WARRANTY</div>
                    <div class="medium bolder black text">&amp; DRIVE-THRU</div>
                    <div class="medium bolder black text">MAINTENANCE</div>
                    <div class="medium bolder black text">Program</div>
                </h1>
            </div>
        </div>
    </div>
    <!-- ICON SECTION -->
    <div class="ui vertical center aligned icon segment">
        <div class="ui stackable grid container">
            <div class="eight wide tablet ten wide computer centered column">

                <div class="icon message">
                    <div class="image">
                        <img src="/images/icons/wrench.png" alt="">
                    </div>
                    <div class="content">
                        <div class="header">Drive-Thru Repair Warranty &amp; Maintenance</div>
                        <p>
                            Even with every precaution, sometimes equipment just breaks.<br>
                            At CE, we offer a variety of repair programs to keep your equipment running smoothly and efficiently.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="ui color segment">
        <div class="ui mobile reversed stackable two column grid">

            <div class="aquamarine column">
                <div class="vertical center right aligned box">

                    <div class="uppercase message">
                        <div class="small bolder black text">First Month Is On Us!</div>
                        <p class="black text regular case">Protection plans offer essentially unlimited repairs at one low monthly payment, if you sign up now, your first month is on us! Plans cover all models and brands.</p>
                        <p class="tiny bolder text regular case">Call <strong>877-731-0334</strong> for details.</p>

                    </div>

                </div>
            </div>

            <div class="right aquamarine arrow column">
                <div class="left aligned box">
                    <div class="image box">
                        <img class="ui image" src="images/protection-plan-shield.png" alt="">
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="ui vertical center aligned icon segment">
        <div class="ui stackable grid container">
            <div class="eight wide tablet seven wide computer column">

                <div class="icon message">
                    <div class="image">
                        <img src="/images/icons/calendar.png" alt="">
                    </div>
                    <div class="content">
                        <div class="header">4-Month Repair Warranty</div>
                        <p>You’re busy. The last thing you need to worry about is whether or not your repair is going to hold up. We are so confident in our repairs that we cover every repair with a 4-month warranty. Some restrictions and conditions apply.</p>
                    </div>
                </div>
            </div>
            <div class="eight wide tablet seven wide computer right floated column">

                <div class="icon message">
                    <div class="image">
                        <img src="/images/icons/signature.png" alt="">
                    </div>
                    <div class="content">
                        <div class="header">Drive-Thru Repair Equipment Maintenance Agreements</div>
                        <p>Minimize your drive-thru downtime and maximize your equipment's lifespan with CE's Protection Plan. <br> We offer monthly Plans for all HME, Panasonic, and 3M/PAR drive-thru products. Enjoy one low monthly price, zero-hassle advance equipment exchanges, and avoid unpredictable drive-thru repair expenditures. Get the peace of mind that a CE Protection Plan offers—call for details today at 877-731-0334.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


