﻿

@{
    //ViewBag.Title = "About cerepairs";
    Layout = "~/Views/Shared/_LayoutStaticPages.cshtml";
}

<div class="ui breadcrums segment">
    <div class="container">
        <div class="container"><a href="/">Home</a>&nbsp;/&nbsp;<span class="current"> Same-Day Service</span></div>
    </div>
</div>
<div>
    <div class="ui masthead segment">
        <div class="banner">
            <picture>
                <source media="(max-width: 767px)" type="image/webp" srcset="/images/banners/same-day-service-m.jpg">
                <source media="(min-width: 768px)" type="image/jpg" srcset="/images/banners/same-day-service.jpg">
                <img src="/images/banners/same-day-service.jpg" alt="" class="img-cover">
            </picture>
            <div class="vertical centered container">
                <h1>
                    <div class="uppercase header">
                        <div class="medium bolder black text">Drive-Thru Repairs</div>
                        <div class="medium bolder black text">Same-day Service</div>
                    </div>
                </h1>
            </div>
        </div>
    </div>
    <!-- ICON SECTION -->
    <div class="ui vertical center aligned icon segment">
        <div class="ui stackable grid container">
            <div class="eight wide tablet seven wide computer column">

                <div class="icon message">
                    <div class="image">
                        <img src="/images/icons/calendar.png" alt="">
                    </div>
                    <div class="content">
                        <div class="header">Same-Day Service</div>
                        <p>There’s no time for broken equipment in the drive-thru lane. You need your drive-thru repair, and you need it fast. That’s why in most cases we’ll repair your product within 24 hours of receiving, it or the repair is FREE. Some limitations and exclusions apply.</p>
                    </div>
                </div>


            </div>
            <div class="eight wide tablet seven wide computer right floated column">
                <div class="icon message">
                    <div class="image">
                        <img src="/images/icons/protection-plan-icon2.png" alt="">
                    </div>
                    <div class="content">
                        <div class="header">Fast Turnaround</div>
                        <p>CE has been in the drive-thru repair business for over 50 years. That means our expert drive-thru repair technicians know what it takes to fix your equipment fast—and how to do it right the first time.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>



