﻿


@{
    //ViewBag.Title = "About cerepairs";
    Layout = "~/Views/Shared/_LayoutStaticPages.cshtml";
}
<style>
    .captcha_size {
        transform: scale(0.77);
        -webkit-transform: scale(0.77);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
    /*.rc-anchor-light {
        transform:scale(0.6);
        -webkit-transform:scale(0.6);
    }*/
    .rc-anchor-normal-footer {
        display: none !important;
    }
</style>
<div class="ui breadcrums segment">
    <div class="container">
        <div class="container"><a href="/">Home</a>&nbsp;/&nbsp;<span class="current"> Free Inbound Shipping</span></div>
    </div>
</div>
<div>
    <div class="ui masthead segment">
        <div class="banner">
            <picture>
                <source media="(max-width: 767px)" type="image/webp" srcset="/images/banners/inbound-shipping-m.jpg">
                <source media="(min-width: 768px)" type="image/jpg" srcset="/images/banners/inbound-shipping.jpg">
                <img src="/images/banners/inbound-shipping.jpg" alt="" class="img-cover">
            </picture>
            <div class="vertical centered container">
                <div class="uppercase header">
                    <div class="medium bolder black text">Free Inbound</div>
                    <div class="medium bolder black text">Shipping for</div>
                    <div class="medium bolder black text">Drive-Thru Repairs</div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui vertical center aligned icon segment">
        <div class="ui stackable grid container">
            <div class="eight wide tablet seven wide computer column">
                <div class="icon message">
                    <div class="image">
                        <img src="/images/icons/phone.png" alt="">
                    </div>
                    <div class="content">
                        <div class="header">Quick and Easy!</div>
                        <p>Fill out the form below, and we'll provide free inbound shipping labels—it couldn't be easier.</p>
                    </div>
                </div>
            </div>
            <div class="eight wide tablet seven wide computer right floated column">
                <div class="icon message">
                    <div class="image">
                        <img src="/images/icons/send.png" alt="">
                    </div>
                    <div class="content">
                        <div class="header">Same-Day Service on Drive-Thru Repairs or it's FREE</div>
                        <p>We know that you have a business to run, and you don't have time for broken equipment. That's why in most cases we'll repair your product within 24 hours of receiving it or the repair is FREE. Some limitations and exclusions apply.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="ui segment shipping-label" style="display:none;">
    </div>
    <div class="ui segment shipping-label-form">
        <div class="ui stackable two column grid container shipping-labels">
            <div class="column">
                <form class="ui ce custom form shipping-labels-form">
                    <h4 class="ui dividing header">Shipping Information</h4>
                    <div class="field right-inner-addon">
                        <i>*</i>
                        <input type="text" id="firstname" class="obligatory input" name="shipping[firstname]" placeholder="First Name">
                     </div>
                    <div class="field right-inner-addon">
                        <i>*</i>
                        <input type="text" id="lastname" class="obligatory input" name="shipping[lastname]" placeholder="Last Name">
                    </div>
                    <div class="field">
                         <div class="ui fluid dropdown selection ups-label" tabindex="0">
                            <select id="chain" class="obligatory input">
                                <option value="">Chain</option>
                                <option value="Arby's">Arby's</option>
                                <option value="Burger King">Burger King</option>
                                <option value="Carl's Jr.">Carl's Jr.</option>
                                <option value="Checker's/Rally's">Checker's/Rally's</option>
                                <option value="Chic-fil-A">Chic-fil-A</option>
                                <option value="Chicken Express">Chicken Express</option>
                                <option value="Dairy Queen">Dairy Queen</option>
                                <option value="Dunkin' Donuts">Dunkin' Donuts</option>
                                <option value="Hardee's">Hardee's</option>
                                <option value="Jack in the Box">Jack in the Box</option>
                                <option value="KFC">KFC</option>
                                <option value="Long John Silver's">Long John Silver's</option>
                                <option value="McDonald's">McDonald's</option>
                                <option value="Popeyes">Popeyes</option>
                                <option value="Taco Bell">Taco Bell</option>
                                <option value="Tim Hortons">Tim Hortons</option>
                                <option value="Wendy's">Wendy's</option>
                                <option value="Zaxby's">Zaxby's</option>
                                <option value="Other">Other (Enter Chain)</option>
                            </select>
                             <i class="dropdown icon"></i>
                             <div class="default text">Chain</div>
                             <i class="right-inner-addon-select">*</i>
                             <div class="menu" tabindex="-1">
                             <div class="item" data-value="Arby's">Arby's</div><div class="item" data-value="Burger King">Burger King</div><div class="item" data-value="Carl's Jr.">Carl's Jr.</div><div class="item" data-value="Checker's/Rally's">Checker's/Rally's</div><div class="item" data-value="Chic-fil-A">Chic-fil-A</div><div class="item" data-value="Chicken Express">Chicken Express</div><div class="item" data-value="Dairy Queen">Dairy Queen</div><div class="item" data-value="Dunkin' Donuts">Dunkin' Donuts</div><div class="item" data-value="Hardee's">Hardee's</div><div class="item" data-value="Jack in the Box">Jack in the Box</div><div class="item" data-value="KFC">KFC</div><div class="item" data-value="Long John Silver's">Long John Silver's</div><div class="item" data-value="McDonald's">McDonald's</div><div class="item" data-value="Popeyes">Popeyes</div><div class="item" data-value="Taco Bell">Taco Bell</div><div class="item" data-value="Tim Hortons">Tim Hortons</div><div class="item" data-value="Wendy's">Wendy's</div><div class="item" data-value="Zaxby's">Zaxby's</div><div class="item" data-value="Other">Other (Enter Chain)</div></div>
                       </div>

                    </div>
                    <div class="field right-inner-addon">
                        <i>*</i>
                       <input type="text" id="storenumber" class="obligatory input" name="shipping[storenumber]" placeholder="Store Number">
                    </div>
                    <div class="field right-inner-addon">
                        <i>*</i>
                        <input type="email" id="email" class="obligatory input" name="shipping[email]" placeholder="Email">
                    </div>
                    <div class="field right-inner-addon">
                        <i>*</i>
                        <input type="tel" id="phonenumber" class="obligatory input" name="shipping[phonenumber]" placeholder="Phone">
                    </div>
                    <div class="field right-inner-addon">
                        <i>*</i>
                        <input type="text" id="address1" class="obligatory input" name="shipping[address1]" placeholder="Address Line 1">
                    </div>
                    <div class="field">
                        <input type="text" id="address2" class="input" name="shipping[address2]" placeholder="Address Line 2">
                    </div>
                    <div class="field right-inner-addon">
                        <i>*</i>
                       <input type="text" id="city" class="obligatory input" name="shipping[city]" placeholder="City">
                    </div>
                    <div class="field">
                        <div class="ui fluid dropdown selection ups-label" tabindex="0">
                            <select id="state" class="obligatory input">
                                <option value="">State</option>
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="DC">District Of Columbia</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
                            </select>
                            <i class="dropdown icon"></i>
                            <div class="default text">State</div>
                            <i class="right-inner-addon-select">*</i>
                            <div class="menu" tabindex="-1"><div class="item" data-value="AL">Alabama</div><div class="item" data-value="AK">Alaska</div><div class="item" data-value="AZ">Arizona</div><div class="item" data-value="AR">Arkansas</div><div class="item" data-value="CA">California</div><div class="item" data-value="CO">Colorado</div><div class="item" data-value="CT">Connecticut</div><div class="item" data-value="DE">Delaware</div><div class="item" data-value="DC">District Of Columbia</div><div class="item" data-value="FL">Florida</div><div class="item" data-value="GA">Georgia</div><div class="item" data-value="HI">Hawaii</div><div class="item" data-value="ID">Idaho</div><div class="item" data-value="IL">Illinois</div><div class="item" data-value="IN">Indiana</div><div class="item" data-value="IA">Iowa</div><div class="item" data-value="KS">Kansas</div><div class="item" data-value="KY">Kentucky</div><div class="item" data-value="LA">Louisiana</div><div class="item" data-value="ME">Maine</div><div class="item" data-value="MD">Maryland</div><div class="item" data-value="MA">Massachusetts</div><div class="item" data-value="MI">Michigan</div><div class="item" data-value="MN">Minnesota</div><div class="item" data-value="MS">Mississippi</div><div class="item" data-value="MO">Missouri</div><div class="item" data-value="MT">Montana</div><div class="item" data-value="NE">Nebraska</div><div class="item" data-value="NV">Nevada</div><div class="item" data-value="NH">New Hampshire</div><div class="item" data-value="NJ">New Jersey</div><div class="item" data-value="NM">New Mexico</div><div class="item" data-value="NY">New York</div><div class="item" data-value="NC">North Carolina</div><div class="item" data-value="ND">North Dakota</div><div class="item" data-value="OH">Ohio</div><div class="item" data-value="OK">Oklahoma</div><div class="item" data-value="OR">Oregon</div><div class="item" data-value="PA">Pennsylvania</div><div class="item" data-value="RI">Rhode Island</div><div class="item" data-value="SC">South Carolina</div><div class="item" data-value="SD">South Dakota</div><div class="item" data-value="TN">Tennessee</div><div class="item" data-value="TX">Texas</div><div class="item" data-value="UT">Utah</div><div class="item" data-value="VT">Vermont</div><div class="item" data-value="VA">Virginia</div><div class="item" data-value="WA">Washington</div><div class="item" data-value="WV">West Virginia</div><div class="item" data-value="WI">Wisconsin</div><div class="item" data-value="WY">Wyoming</div></div>
                        </div>
                    </div>
                    <div class="field right-inner-addon">
                        <i>*</i>
                        <input type="text" id="zipcode" class="obligatory input" name="shipping[zipcode]" placeholder="Zip Code">
                    </div>
                </form>
            </div> <!-- /left column -->
            <div class="column product-return">
                <div class="ui grid ">
                    <div class="row">
                        <div class="ten wide column">
                            <div class="title">HME EOS Battery Charge</div>
                        </div> <!-- column -->
                        <div class="six wide column">
                            <div class="inline counter">
                                <div class="qty label">Quantity: </div>
                                <div class="ui counter">
                                    <div class="dec button"><img src="/images/outline_remove_black_18dp.png" alt=""></div>
                                    <input type="text" id="HME_EOS_Battery_Charge" class="count" value="0">
                                    <div class="inc button"><img class="responsive" src="/images/outline_add_black_18dp.png" alt=""></div>
                                </div>

                            </div>
                        </div> <!-- column -->
                    </div>
                    <div class="row">
                        <div class="ten wide column">
                            <div class="title">All-in-one headset:</div>
                        </div> <!-- column -->
                        <div class="six wide column">
                            <div class="inline counter">
                                <div class="qty label">Quantity: </div>
                                <div class="ui counter">
                                    <div class="dec button"><img src="/images/outline_remove_black_18dp.png" alt=""></div>
                                    <input type="text" id="All_in_one_headset" class="count" value="0">
                                    <div class="inc button"><img class="responsive" src="/images/outline_add_black_18dp.png" alt=""></div>
                                </div>

                            </div>
                        </div> <!-- column -->
                    </div>
                    <div class="row">
                        <div class="ten wide column">
                            <div class="title">Communicator: </div>
                        </div> <!-- column -->
                        <div class="six wide column">
                            <div class="inline counter">
                                <div class="qty label">Quantity: </div>
                                <div class="ui counter">
                                    <div class="dec button"><img src="/images/outline_remove_black_18dp.png" alt=""></div>
                                    <input type="text" id="Communicator" value="0" class="count">
                                    <div class="inc button"><img class="responsive" src="/images/outline_add_black_18dp.png" alt=""></div>
                                </div>

                            </div>
                        </div> <!-- column -->
                    </div>
                    <div class="row">
                        <div class="ten wide column">
                            <div class="title">Timer SYS30: </div>
                        </div> <!-- column -->
                        <div class="six wide column">
                            <div class="inline counter">
                                <div class="qty label">Quantity: </div>
                                <div class="ui counter">
                                    <div class="dec button"><img src="/images/outline_remove_black_18dp.png" alt=""></div>
                                    <input type="text" id="Timer_SYS30" value="0" class="count">
                                    <div class="inc button"><img class="responsive" src="/images/outline_add_black_18dp.png" alt=""></div>
                                </div>

                            </div>
                        </div> <!-- column -->
                    </div>
                    <div class="row">
                        <div class="ten wide column">
                            <div class="title">Timer DASH (control unit): </div>
                        </div> <!-- column -->
                        <div class="six wide column">
                            <div class="inline counter">
                                <div class="qty label">Quantity: </div>
                                <div class="ui counter">
                                    <div class="dec button"><img src="/images/outline_remove_black_18dp.png" alt=""></div>
                                    <input type="text" id="Timer_DASH" value="0" class="count">
                                    <div class="inc button"><img class="responsive" src="/images/outline_add_black_18dp.png" alt=""></div>
                                </div>

                            </div>
                        </div> <!-- column -->
                    </div>
                    <div class="row">
                        <div class="ten wide column">
                            <div class="title">Timer Zoom (control unit): </div>
                        </div> <!-- column -->
                        <div class="six wide column">
                            <div class="inline counter">
                                <div class="qty label">Quantity: </div>
                                <div class="ui counter">
                                    <div class="dec button"><img src="/images/outline_remove_black_18dp.png" alt=""></div>
                                    <input type="text" id="Timer_Zoom" value="0" class="count">
                                    <div class="inc button"><img class="responsive" src="/images/outline_add_black_18dp.png" alt=""></div>
                                </div>

                            </div>
                        </div> <!-- column -->
                    </div>
                    <div class="row">
                        <div class="ten wide column">
                            <div class="title">Zoom TSP: </div>
                        </div> <!-- column -->
                        <div class="six wide column">
                            <div class="inline counter">
                                <div class="qty label">Quantity: </div>
                                <div class="ui counter">
                                    <div class="dec button"><img src="/images/outline_remove_black_18dp.png" alt=""></div>
                                    <input type="text" id="Zoom_TSP" value="0" class="count">
                                    <div class="inc button"><img class="responsive" src="/images/outline_add_black_18dp.png" alt=""></div>
                                </div>

                            </div>
                        </div> <!-- column -->
                    </div>
                    <div class="row">
                        <div class="ten wide column">
                            <div class="title">Battery Charger: </div>
                        </div> <!-- column -->
                        <div class="six wide column">
                            <div class="inline counter">
                                <div class="qty label">Quantity: </div>
                                <div class="ui counter">
                                    <div class="dec button"><img src="/images/outline_remove_black_18dp.png" alt=""></div>
                                    <input type="text" id="Battery_Charger" value="0" class="count">
                                    <div class="inc button"><img class="responsive" src="/images/outline_add_black_18dp.png" alt=""></div>
                                </div>

                            </div>
                        </div> <!-- column -->
                    </div>
                    <div class="row">
                        <div class="ten wide column">
                            <div class="field other">
                                <input type="text" id="Other" name="shipping[other]" placeholder="Other" class="other">
                            </div>
                        </div> <!-- column -->
                        <div class="six wide column">
                            <div class="field other">
                                <input type="text" id="Weight" name="shipping[weight]" maxlength="2" placeholder="Weight LBS" class="other weight numeric">
                            </div>
                        </div> <!-- column -->
                    </div>
                    <div class="row submit" style="position:relative">
                        <p>We will process your personal data in line with our <a href="/Online_Privacy_Policy.pdf" target="_blank">Privacy Policy</a>.</p>
                        <p>By clicking "Submit", you acknowledge that you have read and agreed to our <a href="/Online_Privacy_Policy.pdf" target="_blank">Privacy Policy</a>.</p>
                        <div>
                            <div class="captcha-div" style="position:absolute; top:6px; display:none;">
                                <div class="grecaptcha captcha_size" id="grecaptcha"></div>
                            </div>
                            <div class="ui ce button shipping-labels-button" tabindex="0">Submit Order</div>
                            <div style="display:inline;">
                                <div class="shipping-label-spinner" style="position:relative;display:none;">
                                    <div style="display:inline;position:absolute;top:-33px;left:5px;"><i class="fa fa-spinner fa-spin" style="font-size:24px"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- item row -->
            </div> <!-- /right column -->
        </div>
    </div>

</div>
<script src='https://www.google.com/recaptcha/api.js?onload=myCallBack&render=explicit' async defer></script>
<script>
    var recaptcha1;
    var myCallBack = function () {
        //Render the g-recaptcha on the element with ID "recaptcha1"
        recaptcha1 = grecaptcha.render('grecaptcha', {
            'sitekey': '6LcliTgUAAAAADO_R8ODCtFuMPvEoGNLFDB-fYc7', //Replace this with your Site key
            'callback': verifyCallback,
            'theme': 'light'
        });
        //    $('.captcha_size').find('iframe').attr('height', '68px');
        //    //$('.captcha_size').find('iframe').attr('width', '180px');

    };
    var verifyCallback = function () {
        if (grecaptcha.getResponse(recaptcha1) != '') {
            $('.shipping-labels .shipping-labels-button').show();
            $('.captcha-div').hide();
            $('.shipping-labels .shipping-labels-button').click();
        }
    };
</script>








