﻿


@{
    //ViewBag.Title = "About cerepairs";
    Layout = "~/Views/Shared/_LayoutStaticPages.cshtml";
}

<div class="ui breadcrums segment">
    <div class="container">
        <div class="container"><a href="/">Home</a>&nbsp;/&nbsp;<span class="current"> Special Offers</span></div>
    </div>
</div>

<div class="ui masthead segment">
    <div class="banner">
        <picture>
            <source media="(max-width: 767px)"
                    type="image/webp"
                    srcset="/images/banners/special-offers-banner-m.jpg" />
            <source media="(min-width: 768px)"
                    type="image/jpg"
                    srcset="/images/banners/special-offers-banner.jpg" />
            <img src="/images/banners/special-offers-banner.jpg"
                 alt=""
                 class="img-cover" />
        </picture>
        <div class="vertical centered container">
            <h1 class="centered uppercase message">
                <div class="medium bolder inverted text">Special</div>
                <div class="medium bolder white inverted text">Offers</div>

                <p class="text">As a thank you, we offer the following specials on drive-thru repairs to all new customers:</p>
            </h1>
        </div>
    </div>
</div>

<!-- IMAGE/TEXT SECTION -->
<a id="Free_Headset_Repair"></a>
<div class="text segment">
    <div class="ui mobile reversed stackable grid container">
        <div class="eight wide tablet seven wide computer column">
            <div class="message">
                <div class="header">Free Headset Repair</div>
                <p>Haven&rsquo;t tried CE yet? Your first headset repair is on us, regardless of brand! Plus, you&rsquo;ll also get free inbound shipping. Getting your free headset repair is as easy as 1-2-3.</p>
                <a href="/free-headset-repair" class="ce outline button">Learn More</a>
            </div>
        </div>
        <div class="eight wide tablet seven wide computer right floated column">
            <div class="image box">
                <img class="ui image" src="/images/special-offers-odyssey.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<!-- COLOR SEGMENT -->
<div class="ui color segment">
    <div class="ui mobile stackable two column grid">
        <div class="turquoise left arrow column">
            <div class="right aligned box">
                <div class="image box">
                    <img class="ui image" src="/images/ce-repairs-special-offers-earpads.png" alt="">
                </div>
            </div>
        </div>

        <div class="turquoise right column">
            <div class="left aligned box">
                <div class="message">
                    <div class="tiny bolder black text">3 FREE Earpads</div>
                    <p class="black text">with your next drive-thru headset repair + FREE inbound shipping*</p>
                    <a href="javascript:printCoupon()" class="inverted outline button">Print Your Coupon</a>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- TEXT/IMAGE SECTION -->
<div class="text segment">
    <div class="ui mobile reversed stackable grid container">
        <div class="eight wide tablet seven wide computer column">
            <div class="message">
                <div class="content">
                    <div class="header">First Month Free on a CE Drive-Thru Protection Plan</div>
                    <p>Stop worrying about your next potential repair and get peace of mind with CE Drive-Thru Protection Plan. Protection Plans offer essentially unlimited repairs at one low monthly payment, and if you sign up now, your first month is on us! Plans cover all models and brands. <strong><u>Call 877-731-0334 for details.</u></strong></p>
                    <!-- <a href="#" class="ce outline button">Send in a repair</a> -->
                </div>
            </div>
        </div>
        <div class="eight wide tablet seven wide computer right floated column">

            <div class="image box">
                <img class="ui image" src="/images/special-offers-drive-thru-protection.jpg" alt="">
            </div>

        </div>
    </div>
</div>

<div class="photo separator" style="background-image: url('/images/additional-offers-banner.jpg')"></div>

<!-- IMAGE/TEXT SECTION -->
<div class="text segment">
    <div class="ui mobile stackable grid container">
        <div class="eight wide tablet seven wide computer left floated column">

            <div class="image box">
                <img class="ui image" src="/images/special-offers-battery.jpg" alt="">
            </div>

        </div>
        <div class="eight wide tablet seven wide computer column">
            <div class="message">
                <div class="content">
                    <div class="header">Free Battery</div>
                    <p>
                        Need batteries? Get a free battery from CE! We know
                        that batteries are a necessity for your drive-thru, and it&rsquo;s our job to keep you stocked. Purchase 3 CE branded batteries for any HME, Panasonic, or 3M/PAR system and get your 4th battery free.&nbsp; Offer valid on CE branded batteries only. Free battery must be of equal or lesser value. Use promo code: PCBATW.
                    </p>
                    <a href="/Catalog/Batteries/" class="ce outline button">Shop Batteries</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- BLUE SEGMENT -->
<div class="ui color segment">
    <div class="ui mobile reversed stackable two column grid">
        <div class="blue column">
            <div class="vertical center right aligned box">
                <div class="message">
                    <div class="header">Bonus Bucks</div>
                    <p>We want to reward you for your commitment to us. For every $100 you spend on a repair with CE we will give you $5 in Bonus Bucks to use on repairs in the future. It&rsquo;s just like cash, only better! Use them on your next repair or save them up for a larger discount later.</p>
                </div>
            </div>
        </div>
        <div class="blue right arrow column">
            <div class="image box">
                <img class="ui image" src="/images/bonus-bucks.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- IMAGE/TEXT SECTION -->
<div class="text segment">
    <div class="ui mobile stackable grid container">
        <div class="eight wide tablet seven wide computer left floated column">

            <div class="image box">
                <img class="ui image" src="/images/ce_repairs_special_offers_20.png" alt="">
            </div>

        </div>
        <div class="eight wide tablet seven wide computer column">
            <div class="message">
                <div class="content">
                    <div class="header">Multi-Store Discount</div>
                    <p>
                        Have multiple stores? Save more with the multi-store saving program! Save up to 20% off select products and services, just give us a <strong>
                            <u>
                                call at <span class="nowrap">1-877-731-0334</span>
                                for more details.
                            </u>
                        </strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- COLOR SEGMENT -->
<div class="ui color segment">
    <div class="ui mobile reversed stackable two column grid">

        <div class="magenta right column">
            <div class="right aligned box">
                <div class="message">
                    <div class="header">Price Matching</div>
                    <p>We know you don&rsquo;t want to chase down the best price. That&rsquo;s why we guarantee that you&rsquo;ll always get the lowest price at CE with 100% satisfaction. We will beat any competitors&rsquo; coupon to ensure you&rsquo;re getting the best deal. Just provide the coupon, and we&rsquo;ll work out the rest! Offer valid for repairs and accessories only.</p>
                    <p class="note">Some restrictions apply. Competitor&rsquo;s coupon must be provided with order. Coupons subject to verification. Cannot be combined with any other offer. Call for details 877-731-0334.</p>
                    <!-- <a href="#" class="inverted outline button">See all accesories</a> -->
                </div>
            </div>
        </div>
        <div class="magenta right arrow column ">
            <div class="right aligned box">
                <div class="image box">
                    <img class="ui image" src="/images/satisfaction-guaranteed.png" alt="">
                </div>
            </div>
        </div>
        <div style="display:none">
            <div id="earpad-coupon" class="earpad-coupon">
                <img src="/images/Earpads coupon-min.jpg" style="width: 1100px;" />
            </div>
        </div>
    </div>
</div>
<script>
    function printCoupon() {
        var divToPrint = document.getElementById('print');
        var divcouponPrint = document.getElementById('earpad-coupon');
        var ifrm = document.createElement("iframe");
        ifrm.style.display = "none";
        document.body.appendChild(ifrm);
        setTimeout(function () {
            $(ifrm).contents().find("body").html(divcouponPrint.innerHTML);
            ifrm.contentWindow.print();
            $(ifrm).remove();
        }, 1);
    }
</script>








