﻿@using cerepairs.DetailsModels
@model DetailModels.ProductDetail_dto
@{
    Layout = "~/Views/Shared/_LayoutStaticPages.cshtml";
}

<style>
    .yellow {
        color: yellow !important;
    }

    .yellobackground {
        background-color: yellow !important;
    }

    .red {
        color: red !important;
    }

    .left-inner-addon-p i {
        position: absolute;
        left: -8px;
        pointer-events: none;
        color: red;
    }
</style>
<style>
    .captcha_size {
        transform: scale(0.77);
        -webkit-transform: scale(0.77);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
    /*.rc-anchor-light {
        transform:scale(0.6);
        -webkit-transform:scale(0.6);
    }*/
    .rc-anchor-normal-footer {
        display: none !important;
    }
</style>
<div class="ui breadcrums segment">
    <div class="container">
        <div class="container"><a href="/">Home</a>&nbsp;/&nbsp;<span class="current"> Survey</span></div>
    </div>
</div>
<div class="ui masthead segment">

    <div class="banner">
        <picture>
            <source media="(max-width: 767px)" type="image/webp" srcset="/images/banners/survey-m.jpg">
            <source media="(min-width: 768px)" type="image/jpg" srcset="/images/banners/survey.jpg">
            <img src="/images/banners/survey.jpg" alt="" class="img-cover">
        </picture>
        <!--           <div class="vertical centered container">
                    <div class="uppercase header">
                        <div class="medium bolder black text">Contact CE</div>
                        <div class="medium bolder black text">Drive-Thru Repairs</div>
                    </div>
                  </div>    -->
    </div>
</div>
<div class="ui padded segment">
    <div class="ui stackable grid container surveytop">
        <div class="sixteen wide column">
            <h2>How Are we doing?</h2>
            <p>Rate us on a scale of 1-5. You'll be entered into our monthly drawing as a thank you for your feedback.</p>
        </div>

        <div class="ten wide column">
            <form class="ui ce custom form">
                <p class="left-inner-addon-p"><i>*</i>CE acts quickly to respond to my needs.</p>
                <div class="inline fields group1">
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input id="q11" type="radio" name="quickly" value="1" tabindex="0" class="hidden">
                            <label>1 Never</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input id="q12" type="radio" name="quickly" value="2" tabindex="0" class="hidden">
                            <label>2 Rarely</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input id="q13" type="radio" name="quickly" value="3" tabindex="0" class="hidden">
                            <label>3 Sometimes</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input id="q14" type="radio" name="quickly" value="4" tabindex="0" class="hidden">
                            <label>4 Often</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input id="q15" type="radio" name="quickly" value="5" tabindex="0" class="hidden">
                            <label>5 Always</label>
                        </div>
                    </div>
                </div>

                <p class="left-inner-addon-p"><i>*</i>The quality of CE's products and services fully meet my expectations.</p>
                <div class="inline fields group2">
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input id="q21" type="radio" name="expectations" value="1" tabindex="0" class="hidden">
                            <label>1 Never</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input id="q22" type="radio" name="expectations" value="2" tabindex="0" class="hidden">
                            <label>2 Rarely</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input id="q23" type="radio" name="expectations" value="3" tabindex="0" class="hidden">
                            <label>3 Sometimes</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input id="q24" type="radio" name="expectations" value="4" tabindex="0" class="hidden">
                            <label>4 Often</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input id="q25" type="radio" name="expectations" value="5" tabindex="0" class="hidden">
                            <label>5 Always</label>
                        </div>
                    </div>
                </div>

                <p class="left-inner-addon-p"><i>*</i>CE products and services represent good value.</p>
                <div class="inline fields group3">
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input id="q31" type="radio" name="goodvalue" value="1" tabindex="0" class="hidden">
                            <label>1 Never</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input id="q32" type="radio" name="goodvalue" value="2" tabindex="0" class="hidden">
                            <label>2 Rarely</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input id="q33" type="radio" name="goodvalue" value="3" tabindex="0" class="hidden">
                            <label>3 Sometimes</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input id="q34" type="radio" name="goodvalue" value="4" tabindex="0" class="hidden">
                            <label>4 Often</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input id="q35" type="radio" name="goodvalue" value="5" tabindex="0" class="hidden">
                            <label>5 Always</label>
                        </div>
                    </div>
                </div>

                <p class="left-inner-addon-p"><i>*</i>CE's offerings cover all my needs for my drive-thru operations.</p>
                <div class="inline fields group4">
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input id="q41" type="radio" name="drivethru" value="1" tabindex="0" class="hidden">
                            <label>1 Never</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input id="q42" type="radio" name="drivethru" value="2" tabindex="0" class="hidden">
                            <label>2 Rarely</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input id="q43" type="radio" name="drivethru" value="3" tabindex="0" class="hidden">
                            <label>3 Sometimes</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input id="q44" type="radio" name="drivethru" tabindex="0" value="4" class="hidden">
                            <label>4 Often</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input id="q45" type="radio" name="drivethru" value="5" tabindex="0" class="hidden">
                            <label>5 Always</label>
                        </div>
                    </div>
                </div>

                <div class="field" style="margin-top:3em;">
                    <textarea id="surveycomments" name="surveycomments" placeholder="Additional Comments..."></textarea>
                </div>

                <h2>To be entered into our monthly drawing, please provide the following:</h2>
                <div class="field right-inner-addon">
                    <i>*</i>
                    <input type="text" id="surveyname" class="obligatory input surveyname" name="surveyname" placeholder="Name">
                </div>

                <div class="required field">
                    <div class="ui fluid dropdown selection" tabindex="0">
                        <select id="surveychain" name="surveychain" class="obligatory input surveychain">
                            <option value="">Chain *</option>
                            <option value="Arby's">Arby's</option>
                            <option value="Burger King">Burger King</option>
                            <option value="Carl's Jr.">Carl's Jr.</option>
                            <option value="Checker's/Rally's">Checker's/Rally's</option>
                            <option value="Chic-fil-A">Chic-fil-A</option>
                            <option value="Chicken Express">Chicken Express</option>
                            <option value="Dairy Queen">Dairy Queen</option>
                            <option value="Dunkin' Donuts">Dunkin' Donuts</option>
                            <option value="Hardee's">Hardee's</option>
                            <option value="Jack in the Box">Jack in the Box</option>
                            <option value="KFC">KFC</option>
                            <option value="Long John Silver's">Long John Silver's</option>
                            <option value="McDonald's">McDonald's</option>
                            <option value="Popeyes">Popeyes</option>
                            <option value="Taco Bell">Taco Bell</option>
                            <option value="Tim Hortons">Tim Hortons</option>
                            <option value="Wendy's">Wendy's</option>
                            <option value="Zaxby's">Zaxby's</option>
                            <option value="Other">Other (Enter Chain)</option>
                        </select><i class="dropdown icon"></i>
                        <div class="default text">Chain</div>
                        <i class="right-inner-addon-select">*</i>
                        <div class="menu" tabindex="-1">
                            <div class="item" data-value="Arby's">Arby's</div><div class="item" data-value="Burger King">Burger King</div><div class="item" data-value="Carl's Jr.">Carl's Jr.</div><div class="item" data-value="Checker's/Rally's">Checker's/Rally's</div><div class="item" data-value="Chic-fil-A">Chic-fil-A</div><div class="item" data-value="Chicken Express">Chicken Express</div><div class="item" data-value="Dairy Queen">Dairy Queen</div><div class="item" data-value="Dunkin' Donuts">Dunkin' Donuts</div><div class="item" data-value="Hardee's">Hardee's</div><div class="item" data-value="Jack in the Box">Jack in the Box</div><div class="item" data-value="KFC">KFC</div><div class="item" data-value="Long John Silver's">Long John Silver's</div><div class="item" data-value="McDonald's">McDonald's</div><div class="item" data-value="Popeyes">Popeyes</div><div class="item" data-value="Taco Bell">Taco Bell</div><div class="item" data-value="Tim Hortons">Tim Hortons</div><div class="item" data-value="Wendy's">Wendy's</div><div class="item" data-value="Zaxby's">Zaxby's</div><div class="item" data-value="Other">Other (Enter Chain)</div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <input type="text" class="input surveyother" style="display:none;" id="surveyother" name="surveyother" placeholder="Other:">
                </div>

                <div class="field right-inner-addon">
                    <i>*</i>
                    <input type="text" id="surveystorenumber" class="obligatory input surveystorenumber" name="surveystorenumber" placeholder="Store Number:">
                </div>

                <div class="field right-inner-addon">
                    <i>*</i>
                    <input type="email" id="surveyemail" class="obligatory input surveyemail" name="surveyemail" placeholder="Email">
                </div>
                <div class="field">
                    <input type="tel" id="surveyphone" class="input surveyphone" name="surveyphone" placeholder="Phone">
                </div>

                <div style="margin: 2.5em 0;">
                    <p>We will process your personal data in line with our <a href="https://www.cerepairs.com/Online_Privacy_Policy.pdf">Privacy Policy</a>.</p>
                    <p>By clicking "Submit", you acknowledge that you have read and agreed to our <a href="https://www.cerepairs.com/Online_Privacy_Policy.pdf">Privacy Policy</a>.</p>
                </div>

                <div class="inline field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="surveyreceivenews" tabindex="0" name="surveyreceivenews" class="hidden input surveyphone">
                        <label>I want to receive CE news and offers</label>
                    </div>
                </div>
                <div>
                    <div style="position:relative">
                        <div class="grecaptchaSurvey-div" style="position:absolute; top:6px; display:none;">
                            <div class="grecaptchaSurvey captcha_size" id="grecaptchaSurvey"></div>
                        </div>
                        <div class="ui ce button" id="sbt_btn" tabindex="0" style="width: 130px;">Submit</div>
                    </div>
                </div>
           </form>
        </div> <!-- /right column -->
    </div>
</div>
<div class="thankyou" style="display:none;text-align: center">
    <h1>THANK YOU FOR TAKING OUR SURVEY!</h1>
    <p style="text-align:center;color:#af292e;margin:0;font-size:15px;">You've been entered into our monthly drawing.</p>
    <p style="text-align:center;color:#af292e;margin:0;font-size:20px">
        <br /><a href="/">Back to the Home Page</a>
    </p>
</div>




<script src='https://www.google.com/recaptcha/api.js?onload=SurveyCallback&render=explicit' async defer></script>
<script>
    var recaptchaSurvey
    var SurveyCallback = function () {
        recaptchaSurvey = grecaptcha.render('grecaptchaSurvey', {
            'sitekey': '6LcliTgUAAAAADO_R8ODCtFuMPvEoGNLFDB-fYc7', 
            'callback': verifySurveyCallback,
            'theme': 'light'
        });
    };
    var verifySurveyCallback = function (response) {
        if (response != '') {
            $('#sbt_btn').show();
            $('.captchaSurvey-div').hide();
            $('#sbt_btn').click();
        }
    };
</script>