﻿

@{
    //ViewBag.Title = "About cerepairs";
    Layout = "~/Views/Shared/_LayoutStaticPages.cshtml";
}

<div class="ui breadcrums segment">
    <div class="container">
        <div class="container"><a href="/">Home</a>&nbsp;/&nbsp;<span class="current"> Drive-Thru Repair Technical Support</span></div>
    </div>
</div>
<div>
    <div class="ui masthead segment">

        <div class="banner">
            <picture>
                <source media="(max-width: 767px)" type="image/webp" srcset="/images/banners/technical-support-m.jpg">
                <source media="(min-width: 768px)" type="image/jpg" srcset="/images/banners/technical-support.jpg">
                <img src="/images/banners/technical-support.jpg" alt="" class="img-cover">
            </picture>
            <div class="vertical centered container">
                <h1 class="uppercase header">
                    <div class="medium bolder black text">Drive-Thru Repair</div>
                    <div class="medium bolder black text">Technical Support</div>
                </h1>
            </div>
        </div>
    </div>
    <!-- ICON SECTION -->
    <div class="ui vertical center aligned icon segment">
        <div class="ui stackable grid container">
            <div class="eight wide tablet seven wide computer column">

                <div class="icon message">
                    <div class="image">
                        <img src="/images/icons/technical-support.png" alt="">
                    </div>
                    <div class="content">
                        <div class="header">Drive-Thru Repair Technical Support</div>
                        <p>Need help with a quick technical question? Got a small problem that might not warrant a full-blown drive-thru repair? Give us a call at 877-731-0334, and our helpful drive-thru repair experts will answer your technical questions free of charge.</p>
                    </div>
                </div>


            </div>
            <div class="eight wide tablet seven wide computer right floated column">
                <div class="icon message">
                    <div class="image">
                        <img src="/images/icons/send.png" alt="">
                    </div>
                    <div class="content">
                        <div class="header">Free Inbound Shipping On Drive-Thru Repairs</div>
                        <p>If your issue can’t be handled over the phone, don’t worry. CE offers free inbound shipping on all drive-thru repairs. Just fill out a quick form online and get free inbound shipping labels.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
  
</div>

