﻿@{
    Layout = null;
}
<div style="page-break-before: always"><div style="width:100%;margin:50px 50px 0px 50px;text-align:center;">
        <span style="font-size:30px;">Packing Slip</span><table align="center" style="width:500px;">
            <tr><td colspan="2">Name: Howard Scott</td></tr>
            <tr><td colspan="2">Chain: Howard</td></tr>
            <tr><td colspan="2">Store Number: Scott</td></tr>
            <tr><td colspan="2"><table style="border-spacing: 0;"><tr>
            <td style="vertical-align:top;">Address:</td>
            <td> 741 Avenida Amigo<br />San Marcos, CA 92069</td></table></td></tr>
            <tr><td colspan="2">Email Address: hscott@currentevent.com</td></tr>
            <tr><td colspan="2">Phone Number: 777-777-7777</td></tr>
            <tr><td style="vertical-align:top;">Comments:</td>
            <td>Comment</td></tr></table></div></div>