﻿<div class="plug">
    <div class="left_imgplug">
        <img src="/images/noimage.gif" />
    </div>
    <div class="left_textplug">
        <h1 class="pagetitle">ABOUT CE<br />DRIVE-THRU REPAIRS</h1>
    </div>
</div>
<div class="plug">
    <div class="left_imgplug">
        <img src="/images/pages/About_Repairs_Icon_01.jpg" />
    </div>
    <div class="left_textplug">
        <h2>Drive-Thru Repairs - 100% Satisfaction Guaranteed</h2>
        <p>At CE, we pride ourselves on the integrity of our drive-thru repairs. We never compromise on quality for our customers. Some repair companies will claim they can&rsquo;t fix something, just to sell you new equipment. Not at CE. If we can&rsquo;t fix it, you&rsquo;ll receive a $100 credit toward the purchase of a new unit, or $65 toward the purchase of a refurbished unit. We fix what others can&rsquo;t, or won&rsquo;t.</p>
    </div>
</div>
<div class="plug">
    <div class="left_imgplug">
        <img src="/images/pages/About_Repairs_Icon_02.jpg" />
    </div>
    <div class="left_textplug">
        <h2><a href="/Factory-Authorized-Repairs">Factory Authorized Drive-Thru Repairs</a></h2>
        <p>Every CE factory-authorized repair starts with a rigorous 35-point inspection, and quality manufacturer and aftermarket parts. Our focus is on making your equipment work for you and ensuring that your repair will last.</p>
    </div>
</div>
<div class="plug">
    <div class="left_imgplug">
        <img src="/images/pages/About_Repairs_Icon_03.jpg" />
    </div>
    <div class="left_textplug">
        <h2><a href="/same-day-service">Drive-Thru Repair - Same Day Service Or It&rsquo;s Free</a></h2>
        <p>We know that you have a business to run, and you don&rsquo;t have time for broken equipment. That&rsquo;s why in most cases we&rsquo;ll repair your product within 24 hours of receiving it or the repair is FREE. Some limitations and exclusions apply.</p>
    </div>
</div>
<div class="plug">
    <div class="left_imgplug">
        <img src="/images/pages/About_Repairs_Icon_04.jpg" />
    </div>
    <div class="left_textplug">
        <h2><a href="/nationwide-installation">Drive-Thru Repair &ndash; Nationwide Service and Installation</a></h2>
        <p>No matter where you are, our referral network of qualified onsite service providers is at your service. Call 877-731-0334 for details.</p>
    </div>
</div>
<div class="plug">
    <div class="left_imgplug">
        <img src="/images/pages/About_Repairs_Icon_05.jpg" />
    </div>
    <div class="left_textplug">
        <h2>Drive-Thru Repairs Free Inbound Shipping</h2>
        <p>Fill out an easy online form and print free <a href="/send-in-a-repair-free-shipping">inbound shipping labels</a> for your drive-thru repair.</p>
    </div>
</div>
<div class="plug">
    <div class="left_imgplug">
        <img src="/images/pages/About_Repairs_Icon_06.jpg" />
    </div>
    <div class="left_textplug">
        <h2><a href="/tech-support">Drive-Thru Repair &ndash; Free Technical Support</a></h2>
        <p>Our technicians are available to answer your technical questions free of charge. Give us a call toll free at 877-731-0334 and we will be glad to assist you.</p>
    </div>
</div>
