﻿@using cart.Models
@using System.Linq;
@*@using cerepairs.DetailsModels
    @model  cart.Models.CartLookup*@
@{
    List<CartDTO> cartdto = ViewBag.cartitems;
    List<Freight> freightList = ViewBag.freight;
    decimal totaldiscounts = 0;
    decimal totalitemsdiscounted = 0;
    decimal AdditionalFreight = ViewBag.AdditionalFreight;

    if (ViewBag.promo != null)
    {
        if (cartdto != null)
        {
            foreach (CartDTO item in cartdto) //error
            {
                if (Convert.ToInt32(item.Cart_Promo_Discount) > 0)
                {
                    totaldiscounts += Convert.ToDecimal(item.Cart_Product_Price_SubTotal) * Convert.ToInt32(item.Cart_Promo_Discount);
                    totalitemsdiscounted += Convert.ToInt32(item.Cart_Promo_Discount);
                }
            }
        }
    }
    Promo cartdiscount = ViewBag.discount;
    decimal subtotal = 0;
    string promoDisplay = "none";
    string promoCode = "";
    decimal tax = 0;
    decimal numberdiscounted = 0;
    decimal orgordered = 0;
    decimal freight = 0;
    string prmomessage = "";
    string enabled = "";
    decimal discount = 0;
    double CO_TaxRate = 0.02900;
    double MO_TaxRate = 0.08363;
    double CA_TaxRate = 0.08000;
    double IA_TaxRate = 0.06000;
    string ca = "(California Residents Only)";
    string co = "(Colorado Residents Only)";
    string mo = "(Missouri Residents Only)";
    string ia = "(Iowa Residents Only)";
    string block = "block";
    string none = "none";
    int number_discounted = 0;
    if (ViewBag.promo != null)
    {
        promoDisplay = "block";
        enabled = "disabled";
        promoCode = ViewBag.promo;
        if (cartdiscount != null && cartdiscount.promomessage != null)
        {
            prmomessage = cartdiscount.promomessage.ToString();
            if (promoCode != null)
            {
                if (cartdiscount != null && cartdiscount.discount != "0.00")
                {
                    discount = Convert.ToDecimal(cartdiscount.discount);
                    numberdiscounted = Convert.ToDecimal(cartdiscount.Cart_Promo_Discount);
                    orgordered = Convert.ToUInt32(cartdto[0].Cart_Product_QTY) - numberdiscounted;
                }
            }
        }
        if (cartdiscount != null && promoCode != null && cartdiscount.discount != "0.00")
        {
            discount = Convert.ToDecimal(cartdiscount.discount);
            numberdiscounted = Convert.ToDecimal(cartdiscount.Cart_Promo_Discount);
            orgordered = Convert.ToUInt32(cartdto[0].Cart_Product_QTY) - numberdiscounted;
        }
    }
    string billingaddresslog = "0";
    string billinginfolog = "0";
    string shippingaddresslog = "0";
    if (ViewBag.billingLog != null)
    {
        if (@ViewBag.billingaddresslog != null)
        {
            billingaddresslog = "1";// ViewBag.billingaddresslog;
        }
        if (@ViewBag.billinginfolog != null)
        {
            billinginfolog = "1";// @ViewBag.billinginfolog;
        }
        if (@ViewBag.shippingaddresslog != null)
        {
            shippingaddresslog = "1";//  ViewBag.shippingaddresslog;
        }
        //salesTax = @ViewBag.tax;
        //grandTotal = @ViewBag.grandtotal
        //    console.log(checkoutdto);
        //doFailure();
    }
}
<script>
    var usercookie = '@ViewBag.usercookie';
    var CO_TaxRate = parseFloat(@CO_TaxRate);
    var MO_TaxRate = parseFloat(@MO_TaxRate);
    var CA_TaxRate = parseFloat(@CA_TaxRate);
    var IA_TaxRate = parseFloat(@IA_TaxRate);
</script>
<style>
    .ui.counter-cart {
        display: -ms-flexbox;
        display: flex;
    }

        .ui.counter-cart .dec-count.button, .ui.counter-cart .inc-count.button {
            width: 30px;
            height: 28px;
            padding: 0;
            margin: 0;
            -ms-flex-pack: center;
            justify-content: center;
            box-sizing: border-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex: 0 0 1;
            flex: 0 0 1;
            cursor: pointer;
        }

        .ui.counter-cart .button img {
            height: 18px;
            width: 18px;
            opacity: .6;
            margin-top: 6px;
        }

        .ui.counter-cart .dec-count.button:hover, .ui.counter-cart .inc-count.button:hover {
            color: #9f0a0d;
        }

        .ui.counter-cart .dec-count.button {
            border-right: 1px solid #fff;
        }

        .ui.counter-cart .inc-count.button {
            border-left: 1px solid #fff;
        }

        .ui.counter-cart .button.disable {
            opacity: .4;
        }

        .ui.counter-cart input {
            vertical-align: top;
            margin: 0;
            width: 40px;
            height: 28px;
            line-height: 28px;
            text-align: center;
            font-weight: 700;
            display: table-cell;
        }

            .ui.counter-cart input:focus {
                border: 1px solid #9f0a0d;
                background-color: #fff;
            }

        .ui.counter-cart input {
            border: 1px solid #ccc;
        }

        .ui.counter-cart .button, .ui.counter-cart input {
            border: none;
        }

            .ui.counter-cart button:focus, .ui.counter-cart input:focus {
                outline: 0;
            }

    .cursor-pointer {
        cursor: pointer;
    }
</style>
<style>
    .redborder {
        border-color: red;
    }
</style>
<div class="ui breadcrums segment">
    <div class="container">
        <div class="container"><a href="/">Home</a>&nbsp;/&nbsp;<span class="current"> Cart</span></div>
    </div>
</div>

<div class="progress-bar segment" style="display:none;">
    <div class="ui grid container">
        <div class="sixteen wide mobile twelve wide computer column">
            <ul class="steps">
                <li class="step-1-li">
                    <img class="step-img step-1-act cursor-pointer" onclick="return switchform($('.billinginformationform'),1);" src="/images/icons/step-1-act.png" alt="">
                    <img class="step-img step-1-inact" src="/images/icons/step-1.png" alt="">
                    <label for="">Billing Information</label>
                </li>
                <li class="step-2-li">
                    <img class="step-img step-2-act cursor-pointer" onclick="return switchform($('.billing-address-form'),2);" src="/images/icons/step-2-act.png" alt="">
                    <img class="step-img step-2-inact" src="/images/icons/step-2.png" alt="">
                    <label for="">Billing Address</label>
                </li>
                <li class="step-3-li">
                    <img class="step-img step-3-act cursor-pointer" onclick="return switchform($('.shipping-address-form'),3);" src="/images/icons/step-3-act.png" alt="" ">
                    <img class="step-img step-3-inact" src="/images/icons/step-3.png" alt="">
                    <label for="">Shipping Address</label>
                </li>
                <li class="step-4-li">
                    <img class="step-img step-4-act cursor-pointer" onclick="return switchform($('.validation-form'),4);" src="/images/icons/step-4-act.png" alt="">
                    <img class="step-img step-4-inact" src="/images/icons/step-4.png" alt="">
                    <label for="">Order Confirmation</label>
                </li>
                <li class="step-5-li">
                    <img class="step-img step-5-act" src="/images/icons/step-5-act.png" alt="">
                    <img class="step-img step-5-inact" src="/images/icons/step-5.png" alt="">
                    <label for="">Payment</label>
                </li>
            </ul>
        </div>
    </div>
</div>
@if (ViewBag.failure != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            checkoutdto.billingaddress.push(@Html.Raw(ViewBag.billingaddress));
            checkoutdto.shippingaddress.push(@Html.Raw(ViewBag.shippingaddress));
            checkoutdto.billinginfo.push(@Html.Raw(ViewBag.billinginfo));
            salesTax = '@ViewBag.tax';
            grandTotal = '@ViewBag.grandtotal';
            //console.log(checkoutdto);
            doFailure();
        });
    </script>
}
@if (ViewBag.billingLog != null)
{
    <script type="text/javascript">
        $(document).ready(function () {
            var billingaddresslog = @billingaddresslog;
            var billinginfolog = @billinginfolog;
            var shippingaddresslog = @shippingaddresslog;
            if(billingaddresslog = "1"){
                checkoutdto.billingaddress.push(@Html.Raw(ViewBag.billingaddresslog));
            }
            if(billinginfolog = "1"){
                checkoutdto.billinginfo.push(@Html.Raw(@ViewBag.billinginfolog));
            }
            if(shippingaddresslog = "1"){
                checkoutdto.shippingaddress.push(@Html.Raw(ViewBag.shippingaddresslog));
            }
            doReset();
        });
    </script>
}
<div class="cart segment">
    <div class="ui mobile reversed stackable grid container">
        <div class="twelve wide column">
            <div class="cart-form paypal payment"></div>
            <div class="cart segment cart-form billinginformationform" style="display:none;margin:0;">
                <div class="ui mobile reversed stackable grid container">
                    <div class="twelve wide column">
                        <form class="ui ce custom form">
                            <h1 class="ui dividing header">Billing Information</h1>
                            <div class="required field right-inner-addon">
                                <i>*</i>
                                <input type="text" id="firstname" class="obligatory input" name="shipping[first-name]" placeholder="First Name">
                            </div>
                            <div class="required field right-inner-addon">
                                <i>*</i>
                                <input type="text" id="lastname" class="obligatory input" name="shipping[last-name]" placeholder="Last Name">
                            </div>
                            <div class="required field right-inner-addon">
                                <i>*</i>
                                <input type="email" id="email" class="obligatory input" name="shipping[email]" placeholder="Email">
                            </div>
                            <div class="required field right-inner-addon">
                                <i>*</i>
                                <input type="tel" title="Phone Number correct format 3333334444" id="phonenumber" class="obligatory input numeric" name="phonenumber" placeholder="Phone (3333334444)">
                            </div>
                            <div class="container">
                                <button class="ui ce button billing-information-form billing-information-form-button">Go to Billing Address</button>
                                <button class="ui ce button" onclick="return switchform($('.the-cart'),0);">Back to the Cart</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="cart cart-form segment billing-address-form" style="display:none;margin:0;">
                <div class="ui mobile reversed stackable grid container">
                    <div class="twelve wide column">
                        <form class="ui ce custom form">
                            <div class="field">
                                <h1 class="ui dividing header">Billing Address</h1>
                                <div class="sixteen wide field field right-inner-addon">
                                    <i>*</i>
                                    <input type="text" id="address" class="obligatory input" name="shipping[address]" placeholder="Street Address">
                                </div>
                                <div class="sixteen wide field">
                                    <input type="text" id="address2" class="input" name="shipping[address-2]" placeholder="Suite, unit, building, floor, etc">
                                </div>

                            </div>

                            <div class="two fields">
                                <div class="field right-inner-addon">
                                    <i>*</i>
                                    <input type="text" style="height: 43px;" id="city" class="obligatory input" name="contact[city]" placeholder="City">

                                </div>
                                <div class="required field">
                                    <div class="ui fluid dropdown selection" tabindex="0">
                                        <select id="state" class="obligatory input">
                                            <option value="">State</option>
                                            <option value="AL">Alabama</option>
                                            <option value="AK">Alaska</option>
                                            <option value="AZ">Arizona</option>
                                            <option value="AR">Arkansas</option>
                                            <option value="CA">California</option>
                                            <option value="CO">Colorado</option>
                                            <option value="CT">Connecticut</option>
                                            <option value="DE">Delaware</option>
                                            <option value="DC">District Of Columbia</option>
                                            <option value="FL">Florida</option>
                                            <option value="GA">Georgia</option>
                                            <option value="HI">Hawaii</option>
                                            <option value="ID">Idaho</option>
                                            <option value="IL">Illinois</option>
                                            <option value="IN">Indiana</option>
                                            <option value="IA">Iowa</option>
                                            <option value="KS">Kansas</option>
                                            <option value="KY">Kentucky</option>
                                            <option value="LA">Louisiana</option>
                                            <option value="ME">Maine</option>
                                            <option value="MD">Maryland</option>
                                            <option value="MA">Massachusetts</option>
                                            <option value="MI">Michigan</option>
                                            <option value="MN">Minnesota</option>
                                            <option value="MS">Mississippi</option>
                                            <option value="MO">Missouri</option>
                                            <option value="MT">Montana</option>
                                            <option value="NE">Nebraska</option>
                                            <option value="NV">Nevada</option>
                                            <option value="NH">New Hampshire</option>
                                            <option value="NJ">New Jersey</option>
                                            <option value="NM">New Mexico</option>
                                            <option value="NY">New York</option>
                                            <option value="NC">North Carolina</option>
                                            <option value="ND">North Dakota</option>
                                            <option value="OH">Ohio</option>
                                            <option value="OK">Oklahoma</option>
                                            <option value="OR">Oregon</option>
                                            <option value="PA">Pennsylvania</option>
                                            <option value="RI">Rhode Island</option>
                                            <option value="SC">South Carolina</option>
                                            <option value="SD">South Dakota</option>
                                            <option value="TN">Tennessee</option>
                                            <option value="TX">Texas</option>
                                            <option value="UT">Utah</option>
                                            <option value="VT">Vermont</option>
                                            <option value="VA">Virginia</option>
                                            <option value="WA">Washington</option>
                                            <option value="WV">West Virginia</option>
                                            <option value="WI">Wisconsin</option>
                                            <option value="WY">Wyoming</option>
                                        </select>
                                        <i class="dropdown icon"></i>
                                        <div class="default text">State</div>
                                        <i class="right-inner-addon-select">*</i>
                                        <div class="menu" tabindex="-1">
                                            <div class="item" data-value="AL">Alabama</div>
                                            <div class="item" data-value="AK">Alaska</div><div class="item" data-value="AZ">Arizona</div><div class="item" data-value="AR">Arkansas</div><div class="item" data-value="CA">California</div><div class="item" data-value="CO">Colorado</div><div class="item" data-value="CT">Connecticut</div><div class="item" data-value="DE">Delaware</div><div class="item" data-value="DC">District Of Columbia</div><div class="item" data-value="FL">Florida</div><div class="item" data-value="GA">Georgia</div><div class="item" data-value="HI">Hawaii</div><div class="item" data-value="ID">Idaho</div><div class="item" data-value="IL">Illinois</div><div class="item" data-value="IN">Indiana</div><div class="item" data-value="IA">Iowa</div><div class="item" data-value="KS">Kansas</div><div class="item" data-value="KY">Kentucky</div><div class="item" data-value="LA">Louisiana</div><div class="item" data-value="ME">Maine</div><div class="item" data-value="MD">Maryland</div><div class="item" data-value="MA">Massachusetts</div><div class="item" data-value="MI">Michigan</div><div class="item" data-value="MN">Minnesota</div><div class="item" data-value="MS">Mississippi</div><div class="item" data-value="MO">Missouri</div><div class="item" data-value="MT">Montana</div><div class="item" data-value="NE">Nebraska</div><div class="item" data-value="NV">Nevada</div><div class="item" data-value="NH">New Hampshire</div><div class="item" data-value="NJ">New Jersey</div><div class="item" data-value="NM">New Mexico</div><div class="item" data-value="NY">New York</div><div class="item" data-value="NC">North Carolina</div><div class="item" data-value="ND">North Dakota</div><div class="item" data-value="OH">Ohio</div><div class="item" data-value="OK">Oklahoma</div><div class="item" data-value="OR">Oregon</div><div class="item" data-value="PA">Pennsylvania</div><div class="item" data-value="RI">Rhode Island</div><div class="item" data-value="SC">South Carolina</div><div class="item" data-value="SD">South Dakota</div><div class="item" data-value="TN">Tennessee</div><div class="item" data-value="TX">Texas</div><div class="item" data-value="UT">Utah</div><div class="item" data-value="VT">Vermont</div><div class="item" data-value="VA">Virginia</div><div class="item" data-value="WA">Washington</div><div class="item" data-value="WV">West Virginia</div><div class="item" data-value="WI">Wisconsin</div><div class="item" data-value="WY">Wyoming</div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="three fields">
                                <div class="field right-inner-addon">
                                    <i>*</i>
                                    <input type="text" id="zip" class="obligatory input" name="contact[zip]" placeholder="Zip Code">
                                </div>
                                <div class="disabled field">
                                    <input placeholder="United States" value="United States" id="country" list="country" class="input" type="text" disabled="" tabindex="-1">
                                </div>

                            </div>


                            @*<div class="three fields">
                                    <div class="required field right-inner-addon">
                                        <i>*</i>
                                        <input type="text" id="city" class="obligatory input" name="contact[city]" placeholder="City">
                                    </div>
                                    <div class="required field">
                                        <div class="ui fluid dropdown selection" tabindex="0">
                                            <select id="state" class="obligatory input">
                                                <option value="">State</option>
                                                <option value="AL">Alabama</option>
                                                <option value="AK">Alaska</option>
                                                <option value="AZ">Arizona</option>
                                                <option value="AR">Arkansas</option>
                                                <option value="CA">California</option>
                                                <option value="CO">Colorado</option>
                                                <option value="CT">Connecticut</option>
                                                <option value="DE">Delaware</option>
                                                <option value="DC">District Of Columbia</option>
                                                <option value="FL">Florida</option>
                                                <option value="GA">Georgia</option>
                                                <option value="HI">Hawaii</option>
                                                <option value="ID">Idaho</option>
                                                <option value="IL">Illinois</option>
                                                <option value="IN">Indiana</option>
                                                <option value="IA">Iowa</option>
                                                <option value="KS">Kansas</option>
                                                <option value="KY">Kentucky</option>
                                                <option value="LA">Louisiana</option>
                                                <option value="ME">Maine</option>
                                                <option value="MD">Maryland</option>
                                                <option value="MA">Massachusetts</option>
                                                <option value="MI">Michigan</option>
                                                <option value="MN">Minnesota</option>
                                                <option value="MS">Mississippi</option>
                                                <option value="MO">Missouri</option>
                                                <option value="MT">Montana</option>
                                                <option value="NE">Nebraska</option>
                                                <option value="NV">Nevada</option>
                                                <option value="NH">New Hampshire</option>
                                                <option value="NJ">New Jersey</option>
                                                <option value="NM">New Mexico</option>
                                                <option value="NY">New York</option>
                                                <option value="NC">North Carolina</option>
                                                <option value="ND">North Dakota</option>
                                                <option value="OH">Ohio</option>
                                                <option value="OK">Oklahoma</option>
                                                <option value="OR">Oregon</option>
                                                <option value="PA">Pennsylvania</option>
                                                <option value="RI">Rhode Island</option>
                                                <option value="SC">South Carolina</option>
                                                <option value="SD">South Dakota</option>
                                                <option value="TN">Tennessee</option>
                                                <option value="TX">Texas</option>
                                                <option value="UT">Utah</option>
                                                <option value="VT">Vermont</option>
                                                <option value="VA">Virginia</option>
                                                <option value="WA">Washington</option>
                                                <option value="WV">West Virginia</option>
                                                <option value="WI">Wisconsin</option>
                                                <option value="WY">Wyoming</option>
                                            </select>
                                            <i class="dropdown icon"></i>
                                            <div class="default text">State</div>
                                            <i class="right-inner-addon-select">*</i>
                                            <div class="menu" tabindex="-1">
                                                <div  onpaste="console.log('paste')" class="item" data-value="AL">Alabama</div><div class="item" data-value="AK">Alaska</div><div class="item" data-value="AZ">Arizona</div><div class="item" data-value="AR">Arkansas</div><div class="item" data-value="CA">California</div><div class="item" data-value="CO">Colorado</div><div class="item" data-value="CT">Connecticut</div><div class="item" data-value="DE">Delaware</div><div class="item" data-value="DC">District Of Columbia</div><div class="item" data-value="FL">Florida</div><div class="item" data-value="GA">Georgia</div><div class="item" data-value="HI">Hawaii</div><div class="item" data-value="ID">Idaho</div><div class="item" data-value="IL">Illinois</div><div class="item" data-value="IN">Indiana</div><div class="item" data-value="IA">Iowa</div><div class="item" data-value="KS">Kansas</div><div class="item" data-value="KY">Kentucky</div><div class="item" data-value="LA">Louisiana</div><div class="item" data-value="ME">Maine</div><div class="item" data-value="MD">Maryland</div><div class="item" data-value="MA">Massachusetts</div><div class="item" data-value="MI">Michigan</div><div class="item" data-value="MN">Minnesota</div><div class="item" data-value="MS">Mississippi</div><div class="item" data-value="MO">Missouri</div><div class="item" data-value="MT">Montana</div><div class="item" data-value="NE">Nebraska</div><div class="item" data-value="NV">Nevada</div><div class="item" data-value="NH">New Hampshire</div><div class="item" data-value="NJ">New Jersey</div><div class="item" data-value="NM">New Mexico</div><div class="item" data-value="NY">New York</div><div class="item" data-value="NC">North Carolina</div><div class="item" data-value="ND">North Dakota</div><div class="item" data-value="OH">Ohio</div><div class="item" data-value="OK">Oklahoma</div><div class="item" data-value="OR">Oregon</div><div class="item" data-value="PA">Pennsylvania</div><div class="item" data-value="RI">Rhode Island</div><div class="item" data-value="SC">South Carolina</div><div class="item" data-value="SD">South Dakota</div><div class="item" data-value="TN">Tennessee</div><div class="item" data-value="TX">Texas</div><div class="item" data-value="UT">Utah</div><div class="item" data-value="VT">Vermont</div><div class="item" data-value="VA">Virginia</div><div class="item" data-value="WA">Washington</div><div class="item" data-value="WV">West Virginia</div><div class="item" data-value="WI">Wisconsin</div><div class="item" data-value="WY">Wyoming</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="required field right-inner-addon">
                                        <i>*</i>
                                        <input type="text" id="zip" class="obligatory input right-inner-addon" name="contact[zip]" placeholder="Zip Code">
                                    </div>
                                </div>*@

                            @*<div class="disabled field">
                                    <input placeholder="United States" value="United States" class="input" id="country" type="text" disabled="" tabindex="-1">
                                </div>*@


                            <div class="container">
                                <button class="ui ce button billingaddress-form billing-address-form-button">Go to Shipping Address</button>
                                <button class="ui ce button billingaddress-form back-to-billing-information-button">Back to Billing Information</button>
                                <button class="ui ce button" onclick="return switchform($('.the-cart'),0);">Back to the Cart</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="cart cart-form segment shipping-address-form" style="display:none;margin:0;">
                <div class="ui mobile reversed stackable grid container">
                    <div class="twelve wide column">
                        <h1 class="ui dividing header" style="display:inline;">Shipping Address</h1> <div style="display:inline-block;padding-left:30px;"><input class="use-same-address" style="position: relative;top: 1px;" type="checkbox" /><span style="padding-left: 10px;">Use Billing Address</span></div>
                        <form class="ui ce custom form">
                            <div class="field">
                                <div class="sixteen wide field right-inner-addon">
                                    <i>*</i>
                                    <input type="text" id="company" class="obligatory input" name="company" placeholder="Company Name">
                                </div>
                            </div>
                            <div class="field">
                                <div class="sixteen wide field right-inner-addon">
                                    <i>*</i>
                                    <input type="text" id="address" class="obligatory input" name="shipping[address]" placeholder="Street Address">
                                </div>
                                <div class="sixteen wide field">
                                    <input type="text" id="address2" class="input" name="shipping[address-2]" placeholder="Suite, unit, building, floor, etc">
                                </div>
                            </div>


                            <div class="two fields">
                                <div class="field right-inner-addon">
                                    <i>*</i>
                                    <input type="text" style="height: 44px;" id="city" class="obligatory input" name="contact[city]" placeholder="City">

                                </div>
                                <div class="required field">
                                    <div class="ui fluid dropdown selection" tabindex="0">
                                        <select id="state" class="obligatory input">
                                            <option value="">State</option>
                                            <option value="AL">Alabama</option>
                                            <option value="AK">Alaska</option>
                                            <option value="AZ">Arizona</option>
                                            <option value="AR">Arkansas</option>
                                            <option value="CA">California</option>
                                            <option value="CO">Colorado</option>
                                            <option value="CT">Connecticut</option>
                                            <option value="DE">Delaware</option>
                                            <option value="DC">District Of Columbia</option>
                                            <option value="FL">Florida</option>
                                            <option value="GA">Georgia</option>
                                            <option value="HI">Hawaii</option>
                                            <option value="ID">Idaho</option>
                                            <option value="IL">Illinois</option>
                                            <option value="IN">Indiana</option>
                                            <option value="IA">Iowa</option>
                                            <option value="KS">Kansas</option>
                                            <option value="KY">Kentucky</option>
                                            <option value="LA">Louisiana</option>
                                            <option value="ME">Maine</option>
                                            <option value="MD">Maryland</option>
                                            <option value="MA">Massachusetts</option>
                                            <option value="MI">Michigan</option>
                                            <option value="MN">Minnesota</option>
                                            <option value="MS">Mississippi</option>
                                            <option value="MO">Missouri</option>
                                            <option value="MT">Montana</option>
                                            <option value="NE">Nebraska</option>
                                            <option value="NV">Nevada</option>
                                            <option value="NH">New Hampshire</option>
                                            <option value="NJ">New Jersey</option>
                                            <option value="NM">New Mexico</option>
                                            <option value="NY">New York</option>
                                            <option value="NC">North Carolina</option>
                                            <option value="ND">North Dakota</option>
                                            <option value="OH">Ohio</option>
                                            <option value="OK">Oklahoma</option>
                                            <option value="OR">Oregon</option>
                                            <option value="PA">Pennsylvania</option>
                                            <option value="RI">Rhode Island</option>
                                            <option value="SC">South Carolina</option>
                                            <option value="SD">South Dakota</option>
                                            <option value="TN">Tennessee</option>
                                            <option value="TX">Texas</option>
                                            <option value="UT">Utah</option>
                                            <option value="VT">Vermont</option>
                                            <option value="VA">Virginia</option>
                                            <option value="WA">Washington</option>
                                            <option value="WV">West Virginia</option>
                                            <option value="WI">Wisconsin</option>
                                            <option value="WY">Wyoming</option>
                                        </select>
                                        <i class="dropdown icon"></i>
                                        <div class="default text">State</div>
                                        <i class="right-inner-addon-select">*</i>
                                        <div class="menu" tabindex="-1">
                                            <div class="item" data-value="AL">Alabama</div><div class="item" data-value="AK">Alaska</div><div class="item" data-value="AZ">Arizona</div><div class="item" data-value="AR">Arkansas</div><div class="item" data-value="CA">California</div><div class="item" data-value="CO">Colorado</div><div class="item" data-value="CT">Connecticut</div><div class="item" data-value="DE">Delaware</div><div class="item" data-value="DC">District Of Columbia</div><div class="item" data-value="FL">Florida</div><div class="item" data-value="GA">Georgia</div><div class="item" data-value="HI">Hawaii</div><div class="item" data-value="ID">Idaho</div><div class="item" data-value="IL">Illinois</div><div class="item" data-value="IN">Indiana</div><div class="item" data-value="IA">Iowa</div><div class="item" data-value="KS">Kansas</div><div class="item" data-value="KY">Kentucky</div><div class="item" data-value="LA">Louisiana</div><div class="item" data-value="ME">Maine</div><div class="item" data-value="MD">Maryland</div><div class="item" data-value="MA">Massachusetts</div><div class="item" data-value="MI">Michigan</div><div class="item" data-value="MN">Minnesota</div><div class="item" data-value="MS">Mississippi</div><div class="item" data-value="MO">Missouri</div><div class="item" data-value="MT">Montana</div><div class="item" data-value="NE">Nebraska</div><div class="item" data-value="NV">Nevada</div><div class="item" data-value="NH">New Hampshire</div><div class="item" data-value="NJ">New Jersey</div><div class="item" data-value="NM">New Mexico</div><div class="item" data-value="NY">New York</div><div class="item" data-value="NC">North Carolina</div><div class="item" data-value="ND">North Dakota</div><div class="item" data-value="OH">Ohio</div><div class="item" data-value="OK">Oklahoma</div><div class="item" data-value="OR">Oregon</div><div class="item" data-value="PA">Pennsylvania</div><div class="item" data-value="RI">Rhode Island</div><div class="item" data-value="SC">South Carolina</div><div class="item" data-value="SD">South Dakota</div><div class="item" data-value="TN">Tennessee</div><div class="item" data-value="TX">Texas</div><div class="item" data-value="UT">Utah</div><div class="item" data-value="VT">Vermont</div><div class="item" data-value="VA">Virginia</div><div class="item" data-value="WA">Washington</div><div class="item" data-value="WV">West Virginia</div><div class="item" data-value="WI">Wisconsin</div><div class="item" data-value="WY">Wyoming</div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="three fields">
                                <div class="field right-inner-addon">
                                    <i>*</i>
                                    <input type="text" id="zip" class="obligatory input" name="contact[zip]" placeholder="Zip Code">
                                </div>
                                <div class="disabled field">
                                    <input placeholder="United States" value="United States" id="country" list="country" class="input" type="text" disabled="" tabindex="-1">
                                </div>

                            </div>



                            @*<div class="three fields">
                                    <div class="field right-inner-addon">
                                        <i>*</i>
                                        <input type="text" id="city" class="obligatory input" name="contact[city]" placeholder="City">
                                    </div>
                                    <div class="required field">
                                        <div class="ui fluid dropdown selection" tabindex="0">
                                            <select id="state" class="obligatory input taxstate">
                                                <option value="">State</option>
                                                <option value="AL">Alabama</option>
                                                <option value="AK">Alaska</option>
                                                <option value="AZ">Arizona</option>
                                                <option value="AR">Arkansas</option>
                                                <option value="CA">California</option>
                                                <option value="CO">Colorado</option>
                                                <option value="CT">Connecticut</option>
                                                <option value="DE">Delaware</option>
                                                <option value="DC">District Of Columbia</option>
                                                <option value="FL">Florida</option>
                                                <option value="GA">Georgia</option>
                                                <option value="HI">Hawaii</option>
                                                <option value="ID">Idaho</option>
                                                <option value="IL">Illinois</option>
                                                <option value="IN">Indiana</option>
                                                <option value="IA">Iowa</option>
                                                <option value="KS">Kansas</option>
                                                <option value="KY">Kentucky</option>
                                                <option value="LA">Louisiana</option>
                                                <option value="ME">Maine</option>
                                                <option value="MD">Maryland</option>
                                                <option value="MA">Massachusetts</option>
                                                <option value="MI">Michigan</option>
                                                <option value="MN">Minnesota</option>
                                                <option value="MS">Mississippi</option>
                                                <option value="MO">Missouri</option>
                                                <option value="MT">Montana</option>
                                                <option value="NE">Nebraska</option>
                                                <option value="NV">Nevada</option>
                                                <option value="NH">New Hampshire</option>
                                                <option value="NJ">New Jersey</option>
                                                <option value="NM">New Mexico</option>
                                                <option value="NY">New York</option>
                                                <option value="NC">North Carolina</option>
                                                <option value="ND">North Dakota</option>
                                                <option value="OH">Ohio</option>
                                                <option value="OK">Oklahoma</option>
                                                <option value="OR">Oregon</option>
                                                <option value="PA">Pennsylvania</option>
                                                <option value="RI">Rhode Island</option>
                                                <option value="SC">South Carolina</option>
                                                <option value="SD">South Dakota</option>
                                                <option value="TN">Tennessee</option>
                                                <option value="TX">Texas</option>
                                                <option value="UT">Utah</option>
                                                <option value="VT">Vermont</option>
                                                <option value="VA">Virginia</option>
                                                <option value="WA">Washington</option>
                                                <option value="WV">West Virginia</option>
                                                <option value="WI">Wisconsin</option>
                                                <option value="WY">Wyoming</option>
                                            </select>
                                            <i class="dropdown icon"></i>
                                            <div class="default text">State</div>
                                            <i class="right-inner-addon-select">*</i>
                                            <div class="menu" tabindex="-1">
                                                <div class="item" data-value="AL">Alabama</div><div class="item" data-value="AK">Alaska</div><div class="item" data-value="AZ">Arizona</div><div class="item" data-value="AR">Arkansas</div><div class="item" data-value="CA">California</div><div class="item" data-value="CO">Colorado</div><div class="item" data-value="CT">Connecticut</div><div class="item" data-value="DE">Delaware</div><div class="item" data-value="DC">District Of Columbia</div><div class="item" data-value="FL">Florida</div><div class="item" data-value="GA">Georgia</div><div class="item" data-value="HI">Hawaii</div><div class="item" data-value="ID">Idaho</div><div class="item" data-value="IL">Illinois</div><div class="item" data-value="IN">Indiana</div><div class="item" data-value="IA">Iowa</div><div class="item" data-value="KS">Kansas</div><div class="item" data-value="KY">Kentucky</div><div class="item" data-value="LA">Louisiana</div><div class="item" data-value="ME">Maine</div><div class="item" data-value="MD">Maryland</div><div class="item" data-value="MA">Massachusetts</div><div class="item" data-value="MI">Michigan</div><div class="item" data-value="MN">Minnesota</div><div class="item" data-value="MS">Mississippi</div><div class="item" data-value="MO">Missouri</div><div class="item" data-value="MT">Montana</div><div class="item" data-value="NE">Nebraska</div><div class="item" data-value="NV">Nevada</div><div class="item" data-value="NH">New Hampshire</div><div class="item" data-value="NJ">New Jersey</div><div class="item" data-value="NM">New Mexico</div><div class="item" data-value="NY">New York</div><div class="item" data-value="NC">North Carolina</div><div class="item" data-value="ND">North Dakota</div><div class="item" data-value="OH">Ohio</div><div class="item" data-value="OK">Oklahoma</div><div class="item" data-value="OR">Oregon</div><div class="item" data-value="PA">Pennsylvania</div><div class="item" data-value="RI">Rhode Island</div><div class="item" data-value="SC">South Carolina</div><div class="item" data-value="SD">South Dakota</div><div class="item" data-value="TN">Tennessee</div><div class="item" data-value="TX">Texas</div><div class="item" data-value="UT">Utah</div><div class="item" data-value="VT">Vermont</div><div class="item" data-value="VA">Virginia</div><div class="item" data-value="WA">Washington</div><div class="item" data-value="WV">West Virginia</div><div class="item" data-value="WI">Wisconsin</div><div class="item" data-value="WY">Wyoming</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field right-inner-addon">
                                        <i>*</i>
                                        <input type="text" id="zip" class="obligatory input" name="contact[zip]" placeholder="Zip Code">
                                    </div>
                                </div>
                                <div class="disabled field">
                                    <input placeholder="United States" id="country" list="country" class="input" value="United States" type="text" disabled="" tabindex="-1">
                                </div>*@


                            <div class="container">
                                <button class="ui ce button shipping-address-form shipping-address-form-button">Go to Validation</button>
                                <button class="ui ce button shipping-address-form back-to-billing-address-button">Back to Billing Address</button>
                                <button class="ui ce button" onclick="return switchform($('.the-cart'),0);">Back to the Cart</button>
                            </div>
                        </form>
                    </div> <!-- Item Col -->
                </div>
            </div>

            <div class="cart cart-form segment validation-form" style="display:none;margin:0;">
                <div class="ui mobile reversed stackable grid container">
                    <div class="wide column">
                        <h1>Order Confirmation</h1>
                        <article class="medium padded top border">
                            <div class="ui grid stackable container">
                                <div class="four wide column">
                                    <h4>Billing Information</h4>
                                </div>
                                <div class="ten wide column">
                                    <div class="conformation-billingInfo">3952 Main St<br># 411 <br>SAN DIEGO, CA 92117-2775</div>
                                </div>
                                <div class="two wide column">
                                    <a href="#" onclick="return switchform($('.billinginformationform'),1);">Change</a>
                                </div>
                            </div>
                        </article>

                        <article class="medium padded top border">
                            <div class="ui grid stackable container">
                                <div class="four wide column">
                                    <h4>Billing Address</h4>
                                </div>
                                <div class="ten wide column">
                                    @*<div>Ronald McDonald</div>*@
                                    <div class="conformation-billingAddress">3952 Main St<br># 411 <br>SAN DIEGO, CA 92117-2775</div>
                                </div>
                                <div class="two wide column">
                                    <a href="#" onclick="return switchform($('.billing-address-form'),2);">Change</a>
                                </div>
                            </div>
                        </article>

                        <article class="medium padded top border">
                            <div class="ui grid stackable container">
                                <div class="four wide column">
                                    <h4>Shipping Address</h4>
                                </div>
                                <div class="ten wide column">
                                    @*<div>Ronald McDonald</div>*@
                                    <div class="conformation-shippingAddress">3952 Main St<br># 411 <br>SAN DIEGO, CA 92117-2775</div>
                                </div>
                                <div class="two wide column">
                                    <a href="#" onclick="return switchform($('.shipping-address-form'),3);">Change</a>
                                </div>
                            </div>
                        </article>

                        @*<div class="container">
                                <button class="ui ce button validation-form validation-form-button">Go to Payment</button>
                                <button class="ui ce button validation-form back-to-shipping-address-button">Back to Shipping Address</button>
                            </div>*@

                        <article class="padded order">
                            <div class="ui grid mobile reversed stackable container">
                                <div class="four wide column" style="padding-left: 0;">
                                    <button class="fluid ui ce button validation-form validation-form-button">Place Order</button>
                                </div>
                                <div class="twelve wide column">
                                    <div class="secondary total"><strong>Order Total: <span class="conformation-total">198.50</span></strong></div>
                                    <div class="note">By placing your order, you agree to CE's <a href="/CE_Online_Privacy_Policy.pdf" target="_blank">privacy policy</a> and <a href="/Return_and_Refund_Policy.pdf" target="_blank">return and refund policy</a>.</div>
                                </div>
                            </div>
                        </article>
                        <div class="container">
                            @*<button class="ui ce button validation-form validation-form-button">Go to Payment</button>*@
                            <button class="ui ce button validation-form back-to-shipping-address-button">Back to Shipping Address</button>
                            <button class="ui ce button" onclick="return switchform($('.the-cart'),0);">Back to the Cart</button>
                        </div>

                    </div>
                </div>
            </div>


            <div class="ui grid the-cart cart-form" style="display:@if (ViewBag.billingaddress != null) { @none} else {@block } ;">
                @if (cartdto != null)
                {
                    <h1 style="margin: 0;display:inline-block;">Shopping Cart</h1>
                    <div style="display:inline-block;"><a href="" onclick="clearcartall();return false;" class="">Clear Cart</a></div>
                    foreach (CartDTO item in cartdto)
                    {
                        if (ViewBag.promoLookup == null)
                        {
                            number_discounted = Convert.ToInt32(item.Cart_Promo_Discount);
                        }
                        else
                        {
                            number_discounted = 0;
                        }
                        subtotal += (Convert.ToDecimal(item.Cart_Product_Price_SubTotal)) * (Convert.ToInt32(item.Cart_Product_QTY) + Convert.ToInt32(item.Cart_Promo_Discount)); /*+Convert.ToInt32(item.Cart_Promo_Discount)*/
                        <div class="cart item row" cartid="@item.Cart_ID">
                            <div class="item separator"></div>
                            <div class="four wide tablet three wide computer column"><a class="ui medium image" href="/Detail/Product/@item.Product_Name"><img src="/images/products/@item.Product_Image_Thum"></a></div><div class="twelve wide tablet six wide computer column">
                                <div class="item info">
                                    <div class="title">@item.Product_Short_Description.</div><div class="part number">Part#: @item.Manufacturer_Part_Number <span style="color:#9f0a0d;">@item.Cart_Product_Price_Type</span></div><div class="notes">
                                        @Html.Raw(item.Product_Long_Description)
                                    </div>
                                </div>
                            </div>
                            <div class="twelve wide right floated tablet seven wide computer column qty">
                                <div class="ui grid">
                                    <div class="seven wide column">
                                        <div class="qty label">Quantity</div>
                                        <div class="ui counter-cart">
                                            <div class="dec-count button" cartid="@item.Cart_ID"><img src="/images/outline_remove_black_18dp.png" alt=""></div>
                                            <input class="itemcount" cartid="@item.Cart_ID" currentcount="@(Convert.ToInt32(item.Cart_Product_QTY)+number_discounted)" type="text" value="@(Convert.ToInt32(item.Cart_Product_QTY)+number_discounted)">
                                            <div class="inc-count button" cartid="@item.Cart_ID"><img class="responsive" src="/images/outline_add_black_18dp.png" alt=""></div>
                                        </div>
                                        <div class="update-cart" style="position:absolute;display:none;">
                                            <div style="font-size:.85em;color: #9f0a0d;margin-left: 14px;position:absolute;top:-2px;width:100px;">
                                                @*<span class="updatecount" onclick="UpdateCount(@item.Cart_ID)" cartid="@item.Cart_ID">Update Cart</span>*@
                                                <a href="#" class="updatecount" onclick="UpdateCount(@item.Cart_ID); return false" cartid="@item.Cart_ID" productuid="@item.Cart_Product_UID">Update Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nine wide column">
                                        <div class="price label">Price</div><div class="item total">$@string.Format("{0:#.00}", Convert.ToDecimal(item.Cart_Product_Price_SubTotal) * (Convert.ToInt32(item.Cart_Product_QTY) + Convert.ToInt32(item.Cart_Promo_Discount)))</div>
                                        <div class="item each">each $@string.Format("{0:#.00}", Convert.ToDecimal(item.Cart_Product_Price_SubTotal))</div>
                                        @if (ViewBag.promo != null && (@Convert.ToDecimal(item.Cart_Promo_Discount) > 0))
                                        {
                                            <div class="item each">Ordered @(Convert.ToUInt32(item.Cart_Product_QTY)) Got @Convert.ToInt32(item.Cart_Promo_Discount)</div>
                                        }
                                    </div>
                                    <div class="item tools"><a href="#" onclick="RemoveCartItem(@item.Cart_ID); return false" cartid="@item.Cart_ID">Remove</a></div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div>No Items in your Cart</div>
                }
            </div>
        </div>
        @if (cartdto != null)
        {
            <div class="four wide column gray">
                <div class="order">
                    <div class="title">Your Order</div>
                    <div class="subtotal">
                        <div class="description">Subtotal</div>
                        <div class="amount">$@string.Format("{0:#.00}", @subtotal)</div>
                    </div>
                    @*@if (ViewBag.discount != null && cartdiscount.discount != "0.00")*@
                    @if (totaldiscounts > 0)
                    {
                        <div class="discount">
                            <div class="description">Discount (@totalitemsdiscounted)</div>
                            <div class="amount">-$@string.Format("{0:#.00}", totaldiscounts)</div>
                        </div>
                    }
                    <div class="subtotal taxdiv" style="display:none;">
                        <div class="description tax-div">Tax</div>
                        <div class="amount tax"></div>
                        @*<span style="font-size: 10px;float: right;"><br /><em>@ca</em></span>
                            <span style="font-size: 10px;float: right;"><br /><em><em>@mo</em></em></span>
                            <span style="font-size: 10px;float: right;"><br /><em>@mo</em></span>*@
                    </div>


                    @if (freightList != null)
                    {
                        var xx = freightList.Where(x => Convert.ToDecimal(subtotal) >= x.ProductFreight_Low && Convert.ToDecimal(subtotal) <= x.ProductFreight_High).ToList();
                        freight = xx[0].ProductFreight;
                        freight += AdditionalFreight;
                    }

                    @if (freight != 0)
                    {
                        <div class="subtotal">
                            <div class="description">Freight</div>
                            <div class="amount freight">$@freight</div>
                        </div>
                    }
                    <div class="surcharge column" style="display:none;">
                        <div class="description">Surcharge</div>
                        <div class="amount surcharge"></div>
                    </div>
                    @{
                        decimal x1 = subtotal;
                        decimal x2 = totaldiscounts;
                        decimal x3 = freight;
                        decimal x4 = tax;
                        decimal x5 = @subtotal - @totaldiscounts;
                    }
                    <div class="total">
                        <div class="description">Total</div>
                        <div class="amount grandtotal">$@string.Format("{0:N}", (@subtotal - @totaldiscounts) + @freight + @tax)</div>
                    </div>
                    <div class="messageDiv">
                        <div id="costs" CO="@CO_TaxRate" MI="@MO_TaxRate" CA="@CA_TaxRate" IA="@IA_TaxRate" total="@string.Format("{0:N}", @subtotal + @freight - @totaldiscounts)" subtotal="@subtotal" discount="@totaldiscounts" tax="@tax" freight="@freight" style="font-size: 12px;color: #bd0c10;padding: 0px;margin: 0px;line-height: 12px;">
                            State Sales Tax will be added for CA, IA, CO and MO shipping addresses.<br /><br />Please be aware that there may be a 3.0% surcharge fee added to this payment.
                        </div>
                    </div>
                    <div class="checkout">
                        <button class="fluid ui ce button billing-information-button" style="display:@if (ViewBag.failure != null) { @none} else { @block}">Checkout</button>
                        <button class="fluid ui ce button order-back-to-cart" style="display:none;" onclick="return switchform($('.the-cart'),0);">Back to the Cart</button>
                    </div>
                    <div class="">
                        <a href="/" onclick="continueshopping();return false" class="fluid small ce outline button">Continue Shopping</a>
                    </div>
                    <div class="promo">
                        <div class="ui fluid form">
                            <div class="ui field">
                                <div class="title cursor-pointer promo-code">Have a promo code?</div>
                                <div class="content field flex" style="display:@promoDisplay;">
                                    <div class="ui grid">
                                        <div class="eleven wide column">
                                            <input class="promocode" placeholder="Enter Code" @enabled type="text" value="@promoCode">
                                        </div>
                                        <div class="five wide column no left padding">
                                            @if (promoDisplay != "block")
                                            {
                                                <button class="fluid small ce outline button apply-button">Apply</button>
                                            }
                                            else
                                            {
                                                <button class="fluid small ce outline button clear-button">Clear</button>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div style="color: #9f0a0d;" class="promo-msg">@prmomessage</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
