﻿@using cart.Models
@using cerepairs.DetailsModels
@model DetailModels.ProductDetail_dto
@{
    List<CartDTO> cartdto = ViewBag.cartitems;
    Session["CartCount"] = null;
    Session["CartActive"] = null;

    if (ViewBag.totalcartitems != null)
    {
        Session["CartCount"] = ViewBag.totalcartitems;
        Session["CartActive"] = "active";
    }
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://merchant.paywithzero.net/client/token/Collect.js"
        data-tokenization-key="@Session["tokenizationkey"]"></script>
<script src="~/Scripts/PayXeroCharge.js"></script>

<div class="ceCart">
    @{Html.RenderPartial("Cart");}
</div>


<div class="ui strip segment related-components">
    <div class="ui container">
        <div class="ui header">Related Components &amp; Accessories</div>
        <div class="ui six doubling cards">
            @foreach (var product in Model.relatedproducts)
            {
                <div class="card">
                    <div class="image">
                        <img src="/images/products/@product.Product_Image_Thum">
                    </div>
                    <div class="content"><a href="/Detail/Product/@product.Product_Name">@HttpUtility.HtmlDecode(product.Product_Short_Description)</a></div>
                </div>
            }
        </div>
    </div>
</div>
<div class="ui strip segment recently-viewed">
    <div class="ui container">
        <div class="ui header">Recently Viewed</div>
        <div class="ui six doubling cards">
            @foreach (var product in Model.recentlyviewed)
            {
                <div class="card">
                    <div class="image">
                        @if (@product.Product_Image_Thum != "")
                        {
                            <img src="/images/products/@product.Product_Image_Thum">
                        }
                    </div>
                    <div class="content"><a href="/Detail/Product/@product.Product_Name">@HttpUtility.HtmlDecode(product.Product_Short_Description)</a></div>
                </div>
            }
        </div>
    </div>
</div>



