@charset "utf-8";
/* CSS Document */
/* Reset to reduce browser incosistency */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td 
{margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
/* remember to define focus styles! */
:focus {outline: 0;}
/* remember to highlight inserts somehow! */
ins {text-decoration: none;}
del {text-decoration: line-through;}
/* tables still need 'cellspacing="0"' in the markup */
table {border-collapse: collapse;border-spacing: 0;}
/* End of Reset*/

* {padding:0;}

html, body {
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	background:url(../images/bg.jpg) no-repeat center top fixed;
}
/* Link Modifications 
Mostly to take off the dotted outline when link is clicked */
a,a:active {
	outline:none;
}
a,a:visited {
	color:#a50000;
}
a,a:active,a:focus {
	-moz-outline-style:none;
}
.heading2 {
	padding:0;
	margin:0;
	font-weight:400;
}
.heading, .heading2, .phone {
-khtml-border-radius:3px 3px 0;
-moz-border-radius:3px 3px 0;
-webkit-border-radius:3px 3px 0;
background:#fff url(../images/grad_05.gif) repeat-x 50% 50%;
border-radius:3px 3px 0;
color:#c00;
font-size:1.5em;
padding:4px 9px;
position:relative;
right:0;
text-shadow:1px 1px 1px #ccc;
z-index:9997;
}
.heading, .heading2 {
border:1px solid #eee;
clear:both;
float:right;
line-height:1.17;
margin-bottom:-40px;
top:5px;
zoom:1px;
}

.phone {
margin-bottom:6px;
line-height:1.23;
cursor:text;
border:1px solid #D9D9D9;
}

h2 {
font-size:14px;
padding:0 0 5px;
color:#a50000;
}
h4 {
	padding:10px 0 0;
}

h2, h4 {
	margin:0;
}
h6 {
	border-left:solid 1px #CCC;
	color:#989898;
	margin-left:40px;
	padding-left:5px;
	font-size:80%;
	line-height:120%;
}
/*styles all the Bold tags inside the 'h6' tags*/
h6 b {
	font-weight: bolder;
	font-size:110%;
}
/* Common used Styles for quick use */
p {
	margin-bottom:11px;
}
#ordered {
	list-style:decimal;
}
ol#ordered {
	margin: 20px 0 0;
	font-weight:800;
}
ol#ordered li {
	font-weight:400;
	margin-left:30px;
	margin-top:5px;
}
.highlight-list {
background:url("../images/grad_09.gif") repeat-x scroll 0 bottom transparent;
border:1px solid #EAEAEA;
padding:10px;
}

.floatleft {float:left;}
.floatright {float:right;}
.margin-lt {margin-left:10px;}
.margin-rt {margin-right:10px;}
.margin-bt {margin-bottom:10px;}
.margin-tp {margin-top:10px;}
.no-margin-rt {margin-right:0;}
.no-margin-tp {margin-top:0;}
.no-padding-tp {padding-top:0;}
.move-up {margin-top:-15px;}
.clear {clear:both;}

.list-inside {
	margin-left:15px;
}
.img-marg-disp {
	margin: 0px 15px 20px 0px;
	display: inline;
}
.line-height {
	line-height:150%
}
/*Everything is inside this Div */
#page-container {
	width:930px;
	margin:auto;
	padding:0 15px;
}
/*HME Logo style for all pages ecluding Home page */
#hme-logo {
	float:left;
	width:96px;
	padding-top:10px;
	position:relative;
	margin-bottom:-14px;
	z-index:9998;
}

#logo {
	float:left;
	width:194px;
	height:30px;
	padding-top:10px;
}
/*HME Logo in Bread Crumbs */
#minilogo {
	position:relative;
	top:5px;
	background-image: url(../images/minilogo.png);
	background-repeat: no-repeat;
	height: 21px;
	width: 40px;
}
#minilogo:hover {
	top:5px;
	background-image: url(../images/minilogo_over.png);
	background-repeat: no-repeat;
}
/* Styles the Header in the Home Page */
#header-index {
	height:56px;
	margin-right:0px;
	padding:0;
	background-image: url(../images/hme-tag-background.png);
	background-repeat: no-repeat;
	background-position: -60px 0px;

}
/* Positions all images inside the #header-index Div, the only image used is the HME Logo on the HOme Page */
#header-index img {
	float: right;
	margin-top: 10px;
}
/*Styles the Header on the Home Page */
#header-index h1, #header h1 a {
	font-family:Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size:26px;
	margin:10px 10px 0 0;
	padding:5px 0 0 0;
	text-decoration:none;
	color: #003876;
	float:right;
	display:inline-block;
}
/* This determines the height of the Header area, Applys for all pages exlcuding Home page */
#header {
	height:56px;
	margin-left:194px;
	padding:0;
}
/* Styles all 'h1' tag inside the header, includes 800 number and Heading, applys for all pages excluding Home Page */
#header h1, #header h1 a {
	font-family:Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size:36px;
	margin:0 0 0 0;
	padding:5px 0 0 0;
	text-decoration:none;
	color: #A50000;
	display:inline-block
}
/* This raises all 'p' tags inside the slideshow Div, (the text on the images in the slideshow) used to format one caption that had more text than the rest */
#slideshow p {
	margin:-45px 0 0 0;
	padding:0px 0 0 0;
	position:relative;
}
/*-----Dropt Down Menu Container -----*/
#main-nav {
	height:30px;
	padding-top:10px;
}
/*--------Slideshow Container, most used------*/
#main-slide {
	clear:both;
	font-family:Arial, Helvetica, sans-serif;
	height:288px;

	padding-bottom:10px;
	padding-top:0;
	width:930px;
}
/*--------Smaller Slideshow Container------*/
#main-slide2 {
	clear:both;
	height:200px;
	padding-bottom:15px;
	padding-top:25px;
	font-family:Arial, Helvetica, sans-serif;
}
/*--------The Main content after the Slideshow*/
/*Container for for content*/
#content, .content  {
	margin:0 0 15px 0;
	padding:0;
	color:#666;
	clear: both;
	line-height:1.21;
	position:relative;
	height:100%;
	overflow:hidden;
	font-size:12px;
	
}
.content-equip {
		margin:0 0 10px 0;
	padding:0;
	color:#666;
	clear: both;
	line-height:1.21;
	position:relative;
	font-size:12px;
	overflow:hidden;
}

/* Numbered list class="a"*/
ol.a li {
	list-style-type:decimal;
	margin-left: 20px;
	padding-bottom:10px;
}


/*Styles al 'h1' and 'h2' tags inside '#content' container */
#content h1, #content h2, .content h1, .content h2, .head3, .content-equip h1, #heading-2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:17px;
	font-weight:lighter;
	color:#a50000;
	margin-top: 0px;
	padding:0;
	margin-bottom:12px; 

}



#content h1 a, #content h2 a, .content h1 a, .content h2 a, .content-equip h2 a, .content-equip h1 a {
	text-decoration:none
}
#content h1 a:hover, #content h2 a:hover, .content h1 a:hover, .content h2 a:hover, .content-equip h2 a:hover, .content-equip h1 a:hover {
	color:#333;
}
/*Styles al 'h4' tags inside '#content' container */
#content h4, .content h4, .content-equip h4 {
	clear: both;
	margin: 25px 0 10px 0;
	padding-bottom: 5px;
	font-size: 14px;
	border-bottom: 1px dotted #ccc;
}
/*Styles al 'h5' tags inside '#content' container */
#content h5, .content h5, .content-equip h5 {
	background-image:url(../images/arrow.png);
	background-repeat:no-repeat;
	background-position:0 6px;
	font-size:12px;
	font-weight:400;
	display:block;
	padding:0px 0px 0px 10px;
	margin: 0px 0px 6px 0px;
}
#content h5 a, .content h5 a, .content-equip h5 a {
	filter:alpha(opacity=90);
	font-weight:700;
	text-decoration:none;
	color:#666;
	margin-left:0;
	background: #FFF;
}
#content h5 a:hover, #content h5 a:active, .content h5 a:hover, .content h5 a:active
.content-equip h5 a:hover, .content-equip h5 a:active {
	text-decoration:none;
	color:#333;
	padding-left:0;
}
#content ul, .content ul, .content-equip ul {
	margin:0;
	padding:0;
	list-style:none;
}

#content ul li, #content ul li ul li
.content-equip ul li, .content-equip ul li ul li, #arrowed-list li {
	background-image:url(../images/arrow.png);
	background-repeat:no-repeat;
	background-position:0 6px;
	font-size:12px;
	font-weight:400;
	display:block;
	padding:0px 0px 0px 10px;
	margin: 0px 0px 6px 0px;
}

#accordion ul li {
	background-image:none;
border:medium none;
font-size:100%;
font-weight:inherit;
padding:0;
}
#content li a {
	filter:alpha(opacity=90);
	/*font-weight:700;
	text-decoration:none;*/
	/*color:#666; */
	margin-left:0;
	background: #FFF;
	line-height:150%;
}
#content-list li a, #content ul.linklist li a {
	font-weight:700;
	text-decoration:none;
	color:#666;
}
#content-list li {
	background-image:url("../images/arrow.png") !important;
}
.content-equip li a {
	/*filter:alpha(opacity=90);*/
	font-weight:700;
	text-decoration:none;
	color:#666;
	margin-left:0;
	line-height:150%;
}


#content li a:hover, #content li a:active, .content li a:hover, .content li a:active
.content-equip li a:hover, .content-equip li a:active, #content ul.linklist li a:hover {
	text-decoration:none;
	color:#333;
	padding-left:-10px;
}
/* Numbered list class="b"*/
ol.b {
	margin-right:25px;
}
ol.b li {
	list-style-type:none;
	list-style-position: inside;
	text-indent: 0px;
	padding-bottom:10px;
	clear: both;
}
#content1-2, #content2-2 {
font-size:12px;
width:457.5px;
float:left;
}
#content1-2 {
	padding:0 15px 0px 0;
}

/*This is what styles the FOUR column format*/
#content1-4, #content2-4 {
	padding: 0 15px 15px 0;
	font-size:12px;
}
#content2-4-2 {
	font-size:12px;
	width:221.25px;
	float:left;
	line-height:150%;
	margin-left:0;
}
#content3-4 {
	padding: 0 0 15px 0;
	font-size:12px;
}
#content1-4, #content2-4 {
	float:left;
}
#content1-4, #content3-4 {
	width:221.25px;
}

#content2-4, #content3-4 {
	line-height:150%;
}
#content2-4 {
	width:221.25px;
	margin-left:0;
}
#content3-4 {
	float:right;
}


/*This is what styles the three column format*/
#content1, #content2 {
	padding: 0 30px 15px 0;
	font-size:12px;
}
#content3 {
	padding: 0 0 15px 0;
	font-size:12px;
}
#content1, #content2 {
	float:left;
}
#content1, #content3 {
	width:290px;
}
.content1tabs {
	width: auto;
}

.contetcenter {
	margin-left:16.5%!important;
}
#content2, #content3 {
	line-height:150%;
}
#content2 {
	width:290px;
	margin-left:0;
}
#content3 {
	float:right;
}
#sidebar {
	/*position:absolute;*/
	z-index:0;
	width:290px;
}
#bottom {
	visibility:visible;
}
#bottom-hide {
	background-image: url(../images/white-grad.png);
	background-repeat: repeat-x;
	background-position:bottom;
	height:35px;
	width:290px;
	display:block;
	clear:both;
	position:absolute;
	bottom:0;
	
}
/*Styles the testimonials with big quoation marks*/
blockquote {
	color:#989898;
	font-size:14px;
	display: block;
	padding: 5px 40px 0 42px;
	width: 200px;
	margin-top:0;
	margin-left: 0px;
	font-style: normal;
	quotes:none;
	line-height:18px;
}
blockquote:first-letter {
	background-image: url(../images/left-quote.png);
	background-repeat: no-repeat;
	background-position: left top;
}
blockquote a, blockquote a:visited {
color:#989898;
}

.quote-top-border {
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #999;
}
blockquote:before, blockquote:after {
	color: #E8E8E8;
	display: block;
	font-size: 6.5em;
	width: 50px;
	line-height:100%;
	font-family: Arial;
	font-weight:800;
	font-style: normal;
}
blockquote:before {
	content: url(../images/left-quote.png);
	height: 0px;
	margin-left: -43px;
}
blockquote:after {
	content: url(../images/right-quote.png);
	height: 40px;
	margin-top: -40px;
	margin-left: 195px;
}
/*Styles the captions under the images*/
.caption, .caption2 {
	color:#999999;
	padding-bottom: 5px;
	margin:5px 0 20px 0;
	border-bottom: dotted 1px #CCC;
	font-size:90%;
	line-height: normal;
}
.caption {
	width:268px;
}
.caption2 {
	width:250px;
}
.caption2 a {
	color:#999999;
}
/* class for images in the 3 column layout*/
.img-content {
	position:relative;
	left:-16px;
	padding-bottom:0px;
	border-width:0;
	border-style: none none solid none;
}
/*Styles the breadcrumbs under the content*/
#bread-crumbs {
	clear:both;
	padding:0 0 0;
	margin:0;
	background-color:#FFF;
	position:relative;
}
#bread-crumbs ul, #bread-crumbs ul li {
	list-style-type:none;
	padding:0;
	margin:0;
	vertical-align:middle;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;

}
#crumbs {
	border:1px solid #dedede;
	height:30px;

}
#crumbs li {
	float:left;
	line-height:30px;
	padding-left:0.75em;
	color:#777;
	font-size:12px;
}
#crumbs li a {
	display:block;
	padding:0 15px 0 4px;
	margin-left:2px;
	background:url(../images/crumbs.gif) no-repeat right center;
	height:30px;

}
#crumbs li a:link, #crumbs li a:visited {
	text-decoration:none;
	color:#777;
}
#crumbs li a:hover, #crumbs li a:focus {
	color:#C00;
}
/*Styles the Sitemap under the breadcrumbs*/
.sitemap {
	font-size:12px;
	color:#666;
	padding:0;
	margin:0;
	width: 930px;
	position:relative;
	background-color:#FFF;
	clear:both;
}
.sitemap a {
	text-decoration:none;
	color:#666;
	margin-left:0;
}
.sitemap a:hover {
	text-decoration:none;
	color:#333;
}
.sitemap h1, .sitemap span {
	font-weight:700;
	font-size:12px;
	display:inline;
	text-decoration:none;
}

.sitemap p {
	padding-top:10px;
}
/*Sitemap 1-3 are the 3 column format for the sitemap*/
#sitemap1 {
	width:268px;
	float:left;
	padding:15px;
}
#sitemap2 {
	float:left;
	width:29%;
	margin-left:15px;
	padding:15px;
}
#sitemap3 {
	width:268px;
	float:right;
	padding:15px;
}
/*-------6 column Sitemap, for HME Wireless----*/
.col1 {
	float:left;
	width: 168px;
	padding: 15px 0px 0px 15px;
}
.col2 {
	width: 18%;
	float:left;
	padding: 15px 0px 0px 15px;
}
.col3 {
	width: 18%;
	float:left;
	padding: 15px 0px 0px 15px;
}
.col4 {
	width: 18%;
	float:left;
	padding: 15px 0px 0px 15px;
}
.col5 {
	width: 16%;
	float:left;
	padding: 15px 15px 0px 15px;
}
.col6 {
	float:right;
	width: 18%;
	padding: 15px 15px 0px 15px;
}
.col7 {
	float: right;
	width: 610px;
	font-size: 12px;
	line-height:1.23;
}
/*This is a line break to separte sections*/
.linebreak {
	display:block;
	clear:both;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #999;
	margin-bottom: 20px;
	height: 20px;
	margin-top: 0px;
}
.linebreak2 {
	display:block;
	clear:both;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #999;
	height: 20px;
	margin-top: 0px;
}
/****end*/



/*Styles the footer at the bottom of every page*/
#footer {
	clear:both;
	font-size:12px;
	color:#c9c9c9;
	border-top:0px solid #efefef;
	line-height:18px;
	padding:7px 0 13px;
}
#footer a {
	color:#c9c9c9;
	text-decoration:none;
}
#footer a:hover {
	color:#C00;
}
#footer #altnav {
	width:750px;
	float:right;
	text-align:right;
}
#footer #copyright {
	padding-top:0;
}
/*Styles the slideshow------------------------------------------------------------------------------------------------------------
 slideshow gallery */
.slideshowlite {
	position:relative;
	border:0 solid #111;
	overflow:hidden;
}
.slideshowlite a {
	position:absolute;
	z-index:1;
	width:100%;
	height:100%;
	text-align:center;
}
.slideshowlite img {
	border:none;
}
/* pagination control */
/*position of pagination of the slideshow*/
.slideshowlite ol {
	list-style:none;
	position:absolute;
	bottom:5px;
	right:5px;
	z-index:3;
	margin:0;
	padding:0;
}
/*the box around the pagination*/
.slideshowlite ul {
	list-style:none;
	position:absolute;
	bottom:7px;
	right:7px;
	z-index:2;
	margin:0;
	padding:3px;
	border: 1px solid #CCC;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFF;
	filter:alpha(opacity=60);
	opacity:0.6;
}
/*position of elements inside the pagination box*/
.slideshowlite ul li, .slideshowlite ol li {
	float:left;
	width:16px;
	margin:0 3px;
}
.slideshowlite ul li a {
	position:relative;
	display:block;
	width:100%;
	height:14px;
	padding-top:1px;
	text-decoration:none;
	color:#666;
	border:0px solid #666;
	text-align:center;
	font-size:11px;
}
.slideshowlite ul li a.current {
	color:#FFF;
	border:0px solid #111;
	padding-top:1px;
	background-color: #cc0000;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
.slideshowlite ul li a:hover {
	color:#fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	background-color: #CCC;
}
/* caption control */
.slideshowlite ol {
	top: 90px;
	left:517px;
	position:relative;
	overflow:visible;
	font-size:0.8em;
	color:#666;
	padding:3px 10px;
}
.slideshowlite ol li {
	margin-top:100px;
	width:350px;
	overflow: visible;
	position:relative;
}
/*Styles the searchbox next to the dropdown menu---------------------------------------------------------------------------------------------------------------------------
SearchBox------------------------------*/
#searchwrapper {
	border:1px solid #E8E8E8;
	position:relative;
	width:104px;
	height:22px;
	left:0;
	top:1px;
	margin:0 8px 0 5px;
	padding:0;
	float:left;
	background-position:170px;
		-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
}
.searchbox {
	border:0;
	position:absolute;
	background-color:transparent;
	top:2px;
	left:6px;
	margin: 0;
	padding: 2px 0 0;
	width:94px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:left;
	color:#999;
	text-indent:0;
}
.searchbox_submit {
	border:0;
	background-color:white;
	position:absolute;
	top:1px;
	left:84px;
	width:16px;
	height:14px;
}
/* Styles the Dropdown Menu
-----------------------------------------------------------------------------------------------------------------------
DROP DOWN MENU-------------------------------------------------------*/

/*Removes bullets for the lists*/
ul.dropdown, ul.dropdown li, ul.dropdown ul {
	list-style:none;
	margin:0;
	padding:0;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
}
ul.dropdown {
	position:relative;
	margin-left:7px;
	float:left;
	z-index:9998;
}
/*--------------
 * @section		Base Style Override
 */
 /*styles the unhovered dropdown menu*/
ul.dropdown li {
	float:left;
	line-height:1.5em;
	vertical-align:middle;
	zoom:1px;
	width:175px;
	color:#999;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:center;
	padding:7px 10px;
	letter-spacing:0;
	border-top-width: 0;
	border-right-width: 0;
	border-bottom-width: 0;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #fff;
	border-right-color: #d9d9d9;
	border-left-color: #e8e8e8;
}
/*This style the dropdown menu when it's hovered but it doesn't have a link*/
ul.dropdown li.hover, ul.dropdown li:hover {
	position:relative;
	z-index:auto;
	cursor:default;
	color:#FFF;
	font-weight:100;
}
/* -- level mark -- */
/*This is the first dropdown that is hidden until hovered over*/
ul.dropdown ul {
	visibility:hidden;
	position:absolute;
	top:100%;
	left:-1px;
	z-index:598;
	width:175px;
	margin-top:0;
}
ul.dropdown ul li {
	float:none;
	font-weight:400;
}
/*Position of submenus*/
ul.dropdown ul ul {
	top:-1px;
	left:100%;
}
ul.dropdown li:hover > ul {
	visibility:visible;
}
/*--------------
 * @section		Base Style Extension
 */
ul.dropdown li a {
	display:block;
	width:auto;
	height:auto;
	padding:0;
}
/*------
 * @section		Base Style Reinitiate: post-override activities
 */
/* style of first dropdown*/
ul.dropdown li.dir {
	width:103px;
	height:26px;
	padding:0px 0px;
	line-height:26px;
}
/*-------*/
/*style of second dropdown*/
ul.dropdown li.dor {
	width:182px;
	height:auto;
	background-color:#000;
	color:#999;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:center;
	background-image:url(../images/grad_05.gif);
	background-repeat:repeat-x;
	background-position:0 50%;
	border-color:#fff #e8e8e8 #e8e8e8;
	border-style:solid;
	border-width:0 1px 1px;
	padding:5px 10px;
}
/* @section Custom */ 
ul.dropdown ul a {
	width:183px;
}
ul.dropdown ul a.dir {
	width:200px;
}
ul.dropdown li#1 {
	background-image:url(../images/grad_08.gif);
	background-color:#FFF;
	color:#000;
	background-repeat:repeat-x;
	background-position:0 0;
	border-color:#fff #d9d9d9;
	border-style:solid;
	border-width:0 1px 1px;
	padding:7px 10px;
}
/*This what makes the "no link" menu bar red */
ul.dropdown li:hover {
	background-color:#FFF;
	color:#FFF;
	background-image:url(../images/grad_15.gif);
	background-repeat:repeat-x;
	background-position:0 50%;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:lighter;
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#E8E8E8;
	border-top-width:0;
	border-top-style:solid;
	border-top-color:#aa0000;
}
/*------------------------------
 Link Decorations for the Menu Bar (this also affects the drop down menu)*/
ul.dropdown a:link, ul.dropdown a:visited {
	color:#999;
	text-decoration:none;
}
/*-----------------
 * @section		Support Class `dir`
 * @level sep	ul, .class
 
 -- Components override --
    Alignment for the Submenus             */
ul.dropdown-horizontal ul *.dor {
	padding-right:15px;
	text-align:left;
}
ul.dropdown ul li.dir, ul.dropdown ul li.dor {
	padding-right:15px;
}
ul.dropdown li:hover > a, ul.dropdown a:hover, ul.dropdown a:hover a:active, ul.dropdown a:hover {
	color:#FFF;
}
ul.dropdown a:focus {
	border: solid 0px #ccc;
}
/*-----Menu that was used for the Home page but it's not used anymore, will delete as soon as the new Home pgae gets approved*/
#slidemenu {
	height:444px;
	padding-top:7px;
	width:930px;
	padding-bottom:20px;
}
#slidemenu h5 {
	background-image:url(../images/arrow.png);
	background-repeat:no-repeat;
	background-position:0 4px;
	font-size:12px;
	font-weight:400;
	display:block;
	padding:0px 0px 0px 10px;
	margin: 5px 0px 0px 0px;
}
#slidemenu h5 a {
	font-weight:700;
	text-decoration:none;
	color:#666;
	margin-left:0;
}
#slidemenu h5 a:hover, #slidemenu h5 a:active {
	text-decoration:none;
	color:#333;
	padding-left:-10px;
}
/*---------------------------------------------------------------------------------------------------------
Slide-Menu_(accordion)
 onLoad="slideMenu.build('sm',717,15,10); "  */
.sm {
	list-style:none;
	width:925px;
	height:444px;
	display:inline-block;
	overflow:hidden;
	text-align:left;
	font-size:12px;
	color:#666;
	line-height:12px;
}
.sm li {
	float:left;
	width:600px;
	overflow:hidden;
	display:inline-block;
	list-style-type:none;
	background-image:url(../images/grad_10.jpg);
	background-repeat:repeat-x;
	background-position:0 0;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius:0px;
}
.sm li img {
	float:left;
	padding-right:20px;
}
.sm li text {
	display:inline;
	top:20px;
	position:relative;
}
.smtext {
	display:inline;
	top:20px;
	position:relative;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.smtext p {
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px;
	position: relative;
}
.smtext b {
	color: #a50000;
}
.smheading {
	height: 43px;
	position:absolute;
	padding-top: 20px;
	padding-left: 10px;
	display: block;
}
.wholesm {
	width:700px;
	height:444px;
}
.wholesm img {
	z-index: 999;
	position: relative;
}
.sm h5 {
	background-image:url(../images/arrow.png);
	background-repeat:no-repeat;
	background-position:0 4px;
	font-size:12px;
	font-weight:400;
	display:inline;
	line-height:18px;
	padding-left:10px;
	overflow: hidden;
}
/*End of Slidemenu*/

/*lists with arrows*/
.arrowed {
	background-image:url(../images/arrow.png);
	background-repeat:no-repeat;
	background-position:0 4px;
	font-size:12px;
	font-weight:400;
	display:block;
	line-height:18px;
	padding-left:10px;
	overflow: hidden;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.sm br {
	font-size:1px;
	line-height:15px;
}
#rt_grad {
	margin: 0px;
	padding: 0px;
	top: 12px;
	right:0px;
	display: inline;
	float: right;
	position: relative;
}
/*-----ROI Calculator*/
#loadDiv {
	position:absolute;
	z-index:100;
	right:40px;
	top:111px;
}
#presentationDiv {
	position:relative;
	width:800px;
	margin:0 auto;
	background-color:#999;
	z-index:100;
}
#siteframe {
	margin-top: 0px;
}
/* Colorbox )the thing that pops up with images and videos */

/*
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
#colorbox, #cboxOverlay, #cboxWrapper {
	position:absolute;
	top:0;
	left:0;
	z-index:9999;
	overflow:hidden;
}
#cboxOverlay {
	position:fixed;
	width:100%;
	height:100%;
}
#cboxMiddleLeft, #cboxBottomLeft {
	clear:left;
}
#cboxContent {
	position:relative;
	overflow:hidden;
}
#cboxLoadedContent {
	overflow:visible;
}
#cboxLoadedContent iframe {
	display:block;
	width:100%;
	height:100%;
	border:0;
}
#cboxTitle {
	margin:0;
}
#cboxLoadingOverlay, #cboxLoadingGraphic {
	position:absolute;
	top:0;
	left:0;
	width:100%;
}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
	cursor:pointer;
}
/* 
    ColorBox example user style
    The following rules are ordered and tabbed in a way that represents the
    order/nesting of the generated HTML, so that the structure easier to understand.
*/
#cboxOverlay {
	background:#fff;
}
#colorBox {
}
#cboxTopLeft {
	width:25px;
	height:25px;
	background:url(images/border1.png) 0 0 no-repeat;
}
#cboxTopCenter {
	height:25px;
	background:url(images/border1.png) 0 -50px repeat-x;
}
#cboxTopRight {
	width:25px;
	height:25px;
	background:url(images/border1.png) -25px 0 no-repeat;
}
#cboxBottomLeft {
	width:25px;
	height:25px;
	background:url(images/border1.png) 0 -25px no-repeat;
}
#cboxBottomCenter {
	height:25px;
	background:url(images/border1.png) 0 -75px repeat-x;
}
#cboxBottomRight {
	width:25px;
	height:25px;
	background:url(images/border1.png) -25px -25px no-repeat;
}
#cboxMiddleLeft {
	width:25px;
	background:url(images/border2.png) 0 0 repeat-y;
}
#cboxMiddleRight {
	width:25px;
	background:url(images/border2.png) -25px 0 repeat-y;
}
#cboxContent {
	background:#fff;
	padding:0;
	margin:0;
}
#cboxLoadedContent {
	margin-bottom:20px;
}
#cboxTitle {
	position:absolute;
	bottom:0px;
	left:0;
	text-align:center;
	width:100%;
	color:#999;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
}
#cboxCurrent {
	position:absolute;
	bottom:0px;
	left:700px;
	color:#999;
}
#cboxSlideshow {
	position:absolute;
	bottom:0px;
	right:42px;
	color:#444;
}
#cboxPrevious {
	position:absolute;
	bottom:0px;
	left:0;
	color:#999;
}
#cboxNext {
	position:absolute;
	bottom:0px;
	left:43px;
	color:#999;
}
#cboxLoadingOverlay {
	background:url(images/loading.gif) 5px 5px no-repeat #fff;
}
#cboxClose {
	position:absolute;
	bottom:0;
	right:0;
	display:block;
	color:#999;
}
.enlarge {
	background: transparent url(../images/enlarge.png) no-repeat center;
	width: 80px;
	height:25px;
	margin-bottom:-40px;
	position:relative;
	clear: both;
}
/*
    The following fixes png-transparency for IE6.  
    It is also necessary for png-transparency in IE7 & IE8 to avoid 'black halos' with the fade transition
    
    Since this method does not support CSS background-positioning, it is incompatible with CSS sprites.
    Colorbox preloads navigation hover classes to account for this.
    
    !! Important Note: AlphaImageLoader src paths are relative to the HTML document,
    while regular CSS background images are relative to the CSS document.
*/
.cboxIE #cboxTopLeft {
	background:transparent;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/css/images/internet_explorer/borderTopLeft.png, sizingMethod='scale');
}
.cboxIE #cboxTopCenter {
	background:transparent;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/css/images/internet_explorer/borderTopCenter.png, sizingMethod='scale');
}
.cboxIE #cboxTopRight {
	background:transparent;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/css/images/internet_explorer/borderTopRight.png, sizingMethod='scale');
}
.cboxIE #cboxBottomLeft {
	background:transparent;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/css/images/internet_explorer/borderBottomLeft.png, sizingMethod='scale');
}
.cboxIE #cboxBottomCenter {
	background:transparent;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/css/images/internet_explorer/borderBottomCenter.png, sizingMethod='scale');
}
.cboxIE #cboxBottomRight {
	background:transparent;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/css/images/internet_explorer/borderBottomRight.png, sizingMethod='scale');
}
.cboxIE #cboxMiddleLeft {
	background:transparent;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/css/images/internet_explorer/borderMiddleLeft.png, sizingMethod='scale');
}
.cboxIE #cboxMiddleRight {
	background:transparent;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/css/images/internet_explorer/borderMiddleRight.png, sizingMethod='scale');
}
/*------------Forms (More info)*/

label {
	width: 9em;
	float: left;
	text-align: right;
	margin-right: 0.5em;
	display: block;
	margin-top:4px;
}
.col7 label {
	width: 16em;
	float: left;
	text-align: right;
	margin-right: 0.5em;
	display: block;
	margin-top:0px;
}
.col7 label.label2 {
	width: 5em;

}
#tabs label {
	width:120px;
}

#footb label {
	width:121px;
}
#footb input {
	width:141px;
}

select {
	color: #000;
	background: #FFF;
	border: 1px solid #d4d4d4;
	padding: 2px;
}
#tabs select {
	color: #666;
	background: #FFF;
	border: 1px solid #d4d4d4;
	padding: 2px;
	font-size:100%;
}
.submit input {
	margin-left: 4.5em;
}
.col7 .submit input {
	margin-left: 4.5em;
}


div.contact-info input  {
	color: #000;
	background: #FFF;
	border: 1px solid #d4d4d4;
	padding: 2px;
	width: 220px;
}
input {
	color: #000;
	background: #FFF;
	border: 1px solid #d4d4d4;
	padding: 2px;

}
#tabs textarea {
	color: #000;
	background: #FFF;
	border: 1px solid #d4d4d4;
	padding: 2px;
	width: 267px;
}
#checkbox {
	width:16px;
	clear:both;
		color: #000;
	background: #FFF;
	border: 1px solid #d4d4d4;
}
#radio {
	width:10px;
	clear:both;
		color: #000;
	background: #FFF;
	border: 1px solid #d4d4d4;
	margin:0 40px 0 25px;
}
.submit, .col7 .submit, #footb .submit {
	color: #FFF;
	background: #df0000;
	border: 1px outset #df0000;
	background-image: url(../images/grad14.jpg);
	background-repeat:repeat-x;
	background-position:0 50%;
	margin: 0 0 0 48px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding: 2px;
	width: 80px!important;
	display: inline-block;
}

.col7 .submit {
	margin:0 10px 0 0;
}

fieldset {
	border: 1px solid #d4d4d4;
	width: 23em;
}
legend {
	color: #fff;
	background: red;
	background-image: url(../images/grad14.jpg);
	background-repeat:repeat-x;
	background-position:0 50%;
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	-khtml-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	margin: 0 0 0 20px;
	padding: 4px 8px;
}
.dropform {
	width:250px;
}
p.check-equip {
	display:block;
	float:left;
	margin:0 20px 25px 0;
}

span.excellent {
	margin-left:205px;
	font-weight:700;
}
span.poor {
	margin-left:280px;
	font-weight:700;
}
.submit-p {
float:right;
}
.contact-info {
	display:block;
	float:left;
}


/* This styles the accordion that hides and reveals content onclick, example on ION IQ Page
--------TinyAccordion---*/

#nested ul, #nested li {
	margin:0;
}
code {
	font-family:"Courier New", Courier;
	width:170px
}
#options {
	width:230px;
	margin:20px auto;
	text-align:left;
	color:#9ac1c9;
}
#options a {
	text-decoration:none;
	color:#9ac1c9
}
#options a:hover {
	color:#033
}
#acc {
	width:290px;
	list-style:none;
	color:#666666;
	margin-top: 0;
}

#acc h3, #acc h5 {
	color:#FFFFFF;
	width:276px;
	border:1px solid #720000;
	padding:6px 6px 8px;
	font-weight:bold;
	top:-5px;

	margin-bottom:0;
	cursor:pointer;
	background:url(../images/grad_08.gif);
	background-position: 0% 50%;
	font-size:1.17em;
}
#acc h3:hover, #acc h5:hover {
	background:url(../images/grad_11.jpg);
	background-position: 0% 50%;
	color:#fff;
}
#acc .acc-section {
	overflow:hidden;
}
#acc .acc-content {
	
	padding:10px;
	border:1px solid #D9D9D9;
	border-top:none;
	background:#FFF;
}
#acc .acc-selected {
	background:url(../images/grad_08.gif);
	background-position: 0% 50%;
	color:#fff;
}
#nested {
	width:220px;
	list-style:none;
	color:#033;
	margin-bottom:15px;
	padding:0;
}
#nested h3, #nested h5 {
	width:200px;
	border:1px solid #9ac1c9;
	padding:6px 6px 8px;
	font-weight:bold;
	margin-top:5px;
	cursor:pointer;
	background:url(../images/header.gif)
}
#nested h3:hover, #nested h5:hover {
	background:url(../images/header_over.gif)
}
#nested .acc-section {
	overflow:hidden;
	background:#fff
}
#nested .acc-content {
	width:190px;
	padding:15px;
	border:1px solid #9ac1c9;
	border-top:none;
	background:#fff
}
#nested .acc-selected {
	background:url(../images/header_over.gif)
}
/* ---------------------Vertical Tabs on Troubleshooting Guides pag-----------------------*/









.ui-state-default, .ui-widget-content .ui-state-default, .red-bar {
	-moz-border-radius: 0px;
	border: 1px solid #720000;
	background: #b30000 url(../images/grad_08.gif) 0% 50% repeat-x; !important;
	color: #ffffff;
	font-size:14px;
	font-weight:bold;
	paddin-left:0;!important;
	padding-right:0;!important;
}
.red-bar a {
	text-decoration: none;
}
.ui-state-default a.tabs, .ui-state-default a:link.tabs, .ui-state-default a:visited.tabs, .ui-state-default a:hover.tabs,
.red-bar a.tabs, .red-bar a:link.tabs, .red-bar a:visited.tabs, .red-bar a:hover.tabs {
	color: #ffffff;
}
.ui-state-hover, .red-bar:hover {
	background:url(../images/grad_11.jpg);
	background-position: 0% 50%;
	color:#fff;
}
.red-bar {
	height:17px;
	margin:0 0 6px 0;
	padding:6px 6px 8px 6px;
}
.ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus {
	background:url(../images/grad_11.jpg) 0% 25%;
	color: #FFF !important;
}

.ui-state-hover a:hover {
	color: #FFF !important;
}
.ui-state-hover a, .ui-state-hover a:hover {
	text-decoration: none;
}
.ui-state-active, .ui-widget-content .ui-state-active {
	border: 0px solid #aaaaaa;
	background: #ffffff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
	color: #212121;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
	color: #212121 !important;
	text-decoration: none;
}
.ui-widget :active {
	outline: none;
}
/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs {
	position: relative;
	padding: 0;
	zoom: 1;
}
/* ----------------------Tabs Styling for Stiemap*--------------------------*/
.ui-tabs .ui-tabs-nav {
	float:left;
	margin: 0;
	padding: 0;
	display:inline-block;
}
.ui-tabs .ui-tabs-nav li {
	width:288px;
	list-style: none;
	position: relative;
	top: 1px;
	margin:0 0 6px;
	padding: 2px 0;
	white-space: nowrap;
}
.ui-tabs .ui-tabs-nav li a {
	padding: 5px;
	text-decoration: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
	margin: 0 1px 6px 0;
	padding-bottom: 1px;
	border-right: 0px solid #fff !important;
	width:295px;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {
	cursor: text;
	
}
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
	display:inline-block;
	cursor: pointer;
} /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel {
	display: inline-block;
	border: 1px solid #ccc;
	padding: 25px 25px 25px 25px;
	background: #fff;
	width:582px;
	margin:1px -2px 0 -2px;
}
.ui-tabs .ui-tabs-hide {
	display: none !important;
}
#tabs {
	font-size:12px;
}
#tabs a.tabs {
	width:100%;
	line-height:120%;
}


#tabs #tabshover .ui-state-hover > a:hover {
	color:#999;
}

#tabs p {
	padding-bottom: 5px;
}
ul.tabs {
	position: relative;
	margin: 0 80px 0 50px;
}
ul.tabs li {
	list-style: url(../images/arrow.png);
	padding: 0 0 10px 0px;
}
div.tablayout {
	width: 930px;
	margin:0;
	padding: 1em 0 0 0;
}
ul.tablayout {
	list-style-type: none;
	margin:0;
	border-bottom:1px solid #DEDEDE;
	font:bold 12px Verdana, sans-serif;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
	text-align:center;

}
ul.tablayout li {
	POSITION: relative;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px -4px -1px -1px;
	padding:0;
	DISPLAY: inline;
	TOP: 1px
}
ul.tablayout li#firsttab {
	POSITION: relative;
	LIST-STYLE-TYPE: none;
	MARGIN: 0 -4px -1px;
	padding:0;
	DISPLAY: inline;
	TOP: 1px
}
ul.tablayout li#thirdtab {
	MARGIN-right:-4px;
}
ul.tablayout a#firsttablink {
	width:232px;
}
ul.tablayout a {
	BORDER-BOTTOM: #eaeaea 1px;
	BORDER-LEFT: #eaeaea 1px solid;
	PADDING-BOTTOM: 3px;
	BACKGROUND-COLOR: #fff;
	OUTLINE-STYLE: none;
	PADDING-LEFT: 0;
	WIDTH: 231px;
	PADDING-RIGHT: 0;
	DISPLAY: inline-block;
	MARGIN-BOTTOM: 1px;
	MARGIN-LEFT: 0px;
	margin-right:0;
	BORDER-TOP: #eaeaea 1px solid;
	BORDER-RIGHT: #eaeaea 1px solid;
	TEXT-DECORATION: none;
	PADDING-TOP: 3px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-khtml-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	font-size:80%;
}
ul.tablayout a:hover, ul.tablayout a:focus {
	background-image:url(../images/grad_06.gif);
	color:#666;
	border-color:#dedede;
}
ul.tablayout a:link {
	color:#999;
}
ul.tablayout li a:link  {
	color:#999;
}
ul.tablayout a.active {
	background-color:#fff;
	border-bottom:1px solid #fff;
	background-image:url(../images/grad_07.gif);
	background-repeat:repeat-x;
	background-position:0 50%;
	margin-bottom:0;
	border-top:1px solid #DEDEDE;
	border-left:1px solid #DEDEDE;
	border-right:1px solid #DEDEDE;
	z-index:999;
	position:relative;
	color:#666 !important;
}
.tab {
	clear: left;
	border: 1px solid #DEDEDE;
	border-top: 0;
	padding: 0px 8px 0 8px;
	height:233px;
	background-image:url(../images/grad_09.gif);
	background-repeat:repeat-x;
	background-position:0 bottom;
	margin:0 0 0 0px;
	line-height:1.25;
}
#tab-container-1 h2 {
	font-size: 100%;
	margin: 0 0 0px 0;
}
/* Removes dotted outline around videos when clicked*/
#flashplayer {
	outline: none;
}
/* -----Truobleshoot Page styles, mainly for images and links ------*/

/*Centers image and adds a line break */
.imgblock {
	display:block;
	margin: auto
}
/* Lists Style */
ul.linklist {
	display: inline;
}
ul.linklist li {
	margin-bottom: 5px;
	padding-left: 15px;
	display: block;
	margin-left: 15px;
	text-decoration: none;
	font-size: 12px;
	color:#666;
	background: url(../images/arrow.png);
	background-repeat: no-repeat;
	background-position: 0 4px;
}
a.listLink {
	margin-bottom: 5px;
	padding-left: 20px;
	display: block;
	text-decoration: none;
	font-size: 12px;
	color:#666;
	background: url(../images/arrow.png);
	background-position: 4px 4px;
	background-repeat:no-repeat;
}

ul li a.listLink {
	margin-bottom: 5px;
	padding-left: 20px;
	display: block;
	text-decoration: none;
	font-size: 12px;
	color:#666;
	background: url(../images/arrow.png);
	background-position: 4px 4px;
	background-repeat:no-repeat;
}
a:hover.listLink {
	color:#333;
}
a.listLinkvideo {
	margin-bottom: 5px;
	padding-left: 20px;
	display: block;
	text-decoration: none;
	font-size: 12px;
	color:#666;
	background: url(../images/play_mini.png);
	background-position: -1px -2px;
	background-repeat:no-repeat;
}
a:hover.listLinkvideo {
	color:#333;
}
.troubleshoot {
	list-style: none;
	width: 70%;
	float:left;
	margin:0;
}
.troubleshoot li {
	display: inline-block;
	float: left;
}

#news {
	position:relative;
	margin:-67px 0 0 10px;

}
#news li {
		width:260px;
		white-space:normal;
			background:#FFF;
	opacity:0.8;
	color: #333;
	padding:5px;
	line-height:1.23;
		-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-khtml-border-radius:3px;
	text-shadow: 1px 1px 1px 1px #fff;
	border-radius:3px;
	border: 1px solid #eeeeee;
}

.manual-subhead {
	color:#A50000;
}

.share-button {
	width:83px;
	height:24px;
	background:url(../images/sm-share-en.png) no-repeat;
	display:inline-block;
	margin-top:1px;
}

.share-button:hover {
	background:url(../images/sm-share-en-hover.png) no-repeat;
}







/*ROATOR*/
.wt-rotator{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
margin-bottom:10px;
	border:0px;
	position:relative;
	display:block;
	width:930px;
	height:288px;
	overflow:hidden;
	clear:both;
}

.wt-rotator a{
outline:none;
}
.main-img{
display:none;
position:absolute;
top:0;
left:0;
z-index:0;
border:0px;
}
.preloader{
background:#000 url(assets/loader.gif) no-repeat center;
float:left;
width:32px;
height:32px;
position:absolute;
top:0;
left:0;
z-index:4;
display:none;
}
#timer{
position:absolute;
top:0;
left:0;
height:4px;
background-color:#E9E9E9;
z-index:4;
visibility:hidden;
}
/*.desc{
color:#FFF;
background:transparent url(assets/panel_bg.png) repeat;
position:absolute;
top:0;
left:0;
z-index:6;
overflow:hidden;
visibility:hidden;
}*/
.desc{
color:#000;
position:absolute;
top:0;
left:0;
z-index:6;
overflow:hidden;
visibility:hidden;
text-align:left;
}
/*
.desc {
	background-color:#000;
	background:transparent url(assets/panel_bg.png) repeat scroll 0 0;
	color:#FFF;
	text-align:left;
	display:none;
	position:absolute;
	top:0;
	left:0;
	z-index:4;
	width:280px;
	padding:10px;
	overflow:hidden;
}*/
.wt-rotator .inner-text{
position:absolute;
padding:10px;
z-index:1;
}
.wt-rotator .inner-bg{
position:absolute;
width:100%;
height:100%;
background-color:#FFF;
filter:alpha(opacity=75);
opacity:0.75;
z-index:0;
}
.c-panel{
	position:relative;
	float:left;
	clear:both;
	top:0;
	left:0;
	z-index:5;
	/*width:auto;
	height:auto;
	
	margin: 6px 0 0 6px;
	display:none;*/
	
		width:auto;	
	height:auto;
	margin:0;
	padding:3px 3px 1px 3px;
	margin-right:4px;
	text-align:center;
	background-color:#FFF;
	border:1px solid #CCC;	
	cursor:pointer;
	font-weight:bold;
		filter:alpha(opacity=70);
	opacity:0.7;
		-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
/*.thumbnails,*/
.buttons{
float:left;
}

.thumbnails {
	float:right;
	width:auto;
}
.thumbnails ul{
list-style:none;
margin:0;
padding:0;
}
.thumbnails li,
{
list-style:none;
display:block;
float:left;
margin-right:4px;
overflow:hidden;
width:24px;
height:24px;
line-height:24px;
text-align:center;
color:#FFF;
background-color:#000;
border:1px solid #000;
cursor:pointer;
font-weight:bold;
}
.thumbnails li.thumb-over{
	 	color:#fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	background-color: #CCC;
		filter:alpha(opacity=100);
	opacity:1;

}
.thumbnails li.curr-thumb{
	color:#FFF;
	border:0px solid #111;
	padding-top:0;
	background-color: #cc0000;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	filter:alpha(opacity=100);
	opacity:1;
}
.thumbnails li *{
display:none;
}

.thumbnails li {
	list-style:none;
	font-size:10px;
	display:inline-block;
	clear:none;
	margin-right:4px;
	padding:0 0 1px 0;
	overflow:hidden;
	width:24px;
	height:24px;
	line-height:24px;
	text-align:center;
	background-color:#FFF;
	cursor:pointer;
	font-weight:bold;
		filter:alpha(opacity=70);
	opacity:0.7;

}
.play-btn,
.prev-btn,
.next-btn {
	display:block;
	float:left;
	clear:none;
	margin-right:4px;
	width:24px;
	height:24px;
	cursor:pointer;
		padding:0 0 1px 0;
}
.play-btn{
background:url(assets/play.png) no-repeat center;
}
.pause{
background:url(assets/pause.png) no-repeat center;
}
.prev-btn{
background:url(assets/prev.png) no-repeat center;
}
.next-btn{
background:url(assets/next.png) no-repeat center;
}
.button-over{
		-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	background-color: #CCC;
		filter:alpha(opacity=100);
	opacity:1;

	
}


#tool-tip{
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
color:#FFF;
background:transparent url(assets/panel_bg.png) repeat;
padding:4px;
position:absolute;
top:0;
left:0;
max-width:300px;
z-index:9999;
display:none;
}
.block,.vpiece,.hpiece{
position:absolute;
z-index:2;
}

.blockimg {
	display: block;
}

/*deprecated styles*/
#bg-img,#main-img,#tooltip,.preloader img{
display:none;
}
h3.bold {
	font-weight:800;
	margin:0;
	padding:0;
}
.r1 {
	background:#f7f7f7;
}
table.lease {
		border:1px solid #eaeaea;
		border-top: none;
		margin: 0 0 10px 0;
		text-align:center;
}
table.lease td {
	padding:5px 0 5px 5px;
	border-right:1px solid #eaeaea;
}
.restrictions {
	font-size:10px;
}
td.text-left {
	text-align:left;
}
.no-deco-a {
	text-decoration:none;
}

.eqLeft,.eqCen,.eqRight {
	float: left;
	width: 100px;
	text-align: center;
}
.eqLeft {
	clear: both;
}

.required {
	color: #b00;
}
#testimonials li {
	background-image:none!important;
}
#table-form input {
	margin:3px 0 3px 4px;
}
.seperator {
	font-weight:800;
	margin:10px 0 5px 0;
}
.red {
	color:#c00;
}

.input-x input {
	width:145px;
}

div .pro-audio-img {
	margin:0 22px 22px 0;
	display:inline-block;
	width:186px;
	vertical-align:top;
}

div .pro-audio-img img {
	margin:0 0 5px 0;
	border:none;
}

#text-bigger {
	font-size:14px;
	line-height:1.4;
}

.p-indent-first-line {
	margin-left:-9px;

}
.p-indent-whole {
	display:inline-block;
	margin-left:9px;

}
#privacy {
	text-decoration:underline;
	color:#A50000;
	font-weight:400;
}

#content .user-list ul {
	clear:both;
	border-bottom:1px solid #f5f5f5;
	margin-top:5px;
}
#content .user-list ul li {
	display: inline-block;
	background:none!important;
}

#content .user-list ul li.school {
	width:255px;
}
#content .user-list ul li.city {
	width:150px;
}
#content .user-list ul li.st {
	width:50px;
}



.promoformstyle, .promoformstyle input, .promoformstyle select {
	color:#666666;
	font-size:12px;
}
.promoformstyle input,.promoformstyle select {
	padding-top:1px;
	margin-top:2px;
	width:220px;
}

	
.promoformstyle p {
	margin-bottom:5px;
}
.promoformstyle .submit {
    color: #FFFFFF;
    font-weight: bold;
    height: 35px;
    margin: 0;
    width: 100px !important;
}
.promoformstyle select {
	padding:0;
	height:20px;
	width:220px;
}
.promoformstyle label {
	display:inline;
	float:none;
	width:auto;
}
.promoformstyle textarea {
	height: 100px;width:455px;
	border: 1px solid #D4D4D4;
}

.promoformstyle .checkbox input {
	width:20px;
}
.promoformstyle .checkbox {
	width:300px;
}
.promoformstyle ol li {
	float:left;
	margin-right:15px;
}
.promoformstyle i {
	color:#A50000;
	padding-right:2px;
}