
/* --------------------------------------------------------- */
/* >>> DEFAULT STYLES <<<
/* --------------------------------------------------------- */
html {font-size:16px;height:100%;}
body {font-family: 'Open Sans', sans-serif; font-size: 100%;overflow-y:scroll;background-color: #dddddd;height: 100%;}
h2 {font-size:28px;text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);}
h2, p {text-align:center;}
a {outline: 0 !important;}
.container-table {display: table;height: 100%;}
.col-centered {float: none;margin: 0 auto;}
.col-no-pad {padding-left:0px;padding-right:0px;}
.col-no-pad-left {padding-left:0px;}
.col-no-pad-right {padding-right:0px;}
.col-min-pad {padding-left:10px;padding-right:10px;}
.col-lg-12 {overflow:hidden;}
.centered {margin-left: auto;margin-right: auto;}
.form-control {height: 36px;}
.form-group {margin-top: 15px;margin-bottom: 10px;}
/*section {border-bottom: 1px solid #ccc;background: url(/images/bg-section.png) repeat-x center bottom;}*/
.btn-cancel {position:absolute;top:32px;padding-left:15px;font-size:15px;}
.req {position: absolute;color: #ff0000;top: -5px;left: 7px;}
.req-reg {color:#ff0000;padding-right:2px;}
.fleft {float:left;}
.fright {float:right;}
textarea {resize: vertical;}

/* --------------------------------------------------------- */
/* >>> LOGIN SCREEN STYLES <<<
/* --------------------------------------------------------- */
.content-login {display: table-cell;vertical-align: middle;}
.content-login .container-login-small {background: #ffffff;box-shadow: 0px 4px 6px -5px #000000;min-height: 355px;padding: 0px;}
.content-login .login-logo {margin-top:10px;margin-bottom: 10px;text-align:center;}
.content-login .login-copy {font-size:8px;text-align:center;padding-top:15px;}
.content-login .login-error {margin-bottom:10px;font-size:12px;}
.content-login .login-error .form-message {margin-bottom:15px;}
.content-login .col-login-left, .content-login .col-login-right {min-height: 450px;color: #7d7d7d;}
.content-login .col-login-right {padding: 35px 30px 30px 30px;}
.content-login .col-login-right .col-lg-4 {padding-left: 5px;padding-right: 5px;}
.content-login .col-login-error {padding-left: 0px;padding-right: 0px;}

/* --------------------------------------------------------- */
/* >>> NAVIGATION STYLES <<<
/* --------------------------------------------------------- */
.navbar {height:95px;border:0px;background:#ffffff;box-shadow:0 1px 5px rgba(0, 0, 0, 0.2);margin-bottom:0px;z-index:2;border-radius:0px;}
.navbar .navbar-logo {height: 95px;position: absolute;}
.navbar .navbar-logo img {height:50px;position: relative;width: auto;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);}
.navbar .navbar-nav {margin: 40px 0 0;font-size: 1.1em;}
.navbar .navbar-nav li a {color: #555;font-size: .875em;font-weight: 600;padding: 0 12px;line-height: 30px;text-transform: uppercase;text-decoration: none;display: block;}
.navbar .navbar-nav li a:hover, .navbar .navbar-nav li a:active, .navbar .navbar-nav li a:link, .navbar .navbar-nav li a:focus {background:none;}
.navbar .container .navbar-header {margin-right: 0px;margin-left: 0px;}
.navbar .navbar-toggle {background:#eee;border-radius:0px;padding: 8px 6px;margin-right:0px;margin-top:7px;}
.navbar .navbar-toggle .icon-bar {background:#777;width:24px;}
.navbar .navbar-toggle .icon-bar+.icon-bar {margin-top: 5px;}
.navbar .menu-label {float: right;color: #999;font-size: .625em;font-weight: 600;line-height: 50px;padding: 0 10px;}
.navbar .dropdown-menu {border-left:0px;border-right:0px;border-bottom:0px;border-top:1px solid #ededed;width:200px;position: absolute;z-index: 1000;background: rgba(255,255,255,.9);opacity: 0.97;box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);-webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);-moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);border-radius: 0 0 2px 2px;padding: 0;}
.navbar .dropdown-menu li a {padding:3px 15px;}
.navbar .dropdown-menu li a:hover {color:#ffffff;background: rgba(0,101,198,.9);}

/* --------------------------------------------------------- */
/* >>> ABOUT STYLES <<<
/* --------------------------------------------------------- */
.bnr-about {background: url(/images/bnr-about.jpg) no-repeat center center/cover;}
.banner, .bnr-cont {height: 420px;}
.banner {background-position: center center;background-size: initial;top:50px;}
.bnr-header {position: relative;text-align: center;top: 88%;transform: translateY(-100%);-webkit-transform: translateY(-100%);z-index: 10;margin: 0;padding: 0;}
.bnr-header {width: 45%;text-align: left;top: 50%;transform: translateY(-50%);-webkit-transform: translateY(-50%);}
.bnr-header h1, .bnr-header .h1 {font-size: 2em;font-weight: 300;color: #000;}
.bnr-header h1, .bnr-header .h1, .bnr-header h1 a, .bnr-header .h1 a {color: #000;text-transform: uppercase;margin: 0;padding: 0;/* font-weight: 400; */}
.about-map {background-color:#ffffff;padding:50px 0px 80px 0px;}
.about-map p {padding-bottom:40px;}
.about-map img {border-radius:20px;}

/* --------------------------------------------------------- */
/* >>> MAP STYLES <<<
/* --------------------------------------------------------- */
.map-cont {padding: 50px 0px;background-color:#ffffff;}
.map-cont img {border-radius: 20px;box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);}

/* --------------------------------------------------------- */
/* >>> SURVEY STYLES <<<
/* --------------------------------------------------------- */
.survey-cont {padding-top:0px;padding-bottom:90px;background-color:#ffffff;}
.survey-cont h2 {text-align:left;/*border-bottom:1px solid #ccc;*/padding-bottom:15px;margin-bottom:0px;font-weight:200;}
.survey-cont .fa.fa-file-text-o {font-size:50px;}
.survey-cont section.survey {padding:25px 0px;}
.survey-cont section.survey .row .row {padding-bottom:3px;padding-right:15px;}
.survey-cont .col-lg-pad-left {padding-left:48px;}
.survey-cont .col-lg-pad-right {padding-right:35px;}
.survey-cont .col-md-pad-left {padding-left:25px;}
.survey-cont .btn {margin-top:5px;}
.survey-cont .btn.btn-survey {float:right;}
.survey-cont .col-survey-btn {margin-left:0px;}
.survey-cont .survey-list {border-top:1px solid #eee;margin-top:65px;}
.survey-view-cont {padding-top:0px;padding-bottom:65px;background-color:#ffffff;}
.survey-view-cont h2 {text-align:left;/*border-bottom:1px solid #ccc;*/padding-bottom:15px;/*padding-left:15px;*/margin-bottom:0px;font-weight:200;}
.survey-view-cont section.survey {min-height:100px;padding:20px 0px 25px 0px;overflow:hidden;}
.survey-view-cont section.survey .survey-options {padding-left:37px;padding-right:37px;-webkit-user-select: none; /* Chrome/Safari */-moz-user-select: none; /* Firefox */-ms-user-select: none; /* IE10+ *//* Rules below not implemented in browsers yet */-o-user-select: none;user-select: none;}
.survey-view-cont section.survey .survey-options .checkbox:last-child{margin-bottom:0px;}
.survey-view-cont section.survey .survey-options .radio:last-child{margin-bottom:0px;}
.survey-view-cont section.survey .survey-options textarea {resize: vertical;}
.survey-view-cont .survey-submit {padding-left:34px;padding-right:34px;}
.survey-view-cont .survey-submit input {width:175px;}
.survey-view-cont .survey-sub-cont {font-size: 14px;padding-left: 28px;padding-right: 28px;border: 1px solid #e5e5e5;margin-bottom: 15px;padding-top: 18px;padding-bottom: 20px;border-radius: 10px;}
.survey-view-cont .survey-sub-cont .checkbox:first-child {margin-top:5px;}
.survey-view-cont .survey-sub-cont+.checkbox, .survey-view-cont .survey-sub-cont+.radio {margin-top:-5px;}
.survey-view-cont .col-pad-right {padding-right:32px;}
.survey-head-cont {border-bottom:1px solid #ccc;padding:0px 0px 75px 0px;overflow: hidden;}
.survey-head-cont h2 {text-align:center;padding-top:20px;margin-bottom:20px;margin-top:20px;}
.survey-head-cont label {font-weight:500;margin-top:7px;margin-bottom:7px;text-align:right;}
.survey-title-cont {background:#eee;padding:15px 0px 20px 0px;}
.survey-title-cont h2 {text-shadow:none;}
.survey-other-cont {margin-top:10px;font-size:14px;padding-left:20px;padding-right:20px;overflow: hidden;}
.survey-other-cont .col-pad-right {padding-right:40px;}
.survey-other-cont .col-pad-left {padding-left:30px;}

/* --------------------------------------------------------- */
/* >>> ERROR MESSAGES <<<
/* --------------------------------------------------------- */
div.form-message {margin-top:-15px;margin-bottom:25px;}
div.form-message ul {list-style:circle inside none;padding:10px;margin-bottom:0px;}
div.form-message ul li {list-style:none;}
div.form-message.form-error {color:#D41B3E;background:#f1e1e4;border: 1px solid #D41B3E;padding-left: 5px;padding-right: 5px;}
div.form-message.form-error.survey-error-cont {overflow: hidden;margin-top: 150px;color:#D41B3E;background:#f1e1e4;/*border-bottom: 1px solid #D41B3E;border-top: 1px solid #d41b3e;border-left: 0px solid #D41B3E;border-right: 0px solid #d41b3e;*/border:none;padding-left: 5px;padding-right: 5px;}
div.form-message.form-error div.error-list-box {width:5px;height:5px;border:1px solid #d41B3e;float:left;margin-top:9px;margin-right:10px;}
div.form-message.form-success {color:#468847;background:#DFF0D8;border:1px solid #468847;}

/* --------------------------------------------------------- */
/* >>> BUTTON STYLES <<<
/* --------------------------------------------------------- */
.z-depth-1, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);}
.btn-primary {border-bottom: 2px solid #2e6da4;}

/* --------------------------------------------------------- */
/* >>> FOOTER STYLES <<<
/* --------------------------------------------------------- */
footer {background-color: #1a1b21;color: #ccc;padding: 1em;}
footer p {font-size: .625em;text-align: left;line-height: 30px;margin: 0!important;}
footer a, footer a:hover, .ft-nav a {color: #ccc;margin: .5em 0 0;}
footer .ft-logo {height:25px; padding: 0 5px 5px;width:auto;display: inline;}
footer .ft-nav {margin: 0;padding: 0;float: right;}
footer .ft-nav li {list-style: none;display: inline-block;}
footer .ft-nav > li > a {font-size: .75em;font-weight: 600;padding: 0 12px;line-height: 30px;text-transform: uppercase;}
footer .ft-nav > li > a:hover {color:#ff4355;text-decoration:none;}

/* DatePicker Styles */
.cal-cont {margin-left:10px;font-size:16px;cursor:pointer;}
.cal-field.form-control[readonly] {background-color:#ffffff;cursor:pointer;}
div.ui-datepicker {font-size:10px;}
/* DatePicker Styles */

.clearable{
  background: #fff url(http://i.stack.imgur.com/mJotv.gif) no-repeat right -10px center;
  border: 1px solid #999;
  padding: 1px 18px 1px 4px;     /* Use the same right padding (18) in jQ! */
  border-radius: 3px;
  transition: background 0.4s;
}
.clearable.x  { background-position: right 5px center; } /* (jQ) Show icon */
.clearable.onX{ cursor: pointer; }              /* (jQ) hover cursor style */
.clearable::-ms-clear {display: none; width:0; height:0;} /* Remove IE default X */

.required-input-error{
	    border-color: #ff0000;
}

.hide{
	display:none;
}
.red{
	color: #ff0000;
}

.tradeshow-status{
	color:#A8AAEF;
}

.other-input {
    border: 0;
    outline: 0;

}

.counts{
	padding:5px 0px 5px 0px;
}

.media-font{
	font-size:14px;
}

.media-font-2{
	font-size:12px;
}
