﻿.pop-msg2 {
    position: absolute;
    color: #337ab7;
    font-size: 12px;
    text-align: left;
    z-index: 99999;
    background-color: #fff;
    border: solid 1px #337ab7;
    padding: 5px 5px 5px 5px;
}

.pop-msg3 {
    position: absolute;
    color: #337ab7;
    font-size: 12px;
    text-align: center;
    z-index: 99999;
    background-color: #fff;
    border: solid 1px #337ab7;
    padding: 5px 5px 5px 5px;
    top: 30px;
    left: -197px;
    width: 200px;
}

