﻿body {padding-top: 0px;padding-bottom: 0px;}
footer {font-size:12px;color:#777;}
.dl-horizontal dt {white-space: normal;}
input,select,textarea {}
.nav-logo > img {height: 50px;margin: 10px 0px;}
.nav-bar {width: 100%;height: 35px;background-color: #1a1b21;}
.navbar {border: 0px;}
.no-pad {padding-left: 0px;padding-right: 0px;}
/*#order-form {margin-top:65px;}
.order-type {padding:0px 15px;margin-top:15px;}
.order-type div {padding-left:0px;padding-right:0px;margin-top:15px;margin-bottom:15px;}
.order-type div input {height: 50px;}
.order-type div input:focus {outline:none;}
.order-type div:nth-child(1) input {border-radius: 30px 0px 0px 30px;}
.order-type div:nth-child(2) input {border-radius: 0px;}
.order-type div:nth-child(3) input {border-radius: 0px 30px 30px 0px;}
.order-nav-footer .btn {height:44px;width:100%;margin-top:15px;}
.form-group {overflow: auto;}
.form-control {height:44px;padding:6px 14px;}*/
/*.breadcrumb {margin-top:15px;margin-bottom:5px;}
.table.order-confirm-table>thead>tr {background-color: #ecf8fc;color: #4a889f;}
.table.order-confirm-table>thead>tr>th {border-bottom: 2px solid #c9e3f2;padding-bottom: 4px;padding-top: 8px;}
.table.order-confirm-table>tbody>tr.order-confirm-total>td>ul {list-style:none;padding:0px;}
.table.order-confirm-table>tbody tr td .order-discount {color:red;padding-bottom:10px;}
.table.order-confirm-table>tbody tr.clickable:hover {cursor:pointer;}
.table.order-confirm-table>tbody tr.order-sub-row {background-color:#f5f5f5;}
.table.order-confirm-table>tbody tr td {padding:15px;}
.fa.fa-user, .fa.fa-sign-out {font-size:16px;}*/

.dev-box{
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}
select{
    background-color: #fff;
}
.navbar-inverse {background-color: #fff;border-color: #080808;}
.navbar-inverse .navbar-collapse {border-color:#e5e5e5;}
.navbar-inverse .navbar-nav > li > a:hover {color:#6d6d6d;}
.navbar-inverse .navbar-toggle {background-color:#286090;border-color:#204d74;margin-top:13px;}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:active, .navbar-inverse .navbar-toggle:focus {color: #fff;background-color: #204d74;border-color: #204d74;}

/*.searchresults-span{
    text-decoration: underline;
    color:#1a299f;
}

.searchresults-span-name{
    text-decoration: underline;
    color:#1a299f;
}

.nobilling{
    color:#ffd800;
}

.searchresults-label{
    margin-bottom:15px;
}

.hide{
    display:none;
}

.show{
    display:block;
}

.lookup-error{
    text-align: center;
    color: #ff0000;
    padding: 25px;
}

.redborder{
    border: 1px solid #ff0000 !important
}

.red-text{
    color:#ff0000;
}*/


@media(max-width:767px){.nav-logo > img {margin:10px 15px;} }

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {}

