﻿@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="col-lg-9 col-centered col-login-exceed text-center">
    <h4>Login attempts exceeded please try your request at a later time. Thank you.</h4>
</div>
