﻿
@using hme.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container container-table">
    <div id="Content" class="content-login">
        @using (Html.BeginForm("Login", "Security", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()
            <div class="col-lg-9 col-centered no-pad animated fadeIn">
                <div class="form-message form-notice" style="margin-bottom:70px;">
                    <p>Please note: Our password policy has changed and as such you may need to reset your password to gain access to the Customer Service Portal. To do this, please click the "Forgot your password?" link and we'll email you instructions to help you reset your password.</p>
                </div>
            </div>
            <div class="col-lg-9 col-centered container-login animated fadeIn ">
                <div class="col-lg-6 col-login-left">
                    <div class="form-group">
                        <div class="brand-login-sm hidden-lg col-md-12">

                            <img src="/images/ce.png" alt="CE Repairs" class="center-block" />

                        </div>
                        <div class="col-lg-12 text-center">
                            <h4>New Customers</h4>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-4 col-md-4 col-sm-4"></div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <a href="/security/Register" class="btn btn-default form-control">Register</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12 register-phone text-center">
                            <p>
                                <strong>
                                    Register by phone at


                                    1-800-279-3939


                                </strong>
                            </p>
                        </div>
                    </div>
                    <div class="form-group visible-lg" style="margin-bottom:0px;">
                        <div class="col-lg-12 security-warning">
                            <p><strong>Security Warning:</strong><br />It is your responsibility to maintain the confidentiality and control of passwords used to access data through our website. For your protection, we strongly recommend that you do not provide your account information, user name, or password to anyone. If you become aware of any suspicious activity relating to your account, please contact us immediately.</p>
                            <p>To protect access to your information we recommend using at least eight characters, two of which should be special characters or numbers. Change your password frequently and especially after employees leave your company. Do not leave your computer unattended while logged in and log out when finished.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-login-right">
                    <div class="form-group visible-lg">
                        <div class="col-lg-12">
                            <div class="brand-login">
                                <img src="/images/ce.png" alt="CE Repairs" />
                            </div>
                        </div>
                        <div class="col-lg-12 text-center">
                            <div class="brand-login-header">Customer Service Portal</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <input type="text" maxlength="100" name="Username" class="form-control" value="" placeholder="Email" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <input type="password" maxlength="16" name="Password" class="form-control" value="" placeholder="Password" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6">
                            <input type="submit" value="Login" class="btn btn-primary form-control btn-submit" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12 text-center">
                            <a href="/security/ForgotPassword">Forgot your password?</a>
                        </div>
                    </div>
                    @if (ViewBag.loginerror != "")
                    {
                    <div class="form-group">
                        <div class="col-lg-12 text-center" style="color:red;">
                            Invalid login attempt.
                        </div>
                    </div>
                    }
                </div>
            </div>
        }
    </div>
</div>

