﻿
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container container-main">
    <div id="Content">
        <div class="col-lg-12">
            <h2>Reset Password</h2>
        </div>
        <p>Password Reset Confirmed</p>
        <p>Please <a href="@ViewBag.URL/security/login/">login</a> to your account.</p>
    </div>
</div>
