﻿
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container container-main">
    <div id="Content">
        <div class="col-lg-12">
            <h2>Registration</h2>
        </div>
        <div class="col-lg-12">
            <div class="form-message form-success">
                <ul>
                    <li>Registration Complete! You will be notified within 1-2 business days regarding your account access. Thank you.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

