﻿
@using hme.Models
@model ResetPasswordViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<style>
    .red {
        color: red;
    }

    .pop-msg2 {
        position: absolute;
        color: red;
        font-size: 20px;
        text-align: left;
        z-index: 99999;
        background-color: #fff;
        border: solid 1px #337ab7;
        padding: 5px 5px 5px 5px;
    }
</style>
<div class="container container-main">
    <div id="Content">
    <div class="col-lg-12">
        <h2 class="resetpassword-header">Reset Password</h2>
    </div>
    @using (Html.BeginForm("ResetPassword", "Security", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal col-lg-12", role = "form" }))
            {
        @Html.AntiForgeryToken()

            <div class="col-lg-6">
                <div class="form-group">
                    <label for="Password" class="control-label col-lg-5">New Password:</label>
                    <div class="col-lg-7">
                        <input type="password" maxlength="16" id="Password" name="Password" class="form-control" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="ConfirmPassword" class="control-label col-lg-5">Confirm Password:</label>
                    <div class="col-lg-7">
                        <input type="password" maxlength="16" id="ConfirmPassword" name="ConfirmPassword" class="form-control" value="">
                        <input type="hidden" maxlength="16" name="code" value="@Model.Code">

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right">
                        <div class="pass-req-cont">
                            <p><strong><i style="border:none;" class="fa fa-lock" aria-hidden="true"></i> Password Requirements</strong></p>
                            <ul>
                                <li>The length of the password must be at least eight (8) characters and not more than sixteen (16) characters.</li>
                                <li>The password may not contain blank spaces.</li>
                                <li>
                                    The password must contain at least one (1) character from each of the three (3) groups below:
                                    <ul>
                                        <li>English uppercase characters (A through Z)</li>
                                        <li>English lowercase characters (a through z)</li>
                                        <li>Numerals (0 through 9)</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-7" style="text-align:center;">
                        <input type="submit" value="Reset Password" id="resetpassword" name="resetpassword" class="btn btn-primary form-control">
                    </div>
                </div>
            </div>

    }
            <div class="col-lg-7">
                <p class="respass-note">*If you are a CEREPAIRS employee, please contact the IT department for assistance.</p>
            </div>
        </div>
 
</div>




