﻿@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container container-main">
    <div id="Content">
        <div class="col-lg-12">
            <h2>Reset Password</h2>
        </div>
        <p>Password Reset Request has expired.</p>
    </div>
</div>

