﻿@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container container-main">
    <div id="Content">
        <div class="col-lg-12">
            <h2>Reset Password</h2>
        </div>
        <p>Invalid Email Address.</p>
        <p>Please click <a href="@ViewBag.Forogot_URL">here</a> to re-enter your email address.</p>
    </div>
</div>
