﻿
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container container-main">
    <div id="Content">
        <div class="col-lg-12">
            <h2>Reset Password</h2>
        </div>
        <p>Password Reset Request has been sent to <strong>@ViewBag.Email</strong>.</p>
        <p>Please check your email to reset your password.</p>
    </div>
</div>





