﻿@using ups
@model UpsLabelModels.upsLabelModel
<div class="freeshipping" style="padding-top:100px"></div>
@using (Html.BeginForm("ReturnLabel", "FreeShipping", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">

        @Html.TextBoxFor(m => m.firstname, new { @class = "form-control", placeholder = "First Name" })

    </div>
    <div class="form-group">

        @Html.TextBoxFor(m => m.lastname, new { @class = "form-control", placeholder = "Last Name" })

    </div>
    <div class="form-group">

        <input type="submit" value="Submit" class="btn btn-primary form-control" />

    </div>
}
<div><div class="get-label">get ups label</div></div>
<div onclick="printDiv()">print ups label</div>
<div class="send-email">email ups label</div>
<div style="display:none;">
    <script>
        $(document).ready(function () {
            $('.get-label').on('click', function () {
                var n = (new Date()).getTime();
                $(this).attr('_id', n);
                ReturnLabel(n)
            });
            $('.send-email').on('click', function () {
                var n = (new Date()).getTime();
                $(this).attr('_id', n);
                emailLabel(n)
            });
        });
        var lblImage;
        var dto = {};
        dto.labelinfo = {};
        dto.labelinfo.companyname = 'eee';
        dto.labelinfo.destination = "cerepairs";
        dto.labelinfo.address1 = "741; Avenida Amigo";
        dto.labelinfo.address2 = "";
        dto.labelinfo.city = "San Marcos";
        dto.labelinfo.state = "CA";
        dto.labelinfo.zipcode = "92069";
        dto.labelinfo.country = "US";
        dto.labelinfo.firstname = "Bill";
        dto.labelinfo.lastname = "Jones";
        dto.labelinfo.companyname = "KFC";
        dto.labelinfo.storename = "KFC";
        dto.labelinfo.storenumber = "1234";
        dto.labelinfo.rmanumber = "";
        dto.labelinfo.products = "Head Phones";
        dto.labelinfo.weight = "10";
        dto.labelinfo.phone = "17602345960";
        dto.labelinfo.attention = "RMA #" + dto.labelinfo.rmanumber;

        var email_dto = {};
        email_dto.address1 = "741; Avenida Amigo";
        email_dto.address2 = "";
        email_dto.city = "San Marcos";
        email_dto.state = "CA";
        email_dto.zipcode = "92069";
        email_dto.country = "US";
        email_dto.firstname = "Bill";
        email_dto.lastname = "Jones";
        email_dto.storename = "KFC";
        email_dto.storenumber = "1234";

        function ReturnLabel(id) {
            dto.id = id;
            console.log(dto);
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/UpsLabel/ReturnLabel",
                dataType: "json",
                data: JSON.stringify(dto),
                success: function (dto) {
                    console.log(dto);
                    if (dto.status == 'OK') {
                        $('#labelImg').attr('src', dto.label);
                        email_dto.label = dto.label.replace('data:image/gif;base64,', '');
                        var ele = $('.body-content').find('[_id="' + dto.id + '"]');
                        var json = { obj: $(ele), msg: 'Dropdown Updated', left: 0, top: -30, append: $(ele), _class: 'pop-msg2' };
                        popup_msg(json);
                        $('.ups-label').modal('show');
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    //tracking_spinner.stop();
                    console.log(thrownError);
                }
            });
        }

        function printDiv() {
            var divToPrint = document.getElementById('print');
            var ifrm = document.createElement("iframe");
            ifrm.style.display = "none";
            document.body.appendChild(ifrm);
            setTimeout(function () {
                $(ifrm).contents().find("body").html(divToPrint.innerHTML);
                ifrm.contentWindow.print();
                $(ifrm).remove();
            }, 1);
            //ifrm.onload = function () {
            //    ifrm.contentWindow.print();
            //}
            //return;
            //var divToPrint = document.getElementById('print');
            //var newWin = window.open('', 'Print-Window');
            //newWin.document.open();
            //newWin.document.write('<html><title>Print UPS Label</title><body onload="window.print();newWin.close();">' + divToPrint.innerHTML + '</body></html>');
            //newWin.document.close();
            //setTimeout(function () { newWin.close(); }, 10);
        }

        function emailLabel(id) {
            email_dto.id = id;
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/UpsLabel/EmailLabel",
                dataType: "json",
                data: JSON.stringify(email_dto),
                success: function (dto) {
                    console.log(dto);
                    var ele = $('.body-content').find('[_id="' + dto.id + '"]');
                    var json = { obj: $(ele), msg: 'Email Sent', left: 0, top: -30, append: $(ele), _class: 'pop-msg2' };
                    popup_msg(json);
                    if (dto !== null) {

                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    //tracking_spinner.stop();
                    console.log(thrownError);
                }
            });
        }
    </script>
    <div id="print">
        <style>
            .small_text {
                font-size: 80%;
            }

            .large_text {
                font-size: 115%;
            }

            .line_break_dash {
                border-top: 2px dashed #000000;
                padding-bottom: 15px;
            }

            .cust_addr {
                height: 180px;
                font-size: 30px;
                line-height: 35px;
            }

            .links {
                color: #9f0a0d;
                cursor: pointer;
            }
        </style>
        <table border="0" cellpadding="0" cellspacing="0" width="600">
            <tbody>
                <tr>
                    <td height="210" align="left" valign="top">
                        <b class="large_text">UPS Electronic Return Label: View/Print Label</b>&nbsp;<br>
                        <ol class="small_text">
                            <li><b>Ensure that there are no other tracking labels attached to your package.</b><br><br></li>
                            <li><b>Tear this sheet of paper at the dotted line.</b> Place the top half of this sheet of paper inside of the shipping box. Place the bottom half of this sheet of paper containing the UPS label in a UPS Shipping Pouch. If you do not have a pouch, affix the label using clear plastic shipping tape over the entire label.  Take care not to cover any seams or closures.<br><br></li>
                            <li>
                                <b>Collection and Drop-off<br></b>
                                <ul>
                                    <li>Take this package to any location of The UPS Store ®, UPS Drop Box, UPS Customer Center, UPS Alliances (Office Depot® or Staples®) or Authorized Shipping Outlet near you. Items sent via UPS ReturnsSM Services(including via UPS Ground) are accepted at Drop Boxes, to find your closest UPS location visit  <a href="http://www.ups.com/content/us/en/index.jsx" target="_blank">www.ups.com/content/us/en/index.jsx</a> and select Drop Off. Click to locate Dropoff location: <a href="http://www.ups.com/dropoff?autosubmit=1&amp;loc=en_US&amp;appid=XOLT&amp;country=US&amp;Postal=92069&amp;trans_mode=002" target="_blank">Drop Off Locator</a></li>
                                    <li>Daily Collection customers: Have your shipment(s) ready for the driver as usual.</li>
                                </ul>
                            </li>
                        </ol>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="cust_addr">
            @*@Model.firstname @Model.lastname<br>
                @Model.storename : @Model.storenumber<br>
                @Model.address1<br>
                @Model.city, @Model.state @Model.zip<br>*@
        </div>
        <div class="line_break_dash"></div>
        <table border="0" cellpadding="0" cellspacing="0" width="600">
            <tbody>
                <tr>
                    <td class="small_text" align="left" valign="top">&nbsp;&nbsp;&nbsp;<a name="foldHere">TEAR HERE</a></td>
                </tr>
            </tbody>
        </table>
        <table border="0" cellpadding="0" cellspacing="0" height="392" width="651">
            <tbody>
                <tr>
                    <td align="left" valign="top" height="392" width="651"><img id="labelImg" src=""></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
<div class="ups-label ui tiny modal">
    <div class="header">UPS Label</div><div class="content">
        <div onclick="printDiv()">print ups label</div>
        <div class="send-email">email ups label</div>
    </div>
    <div class="actions">
        <div class="ui button cancel">Close</div>
    </div>
</div>
