﻿@using cerepairs.Models
@model upsupdate
@{
    Layout = null;
    string[] products;
    products = Model.products.Split(';');
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Return label Notification</title>
</head>
<body>
    <div>
        <table border="0" cellpadding="0" cellspacing="0" width="600">
            <tr>
                <td height="410" align="left" valign="top">
                    <table>
                        <tr>
                            <td>Requested:</td>
                            <td>@DateTime.Now.ToString("MM/dd/yyyy")</td>
                        </tr>
                        <tr>
                            <td>Tracking Number:</td>
                            <td>@Model.tracking_number</td>
                        </tr>
                        <tr>
                            <td>Chain:</td>
                            <td>@Model.store_name - @Model.store_number</td>
                        </tr>
                        <tr>
                            <td>Contact:</td>
                            <td>@Model.firstname @Model.lastname</td>
                        </tr>
                        <tr>
                            <td>Phone:</td>
                            <td>@Model.phone_number</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:top">Address:</td>
                            <td>
                                @Model.address_1<br />
                                @if (!string.IsNullOrEmpty(Model.address_2))
                                {
                                    @Model.address_2<br />
                                }
                                @Model.city, @Model.state @Model.zip_code
                            </td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>@Model.email</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:top">Comments:</td>
                            <td>
                                @Model.comments
                            </td>
                        </tr>

                        <tr>
                            <td style="vertical-align:top">Products:</td>
                            <td>
                                @foreach (var item in products)
                                {
                                    @item<br />
                                }
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
