﻿@using ups
@model ups.labelinfo
@{
    ViewBag.Title = "Return Shipping Label";
}
<script type="text/javascript">
    $(document).ready(function () {
        $('.send-email').on('click', function () {
            var n = (new Date()).getTime();
            $(this).attr('_id', n);
            emailLabel(n)
        });
    });
    var dto = {};
    dto.firstname = '@Model.firstname';
    dto.lastname = '@Model.lastname';
    dto.storename = '@Model.storename';
    dto.storenumber = '@Model.storenumber';
    dto.address1 = '@Model.address1';
    dto.address2 = '@Model.address2';
    dto.city = '@Model.city';
    dto.state = '@Model.state';
    dto.zip = '@Model.zipcode';
    dto.label = '@ViewBag.image_gif';

    function printDiv() {
        var divToPrint = document.getElementById('print');
        var newWin = window.open('', 'Print-Window');
        newWin.document.open();
        newWin.document.write('<html><body onload="window.print()">' + divToPrint.innerHTML + '</body></html>');
        newWin.document.close();
        setTimeout(function () { newWin.close(); }, 10);
    }
    function emailLabel(id) {
        dto.id = id;
        console.log(dto);
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/FreeShipping/EmailLabel",
            dataType: "json",
            data: JSON.stringify(dto),

            success: function (dto) {
                console.log(dto);
                var ele = $('.body-content').find('[_id="' + dto.id + '"]');
                var json = { obj: $(ele), msg: 'Email Sent', left: -1, top: -1, append: $(ele), _class: 'pop-msg2' };
                popup_msg(json);
                if (dto !== null) {

                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                //tracking_spinner.stop();
                console.log(thrownError);
            }
        });
    }
</script>

<div class="ui container">
    <h1>Return Shipping Label</h1>
    <div id="print">
        <style>
            .small_text {
                font-size: 80%;
            }

            .large_text {
                font-size: 115%;
            }

            .line_break_dash {
                border-top: 2px dashed #000000;
                padding-bottom: 15px;
            }

            .cust_addr {
                height: 180px;
                font-size: 30px;
                line-height: 35px;
            }

            .links {
                color: #9f0a0d;
                cursor: pointer;
                /*position:relative;*/
            }
            .hide{
                display:none;
            }
        </style>
        <table border="0" cellpadding="0" cellspacing="0" width="600">
            <tbody>
                <tr>
                    <td height="210" align="left" valign="top">
                        <b class="large_text">UPS Electronic Return Label: View/Print Label</b>&nbsp;<br>
                        <ol class="small_text">
                            <li><b>Ensure that there are no other tracking labels attached to your package.</b><br><br></li>
                            <li><b>Tear this sheet of paper at the dotted line.</b> Place the top half of this sheet of paper inside of the shipping box. Place the bottom half of this sheet of paper containing the UPS label in a UPS Shipping Pouch. If you do not have a pouch, affix the label using clear plastic shipping tape over the entire label.  Take care not to cover any seams or closures.<br><br></li>
                            <li>
                                <b>Collection and Drop-off<br></b>
                                <ul>
                                    <li>Take this package to any location of The UPS Store ®, UPS Drop Box, UPS Customer Center, UPS Alliances (Office Depot® or Staples®) or Authorized Shipping Outlet near you. Items sent via UPS ReturnsSM Services(including via UPS Ground) are accepted at Drop Boxes, to find your closest UPS location visit  <a href="http://www.ups.com/content/us/en/index.jsx" target="_blank">www.ups.com/content/us/en/index.jsx</a> and select Drop Off. Click to locate Dropoff location: <a href="http://www.ups.com/dropoff?autosubmit=1&amp;loc=en_US&amp;appid=XOLT&amp;country=US&amp;Postal=92069&amp;trans_mode=002" target="_blank">Drop Off Locator</a></li>
                                    <li>Daily Collection customers: Have your shipment(s) ready for the driver as usual.</li>
                                </ul>
                            </li>
                        </ol>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="cust_addr">
            @Model.firstname @Model.lastname<br>
            @Model.storename : @Model.storenumber<br>
            @Model.address1<br>
            @Model.city, @Model.state @Model.zipcode<br>

        </div>
        <div class="line_break_dash"></div>
        <div class="small_text" align="left">&nbsp;&nbsp;&nbsp;TEAR HERE</div>
        @*<table border="0" cellpadding="0" cellspacing="0" width="600">
            <tbody>
                <tr>
                    <td class="small_text" align="left" valign="top">&nbsp;&nbsp;&nbsp;<a name="foldHere">TEAR HERE</a></td>
                </tr>
            </tbody>
        </table>*@
        <table border="0" cellpadding="0" cellspacing="0" height="392" width="651">
            <tbody>
                <tr>
                    <td align="left" valign="top" height="392" width="651"><img src="@ViewBag.image"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="links" onclick="printDiv()">Click here to print the return label</div>
    <div class="links send-email">Click here to have a copy of the return label emailed to you</div>
    @*<table width="600">
        <tbody>
            <tr>
                <td>
                    <div class="links" onclick="printDiv()">Click here to print the return label</div>
            </tr>
            <tr>
                <td>
                    <div class="links send-email">Click here to have a copy of the return label emailed to you</div>
                </td>
            </tr>
        </tbody>
    </table>*@
</div>
