﻿
@model cerepairs.Models.upsget
@{
    Layout = null;
}
@{ 
    string comment = "";
    string[] sp = null;

    //comment = Model.comments.Replace("\n", "~");
    if (!string.IsNullOrEmpty(Model.comments))
    {
        comment = Model.comments.Replace("\n", "~");
        sp = comment.Split('~');
        //comment = string.Empty;
        //foreach (string c in sp)
        //{
        //    comment += comment + "<br />";
        //}
    };
}
<div style="width:100%;margin:50px 50px 0px 50px;text-align:center;">
    <span style="font-size:30px;">Packing Slip</span><table align="center" style="width:500px;">
        <tr><td colspan="2">Date: @Model.Created_DTS.ToShortDateString()</td></tr>
        <tr><td colspan="2">Tracking Number: @Model.tracking_number</td></tr>
        <tr><td colspan="2">Name: @Model.contact_name</td></tr>
        <tr><td colspan="2">Chain: @Model.store_name</td></tr>
        <tr><td colspan="2">Store Number: @Model.store_number</td></tr>
        <tr>
            <td colspan="2">
                <table style="border-spacing: 0;">
                    <tr>
                        <td style="vertical-align:top;">Address:</td>
                        <td> @Model.address_1<br />@if (!string.IsNullOrEmpty(Model.address_2)) {@Model.address_2<br /> }@Model.city, @Model.state @Model.zip_code</td>
                </table>
            </td>
        </tr>
        <tr><td colspan="2">Email Address: @Model.email</td></tr>
        <tr><td colspan="2">Phone Number: @Model.phone_number</td></tr>
        <tr>
            <td colspan="2">
                <table style="border-spacing: 0;">
                    <tr>
                        <td style="vertical-align:top;">Special&nbsp;Instructions:</td>
                        <td style="text-align:left;"><div id="lblComments">@if (sp != null) { foreach (var c in sp) { @c<br>} }</div></td>
                </table>
            </td>
        </tr>
    </table>
</div>

