﻿@model PaymentModel.Models.PaymentRequestModel
@{
    var total = Convert.ToInt32( Model.TotalAmount * 100);
    var xx = "sss";
}
<script>
    function backtopayment() {
        $('#ccProcess').hide();
        $('#payment').show();
    }
</script>

<section class="content-header">
    @*<h1 class="h2">Make a Payment</h1>
        <button class="btn btn-tbltopaction pull-right backtopayment" onclick="backtopayment();" style="margin-top: -20px;margin-left:10px;margin-right:10px;background-color:#28a745;"><i class="icon-chevrons-left" aria-hidden="true"></i>Back</button>*@
    @*<ol class="breadcrumb">
            <li><a href="#"><i class="icon-home fs12"></i> Home</a></li>
            <li><a href="#">Make a Payment</a></li>
        </ol>*@
</section>

<section class="content">
    <div class="row">
        <input style="display:none;" type="text" id="SECURETOKENID" class="SECURETOKENID" value="@ViewBag.SECURETOKENID" />
        <input style="display:none;" type="text" id="SECURETOKEN" class="SECURETOKEN" value="@ViewBag.SECURETOKEN" />
        <input style="display:none;" type="text" id="custIDs" class="custIDs" value="@ViewBag.custIDs" />
        <input style="display:none;" type="text" id="total" class="total" value="@total" />
        <input style="display:none;" type="text" id="email" class="email" value="@ViewBag.email" />
        <div class="ccResponse" style="display:block;"></div>
        <div class="col-md-12" id="searchCustomer">
            <div class="row">
                <div class="col-md-6 mt-20">
                    <div class="d60">
                        <div class="d100 paypal-iframe">
                            <div class="card" style="margin-left: 14px;width: 100%;">
                                <span class="ttprice-sec nosurcharge" style="border-top:0;">
                                    <span class="col-sm-6 dt">Payment Total</span>
                                    <span class="col-sm-6 dd withSurcharge">$&nbsp;@Model.TotalAmount </span>
                                </span>

                                <span class="ttprice-sec surcharge" style="border-top:0;padding: 20px 5px 0px;display:none;">
                                    <span class="col-sm-6 dt">Product Total</span>
                                    <span class="col-sm-6 dd">&nbsp;@Model.TotalAmount </span>
                                </span>
                                <span class="ttprice-sec surcharge" style="border-top:0;padding: 0px 5px 0px;display:none;">
                                    <span class="col-sm-6 dt">SurCharge</span>
                                    <span class="col-sm-6 dd">&nbsp;<span class="surchargefee"></span> </span>
                                </span>
                                <span class="ttprice-sec surcharge" style="border-top:0;padding: 0px 5px 20px;display:none;">
                                    <span class="col-sm-6 dt">Payment Total</span>
                                    <span class="col-sm-6 dd">$&nbsp;<span class="totalcosts">.</span> </span>
                                </span>
                                <span class="col-sm-12 dt1" style="color:red;font-size: 12px;"><br />Please be aware that there may be a 3.0% surcharge fee added to this payment.To avoid this charge, you may use one of the following alternative payment methods: EFT/Check by Phone, ACH, Debit Card, Wire, Check. Please contact <a href="mailto:CE-AR@cerepairs.com">CE-AR@cerepairs.com</a> for more details.</span>

                            </div>
                            <div style="padding-left:90px;"><img src="~/Images/amex.svg" />&nbsp;<img src="~/Images/discover.svg" />&nbsp;<img src="~/Images/mastercard.svg" />&nbsp;<img src="~/Images/visa.svg" /></div>
                            <div class="payXeroForm" style="color:red;margin-left:15px;font-size:11px; width: 450px;margin-top:10px;">HME is unable to accept American Express credit card payments in Canadian Funds.</div>
                            <div class="payXeroForm" style="margin-left:10px;">
                                <form action="/PayXero/PayXeroResponse" method="post" style="width: 499px;">
                                    <table cellpadding="5">
                                        <tr>
                                            <td style="width: 200px;">Company Name <span style="color:red">*</span> : </td>
                                            <td><input size="30" type="text" class="red_border not-numeric" id="name" placeholder="Company Name - Non Numeric Only" value="" /></td>
                                        </tr>
                                        <tr>
                                            <td>Billing Zip / Postal Code <span style="color:red">*</span> : </td>
                                            <td><input size="30" type="text" class="red_border" id="zip" placeholder="Billing Zip / Postal Code" value=""></td>
                                        </tr>
                                        <tr>
                                            <td>Credit Card Number<span style="color:red">*</span> : </td>
                                            <td id="demoCcnumber"></td>
                                        </tr>
                                        <tr>
                                            <td>Credit Card Exp Date<span style="color:red">*</span> : </td>
                                            <td id="demoCcexp"></td>
                                        </tr>
                                        <tr>
                                            <td>Credit Card CVV<span style="color:red">*</span> : </td>
                                            <td id="demoCvv"></td>
                                        </tr>
                                    </table>
                                    <div>
                                        <div style="display: inline-block;">
                                            <div class="surcharge-message" style="width: 320px; color: red; display: none;">Please be aware that there will be a surcharge fee of 3.0% added to this payment. This Surcharge is not greater than our total cost of accepting credit cards. There is no surcharge for Debit Card Payments. By clicking the Submit button you are accepting the surcharge</div>
                                        </div>
                                        <div style="display: inline-block; float: right;"><i class="fa fa-spinner fa-spin spinner" style="font-size:24px;display:none;"></i>
                                        <button id="demoPayButton" onclick="submitted = 1; if ($(this).html() == 'Confirm Card') { console.log('Confirm Card'); gtag('event', 'Click', { 'event_category': 'Submit Button', 'event_label': 'Accessory Sales' }); }" class="btn btn-primary demoPayButton" style="margin-right: 5px;vertical-align:top;" type="button">Confirm Card</button>
                                        </div>
                                    </div>
                                    <div style="display: inline-block; text-align: right; width: 455px;">
                                        <div style="display:none;color:red;font-size:15px" id="errorMessage" class="errorMessage"></div>
                                    </div>
                                </form>
                                <script>payxeroscript()</script>
                            </div>
                        </div>
                    </div>
                    <div class="d40 cp-table payXeroForm">
                        <div class="table-content d100" style="margin-left: 350px;">
                            <table>
                                <thead>
                                    <tr>
                                        <th>@Model.PaymentLabel</th>
                                        <th>@Model.PaymentValues</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @*@{ for (int i = 0; i < Model.PaymentRequests.Count; i++)
                                        {
                                            <tr>
                                                <td>
                                                    @Model.PaymentRequests[i].PaymentNumber
                                                </td>
                                                <td>
                                                    $&nbsp;@Model.PaymentRequests[i].InvoiceBalance&nbsp;@Model.Currency
                                                </td>
                                            </tr>
                                        }
                                    }*@

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


















        <!--<div class="col-md-12" id="searchCustomer">
        <div class="row">
            <div class="col-md-8 mt-20">
                <div class="d60">
                    <div class="d100 paypal-iframe">
                        <p style="color:red">
                            Effective 6/15/2022 a 3.5% credit card charge will be added to all credit card payments only. To avoid this charge, you may use one of the following alternative payment methods: EFT/Check by Phone, ACH, Debit Card, Wire, Check. Please contact <a href="mailto:CE-AR@cerepairs.com">CE-AR@cerepairs.com</a> for more details.
                        </p>
                        <div>Credit Card payment amount : $@Model.TotalAmount</div>
                        <div style="color:red;margin-left:0px;font-size:11px;">HME is unable to accept American Express credit card payments in Canadian Funds.</div>
                        <div class="ipaypal" width='710' height='760'>
                            <iframe src='@Model.PayPalURL' width='710' height='760' border='0' frameborder='0' scrolling='no' allowtransparency='true'>&nbsp;</iframe>
                        </div>
                        <div class="paypal-processing" style="display:none;height: 760px;">
                            <div id="ccprocessing-div" style="text-align: center;">
                                <div style="font-size: 35px; padding: 20px 0px 20px 0px;">
                                    Processing Transaction
                                </div>
                                <div id="ccprocessing" class="circle" style="margin: 20px auto;">
                                    <div class="circle1 child"></div>
                                    <div class="circle2 child"></div>
                                    <div class="circle3 child"></div>
                                    <div class="circle4 child"></div>
                                    <div class="circle5 child"></div>
                                    <div class="circle6 child"></div>
                                    <div class="circle7 child"></div>
                                    <div class="circle8 child"></div>
                                    <div class="circle9 child"></div>
                                    <div class="circle10 child"></div>
                                    <div class="circle11 child"></div>
                                    <div class="circle12 child"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d40 cp-table">
                    <div class="table-content d100" style="margin-left: 40px;">
                        <table>
                            <thead>
                                <tr>
                                    <th>@Model.PaymentLabel</th>
                                    <th>@Model.PaymentValues</th>
                                </tr>
                            </thead>
                            <tbody>-->
        @*@{ for (int i = 0; i < Model.PaymentRequests.Count; i++)
            {
                <tr>
                    <td>
                        @Model.PaymentRequests[i].PaymentNumber
                    </td>
                    <td>
                        $&nbsp;@Model.PaymentRequests[i].InvoiceBalance&nbsp;@Model.Currency
                    </td>
                </tr>
            }
        }*@

        <!--</tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    </div>

</section>

