﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PaymentFailure</title>
    <script type="text/javascript">
        parent.location = "/Payment/PaymentConfirmation/?conformation=@ViewBag.token";
    </script>
</head>
<body>
    <div>
        <section class="content-header">
            @*<h1>An error has occured</h1>*@
        </section>
        <section class="content">
            <div class="error-page">
                <div class="error-content">
                    @*@if (ViewBag.PaymentResult == "12")
            {
                        <p>Declined. Check the credit card number, expiration date, and transaction information to make sure they were entered correctly. If this does not resolve the problem, have the customer call their card issuing bank to resolve.</p>
                    }
                    else
                    {
                        <p>Check the credit card number, expiration date, and transaction information to make sure they were entered correctly. If this does not resolve the problem, have the customer call their card issuing bank to resolve.</p>
                    }*@
                </div>
            </div>
        </section>
    </div>
</body>
</html>
