﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
//string x1 = @Html.Raw(ViewBag.billingaddress);
//string x2 = @ViewBag.shippingaddress;
//string x3 = @ViewBag.billinginfo;
//string x4 = @ViewBag.tax;
//string x5 = @ViewBag.grandtotal;
}
<script>
    var btnObj = '@ViewBag.SECURETOKENID';
    var Cart_Session_UID = '@ViewBag.Cart_Session_UID';
    var User_Cookie = '@ViewBag.User_Cookie';
    var Invoice_Conformation_ID = '@ViewBag.PaymentConfirmation';
</script>
@*<div class="ui breadcrums segment">
    <div class="container">
        <div class="container"><a href="/">Home</a>&nbsp;/&nbsp;<span class="current"> Payment</span></div>
    </div>
</div>*@

@*<div class=container>
    <section class="content-header">
        <h1 class="h2">Payment Notification</h1>
    </section>

</div>*@
<div class="cart segment">
    <div class="ui mobile reversed stackable grid container">
        <div class="twelve wide column">
            @*<h1>Payment Notification</h1>*@

            <!-- SUCCESSFUL -->
            @if (@ViewBag.status == "Approved")
            {
                { 
                    Session["Cart_Promo"] = null;
                    Session["Promo_ProductUID"] = null;
                    Session["CartCount"] = null;
                    Session["CartActive"] = null;
                    Session["PromoDiscount"] = null;
                }
                <h2>Your payment has been successfully processed </h2>
                <p><strong>Transaction ID:</strong> @ViewBag.PaymentConfirmation</p>
                <p>You will receive a confirmation Email shortly. Thanks for your business.</p>
                <article class="padded">
                    <form class="ui ce custom form">
                        <h4 class="ui header">Need to forward the Invoice?</h4>
                        <div class="field">
                            <div class="sixteen wide field">
                                <input type="text" class="emails_to_send" id="emails_to_send" name="emails_to_send" placeholder="Email">
                                <div class="subtext">Use commas to separate multiple message recipients</div>
                            </div>
                        </div>

                        <div class="actions">
                            <a href="#" class="small ce outline button send-emails-button">Email Invoice</a>  
                            <a href="#" class="invoice-download-button"><i class="download icon"></i> Download Invoice</a>    
                            <a href="#" class="invoice-print-button"> <i class="print icon"></i> Print Invoice</a>
                        </div>
                    </form>
                </article>
                <div style="display:none;" id="jquery_print">
                    <div id="print_invoice"></div>
                </div>
                <!-- Global site tag (gtag.js) - Google Analytics -->
                <script>
                      gtag('event', 'conversion', {
                          'send_to': 'AW-1000449060/6KbxCPHZjZADEKTIht0D',
                          'transaction_id': '@ViewBag.PaymentConfirmation'
                      });
                </script>

            }
            else
            {
                <!-- DECLINED -->
                <h2 style="text-align: left;">Payment Failure</h2>
                <h3>An error has occured</h3>
                if (ViewBag.PaymentResult == "12")
                {
                    <p style="text-align: left;">Declined. Check the credit card number, expiration date, and transaction information to make sure they were entered correctly. If this does not resolve the problem, have the customer call their card issuing bank to resolve.</p>
                }
                else
                {
                    <p style="text-align: left;">Check the credit card number, expiration date, and transaction information to make sure they were entered correctly. If this does not resolve the problem, have the customer call their card issuing bank to resolve.</p>
                }
                <div class="actions">
                    <a href="/cart" id="payment_failure" class="small ce outline button payment-failure">Go back to Validation</a>
                </div>
                <script type="text/javascript">
                    @*$(document).ready(function () {
                        var checkoutdtoPayment = {
                            billinginfo: [],
                            billingaddress: [],
                            shippingaddress: []
                        };
                        checkoutdtoPayment.billingaddress.push(@Html.Raw(ViewBag.billingaddress));
                        checkoutdtoPayment.shippingaddress.push(@Html.Raw(ViewBag.shippingaddress));
                        checkoutdtoPayment.billinginfo.push(@Html.Raw(ViewBag.billinginfo));
                        salesTax = '@ViewBag.tax';
                        grandTotal = '@ViewBag.grandtotal';
                        fromFailure = true;
                        console.log(checkoutdtoPayment);
                        doFailure();
                        console.log(checkoutdtoPayment);
                    });*@
                </script>
            }
        </div>
    </div>
</div>


<script>
    function displayEmail() {
        $("#emailReceipientsDiv").removeClass('hide');
        $("#receipients").hide();
        //$("#txtEmails").show();
        //$("#btnSendEmail").show();
        //$("#receipients").hide();
    }
    function SendEmails() {
        var recipients = $("#txtEmails").val();
        var validEmail = /^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/;

        var emails = recipients.split(',');
        for (var i = 0; i < emails.length; i++) {
            if (!validEmail.test(emails[i])) {
                alert("Email Id is invalid -" + emails[i]);
                return false;
            }
        }
        if (recipients != "") {
            jsCommon.showProgress(true);
            $.ajax({
                type: 'POST',
                url: "/Payment/Transaction",
                data: { recipientEmails: recipients },
                datatype: "json",
                success: function (data) {
                    jsCommon.showProgress(false);
                    if (data == "") {
                        location.reload();
                    }
                    else {
                        $("#emailReceipientsDiv").addClass('hide');
                        $("#receipients").show();
                        alert("Email Sent");
                        $("#txtEmails").val('');
                    }
                },
                error: function (e) {
                    jsCommon.showProgress(false);
                    alert("Email not sent!");
                }
            });
        }
    }
</script>
