﻿@using PaymentModel.Models
@model PayPalTransactionResponse


    @switch ((string)Model.response)
    {
        case "decline":
            <div>
                <section class="content-header">
                    <h1>Credit Card Declined</h1>
                </section>
                <section class="content">
                    <div class="error-page">
                        <div class="error-content">
                            <p>Check the credit card number, expiration date, and transaction information to make sure they were entered correctly. If this does not resolve the problem, have the customer call their card issuing bank to resolve.</p>
                            <button class="fluid ui ce button returntopaypal" onclick="$('.process-payment').click();">Return to payment screen</button>
                        </div>
                    </div>
                </section>
            </div>
            break;
        case "error":
            <div>
                <section class="content-header">
                    <h1>An error has occured</h1>
                </section>
                <section class="content">
                    <div class="error-page">
                        <div class="error-content">
                            <p>Check the credit card number, expiration date, and transaction information to make sure they were entered correctly. If this does not resolve the problem, have the customer call their card issuing bank to resolve.</p>
                            <button class="fluid ui ce button returntopaypal" onclick="$('.process-payment').click();">Return to payment screen</button>
                       </div>
                    </div>
                </section>
            </div>
            break;
        case "success":
            <div class="box no-Border-Top" style="padding:20px;">
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-6" style="border: 1px;border-radius: 5px;background-color: #0fca0f36;text-align: center;padding: 15px;height:fit-content;margin-right:10px;">
                        <span style="color:#008000e6">
                            <b><i class="fa fa-check-circle-o" aria-hidden="true"></i>&nbsp;Payment Successful!</b>
                            Your payment has been successfully processed. You will receive a confirmation Email shortly. Thanks for your business.
                        </span>
                    </div>


                </div>

                <div class="row">
                    <div class="col-xs-offset-1 col-xs-6" style="border: 1px;border-radius: 5px;background-color: #add8e691;height: 50px;text-align: center;padding: 15px;margin-top:15px;">
                        <span style="color:#47798a">
                            <b>Confirmation: </b>@Model.conformation
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4" style="text-align:center;" id="receipients">
                        <br>
                        <span>Need to forward the receipt?</span> <br>
                        <input type="button" style="margin-top:10px;" class="btn btn-primary" value="Email Recipients" onclick="displayEmail()">
                    </div>
                </div>
            </div>
            break;
    }
