﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script type="text/javascript">
        parent.location = "/Payment/PaymentConfirmation/?conformation=@ViewBag.token";
    </script>
</head>
<body>
    <div>
    </div>
</body>
</html>

