﻿@using cerepairs.DetailsModels
@model DetailModels.ProductDetail_dto
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@foreach (var property in Model.productdetails)
{
    <br /> @property.Product_Short_Description
    <br /> @property.Product_Long_Description
}
<br /><br />productclasses
@foreach (var property in Model.productclasses)
{
    <br /> @property.ProductClass
}

<br /><br />offers
@foreach (var property in Model.offers)
{
    <br /> @property.Offer_Description
}

<br /><br />recommendedproducts
@foreach (var property in Model.recommendedproducts)
{
    <br /> @property.Product_Short_Description
}

<br /><br />relatedproducts
@foreach (var property in Model.relatedproducts)
{
    <br /> @property.Product_Short_Description
}