﻿@using cerepairs.DetailsModels
@model DetailModels.ProductDetail_dto
@{
    decimal Repair_Price = 0;
    decimal Repair_Price_High = 0;
    decimal Exchange_Price = 0;
    decimal Exchange_Price_High = 0;
    decimal Recondition_Price = 0;
    decimal Recondition_Price_High = 0;
    decimal Refurbished_Price = 0;
    decimal Retail_Price = 0;
    string intRepair_Price = "0";
    string intRepair_Price_High = "0";
    string intExchange_Price = "0";
    string intExchange_Price_High = "0";
    string intRecondition_Price = "0";
    string intRecondition_Price_High = "0";
    string intRefurbished_Price = "0";
    string intRetail_Price = "0";
    string powersupplynotincluded = "";

    if (Model.productdetails.Count > 0)
    {
        if (Model.productdetails[0].title == "")
        {
            ViewBag.Title = @HttpUtility.HtmlDecode(Model.productdetails[0].Product_Short_Description);
        }
        else
        {
            ViewBag.Title = @HttpUtility.HtmlDecode(Model.productdetails[0].title);
        }

        Repair_Price = Decimal.Round(Convert.ToDecimal(@Model.productdetails[0].Repair_Price), 2);
        Repair_Price_High = Decimal.Round(Convert.ToDecimal(@Model.productdetails[0].Repair_Price_High), 2);
        Exchange_Price = Decimal.Round(Convert.ToDecimal(@Model.productdetails[0].Exchange_Price), 2);
        Exchange_Price_High = Decimal.Round(Convert.ToDecimal(@Model.productdetails[0].Exchange_Price_High), 2);
        Recondition_Price = Decimal.Round(Convert.ToDecimal(@Model.productdetails[0].Recondition_Price), 2);
        Recondition_Price_High = Decimal.Round(Convert.ToDecimal(@Model.productdetails[0].Recondition_Price_High), 2);
        Refurbished_Price = Decimal.Round(Convert.ToDecimal(@Model.productdetails[0].Refurbished_Price), 2);
        Retail_Price = Decimal.Round(Convert.ToDecimal(@Model.productdetails[0].Retail_Price), 2); ;

        intRepair_Price = Int32.Parse(Convert.ToDouble(@Model.productdetails[0].Repair_Price).ToString()).ToString();
        intRepair_Price_High = Int32.Parse(Convert.ToDouble(@Model.productdetails[0].Repair_Price_High).ToString()).ToString();
        intExchange_Price = Int32.Parse(Convert.ToDouble(@Model.productdetails[0].Exchange_Price).ToString()).ToString();
        intExchange_Price_High = Int32.Parse(Convert.ToDouble(@Model.productdetails[0].Exchange_Price_High).ToString()).ToString();
        intRecondition_Price = Int32.Parse(Convert.ToDouble(@Model.productdetails[0].Recondition_Price).ToString()).ToString();
        intRecondition_Price_High = Int32.Parse(Convert.ToDouble(@Model.productdetails[0].Recondition_Price_High).ToString()).ToString();
        intRefurbished_Price = Int32.Parse(Convert.ToDouble(@Model.productdetails[0].Refurbished_Price).ToString()).ToString();
        //intRetail_Price = Decimal.ToInt32(@Retail_Price).ToString();
        intRetail_Price = @Retail_Price.ToString();

    }
    if (Model.productdetails.Count > 0)
    {
        switch (Model.productdetails[0].Manufacturer_Part_Number)
        {
            case "78-6911-4725-6":
            case "78-6911-4724-9":
            case "1060BC6RPR":
            case "G5CH12RPR":
            case "C10312":
            case "C11124":
            case "C30000-HS6300-CHGRC":
            case "C30000-CHGRC":
            case "C11312C":
            case "WX-Z3040A":
            case "BC4":
            case "2020CH":
            case "BC-4I":
                powersupplynotincluded = " <b>*Does not include power supply</b>*";
                break;
        }
    }

}
<script type="text/javascript">
    var new_refurbished = '';
    var new_refurbished_price = '';
    var Repair_Price = @Repair_Price;
    var Repair_Price_High = @Repair_Price_High;
    var Exchange_Price = @Exchange_Price;
    var Exchange_Price_High = @Exchange_Price_High;
    var Recondition_Price = @Recondition_Price;
    var Recondition_Price_High = @Recondition_Price_High;
    var Refurbished_Price = @Refurbished_Price;
    var Retail_Price = @Retail_Price;
    var powersupplynotincluded = '@powersupplynotincluded';
    var product = {};
    var cartitems = [];
    $(document).ready(function () {
        product = JSON.parse('@Html.Raw(ViewBag.Product)');
        //cartitems = JSON.parse('@Html.Raw(ViewBag.jsoncartitems)');
        product.Product_Long_Description = unescape(product.Product_Long_Description).replace(/&lt;/g,'<').replace(/&gt;/g,'>').replace(/&amp;/g,'&');
        product.Product_Short_Description = unescape(product.Product_Short_Description).replace(/&lt;/g,'<').replace(/&gt;/g,'>').replace(/&amp;/g,'&');
        console.log(product)
        console.log(cartitems)
    });
</script>

<div class="ui breadcrums segment">
    <div class="container">
        <div class="container"><a href="/">Home</a>&nbsp;/&nbsp;<span class="current"> Product Details</span></div>
    </div>
</div>

@if (Model.productdetails.Count > 0)
{
    <div class="ui vertical aligned product segment">
        <div class="ui stackable grid container">

            <!-- PRODUCT SEGMENT -->
            <div class="six wide column">
                <!-- TITLE SEGMENT -->
                <article class="sticky">
                    <div class="ui vertical title segment">
                        <!-- <img src="/images/homepage/homepage-banner-01.jpg" alt=""> -->
                        <div class="ui container">
                            <h1 class="heading">
                                @if (@Model.productdetails[0].h1 == "")
                                {
                                    @WebUtility.HtmlDecode(@Model.productdetails[0].Product_Short_Description);
                                }
                                else
                                {
                                    @Model.productdetails[0].h1;
                                }
                            </h1>
                            <h2 class="subheading">@Model.productdetails[0].ProductClass</h2>
                            <div class="part number">Part Number: @Model.productdetails[0].Manufacturer_Part_Number</div>
                        </div>
                    </div>
                    <div class="icon message ">
                        <div class="image">
                            <img class="ui image" src="/images/products/@Model.productdetails[0].Product_Image_Full" alt="">
                        </div>
                    </div>
                </article>
            </div>
            <div class="six wide right floated column">
                <div class="ce form">
                    <div class="fields">
                        @if (Model.productdetails[0].Product_Name == "hme-eos-4-headset-system")
                        {
                            <div class="option">Please call 877-731-0334 for a quote or to learn more!</div>
                        }
                        else
                        {
                            <div class="option">What would you like to do?</div>
                        }
                        <div class="field">
                            @if (Int32.Parse(intRepair_Price) > 0 || Int32.Parse(intRepair_Price) > 0)
                            {
                                <div class="ce radio checkbox">
                                    <input type="radio" name="buy" tabindex="0" class="hidden repairbtn" value="repair" id="r1">
                                    <label for="r1">
                                        <span class="two columns">
                                            <div class="lf">
                                                <span class="label">Repair</span>
                                                <!-- <span>Line 2</span> -->
                                            </div>
                                            <div class="rg">
                                                @if (Int32.Parse(intRepair_Price) > 0 && Int32.Parse(intRepair_Price) > 0)
                                                {
                                                    <span>From: $@intRepair_Price/$@intRecondition_Price</span>
                                                }
                                                @if (Int32.Parse(intRepair_Price) > 0 && Int32.Parse(intRepair_Price) == 0)
                                                {
                                                    <span>From: $@intRepair_Price</span>
                                                }
                                                @if (Int32.Parse(intRepair_Price) == 0 && Int32.Parse(intRepair_Price) > 0)
                                                {
                                                    <span>From: $@intRecondition_Price</span>
                                                }

                                            </div>
                                        </span>
                                    </label>
                                </div>
                            }
                        </div>


                        @if (Retail_Price > 0 || Int32.Parse(intRefurbished_Price) > 0)
                        {
                            <div class="ce radio checkbox">
                                <input type="radio" name="buy" class="buybtn" tabindex="1" value="buy" id="r2">
                                <label for="r2">
                                    <span class="two columns">
                                        <div class="lf">
                                            <span class="label">Buy</span>
                                            <!-- <span>Line 2</span> -->
                                        </div>
                                        <div class="rg">
                                            @if (Int32.Parse(intRefurbished_Price) > 0)
                                            {
                                                <span>From: $@intRefurbished_Price</span>
                                            }
                                            else
                                            {
                                                <span>$@intRetail_Price</span>
                                            }
                                        </div>

                                    </span>
                                </label>
                            </div>
                        }
                    </div>
                    <div class="group condition">
                        <!-- Repair Options -->
                        @if (Int32.Parse(intRepair_Price) > 0 || Int32.Parse(intRecondition_Price) > 0 || Int32.Parse(intExchange_Price) > 0)
                        {
                            <div id="repair" class="fields hidden">
                                <div class="option">Options</div>
                                @if (Int32.Parse(intRepair_Price) > 0 || Int32.Parse(intRecondition_Price) > 0)
                                {
                                    <div class="field">
                                        <div class="ce radio checkbox">
                                            <input type="radio" name="prod_type" tabindex="0" value="standard" id="pt1">
                                            <label for="pt1">
                                                <span class="two columns">
                                                    <div class="lf">
                                                        <span class="label">Standard/Recondition Repair</span>
                                                        <!-- <span>Line 2</span> -->
                                                    </div>
                                                    <div class="rg">
                                                        <span class="_price">$@intRepair_Price/$@intRecondition_Price</span>
                                                        @*<span class="secondary"><a href="/send-in-a-repair-free-shipping">Send it In</a></span>*@
                                                    </div>

                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                }
                                @if (Int32.Parse(intExchange_Price) > 0)
                                {

                                    <div class="ce radio checkbox">
                                        <input type="radio" name="prod_type" tabindex="1" value="advance" id="pt2">
                                        <label for="pt2">
                                            <span class="two columns">
                                                <div class="lf">
                                                    <span class="label">Advance Exchange</span>
                                                    <!-- <span>Line 2</span> -->
                                                </div>
                                                <div class="rg">
                                                    <span class="_price">$@intExchange_Price</span>
                                                    @*<span class="secondary">Call 877-731-0334</span>*@
                                                </div>

                                            </span>
                                        </label>
                                    </div>
                                }
                            </div>
                        }
                        <!-- BUY Options -->
                        @if (Retail_Price > 0 || Int32.Parse(intRefurbished_Price) > 0)
                        {
                            <div id="buy" class="fields hidden">
                                <div class="option">Options</div>
                                @if (Retail_Price > 0)
                                {
                                    <div class="field">
                                        <div class="ce radio new checkbox">
                                            <input type="radio" class="new" condition="new" product-price="@Retail_Price" name="condition" tabindex="0" value="new" id="pr4">
                                            <label for="pr4">
                                                <span class="two columns">
                                                    <div class="lf">
                                                        <span class="label">New</span>
                                                        <!-- <span>Line 2</span> -->
                                                    </div>
                                                    <div class="rg">
                                                        <span class="_price">$@intRetail_Price</span>
                                                        <!-- <span><a href="#">Send it In</a></span> -->
                                                    </div>

                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                }
                                @if (Int32.Parse(intRefurbished_Price) > 0)
                                {
                                    <div class="ce radio refurbished checkbox">
                                        <input type="radio" class="refurbished" condition="refurbished" product-price="@Refurbished_Price" name="condition" tabindex="1" value="refurbished" id="pr3">
                                        <label for="pr3">
                                            <span class="two columns">
                                                <div class="lf">
                                                    <span class="label">Refurbished</span>
                                                    <!-- <span>Line 2</span> -->
                                                </div>
                                                <div class="rg">
                                                    <span class="_price">$@intRefurbished_Price</span>
                                                </div>

                                            </span>
                                        </label>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                    <div class="details">
                        <span class="details-span"></span><span style="display:none;" class="power-supply-span">@Html.Raw(powersupplynotincluded)</span>
                    </div>
                    <div class="price">
                        <div class="label">Total:</div>
                        <div class="amount">0.00</div>
                    </div>
                    <div id="phoneNo" class="text tiny ce color">Call 877-731-0334</div>
                    <button id="actionButton" productUID="@Model.productdetails[0].Product_UID" freight="@Math.Round(Convert.ToDecimal(Model.productdetails[0].Additional_Freight), 2).ToString()" class="ui big ce button purchase-button" style="">Add to Cart</button>
                    <a href="/cart" id="view-cart" style="display:none;width: 173px;" class="ui big ce button button">View Cart</a>
                    <div class="item-purchased" style="display:none;"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui tiny modal">
        <div class="header">Header</div>
        <div class="content">
            <p></p>
        </div>
        <div class="actions">
            <div class="ui button cancel">Close</div>
        </div>
    </div>
    <!-- INFO SECTION -->
    <div class="ui info segment" id="tg">
        <div class="ui container">

            <div class="ui pointing secondary menu">
                <a class="item active" data-tab="first">Product Overview</a>
                <a class="item" data-tab="second">Warranty</a>
            </div>
            <div class="ui tab segment active" data-tab="first">
                @if (Model.productdetails[0].Product_Name == "hme-eos-4-headset-system")
                {
                    <p>Includes: 4 all-in-one headsets, 6 batteries, 1 battery charger, 1 base station, 1 speaker/mic kit, and 1 cable kit. Installation not included. Call for shipping. Other packages available.</p>
                }
                else
                {
                    <p>@Html.Raw(HttpUtility.HtmlDecode(Model.productdetails[0].Product_Long_Description)).</p>
                }
            </div>
            <div class="ui tab segment" data-tab="second">
                <p>
                    You’re busy. The last thing you need to worry about is whether or not your repair is going to hold up. We are so confident in our repairs that every CE drive-thru repair is covered with a 4-month warranty, with a 6-month warranty offered on select HME headsets. Some restrictions and conditions apply.
                </p>
            </div>
        </div>
    </div>
}
else
{
    <div style="display:block;">
        <div class="ui vertical title segment">
            <div class="ui container" style="text-align:center;">
                <h1 class="heading">No Product Exists</h1>
                <h2 class="heading">@ViewBag.id</h2>

            </div>
        </div>
    </div>
}
<div class="ui strip segment related-components">
    <div class="ui container">
        <div class="ui header">Related Components &amp; Accessories</div>
        <div class="ui six doubling cards">
            @foreach (var product in Model.relatedproducts)
            {
                <div class="card">
                    <div class="image">
                        <img src="/images/products/@product.Product_Image_Thum">
                    </div>
                    <div class="content"><a href="/Detail/Product/@product.Product_Name">@HttpUtility.HtmlDecode(product.Product_Short_Description)</a></div>
                </div>
            }
        </div>
    </div>
</div>
<div class="ui strip segment recently-viewed">
    <div class="ui container">
        <div class="ui header">Recently Viewed</div>
        <div class="ui six doubling cards">
            @foreach (var product in Model.recentlyviewed)
            {
                <div class="card">
                    <div class="image">
                        @if (@product.Product_Image_Thum != "")
                        {
                            <img src="/images/products/@product.Product_Image_Thum">
                        }
                    </div>
                    <div class="content"><a href="/Detail/Product/@product.Product_Name">@HttpUtility.HtmlDecode(product.Product_Short_Description)</a></div>
                </div>
            }
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        @if (Int32.Parse(intRepair_Price) > 0 || Int32.Parse(intRepair_Price) > 0)
        {
            @Html.Raw("clickrepair();");
        }
        else
        {
            if (Retail_Price > 0 || Int32.Parse(intRefurbished_Price) > 0)
            {
            @Html.Raw("clickbuy();");
            }
        }
    });
    function clickrepair()
    {
        $('.repairbtn').click();
    }
    function clickbuy()
    {
        $('.buybtn').click();
    }</script>