﻿@using cerepairs.DetailsModels
@model DetailModels.ProductDetail_dto

@{
    decimal Repair_Price = 0;
    decimal Repair_Price_High = 0;
    decimal Exchange_Price = 0;
    decimal Exchange_Price_High = 0;
    decimal Recondition_Price = 0;
    decimal Recondition_Price_High = 0;
    decimal Refurbished_Price = 0;
    decimal Retail_Price = 0;
    if (Model.productdetails.Count > 0)
    {
        ViewBag.Title = @HttpUtility.HtmlDecode(Model.productdetails[0].Product_Short_Description);
        Repair_Price = Decimal.Round(Convert.ToDecimal(@Model.productdetails[0].Repair_Price), 2);
        Repair_Price_High = Decimal.Round(Convert.ToDecimal(@Model.productdetails[0].Repair_Price_High), 2);
        Exchange_Price = Decimal.Round(Convert.ToDecimal(@Model.productdetails[0].Exchange_Price), 2);
        Exchange_Price_High = Decimal.Round(Convert.ToDecimal(@Model.productdetails[0].Exchange_Price_High), 2);
        Recondition_Price = Decimal.Round(Convert.ToDecimal(@Model.productdetails[0].Recondition_Price), 2);
        Recondition_Price_High = Decimal.Round(Convert.ToDecimal(@Model.productdetails[0].Recondition_Price_High), 2);
        Refurbished_Price = Decimal.Round(Convert.ToDecimal(@Model.productdetails[0].Refurbished_Price), 2);
        Retail_Price = Decimal.Round(Convert.ToDecimal(@Model.productdetails[0].Retail_Price), 2); ;
    }

}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript">
    var Repair_Price = @Repair_Price;
    var Repair_Price_High = @Repair_Price_High;
    var Exchange_Price = @Exchange_Price;
    var Exchange_Price_High = @Exchange_Price_High;
    var Recondition_Price = @Recondition_Price;
    var Recondition_Price_High = @Recondition_Price_High;
    var Refurbished_Price = @Refurbished_Price;
    var Retail_Price = @Retail_Price;
    var product = {};
    var cartitems = [];
    $(document).ready(function () {
        product = JSON.parse('@Html.Raw(ViewBag.Product)');
        //cartitems = JSON.parse('@Html.Raw(ViewBag.jsoncartitems)');
        product.Product_Long_Description = unescape(product.Product_Long_Description).replace(/&lt;/g,'<').replace(/&gt;/g,'>').replace(/&amp;/g,'&');
        product.Product_Short_Description = unescape(product.Product_Short_Description).replace(/&lt;/g,'<').replace(/&gt;/g,'>').replace(/&amp;/g,'&');
        console.log(product)
        console.log(cartitems)
    });
</script>
<style>
    .hide {
        display: none;
    }
    .call-ce{
        color:#9f0a0d;
        font-size: 1.25em;
    }
</style>

@if (Model.productdetails.Count > 0)
{
<div style="display:block;">
    <div class="ui vertical title segment">
        <div class="ui container">
            <h1 class="heading">@HttpUtility.HtmlDecode(Model.productdetails[0].Product_Short_Description)</h1><h2 class="subheading">@Model.productdetails[0].ProductClass</h2><div class="part number">
                Part Number: @Model.productdetails[0].Manufacturer_Part_Number
            </div>
        </div>
    </div>

    <div class="ui vertical aligned product segment">
        <div class="ui stackable grid container">
            <div class="six wide column">
                <div class="icon message">
                    <div class="image"><img class="ui image" src="/images/products/@Model.productdetails[0].Product_Image_Full" alt=""></div>
                </div>
            </div>
            <div class="six wide right floated column">
                <div class="ui form">
                    <div class="inline fields">
                        @if (Exchange_Price > 0 || Recondition_Price > 0 || Repair_Price > 0)
                        {
                            <div class="field">
                                <div class="ui radio checkbox"><input type="radio" name="fruit" checked="" tabindex="0" class="hidden" value="repair"> <label>Repair</label></div>
                            </div>
                        }
                        @if (Refurbished_Price > 0 || Retail_Price > 0)
                        {
                            <div class="field">
                                <div class="ui radio checkbox"><input type="radio" name="fruit" tabindex="0" class="hidden" value="new"> <label>Buy</label></div>
                            </div>
                        }
                    </div>
                    <div class="condition field">
                        <div class="ui selection dropdown" tabindex="0">
                            <input type="hidden" name="gender"> <i class="dropdown icon"></i>
                            <div class="default text">Select Condition</div><div class="menu" tabindex="-1">
                                <div class="item" data-value="advanced">Advanced Repair</div><div class="item" data-value="standard">Standard/Recondition</div>
                            </div>
                        </div>
                    </div>
                    <div class="details"><a href="#"><i class="info circle icon"></i>Details</a></div>
                    <div class="price">
                        <div class="label">Total:</div>
                        <div class="amount"></div>
                    </div>
                    <button id="actionButton" productUID="@Model.productdetails[0].Product_UID" freight="@Math.Round(Convert.ToDecimal(Model.productdetails[0].Additional_Freight), 2).ToString()" class="ui big ce button">Send It In</button>
                    <div id="phoneNo" class="call-ce">Call 877-731-0334</div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui tiny modal">
        <div class="header">Header</div><div class="content">
            <p></p>
        </div><div class="actions">
            <div class="ui button cancel">Close</div>
        </div>
    </div>
    <div class="payment"></div>
    <div class="ui info segment">
        <div class="ui container">
            <div class="ui pointing secondary menu">
                <a class="item active" data-tab="first">Product Overview</a> <a class="item" data-tab="second">Warranty</a>
            </div>
            <div class="ui tab segment active" data-tab="first">
                <p>@Html.Raw(HttpUtility.HtmlDecode(Model.productdetails[0].Product_Long_Description)).</p>
            </div>
            <div class="ui tab segment" data-tab="second">
                <p>This is a previously used product. Our technicians thoroughly check, repair, and upgrade to ensure like-new operation. Your purchase of these products includes a 4-month warranty. Please note that all refurbished items are subject to equipment availability.</p>
            </div>
        </div>
    </div>

    <div class="ui strip segment related-components">
        <div class="ui container">
            <div class="ui header">Related Components &amp; Accessories</div>
            <div class="ui six doubling cards">
                @foreach (var product in Model.relatedproducts)
                {
                    <div class="card">
                        <div class="image">
                            <img src="/images/products/@product.Product_Image_Thum">
                        </div>
                        <div class="content"><a href="/Detail/Product/@product.Product_Name">@HttpUtility.HtmlDecode(product.Product_Short_Description)</a></div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="ui strip segment recently-viewed">
    <div class="ui container">
        <div class="ui header">Recently Viewed</div>
        <div class="ui six doubling cards">
            @foreach (var product in Model.recentlyviewed)
            {
                <div class="card">
                    <div class="image">
                        @if (@product.Product_Image_Thum != "")
                        {
                            <img src="/images/products/@product.Product_Image_Thum">
                        }
                    </div>
                    <div class="content"><a href="/Detail/Product/@product.Product_Name">@HttpUtility.HtmlDecode(product.Product_Short_Description)</a></div>
                </div>
            }
        </div>
    </div>
</div>
}
else
{
    <div style = "display:block;" >
        <div class="ui vertical title segment">
            <div class="ui container" style="text-align:center;">
                <h1 class="heading">No Product Exists</h1>
                <h2 class="heading">@ViewBag.id</h2>
                
            </div>
        </div>
    </div>
}


