﻿@using ups
@model UpsLabelModels.upsLabelModel
<div style="padding-top:100px"></div>
@using (Html.BeginForm("ReturnLabel", "FreeShipping", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
            <div class="form-group">

                    @Html.TextBoxFor(m => m.firstname, new { @class = "form-control", placeholder = "First Name" })

            </div>
            <div class="form-group">

                    @Html.TextBoxFor(m => m.lastname, new { @class = "form-control", placeholder = "Last Name" })

            </div>
            <div class="form-group">

                    <input type="submit" value="Submit" class="btn btn-primary form-control" />

            </div>
}
