﻿@using ups
@model UpsLabelModels.upsLabelModel
@{
    ViewBag.Title = "ReturnLabel";
}

<h2>ReturnLabel</h2>

<script type="text/javascript">
    $(document).ready(function () {
        @*var jsonTradeShowObj = JSON.parse('@Html.Raw(ViewBag.dto)');
        console.log(jsonTradeShowObj)*@

        var shipmentResponse = JSON.parse('@Html.Raw(ViewBag.shipmentResponse)');
        console.log(shipmentResponse)

    });
</script>
<div style="padding-top:200px"></div>
<img src="@ViewBag.image" />


