﻿@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutCustomerService.cshtml";
}
@*<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Customer Service Portal</title>
<meta name="Title" content="Customer Service Portal">
<meta name="Description" content="">
<meta name="Keywords" content="">
<meta name="format-detection" content="telephone=no">*@
<link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="~/Content/customerservice/main.css">
<link rel="stylesheet" href="~/Content/customerservice/animate.css">
<link rel="stylesheet" href="~/Content/customerservice/dropdown.css">
<link rel="stylesheet" href="~/Content/customerservice/tracking.css">
<link rel="stylesheet" href="~/Content/customerservice/jquery.cookieBar.css">
<style>
    .cookie-bar__inner {
        font-size: 1.4rem;
    }
</style>
    <div class="col-lg-12">
        <h2>Select Customer</h2>
    </div>
    <form action="" method="POST" id="Cust_Search_Form" class="form-horizontal col-lg-12" role="form">
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="Cust_Number" class="control-label col-lg-5">Customer ID:</label>
                    <div class="col-lg-7">
                        <input type="text" maxlength="100" name="Cust_Number" id="Cust_Number" class="form-control" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="Cust_Name" class="control-label col-lg-5">Customer Name:</label>
                    <div class="col-lg-7">
                        <input type="text" maxlength="100" name="Cust_Name" id="Cust_Name" class="form-control" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="Cust_City" class="control-label col-lg-5">City:</label>
                    <div class="col-lg-7">
                        <input type="text" maxlength="100" name="Cust_City" id="Cust_City" class="form-control" value="">
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="Cust_State" class="control-label col-lg-5">State:</label>
                    <div class="col-lg-7">
                        <input type="text" maxlength="100" name="Cust_State" id="Cust_State" class="form-control" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="Cust_PostCode" class="control-label col-lg-5">Postal Code:</label>
                    <div class="col-lg-7">
                        <input type="text" maxlength="100" name="Cust_PostCode" id="Cust_PostCode" class="form-control" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="Cust_Email" class="control-label col-lg-5">Email:</label>
                    <div class="col-lg-7">
                        <input type="text" maxlength="100" name="Cust_Email" id="Cust_Email" class="form-control" value="">
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="Cust_SN" class="control-label col-lg-5">Store Number:</label>
                    <div class="col-lg-7">
                        <input type="text" maxlength="100" name="Cust_SN" id="Cust_SN" class="form-control" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="Cust_SO" class="control-label col-lg-5">Sales Order:</label>
                    <div class="col-lg-7">
                        <input type="text" maxlength="100" name="Cust_SO" id="Cust_SO" class="form-control" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="Cust_INV" class="control-label col-lg-5">Invoice Number:</label>
                    <div class="col-lg-7">
                        <input type="text" maxlength="100" name="Cust_INV" id="Cust_INV" class="form-control" value="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class="form-group">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6 no-pad-search">
                        <input type="hidden" name="SESSION_User_UID" id="SESSION_User_UID" value="hscott">
                        <input type="submit" name="Cust_Search_Submit" id="Cust_Search_Submit" class="btn btn-primary form-control" value="Search">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">&nbsp;</div>


        <div class="col-lg-12 table-responsive no-pad">
            <h4>Search Results</h4>

            <table id="Cust_Results" class="table " style="white-space:nowrap;margin:0px;">
                <thead id="Cust_Results_Header">
                    <tr>
                        <th>CUSTOMER ID</th>
                        <th>COMPANY</th>
                        <th>NAME</th>
                        <th>ADDRESS</th>
                        <th>CITY</th>
                        <th>STATE</th>
                        <th>POSTCODE</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>


                    <tr>
                        <td><a href="javascript:void(0);" onclick="setCustNumber('06454','cel');">06454</a></td>
                        <td>cel</td>
                        <td>MCDONALDS</td>
                        <td>US RT 130 SOUTHEAST</td>
                        <td>EAST WINDSOR</td>
                        <td>NJ</td>
                        <td>08520</td>
                        <td><a href="javascript:void(0);" class="pay-deposit" id="cel-06454-USD" data-toggle="modal" data-target="#payModal">Deposit</a></td>
                    </tr>


                    <tr>
                        <td><a href="javascript:void(0);" onclick="setCustNumber('1','cel');">1</a></td>
                        <td>cel</td>
                        <td>SHOKAI</td>
                        <td>9 ELENA COURT</td>
                        <td>CORTLANDT MANOR</td>
                        <td>NY</td>
                        <td>10567</td>
                        <td><a href="javascript:void(0);" class="pay-deposit" id="cel-1-USD" data-toggle="modal" data-target="#payModal">Deposit</a></td>
                    </tr>


                    <tr>
                        <td><a href="javascript:void(0);" onclick="setCustNumber('1000','cel');">1000</a></td>
                        <td>cel</td>
                        <td>SOUND COMM INC</td>
                        <td>709 JEFFERSON AVE</td>
                        <td>METAIRIE</td>
                        <td>LA</td>
                        <td>70001</td>
                        <td><a href="javascript:void(0);" class="pay-deposit" id="cel-1000-USD" data-toggle="modal" data-target="#payModal">Deposit</a></td>
                    </tr>


                    <tr>
                        <td><a href="javascript:void(0);" onclick="setCustNumber('10000','cel');">10000</a></td>
                        <td>cel</td>
                        <td>ELECTRONIC COMM SYSTEMS</td>
                        <td>4836 DUFF DRIVE</td>
                        <td>CINCINNATI</td>
                        <td>OH</td>
                        <td>45246</td>
                        <td><a href="javascript:void(0);" class="pay-deposit" id="cel-10000-USD" data-toggle="modal" data-target="#payModal">Deposit</a></td>
                    </tr>


                    <tr>
                        <td><a href="javascript:void(0);" onclick="setCustNumber('10001','cel');">10001</a></td>
                        <td>cel</td>
                        <td>BURGER KING #02790</td>
                        <td>3456 DOUGLAS AVENUE</td>
                        <td>RACINE</td>
                        <td>WI</td>
                        <td>53402</td>
                        <td><a href="javascript:void(0);" class="pay-deposit" id="cel-10001-USD" data-toggle="modal" data-target="#payModal">Deposit</a></td>
                    </tr>

                </tbody>
            </table>

            <div class="col-lg-12 no-pad csp-paginate-cont">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-pad">
                    <div class="col-lg-1 col-md-1 col-sm-2 no-pad">
                        <button id="CSP_Prev_Page" name="CSP_Prev_Page" class="btn btn-primary btn-left" disabled="disabled"><span class="glyphicon glyphicon-arrow-left"></span></button>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-10 text-left hidden-xs">
                        <div class="csp-perpage">
                            <span>
                                Show
                                <select id="CSP_Per_Page" name="CSP_Per_Page">
                                    <option value="5" selected="selected">5</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                </select>
                                items per page
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-pad">
                    <div class="col-lg-11 col-md-11 col-sm-10 text-right hidden-xs"><div class="csp-results">Showing <span class="csp-page-start">1</span> - <span class="csp-page-end">5</span> of (5) Results</div></div>
                    <div class="col-lg-1 col-md-1 col-sm-2 no-pad">
                        <button id="CSP_Next_Page" name="CSP_Next_Page" class="btn btn-primary btn-right pull-right"><span class="glyphicon glyphicon-arrow-right"></span></button>
                    </div>
                </div>
                <input type="hidden" id="CSP_Current_Page" name="CSP_Current_Page" value="1">
            </div>
        </div>
    </form>

    <form name="Cust_Anchor_Form" id="Cust_Anchor_Form" method="post" action="./?pg=Orders">
        <input type="hidden" name="Cust_Number_Anchor" id="Cust_Number_Anchor" value="">
        <input type="hidden" name="Cust_Number_Anchor_Company" id="Cust_Number_Anchor_Company" value="">
        <input type="hidden" name="INV_Company" id="INV_Company" value="cel">
    </form>




   <div id="payModal" class="modal fade" role="dialog">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <form action="./?pg=Payments" method="POST" id="Card_Confirm" class="form-horizontal" role="form">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">×</button>
                            <h4 class="modal-title"><span>Deposit</span> Payment</h4>
                        </div>
                        <div class="modal-body">
                            <div class="payments-cont">
                                <div class="panel panel-default panel-pmtinfo" style="margin-bottom:6px;">
                                    <div class="panel-body">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th style="width:10%;"></th>

                                                    <th style="width:50%;">Customer ID</th>
                                                    <th style="width:40%;">Deposit Amount</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="total-row">
                                                    <td></td>

                                                    <td>
                                                        <strong>Total Payment:&nbsp;&nbsp;</strong><span class="card-amount"></span>
                                                    </td>
                                                    <td>
                                                        <select name="Payment_Currency" id="Payment_Currency">
                                                            <option value="USD">USD</option>

                                                        </select>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div>
                                    <input type="text" name="Payment_Memo" id="Payment_Memo" class="form-control" value="" placeholder="Memo (optional)">
                                </div>
                            </div>
                            <div class="no-payments-cont">
                                <div class="alert alert-info text-center">
                                    <strong><span class="glyphicon glyphicon-info-sign"></span></strong> You must select at least one Deposit to proceed.
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" name="PP_Payment_Token" id="PP_Payment_Token" value="">
                            <input type="hidden" name="PP_Payment_TokenID" id="PP_Payment_TokenID" value="">
                            <input type="hidden" name="PP_Payment_Amount" id="PP_Payment_Amount" value="">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" id="payConfirm_back" style="display:none;">&lt; Back</button>
                            <button type="submit" class="btn btn-primary" id="payConfirm_submit">Continue &gt;</button>

                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>


    <div id="payCVV2" class="modal fade" role="dialog">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog modal-confirm vertical-align-center">
                <div class="modal-content">
                    <form action="./" method="POST" class="form-horizontal" role="form">
                        <div class="modal-header">
                            <h4 class="modal-title">Security Code</h4>
                        </div>
                        <div class="modal-body text-center">
                            <img src="/images/SecurityCode.jpg" class="cvv2-img">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div id="payConfirm" class="modal fade" role="dialog">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog modal-confirm vertical-align-center">
                <div class="modal-content">
                    <form action="./" method="POST" id="Card_Confirm2" class="form-horizontal" role="form">
                        <div class="modal-header">
                            <h4 class="modal-title">Payment Confirmation</h4>
                        </div>
                        <div class="modal-body text-center">
                            <div class="payMessage">
                                <p>Your credit card will be charged for the amount of: </p>
                                <p class="card-amount-confirm-cont">
                                    <span class="card-amount-confirm"></span>
                                    <span class="card-curr-confirm"></span>
                                </p>
                            </div>

                            <div class="paySpinner" style="display:none;">
                                <p>Please wait while we process your request...</p>
                                <div class="load-cont">
                                    <div class="loader"></div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="paySpinnerBtns">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-success" id="payProceed">Proceed</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div id="payMessage" class="modal fade" role="dialog">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog modal-message vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Payment Notification</h4>
                    </div>
                    <div class="modal-body text-center">
                        <div class="payMessageCont">
                            <div class="alert alert-success pay-success text-left">
                                <strong><span class="glyphicon glyphicon-ok-circle"></span> Payment Successful!</strong> Your payment has been successfully processed.
                                You will receive a confirmation email shortly. Thank you for your business.
                            </div>
                            <div class="alert alert-info pay-success">
                                <strong>Confirmation: </strong><span class="pay-confirm-number"></span>
                            </div>

                            <div class="alert alert-danger pay-error text-left" style="display:none;">
                                <strong><span class="glyphicon glyphicon-alert"></span> ERROR:</strong> Your payment has not been processed. Please correct the necessary information and try your request again.
                            </div>

                            <div class="alert alert-danger pay-error pay-error-list text-left" style="display:none;margin-top:15px;">
                                <ul>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="payRecipients">Recipients</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="payReciept" class="modal fade" role="dialog">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog modal-message modal-recipient vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #337ab7;">
                        <h4 class="modal-title">Email Recipients</h4>
                    </div>
                    <div class="modal-body text-center">
                        <div class="send-receipt-cont">
                            <input type="text" name="Recipient_List" id="Recipient_List" value="" class="form-control">
                            <span class="note-field">Use commas to enter multiple emails: (Ex: johndoe@yahoo.com,janedoe@yahoo.com,johnsmith@gmail.com)</span>
                        </div>
                        <div class="send-receipt-msg" style="display:none;">
                            <div class="alert alert-success text-left">
                                <strong><span class="glyphicon glyphicon-ok-circle"></span> Success!</strong> The recipients will receive a confirmation email shortly.
                            </div>
                        </div>
                        <div class="send-receipt-err" style="display:none;">
                            <div class="alert alert-danger text-left">
                                <strong><span class="glyphicon glyphicon-alert"></span> ERROR:</strong> The recipient list may not be blank. Please try again.
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="sendReceipt">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="creditMsg" class="modal fade" role="dialog">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog modal-message modal-recipient vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header" style="background-color: #337ab7;">
                        <h4 class="modal-title"><span class="glyphicon glyphicon-info-sign"></span> Information</h4>
                    </div>
                    <div class="modal-body text-center">

                        <p>Contact accounts receivable to use this credit at 800-848-4468, press 1, press 3, press 1</p>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Search Error Message Modal -->
    <div id="searchMessage" class="modal fade" role="dialog">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <!-- Payment Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"><span class="glyphicon glyphicon-info-sign"></span> Search Error</h4>
                    </div>
                    <div class="modal-body text-center">
                        <div class="alert alert-info text-center">
                            <strong><span class="glyphicon glyphicon-info-sign"></span></strong> You must enter at least one search field
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/customerservice/jquery.simplePagination.js"></script>
    <script type="text/javascript" src="~/Scripts/customerservice/salvattore.js"></script>
    <script type="text/javascript" src="~/Scripts/customerservice/customers.js"></script>
    <script type="text/javascript" src="~/Scripts/customerservice/jquery.cookieBar.js"></script>
    @*<script>
					$(document).ready(function(){
						$(function(){
							$.cookieBar({infoLink:"https://www.cerepairs.com/CE_Cookies_Policy.pdf",infoTarget:"_blank",style:"bottom",expireDays:365})
						});
					});
    </script>*@
    <script type="text/javascript" src="~/Scripts/customerservice/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    @*<script>
					$(document).ready(function() {
						$('.companies').material_select();

						$("[data-toggle=tooltip").tooltip();
					});
    </script>*@
