﻿@using cerepairs.Models
@model UserManagementUser
@{
    ViewBag.Title = "CE User Management";
    Layout = "~/Views/Shared/_LayoutCustomerService.cshtml";
}

<style>
    .cookie-bar__inner {
        font-size: 1.4rem;
    }
</style>

<script type="text/javascript">
    //var isAdmin =  @ViewBag.isadmin;
    var jsonDTO = JSON.parse('@Html.Raw(ViewBag.json)');
    var PendingUsers = {};
    var reqscreen = 'myaccount';
    console.log(jsonDTO);
</script>

<div class="edit-my_account">
    <div class="col-lg-12">
        <div style="padding-top: 20px; position:relative">
            <h2 class="user-management-header">Account Information</h2>
            @*<div class="user-management-back-btn" onclick="showusers();"><i class="left green-border"></i>Back</div>*@
        </div>
    </div>
    <div class="col-lg-12 user-message">
    </div>
    <form onsubmit="return false;" class="form-horizontal col-lg-12 form-marg" role="form">
        <div class="col-lg-6 mob-no-pad">
            <div class="form-group">
                <label for="user_cust_id" class="control-label col-lg-6">Customer ID:<span class="red-text">*</span></label>
                <div class="col-lg-6">
                    <input type="text" name="user_cust_id" id="user_cust_id" class="form-control obligatory input" value="@Model.user_cust_id" />
                </div>
            </div>
            <div class="form-group">
                <label for="user_companyname" class="control-label col-lg-6">Company Name:<span class="red-text">*</span></label>
                <div class="col-lg-6">
                    <input type="text" maxlength="100" name="user_companyname" id="user_companyname" class="form-control obligatory input" value="@Model.user_companyname" />
                </div>
            </div>
            <div class="form-group">
                <label for="user_brand" class="control-label col-lg-6">Company Brand:</label>
                <div class="col-lg-6">
                    <input type="text" maxlength="100" name="user_brand" id="user_brand" class="form-control input" value="" />
                </div>
            </div>
            <div class="form-group">
                <label for="user_address_line1" class="control-label col-lg-6">Company Address 1:<span class="red-text">*</span></label>
                <div class="col-lg-6">
                    <input type="text" maxlength="100" name="user_address_line1" id="user_address_line1" class="form-control obligatory input" value="@Model.user_address_line1" />
                </div>
            </div>
            <div class="form-group">
                <label for="user_address_line2" class="control-label col-lg-6">Company Address 2:</label>
                <div class="col-lg-6">
                    <input type="text" maxlength="100" name="user_address_line2" id="user_address_line2" class="form-control input" value="@Model.user_address_line2" />
                </div>
            </div>
            <div class="form-group">
                <label for="user_locality" class="control-label col-lg-6">Company City/Locality:<span class="red-text">*</span></label>
                <div class="col-lg-6">
                    <input type="text" maxlength="100" name="user_locality" id="user_locality" class="form-control obligatory input" value="@Model.user_locality" />
                </div>
            </div>
            <div class="form-group">
                <label for="user_region" class="control-label col-lg-6">Company State/Region:<span class="red-text">*</span></label>
                <div class="col-lg-6">
                    <input type="text" maxlength="100" name="user_region" id="user_region" class="form-control obligatory input" value="@Model.user_region" />
                </div>
            </div>
        </div>
        <div class="col-lg-6 mob-no-pad">
            <div class="form-group">
                <label for="user_country" class="control-label col-lg-6">Company Country:<span class="red-text">*</span></label>
                <div class="col-lg-6">
                    <input type="text" maxlength="100" name="user_country" id="user_country" class="form-control obligatory input" value="@Model.user_country" />
                </div>
            </div>
            <div class="form-group">
                <label for="user_postcode" class="control-label col-lg-6">Company Postal Code:<span class="red-text">*</span></label>
                <div class="col-lg-6">
                    <input type="text" maxlength="100" name="user_postcode" id="user_postcode" class="form-control obligatory input" value="@Model.user_postcode" />
                </div>
            </div>
            <div class="form-group">
                <label for="user_emailaddress" class="control-label col-lg-6">Email Address:<span class="red-text">*</span></label>
                <div class="col-lg-6">
                    <input type="text" maxlength="100" name="user_emailaddress" id="user_emailaddress" class="form-control obligatory input" value="@Model.user_emailaddress" />
                </div>
            </div>
            <div class="form-group">
                <label for="user_firstname" class="control-label col-lg-6">First Name:<span class="red-text">*</span></label>
                <div class="col-lg-6">
                    <input type="text" maxlength="100" name="user_firstname" id="user_firstname" class="form-control obligatory input" value="@Model.user_firstname" />
                </div>
            </div>
            <div class="form-group">
                <label for="user_lastname" class="control-label col-lg-6">Last Name:<span class="red-text">*</span></label>
                <div class="col-lg-6">
                    <input type="text" maxlength="100" name="user_lastname" id="user_lastname" class="form-control obligatory input" value="@Model.user_lastname" />
                </div>
            </div>
            <div class="form-group">
                <label for="user_phone_number" class="control-label col-lg-6">Phone Number:<span class="red-text">*</span></label>
                <div class="col-lg-6">
                    <input type="text" maxlength="100" name="user_phone_number" id="user_phone_number" class="form-control obligatory input" value="@Model.user_phone_number" />
                </div>
            </div>
        </div>

        <div class="col-lg-12 line-break pad-btm"></div>
        
        <div class="col-lg-12 mob-no-pad">
            <div class="form-group">
                <div class="col-lg-5"></div>
                <div class="col-lg-3">
                    <input type="hidden" name="user_uid" id="user_uid" class="input" value="@Model.user_uid" />
                    <input type="hidden" name="user_id" id="user_id" value="" />
                    <button id="btnSubmit" class="btn btn-primary form-control">Submit</button>
                </div>
            </div>
        </div>

    </form>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="~/Scripts/customerservice/jquery.simplePagination.js"></script>
<script type="text/javascript" src="~/Scripts/customerservice/salvattore.js"></script>
<script type="text/javascript" src="~/Scripts/customerservice/users.js?v=22"></script>
<script type="text/javascript" src="~/Scripts/customerservice/jquery.cookieBar.js"></script>
<script type="text/javascript" src="~/Scripts/usermanagement.js"></script>
<script type="text/javascript" src="~/Scripts/alasql.min.js"></script>
<script type="text/javascript" src="~/Scripts/prototypes.js"></script>

<script>
    $(document).ready(function () {
        $(function () {
            $.cookieBar({ infoLink: "https://www.cerepairs.com/CE_Cookies_Policy.pdf", infoTarget: "_blank", style: "bottom", expireDays: 365 })
        });
    });
</script>
<script type="text/javascript" src="~/Scripts/customerservice/main.js?v=805"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        $('.companies').material_select();

        $("[data-toggle=tooltip").tooltip();
    });
</script>

