﻿@{
    ViewBag.Title = "CE User Management";
    Layout = "~/Views/Shared/_LayoutCustomerService.cshtml";
}

<style>
    .cookie-bar__inner {
        font-size: 1.4rem;
    }
</style>

<script type="text/javascript">
    //var isAdmin =  @ViewBag.isadmin;
    var jsonDTO = JSON.parse('@Html.Raw(ViewBag.json)');
    var PendingUsers = {};
    var reqscreen = 'usernamagement';
    console.log(jsonDTO);
</script>

<div class="pending-user" style="display:none;">
    <div class="col-lg-12">
        <div style="padding-top: 20px; position:relative">
            <h2 class="user-management-header">Pending Users</h2>
            <div class="user-management-back-btn" onclick="showusersfrompending();"><i class="left green-border"></i>Back</div>
        </div>
    </div>
    <div class="col-lg-12 user-message">
    </div>
    <div class="col-lg-12 table-responsive">
        <table id="User_Results" class="table" style="white-space:nowrap;">
            <thead id="User_Results_Header">
                <tr>
                    <th></th>
                    <th>CUSTOMER ID</th>
                    <th>FIRST NAME</th>
                    <th>LAST NAME</th>
                    <th>EMAIL ADDRESS</th>
                    <th>DATE</th>
                    <th>STATUS</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <div class="col-lg-12 text-center">
            <ul class="pagination"></ul>
        </div>
    </div>
</div>

<div class="edit-user" style="display:none;">
    <div class="col-lg-12">
        <div style="padding-top: 20px; position:relative">
            <h2 class="user-management-header">User Information</h2>
            <div class="user-management-back-btn" onclick="showusers();"><i class="left green-border"></i>Back</div>
        </div>
    </div>
    <div class="col-lg-12 user-message">
    </div>
    <form onsubmit="return false;" class="form-horizontal col-lg-12 form-marg" role="form">
        <div class="col-lg-6 mob-no-pad">
            <div class="form-group">
                <label for="User_Company_Main" class="control-label col-lg-6">Company:<span class="red-text">*</span></label>
                <div class="col-lg-6">
                    <select name="User_Company_Main" id="User_Company_Main" class="companies" multiple>
                        <option value="" disabled selected>Choose your option</option>
                        <option value="hsc"> HME</option>
                        <option value="cel"> CE</option>
                        <option value="jtch"> JTECH</option>
                        <option value="clrc" selected="selected"> CLEAR-COM</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="user_cust_id" class="control-label col-lg-6">Customer ID:<span class="red-text">*</span></label>
                <div class="col-lg-6">
                    <input type="text" name="user_cust_id" id="user_cust_id" class="form-control obligatory input" value="" />
                </div>
            </div>
            <div class="form-group">
                <label for="user_companyname" class="control-label col-lg-6">Company Name:<span class="red-text">*</span></label>
                <div class="col-lg-6">
                    <input type="text" maxlength="100" name="user_companyname" id="user_companyname" class="form-control obligatory input" value="" />
                </div>
            </div>
            <div class="form-group">
                <label for="user_brand" class="control-label col-lg-6">Company Brand:</label>
                <div class="col-lg-6">
                    <input type="text" maxlength="100" name="user_brand" id="user_brand" class="form-control input" value="" />
                </div>
            </div>
            <div class="form-group">
                <label for="user_address_line1" class="control-label col-lg-6">Company Address 1:<span class="red-text">*</span></label>
                <div class="col-lg-6">
                    <input type="text" maxlength="100" name="user_address_line1" id="user_address_line1" class="form-control obligatory input" value="" />
                </div>
            </div>
            <div class="form-group">
                <label for="user_address_line2" class="control-label col-lg-6">Company Address 2:</label>
                <div class="col-lg-6">
                    <input type="text" maxlength="100" name="user_address_line2" id="user_address_line2" class="form-control input" value="" />
                </div>
            </div>
            <div class="form-group">
                <label for="user_locality" class="control-label col-lg-6">Company City/Locality:<span class="red-text">*</span></label>
                <div class="col-lg-6">
                    <input type="text" maxlength="100" name="user_locality" id="user_locality" class="form-control obligatory input" value="" />
                </div>
            </div>
            <div class="form-group">
                <label for="user_region" class="control-label col-lg-6">Company State/Region:<span class="red-text">*</span></label>
                <div class="col-lg-6">
                    <input type="text" maxlength="100" name="user_region" id="user_region" class="form-control obligatory input" value="" />
                </div>
            </div>
        </div>
        <div class="col-lg-6 mob-no-pad">
            <div class="form-group">
                <label for="user_country" class="control-label col-lg-6">Company Country:<span class="red-text">*</span></label>
                <div class="col-lg-6">
                    <input type="text" maxlength="100" name="user_country" id="user_country" class="form-control obligatory input" value="" />
                </div>
            </div>
            <div class="form-group">
                <label for="user_postcode" class="control-label col-lg-6">Company Postal Code:<span class="red-text">*</span></label>
                <div class="col-lg-6">
                    <input type="text" maxlength="100" name="user_postcode" id="user_postcode" class="form-control obligatory input" value="" />
                </div>
            </div>
            <div class="form-group">
                <label for="user_emailaddress" class="control-label col-lg-6">Email Address:<span class="red-text">*</span></label>
                <div class="col-lg-6">
                    <input type="text" maxlength="100" name="user_emailaddress" id="user_emailaddress" class="form-control obligatory input" value="" />
                </div>
            </div>
            <div class="form-group">
                <label for="user_firstname" class="control-label col-lg-6">First Name:<span class="red-text">*</span></label>
                <div class="col-lg-6">
                    <input type="text" maxlength="100" name="user_firstname" id="user_firstname" class="form-control obligatory input" value="" />
                </div>
            </div>
            <div class="form-group">
                <label for="user_lastname" class="control-label col-lg-6">Last Name:<span class="red-text">*</span></label>
                <div class="col-lg-6">
                    <input type="text" maxlength="100" name="user_lastname" id="user_lastname" class="form-control obligatory input" value="" />
                </div>
            </div>
            <div class="form-group">
                <label for="user_phone_number" class="control-label col-lg-6">Phone Number:<span class="red-text">*</span></label>
                <div class="col-lg-6">
                    <input type="text" maxlength="100" name="user_phone_number" id="user_phone_number" class="form-control obligatory input" value="" />
                </div>
            </div>
            <div class="form-group">
                <label for="user_isactive" class="control-label col-lg-6">Status:<span class="red-text">*</span></label>
                <div class="col-lg-6">
                    <input type="button" maxlength="100" name="User_IsActive_Label" id="User_IsActive_Label" class="form-control btn btn-success animated input" value="Active" />
                    <input type="hidden" name="User_IsActive" id="User_IsActive" class="obligatory input" value="1" />
                </div>
            </div>
        </div>

        <div class="col-lg-12 line-break"></div>

        <div class="col-lg-12 no-pad">
            <h2>User Permissions</h2>
        </div>

        <div class="col-lg-6 mob-no-pad">
            <div class="form-group">
                <label for="User_Type" class="control-label col-lg-5">User Type:<span class="red-text">*</span></label>
                <div class="col-lg-7">
                    <select name="user_type" id="user_type" class="form-control obligatory input">

                        <option value="Admin">Admin</option>

                        <option value="Customer" selected="selected">Customer</option>

                        <option value="Employee">Employee</option>

                        <option value="Full Admin">Full Admin</option>

                    </select>
                </div>
            </div>
            <div class="form-group" style="display:none;">
                <label for="User_Role" class="control-label col-lg-5">User Role:<span class="red-text">*</span></label>
                <div class="col-lg-7">
                    <select name="User_Role" id="User_Role" class="form-control">

                        <option value="4" selected="selected">Full Customer</option>

                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="user_company" class="control-label col-lg-5">User Company:<span class="red-text">*</span></label>
                <div class="col-lg-7">
                    <select name="user_company" id="user_company" class="companies" multiple>
                        <option value="" disabled selected>Choose your option</option>

                        <option value="hsc"> HME</option>

                        <option value="cel"> CE</option>

                        <option value="jtch"> JTECH</option>

                        <option value="clrc" selected="selected"> CLEAR-COM</option>

                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="user_select_apps" class="control-label col-lg-5">User Applications:<span class="red-text">*</span></label>
                <div class="col-lg-7">
                    <select name="user_select_apps" id="user_select_apps" class="companies apps" multiple>
                        <option value="" disabled selected>Choose your option</option>

                        <option value="Customers" selected="selected"> Customers</option>

                        <option value="Orders" selected="selected"> Orders</option>

                        <option value="Invoices" selected="selected"> Invoices</option>

                        <option value="User Management" selected="selected"> User Management</option>

                        <option value="Store" selected="selected"> Store</option>

                        <option value="Store Management" selected="selected"> Store Management</option>

                    </select>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mob-no-pad admin-perm-cont" style="display:block;">
            <div class="form-group">
                <label for="apply_credit" class="control-label col-lg-5">Apply Credit:<span class="red-text">*</span></label>
                <div class="col-lg-2 apply-check-cont">
                    <input type="checkbox" name="apply_credit" id="apply_credit" class="form-control apply-check input" />
                </div>
            </div>
            <div class="form-group">
                <label for="apply_deposit" class="control-label col-lg-5">Apply Deposit:<span class="red-text">*</span></label>
                <div class="col-lg-2 apply-check-cont">
                    <input type="checkbox" name="apply_deposit" id="apply_deposit" class="form-control apply-check input" />
                </div>
            </div>
        </div>

        <div class="col-lg-12 line-break pad-btm"></div>


        <div class="col-lg-12">&nbsp;</div>
        <div class="col-lg-12 mob-no-pad">
            <div class="form-group">
                <div class="col-lg-5"></div>
                <div class="col-lg-3">
                    <input type="hidden" name="user_uid" id="user_uid" class="input" value="NGQUEIQJ49YQ1HVRXTHLQ4BNQPIR75SU" />
                    <input type="hidden" name="user_id" id="user_id" value="" />
                   <button id="btnSubmit" class="btn btn-primary form-control">Submit</button>
                </div>
            </div>
        </div>

    </form>

</div>

<div class="edit-pending-user" style="display:none;">
    <div class="col-lg-12">
        <div style="padding-top: 20px; position:relative">
            <h2 class="user-management-header">User Verification</h2>
            <div class="user-management-back-btn" onclick="showpendingFromEdit();"><i class="left green-border"></i>Back</div>
        </div>
    </div>
    <div class="col-lg-12 user-message">
    </div>
    <form onsubmit="return false;" class="form-horizontal col-lg-12 form-marg" role="form">
        <div class="col-lg-6 mob-no-pad">
            @*<div class="form-group">
                    <label for="User_Company_Main" class="control-label col-lg-6">Company:<span class="red-text">*</span></label>
                    <div class="col-lg-6">
                        <select name="User_Company_Main" id="User_Company_Main" class="companies" multiple>
                            <option value="" disabled selected>Choose your option</option>
                            <option value="hsc"> HME</option>
                            <option value="cel"> CE</option>
                            <option value="jtch"> JTECH</option>
                            <option value="clrc" selected="selected"> CLEAR-COM</option>
                        </select>
                    </div>
                </div>*@
            <div class="form-group">
                <label for="user_cust_id" class="control-label col-lg-6">Customer ID:<span class="red-text">*</span></label>
                <div class="col-lg-6">
                    <input type="text" name="user_cust_id" id="user_cust_id" class="form-control obligatory input" value="" />
                    <span class="note-field">Use commas for multiple IDs: (Ex: 123,456,789)</span>
                </div>
            </div>
            <div class="form-group">
                <label for="user_companyname" class="control-label col-lg-6">Company Name:<span class="red-text">*</span></label>
                <div class="col-lg-6">
                    <input type="text" readonly maxlength="100" name="user_companyname" id="user_companyname" class="form-control obligatory input" value="" />
                </div>
            </div>
            <div class="form-group">
                <label for="user_brand" class="control-label col-lg-6">Company Brand:</label>
                <div class="col-lg-6">
                    <input type="text" readonly maxlength="100" name="user_brand" id="user_brand" class="form-control input" value="" />
                </div>
            </div>
            <div class="form-group">
                <label for="user_address_line1" class="control-label col-lg-6">Company Address 1:<span class="red-text">*</span></label>
                <div class="col-lg-6">
                    <input type="text" readonly maxlength="100" name="user_address_line1" id="user_address_line1" class="form-control obligatory input" value="" />
                </div>
            </div>
            <div class="form-group">
                <label for="user_address_line2" class="control-label col-lg-6">Company Address 2:</label>
                <div class="col-lg-6">
                    <input type="text" readonly maxlength="100" name="user_address_line2" id="user_address_line2" class="form-control input" value="" />
                </div>
            </div>
            <div class="form-group">
                <label for="user_locality" class="control-label col-lg-6">Company City/Locality:<span class="red-text">*</span></label>
                <div class="col-lg-6">
                    <input type="text" readonly maxlength="100" name="user_locality" id="user_locality" class="form-control obligatory input" value="" />
                </div>
            </div>
        </div>
        <div class="col-lg-6 mob-no-pad">
            <div class="form-group">
                <label for="user_region" class="control-label col-lg-6">Company State/Region:<span class="red-text">*</span></label>
                <div class="col-lg-6">
                    <input type="text" readonly maxlength="100" name="user_region" id="user_region" class="form-control obligatory input" value="" />
                </div>
            </div>
            <div class="form-group">
                <label for="user_country" class="control-label col-lg-6">Company Country:<span class="red-text">*</span></label>
                <div class="col-lg-6">
                    <input type="text" readonly maxlength="100" name="user_country" id="user_country" class="form-control obligatory input" value="" />
                </div>
            </div>
            <div class="form-group">
                <label for="user_postcode" class="control-label col-lg-6">Company Postal Code:<span class="red-text">*</span></label>
                <div class="col-lg-6">
                    <input type="text" readonly maxlength="100" name="user_postcode" id="user_postcode" class="form-control obligatory input" value="" />
                </div>
            </div>
            <div class="form-group">
                <label for="user_emailaddress" class="control-label col-lg-6">Email Address:<span class="red-text">*</span></label>
                <div class="col-lg-6">
                    <input type="text" readonly maxlength="100" name="user_emailaddress" id="user_emailaddress" class="form-control obligatory input" value="" />
                </div>
            </div>
            <div class="form-group">
                <label for="user_firstname" class="control-label col-lg-6">First Name:<span class="red-text">*</span></label>
                <div class="col-lg-6">
                    <input type="text" readonly maxlength="100" name="user_firstname" id="user_firstname" class="form-control obligatory input" value="" />
                </div>
            </div>
            <div class="form-group">
                <label for="user_lastname" class="control-label col-lg-6">Last Name:<span class="red-text">*</span></label>
                <div class="col-lg-6">
                    <input type="text" readonly maxlength="100" name="user_lastname" id="user_lastname" class="form-control obligatory input" value="" />
                </div>
            </div>
            <div class="form-group">
                <label for="user_phone_number" class="control-label col-lg-6">Phone Number:<span class="red-text">*</span></label>
                <div class="col-lg-6">
                    <input type="text" readonly maxlength="100" name="user_phone_number" id="user_phone_number" class="form-control obligatory input" value="" />
                </div>
            </div>
            @*<div class="form-group">
                    <label for="user_isactive" class="control-label col-lg-6">Status:<span class="red-text">*</span></label>
                    <div class="col-lg-6">
                        <input type="button" maxlength="100" name="User_IsActive_Label" id="User_IsActive_Label" class="form-control btn btn-success animated" value="Active" />
                        <input type="hidden" name="User_IsActive" id="User_IsActive" class="obligatory input" value="1" />
                    </div>
                </div>*@
        </div>


        <div class="col-lg-12 line-break"></div>

        <div class="col-lg-12 no-pad">
            <h2>User Permissions</h2>
        </div>

        <div class="col-lg-6 mob-no-pad">
            <div class="form-group">
                <label for="User_Type" class="control-label col-lg-5">User Type:<span class="red-text">*</span></label>
                <div class="col-lg-7">
                    <select name="user_type" id="user_type" class="form-control obligatory input">

                        <option value="Admin">Admin</option>

                        <option value="Customer" selected="selected">Customer</option>

                        <option value="Employee">Employee</option>

                        <option value="Full Admin">Full Admin</option>

                    </select>
                </div>
            </div>
            <div class="form-group" style="display:none;">
                <label for="User_Role" class="control-label col-lg-5">User Role:<span class="red-text">*</span></label>
                <div class="col-lg-7">
                    <select name="User_Role" id="User_Role" class="form-control">

                        <option value="4" selected="selected">Full Customer</option>

                    </select>
                </div>
            </div>
            @*<div class="form-group">
                    <label for="user_company" class="control-label col-lg-5">User Company:<span class="red-text">*</span></label>
                    <div class="col-lg-7">
                        <select name="user_company" id="user_company" class="companies" multiple>
                            <option value="" disabled selected>Choose your option</option>

                            <option value="hsc"> HME</option>

                            <option value="cel"> CE</option>

                            <option value="jtch"> JTECH</option>

                            <option value="clrc" selected="selected"> CLEAR-COM</option>

                        </select>
                    </div>
                </div>*@
            <div class="form-group">
                <label for="user_select_apps" class="control-label col-lg-5">User Applications:<span class="red-text">*</span></label>
                <div class="col-lg-7">
                    <select name="user_select_apps" id="user_select_apps" class="companies apps" multiple>
                        <option value="" disabled selected>Choose your option</option>

                        <option value="Customers" selected="selected"> Customers</option>

                        <option value="Orders" selected="selected"> Orders</option>

                        <option value="Invoices" selected="selected"> Invoices</option>

                        <option value="User Management" selected="selected"> User Management</option>

                        <option value="Store Management" selected="selected"> Store Management</option>

                        <option value="Store" selected="selected"> Store</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mob-no-pad admin-perm-cont" style="display:block;">
            <div class="form-group">
                <label for="apply_credit" class="control-label col-lg-5">Apply Credit:<span class="red-text">*</span></label>
                <div class="col-lg-2 apply-check-cont">
                    <input type="checkbox" name="apply_credit" id="apply_credit" class="form-control apply-check" />
                </div>
            </div>
            <div class="form-group">
                <label for="apply_deposit" class="control-label col-lg-5">Apply Deposit:<span class="red-text">*</span></label>
                <div class="col-lg-2 apply-check-cont">
                    <input type="checkbox" name="apply_deposit" id="apply_deposit" class="form-control apply-check" />
                </div>
            </div>
        </div>

        <div class="col-lg-12 line-break pad-btm"></div>
        <div class="col-lg-2 hidden-xs hidden-sm mob-no-pad">
            <button name="user_decline" id="user_decline" class="btn btn-danger form-control">Decline</button>
        </div>
        <div class="col-lg-8"></div>
        <div class="col-lg-2 mob-no-pad">
            <input type="hidden" name="user_uid" id="user_uid" value="" />
            <input type="hidden" name="user_id" id="user_id" value="" />
            <button name="user_accept" id="user_accept" class="btn btn-success form-control">Accept</button>
        </div>
    </form>
</div>

<div class="select-user" style="display:block;">
    <div class="col-lg-12">
        <div style="padding-top: 20px; position:relative">
            <h2 class="user-management-header">Select User</h2>
        </div>
    </div>
    <div class="col-lg-12 user-message">
    </div>
    <form onsubmit="return false;" class="form-horizontal col-lg-12" role="form">
        <div class="row searchform">
            <div class="col-lg-2"></div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="user_cust_id" class="control-label col-lg-5">Customer ID</label>
                    <div class="col-lg-7">
                        <input type="text" maxlength="100" name="user_cust_id" id="user_cust_id" class="form-control" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="user_emailaddress" class="control-label col-lg-5">Email Address</label>
                    <div class="col-lg-7">
                        <input type="text" maxlength="100" name="user_emailaddress" id="user_emailaddress" class="form-control" value="">
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="user_firstname" class="control-label col-lg-5">
                        First Name
                    </label>
                    <div class="col-lg-7">
                        <input type="text" maxlength="100" name="user_firstname" id="user_firstname" class="form-control" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="user_lastname" class="control-label col-lg-5">Last Name</label>
                    <div class="col-lg-7">
                        <input type="text" maxlength="100" name="user_lastname" id="user_lastname" class="form-control" value="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class="form-group">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6 no-pad-search">
                        <button name="User_Search_Submit" id="User_Search_Submit" class="btn btn-primary form-control">Search</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">&nbsp;</div>

        <div class="col-lg-12 table-responsive no-pad">
            <div class="col-lg-10 visible-lg">
                <h4>Search Results </h4>
            </div>
            @*<a href="./?pg=Verify" class="btn btn-success pull-right col-lg-2 col-md-12 col-sm-12 col-xs-12 " id="verify_lookup">View Pending Users</a>*@
            <a href="javascript:void(0);" class="btn btn-success pull-right col-lg-2 col-md-12 col-sm-12 col-xs-12 " onclick="ViewPendingUsers();" id="verify_lookup">View Pending Users</a>

            <table id="User_Results" class="table" style="white-space:nowrap;margin:0px;">
                <thead id="User_Results_Header">
                    <tr>
                        <th></th>
                        <th>
                            <a id="h_user_cust_id" db="user_cust_id" href="javascript:void(0);" class="sortable asc"><span class="header_title">CUSTOMER ID</span></a>
                        </th>
                        <th>
                            <a id="h_user_firstname" db="user_firstname" href="javascript:void(0);" class="sortable sort"><span class="header_title">FIRST NAME</span></a>
                        </th>
                        <th>
                            <a id="h_user_lastname" db="user_lastname" href="javascript:void(0);" class="sortable sort"><span class="header_title">LAST NAME</span></a>
                        </th>
                        <th>
                            <a id="h_user_emailaddress" db="user_emailaddress" href="javascript:void(0);" class="sortable sort"><span class="header_title">EMAIL ADDRESS</span></a>
                        </th>
                        <th>USER TYPE</th>
                        <th>STATUS</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            <div class="col-lg-12 no-pad csp-paginate-cont">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-pad">
                    <div class="col-lg-1 col-md-1 col-sm-2 no-pad">
                        <button id="CSP_Prev_Page" name="CSP_Prev_Page" class="btn btn-primary btn-left" disabled="disabled"><span class="glyphicon glyphicon-arrow-left"></span></button>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-10 text-left hidden-xs">
                        <div class="csp-perpage">
                            <span>
                                Show
                                <select id="CSP_Per_Page" name="CSP_Per_Page">
                                    <option value="5" selected="selected">5</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                </select>
                                items per page
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-pad">
                    <div class="col-lg-11 col-md-11 col-sm-10 text-right hidden-xs">
                        <div class="csp-results">Showing <span class="csp-page-start">1</span> - <span class="csp-page-end">5</span> of (<span class="csp-filter-count">3435</span>) Results</div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-2 no-pad">
                        <button id="CSP_Next_Page" name="CSP_Next_Page" class="btn btn-primary btn-right pull-right"><span class="glyphicon glyphicon-arrow-right"></span></button>
                    </div>
                </div>
                <input type="hidden" id="CSP_Current_Page" name="CSP_Current_Page" value="1">
            </div>
        </div>
    </form>
    <form name="User_Anchor_Form" id="User_Anchor_Form" method="post" action="./?pg=Users&amp;st=Edit">
        <input type="hidden" name="User_UID" id="User_UID" value="#FORM.User_UID#">
    </form>
</div>

<!-- Search Error Message Modal -->
<div id="searchMessage" class="modal fade" role="dialog">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <!-- Payment Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><span class="glyphicon glyphicon-info-sign"></span> Search Error</h4>
                </div>
                <div class="modal-body text-center">
                    <div class="alert alert-info text-center">
                        <strong><span class="glyphicon glyphicon-info-sign"></span></strong> You must enter at least one search field
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="~/Scripts/customerservice/jquery.simplePagination.js"></script>
<script type="text/javascript" src="~/Scripts/customerservice/salvattore.js"></script>
<script type="text/javascript" src="~/Scripts/customerservice/users.js?v=22"></script>
<script type="text/javascript" src="~/Scripts/customerservice/jquery.cookieBar.js"></script>
<script type="text/javascript" src="~/Scripts/usermanagement.js"></script>
<script type="text/javascript" src="~/Scripts/alasql.min.js"></script>
<script type="text/javascript" src="~/Scripts/tracking.js"></script>
<script type="text/javascript" src="~/Scripts/prototypes.js"></script>

<script>
    $(document).ready(function () {
        $(function () {
            $.cookieBar({ infoLink: "https://www.cerepairs.com/CE_Cookies_Policy.pdf", infoTarget: "_blank", style: "bottom", expireDays: 365 })
        });
    });
</script>
<script type="text/javascript" src="~/Scripts/customerservice/main.js?v=805"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        $('.companies').material_select();
        console.log('fffff')
        $("[data-toggle=tooltip").tooltip();
    });
</script>
